<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:core="http://java.sun.com/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:v="http://www.synapsis-it.com/jsf/validator"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour">

	<sy:boxPage title="#{MensajesComponentes_sed['reporteOrdenes.titulo']}" useCaseMainPage="true" nroCuentaHeader="false">
		<h:form onsubmit="return validateForm(this);" id="reporteOrdenesForm">
		
			<c:errorHandler />
			
			<!-- service para la List multiple seleccion de estados -->
			<s:service manager="#{serviceManager}"
				name="listboxEstadoSaldosDisputaServiceFinder" method="findByCriteria"
				id="listboxEstadoSaldosDisputaServiceFinder" rows="100">
			</s:service>
			<s:unmarshall source="listboxEstadoSaldosDisputaServiceFinder" var="estados" />
				
			<!-- service para la List multiple seleccion de areas -->
			<s:service manager="#{serviceManager}"
				name="listboxAreasSaldosDisputaServiceFinder" method="findByCriteria"
				id="listboxAreasSaldosDisputaServiceFinder" rows="100">
			</s:service>
			<s:unmarshall source="listboxAreasSaldosDisputaServiceFinder" var="areas" />	
			

			<!-- service para la List multiple seleccion de areas asignadas -->
			<s:service manager="#{serviceManager}"
				name="listboxAreasAsignadasSaldosDisputaService" method="findByCriteria"
				id="listboxAreasAsignadasSaldosDisputaService" rows="100">
			</s:service>
			<s:unmarshall source="listboxAreasAsignadasSaldosDisputaService" var="areasAsignadas" />
			
			<!-- service para el combo de usuarios -->
			<s:service manager="#{serviceManager}"
				name="comboBoxUsuariosSaldosDisputaService" method="findByCriteria"
				id="comboBoxUsuariosSaldosDisputaService" rows="100">
			</s:service>
			<s:unmarshall source="comboBoxUsuariosSaldosDisputaService" var="usuarios" />	
			
			<!-- service para el combo de motivos -->
			<s:service manager="#{serviceManager}"
				name="comboBoxMotivosSaldosDisputaService" method="findByCriteria"
				id="comboBoxMotivosSaldosDisputaService" rows="100">
			</s:service>
			<s:unmarshall source="comboBoxMotivosSaldosDisputaService" var="motivos" />				
			
			<!-- service para levantar los tipo congelacion que se muestran en el combo -->
		    <s:service manager="#{serviceManager}" name="comboTipoCongelacionServiceFinder" 
		        method="findByCriteria"	id="comboBoxMotivosTiposOrdenDisputaService" rows="100">
		    </s:service>
		    <s:unmarshall source="comboBoxMotivosTiposOrdenDisputaService" var="tiposOrden" />
			
					
			
				
			<!-- service para las ordenes PRIMER GRILLA -->
			<s:service manager="#{serviceManager}" name="reporteOrdenesServiceFinder" 
			    method="findByCriteria" id="reporteOrdenesServiceFinder" fire="false"
				binding="#{reporteOrdenesBB.findByCriteriaServiceOrdenes}">
				<f:param name="fechaCreacion" value="#{reporteOrdenesBB.fechaCreacionDesde}" />
				<f:param name="fechaCreacionHasta" value="#{reporteOrdenesBB.fechaCreacionHasta}" />
				<f:param name="idEstado" value="#{reporteOrdenesBB.idEstados}" />
				<f:param name="idAreaSolicitante" value="#{reporteOrdenesBB.idAreaSolicitantes}" />
				<f:param name="idAreaAsignada" value="#{reporteOrdenesBB.idAreaAsignadas}" />
				<f:param name="usuarioCreador" value="#{reporteOrdenesBB.usuarioCreador}" />
				<f:param name="motivo" value="#{reporteOrdenesBB.motivo}" />
				<f:param name="tipoOrden" value="#{reporteOrdenesBB.tipoOrden}" />
			</s:service>	
			
			<!-- service para los usuarios -->
			<s:service manager="#{serviceManager}"
				name="usuariosIntervinientesOrdenServiceFinder" method="findByCriteria"
				id="usuariosIntervinientesOrdenServiceFinder" fire="false"
				binding="#{reporteOrdenesBB.findByCriteriaServiceUsuarios}">
				<f:param name="idOrden" value="#{reporteOrdenesBB.idOrdenSelected}" />
			</s:service>
				
			<!-- init grupo de fechas -->
			<sy:group title="">
				<sy:panelGrid columns="2">
					<h:outputLabel
						value="#{MensajesComponentes_sed['reporteOrdenes.fecha.inicio']}"
						styleClass="label" for="fechaDesde" />
					<sy:calendar id="fechaDesde" selectedDate="#{reporteOrdenesBB.fechaCreacionDesde}" >
					   <b:behaviour>
						  <b:rule name="requiredRule" />
					   </b:behaviour>
					</sy:calendar>

					<h:outputLabel
						value="#{MensajesComponentes_sed['reporteOrdenes.fecha.creacion']}"
						for="fechaHasta" styleClass="label" />
					<sy:calendar id="fechaHasta" selectedDate="#{reporteOrdenesBB.fechaCreacionHasta}">
						<b:behaviour>
						  <b:rule name="requiredRule" />
						</b:behaviour>
					</sy:calendar>
				</sy:panelGrid>
			</sy:group>
			<br/>
			<!-- fin grupo de fechas -->

			<!--  segundo  grupo de listboxs -->
			<fieldset id="group-listbox">
			<table border="0" cellpadding="0" cellspacing="0">
				<tbody>
					<tr>
						<td><sy:title value="Estados de la Orden" /></td>
						<td style="width: 10px"></td>
						<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
						<td><sy:title value="#{MensajesComponentes_sed['reporteOrdenes.area-solicitante']}" /></td>
						<td style="width: 10px"></td>
						<td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>
						<td><sy:title value="#{MensajesComponentes_sed['reporteOrdenes.filter.area.asignada']}" /></td>
						
					</tr>
					<tr>
						<td>
						  <h:selectManyListbox value="#{reporteOrdenesBB.idEstados}" size="5">
							<t:selectItems value="#{estados}" var="estado"
								itemLabel="#{estado.descripcion}"
								itemValue="#{estado.codigo}" />
						  </h:selectManyListbox></td>
						<td style="width: 5px"></td>

                        <td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>

						<td>
						  <h:selectManyListbox  value="#{reporteOrdenesBB.idAreaSolicitantes}" size="5">
							<t:selectItems value="#{areas}" var="area"
								itemLabel="#{area.descripcion}"
								itemValue="#{area.id}" />
								<f:converter converterId="javax.faces.Long" />
						  </h:selectManyListbox></td>

						<td style="width: 5px"></td>

                        <td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</td>

						<td>
						  <h:selectManyListbox  value="#{reporteOrdenesBB.idAreaAsignadas}" size="5">
							<t:selectItems value="#{areasAsignadas}" var="areas"
								itemLabel="#{areas.descripcion}"
								itemValue="#{areas.id}" />
								<f:converter converterId="javax.faces.Long" />
						  </h:selectManyListbox>
						</td>
					</tr>
				</tbody>
			</table>
			</fieldset>
			<br/>
			<!-- fin list boxs -->

			<!--  inicio grupo de textbox -->
			<sy:group title="">
				<sy:panelGrid columns="2">
					<h:outputLabel value="#{MensajesComponentes_sed['reporteOrdenes.filter.usuario']}" 
					    styleClass="label" />
	                <t:selectOneMenu value="#{reporteOrdenesBB.usuarioCreador}" styleClass="edit">
				      <f:selectItem itemLabel="Seleccionar ..." itemValue="" />
				      <t:selectItems value="#{usuarios}" var="usr"
							   itemLabel="#{usr.descripcion}" itemValue="#{usr.descripcion}" />
		            </t:selectOneMenu>
					
					<h:outputLabel value="#{MensajesComponentes_sed['reporteOrdenes.filter.motivoCreacion']}"
						styleClass="label" />
	                <t:selectOneMenu value="#{reporteOrdenesBB.motivo}" styleClass="edit">
				      <f:selectItem itemLabel="Seleccionar ..." itemValue="" />
				      <t:selectItems value="#{motivos}" var="mot"
							   itemLabel="#{mot.descripcion}" itemValue="#{mot.descripcion}" />
		            </t:selectOneMenu>

					<h:outputLabel value="#{MensajesComponentes_sed['reporteOrdenes.filter.orden']}"
						styleClass="label" />
	                <t:selectOneMenu value="#{reporteOrdenesBB.tipoOrden}" styleClass="edit">
				      <f:selectItem itemLabel="Seleccionar ..." itemValue="" />
				      <t:selectItems value="#{tiposOrden}" var="tipOrd"
							   itemLabel="#{tipOrd.descripcion}" itemValue="#{tipOrd.descripcion}" />
		            </t:selectOneMenu>
				</sy:panelGrid>
			</sy:group>
			<!--  fin grupo de textbox -->

            <br/>
			<h:commandButton value="Buscar" action="#{reporteOrdenesBB.reporteOrdenes}" />
			
			<br/>
			<br/>
			<br/>
			<br/>

            <sy:title value="Detalle de las Ordenes" />
			<!-- data table detalle ordenes-->
			<s:dataTable source="reporteOrdenesServiceFinder" var="orden"
				binding="#{reporteOrdenesBB.dataTableOrdenes}" id="reporteOrdenesTable">
				<sy:tableColumnCustom
					header="#{ClavesInducidas_sed['com.synapsis.sed.codensa.model.impl.ReporteOrdenesSaldosDisputaImpl.nroOrden']}">
					<h:commandLink value="#{orden.nroOrden}"
						actionListener="#{reporteOrdenesBB.usuariosIntervinientes}">
						<f:setPropertyActionListener value="#{orden.id}"
							target="#{reporteOrdenesBB.idOrdenSelected}" />
					</h:commandLink>
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{ClavesInducidas_sed['com.synapsis.sed.codensa.model.impl.ReporteOrdenesSaldosDisputaImpl.tipoOrden']}">
					<h:outputText value="#{orden.tipoOrden}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{ClavesInducidas_sed['com.synapsis.sed.codensa.model.impl.ReporteOrdenesSaldosDisputaImpl.estado']}">
					<h:outputText value="#{orden.estado}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{ClavesInducidas_sed['com.synapsis.sed.codensa.model.impl.ReporteOrdenesSaldosDisputaImpl.areaSolicitante']}">
					<h:outputText value="#{orden.areaSolicitante}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{ClavesInducidas_sed['com.synapsis.sed.codensa.model.impl.ReporteOrdenesSaldosDisputaImpl.motivo']}">
					<h:outputText value="#{orden.motivo}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{ClavesInducidas_sed['com.synapsis.sed.codensa.model.impl.ReporteOrdenesSaldosDisputaImpl.nroCuenta']}">
					<h:outputText value="#{orden.nroCuenta}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{ClavesInducidas_sed['com.synapsis.sed.codensa.model.impl.ReporteOrdenesSaldosDisputaImpl.cicloFacturacion']}">
					<h:outputText value="#{orden.cicloFacturacion}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{ClavesInducidas_sed['com.synapsis.sed.codensa.model.impl.ReporteOrdenesSaldosDisputaImpl.fechaCiclo']}">	
					<h:outputText value="#{orden.fechaCiclo}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{ClavesInducidas_sed['com.synapsis.sed.codensa.model.impl.ReporteOrdenesSaldosDisputaImpl.fechaCreacion']}">
					<h:outputText value="#{orden.fechaCreacion}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{ClavesInducidas_sed['com.synapsis.sed.codensa.model.impl.ReporteOrdenesSaldosDisputaImpl.usuarioCreador']}">
					<h:outputText value="#{orden.usuarioCreador}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{ClavesInducidas_sed['com.synapsis.sed.codensa.model.impl.ReporteOrdenesSaldosDisputaImpl.tiempoTranscurridoCreacionHastaAprobacion']}">
					<h:outputText
					value="#{orden.tiempoTranscurridoCreacionHastaAprobacion}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{ClavesInducidas_sed['com.synapsis.sed.codensa.model.impl.ReporteOrdenesSaldosDisputaImpl.nroSaldoDisputa']}">
					<h:outputText value="#{orden.nroSaldoDisputa}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{ClavesInducidas_sed['com.synapsis.sed.codensa.model.impl.ReporteOrdenesSaldosDisputaImpl.estadoSed']}">
					<h:outputText value="#{orden.estadoSed}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{ClavesInducidas_sed['com.synapsis.sed.codensa.model.impl.ReporteOrdenesSaldosDisputaImpl.valorSed']}">
					<h:outputText value="#{orden.valorSed}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{ClavesInducidas_sed['com.synapsis.sed.codensa.model.impl.ReporteOrdenesSaldosDisputaImpl.energia']}">
					<h:outputText value="#{orden.energia}" />
				</sy:tableColumnCustom>
			</s:dataTable>
			
            <br/>

            <sy:title value="Usuarios Intervinientes" /> 
			<table border="0" cellpadding="0" cellspacing="0">
				<tbody>
					<tr>
						<td>
							<s:dataTable source="usuariosIntervinientesOrdenServiceFinder" var="usuario"
								binding="#{reporteOrdenesBB.dataTableUsuariosIntervinientes}">
								<sy:tableColumnCustom
									header="#{ClavesInducidas_sed['com.synapsis.sed.codensa.model.impl.UsuariosIntervinientesOrdenImpl.usuarioInterviniente']}">
									<h:outputText value="#{usuario.usuarioInterviniente}" />
								</sy:tableColumnCustom>
								<sy:tableColumnCustom
									header="#{ClavesInducidas_sed['com.synapsis.sed.codensa.model.impl.UsuariosIntervinientesOrdenImpl.fechaIntervencion']}">
									<h:outputText value="#{usuario.fechaIntervencion}" />
								</sy:tableColumnCustom>
								<sy:tableColumnCustom
									header="#{ClavesInducidas_sed['com.synapsis.sed.codensa.model.impl.UsuariosIntervinientesOrdenImpl.accion']}">
									<h:outputText value="#{usuario.accion}" />
								</sy:tableColumnCustom>
								<sy:tableColumnCustom
									header="#{ClavesInducidas_sed['com.synapsis.sed.codensa.model.impl.UsuariosIntervinientesOrdenImpl.tiemposIntervencion']}">
									<h:outputText value="#{usuario.tiemposIntervencion}" />
								</sy:tableColumnCustom>
							</s:dataTable>
						</td>
					</tr>
				</tbody>
			</table>
		</h:form>

		<!-- Grupo de Totales -->
		<t:dataScroller for="reporteOrdenesForm:reporteOrdenesTable"
			rowsCountVar="rowsCount">
			<br/>
			<sy:title value="Totales" />
 
				<sy:panelGrid columns="2">
					<h:outputLabel
						value="#{MensajesComponentes_sed['reporteOrdenes.cantidad.totales']}"
						styleClass="label" />
					<h:inputText value="#{rowsCount}" disabled="true" />

				</sy:panelGrid>
		</t:dataScroller>
		<sy:validatorScript functionName="validateForm" />
	</sy:boxPage>
</f:view>

