/**
 * TODO: [afalduto] este stylesheet esta rompiendo ciertos rendering.
 */

body { background-color: White; margin: 0px;  }

.topbar { background-image: url(../images/header/top_fondo.gif); padding: 10px; }

.topbox { background-color: White; }

.menuBorder { background-color: #568A8F; }

.submenu { border-color: #A9C4C7; border-style: solid;  border-width: 1px; }

.submenuSeparator { background-color: #547C81; }

.credits { font-family: Arial, Verdana, sans-serif; color: #4B544B;  border-top: 1px solid #D1D6D1;  padding: 4px;  font-size: 10px; }

.welcome { font-family: Verdana, Arial, sans-serif; color: #333333;  font-size: 9px; }

.access { font-family: Verdana, Arial, sans-serif; color: #91484A;  font-size: 9px;  font-weight: bold;  text-decoration: none; }

.access:hover { font-family: Verdana, Arial, sans-serif; color: #FFA500;  font-size: 9px;  font-weight: bold;  text-decoration: none; }

.submenuTitle { font-family: Verdana, Arial, sans-serif; color: #91484A;  font-size: 11px;  font-weight: bold; }

.submenuLink { font-family: Verdana, Arial, sans-serif; color: #333333;  font-size: 10px;  text-decoration: none; }

.submenuLink:hover { font-family: Verdana, Arial, sans-serif; color: #284E4F;  font-size: 10px;  text-decoration: none;    }

.popupTopbar { background-image: url(../images/header/top_fondo.gif); }

.popupSolapa { background: url(../images/solapa_fondo.jpg); }

.popupSolapaLink { font-family: Tahoma, Verdana, Arial;    font-size: 11px;  color: White;  font-weight: bold;  text-decoration: none; margin-left: 17px;  margin-right: 17px;  margin-top: 0px;  margin-bottom: 0px; }

.popupSolapaLink:hover { font-family: Tahoma, Verdana, Arial;    font-size: 11px;  color: #D5FFCA;  font-weight: bold;  text-decoration: none;  margin-left: 17px;  margin-right: 17px;  margin-top: 0px;  margin-bottom: 0px; }

.popupSolapaActiva { background-color: White;  }

.popupSolapaText { font-family: Tahoma, Verdana, Arial;    font-size: 11px;  color: #91484A;  font-weight: bold;  text-decoration: none; margin-left: 17px;  margin-right: 17px;  margin-top: 0px;  margin-bottom: 0px;  }

.popupSolapaBar { background-color: White;  border-bottom: 1px solid #AAB9B9;      }

.newsbar { background-color: #E1E1E1; font-family: Verdana, Arial, sans-serif;  color: #4F4F4F; font-size: 9px; padding: 8px 8px 8px 8px; }

.searchField { font-family: Verdana, Arial, sans-serif; font-size: 9px; color: #333333;  background-color: White;  border-width: 1px; border-style: solid; border-color: #404040 #D4D0C8 #D4D0C8 #404040; }

.searchText { font-family: Verdana, Arial, sans-serif; font-size: 9px; color: #244446;       }

.searchButton { background-image: url(../images/button_search_background.jpg);  height: 16px;  font-family: Tahoma, Verdana, Arial;  font-size: 9px; color: #566156; border-color: #7E8D7E;  border-style: solid;  border-width: 1px; }

.popupMenu { background-color: #345F63; }

.popupMenuLink { font-family: Verdana, Arial, sans-serif; color: #CCD7D8;  font-size: 9px;  font-weight: bold;  text-decoration: none; }

.popupMenuLink:hover { font-family: Verdana, Arial, sans-serif; color: #21478F;  font-size: 9px;  font-weight: bold;  text-decoration: none; }

.loginLabel { font-family: Verdana, Arial, sans-serif;  font-size: 11px;  color: White;  font-weight: bold; }

.loginEdit { font-family: Verdana, Arial, sans-serif; font-size: 9px; color: #333333;  background-color: #FDFDF4;  border-width: 1px; border-style: solid; border-color: #404040 #D4D0C8 #D4D0C8 #404040; }

.loginButton { background-image: url(../images/button_background.jpg);  height: 18px;  font-family: Verdana, Arial, sans-serif;  font-size: 9px;  font-weight: bold;    color: #345F63;  border-color: #53736F;  border-style: solid;  border-width: 1px; }

.loginCredits { font-family: Arial, Verdana, sans-serif; color: #4A7275; font-size: 10px; }

.loginFondo2 { background-color: #EFF4F5; }

.loginFondo3 { background-color: #C8DBDD; }

.loginFondo4 { background-color: #7DA9AC; }
