.treegroup .treegrouplabel {font-size: 11px}
.treegroup {background: #eee;margin-bottom: 6px}
.treegroup .treegrouplabel {
	border-bottom: 1px solid #666;
	border-right: 1px solid #666;
	background: #ccc;
	padding: 4px;
}
.treegroup .treegroupbody {
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	padding: 4px 4px 4px 0;
}
.treegroup .treegroupbody {padding-bottom: .3em;padding-left: 1em}
