<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour"
	xmlns:v="http://www.synapsis-it.com/jsf/validator">

	<sy:boxPage
		title="#{MensajesComponentes_dimer['administra.correlativo.automatico.titulo']}"
		close="false" useCaseMainPage="true">
		<c:exception />
		<c:errorHandler />
		<h:form>
			<t:saveState value="#{administraCorrelativoAutomaticoBB.tiposRutas}" />
			<t:saveState value="#{administraCorrelativoAutomaticoBB.sucursales}" />
			<t:saveState value="#{administraCorrelativoAutomaticoBB.zonas}" />
			<t:saveState value="#{administraCorrelativoAutomaticoBB.ciclos}" />
			<t:saveState value="#{administraCorrelativoAutomaticoBB.grupos}" />
			<t:saveState value="#{administraCorrelativoAutomaticoBB.manzanas}" />
			<t:saveState
				value="#{administraCorrelativoAutomaticoBB.tipoRutaSelected}" />
			<t:saveState
				value="#{administraCorrelativoAutomaticoBB.sucursalSelected}" />
			<t:saveState
				value="#{administraCorrelativoAutomaticoBB.zonaSelected}" />
			<t:saveState
				value="#{administraCorrelativoAutomaticoBB.cicloSelected}" />
			<t:saveState
				value="#{administraCorrelativoAutomaticoBB.grupoSelected}" />
			<t:saveState
				value="#{administraCorrelativoAutomaticoBB.manzanaSelected}" />
			<t:saveState
				value="#{administraCorrelativoAutomaticoBB.rutaSelected}" />
			<t:saveState
				value="#{administraCorrelativoAutomaticoBB.rutasSelected}" />
			<t:saveState
				value="#{administraCorrelativoAutomaticoBB.sessionId}" />	
				


			<br />

			<!-- servicio para obtener los tipos de rutas -->
			<s:service manager="#{serviceManager}" name="tipoRutaService"
				method="findByCriteria" id="tipoRutaService" rows="100">
			</s:service>
			<!-- unmarshall service para tipoRutaService -->
			<s:unmarshall source="tipoRutaService"
				target="#{administraCorrelativoAutomaticoBB.tiposRutas}" />

			<h:panelGrid columns="1" style="width:100%" id="panelGridFiltros">
				<h:panelGrid columns="3"
					style="width:98%;border-style:solid;border-width:2px;align:center">
					<!-- combo de tipos de rutas -->
					<h:outputLabel
						value="#{MensajesComponentes_dimer['administra.correlativo.automatico.tipoRuta']}&#160;&#160;" />
					<h:selectOneMenu
						value="#{administraCorrelativoAutomaticoBB.tipoRutaSelected}"
						styleClass="edit">
						<f:converter converterId="javax.faces.Long" />
						<f:selectItem
							itemLabel="[#{MensajesComponentes_dimer['administra.correlativo.automatico.tipoRuta']}]"
							itemValue="" />
						<t:selectItems
							value="#{administraCorrelativoAutomaticoBB.tiposRutas}"
							var="tipoRuta" itemLabel="#{tipoRuta.codigo}"
							itemValue="#{tipoRuta.id}" />
						<a4j:support event="onchange"
							reRender="comboSucursales,comboCiclos,comboZonas,comboGrupos,comboManzanas, dataTableRutasToAssign, dataTableRutas"
							immediate="true"
							actionListener="#{administraCorrelativoAutomaticoBB.refreshComboSucursales}"
							ajaxSingle="true" />
						<b:behaviour>
							<b:rule name="requiredRule" />
						</b:behaviour>
					</h:selectOneMenu>
				</h:panelGrid>

				<h:panelGrid columns="12"
					style="width:98%; border-style:solid;border-width:2px">
					<!-- combo de tipos de sucursales -->
					<h:panelGrid columns="3"
						style="border-style:solid;border-width:1px;">
						<h:outputLabel
							value="#{MensajesComponentes_dimer['administra.correlativo.automatico.sucursal']}&#160;&#160;" />
						<h:selectOneMenu
							value="#{administraCorrelativoAutomaticoBB.sucursalSelected}"
							styleClass="edit" id="comboSucursales">
							<f:converter converterId="javax.faces.Long" />
							<f:selectItem
								itemLabel="[#{MensajesComponentes_dimer['administra.correlativo.automatico.sucursal']}]"
								itemValue="" />
							<t:selectItems
								value="#{administraCorrelativoAutomaticoBB.sucursales}"
								var="sucursal" itemLabel="#{sucursal.codigoNodo}"
								itemValue="#{sucursal.id}" />
							<a4j:support event="onchange"
								reRender="comboZonas,comboCiclos,comboGrupos,comboManzanas, dataTableRutasToAssign, dataTableRutas"
								ajaxSingle="true" immediate="true"
								actionListener="#{administraCorrelativoAutomaticoBB.refreshComboZonas}" />
							<b:behaviour>
								<b:rule name="requiredRule" />
							</b:behaviour>
						</h:selectOneMenu>

						<!-- combo de tipos de zonas -->
						<h:outputLabel
							value="#{MensajesComponentes_dimer['administra.correlativo.automatico.zona']}&#160;&#160;" />
						<h:selectOneMenu
							value="#{administraCorrelativoAutomaticoBB.zonaSelected}"
							styleClass="edit" id="comboZonas">
							<f:converter converterId="javax.faces.Long" />
							<f:selectItem
								itemLabel="[#{MensajesComponentes_dimer['administra.correlativo.automatico.zona']}]"
								itemValue="" />
							<t:selectItems value="#{administraCorrelativoAutomaticoBB.zonas}"
								var="zona" itemLabel="#{zona.codigoNodo}" itemValue="#{zona.id}" />
							<a4j:support event="onchange"
								reRender="comboCiclos,comboGrupos,comboManzanas, dataTableRutasToAssign, dataTableRutas"
								ajaxSingle="true" immediate="true"
								actionListener="#{administraCorrelativoAutomaticoBB.refreshComboCiclos}" />
							<b:behaviour>
								<b:rule name="requiredRule" />
							</b:behaviour>
						</h:selectOneMenu>
					</h:panelGrid>
					<!-- combo de tipos de ciclos -->
					<h:panelGrid columns="3"
						style="border-style:solid;border-width:1px;">
						<h:outputLabel
							value="#{MensajesComponentes_dimer['administra.correlativo.automatico.ciclo']}&#160;&#160;" />
						<h:selectOneMenu
							value="#{administraCorrelativoAutomaticoBB.cicloSelected}"
							styleClass="edit" id="comboCiclos">
							<f:converter converterId="javax.faces.Long" />
							<f:selectItem
								itemLabel="[#{MensajesComponentes_dimer['administra.correlativo.automatico.ciclo']}]"
								itemValue="" />
							<t:selectItems
								value="#{administraCorrelativoAutomaticoBB.ciclos}" var="ciclo"
								itemLabel="#{ciclo.codigoNodo}" itemValue="#{ciclo.id}" />
							<a4j:support event="onchange"
								reRender="comboGrupos,comboManzanas, dataTableRutasToAssign, dataTableRutas"
								ajaxSingle="true" immediate="true" 
								actionListener="#{administraCorrelativoAutomaticoBB.refreshComboGrupos}" />
							<b:behaviour>
								<b:rule name="requiredRule" />
							</b:behaviour>
						</h:selectOneMenu>

						<!-- combo de tipos de grupos -->
						<h:outputLabel
							value="#{MensajesComponentes_dimer['administra.correlativo.automatico.grupo']}&#160;&#160;" />
						<h:selectOneMenu
							value="#{administraCorrelativoAutomaticoBB.grupoSelected}"
							styleClass="edit" id="comboGrupos">
							<f:converter converterId="javax.faces.Long" />
							<f:selectItem
								itemLabel="[#{MensajesComponentes_dimer['administra.correlativo.automatico.grupo']}]"
								itemValue="" />
							<t:selectItems
								value="#{administraCorrelativoAutomaticoBB.grupos}" var="grupo"
								itemLabel="#{grupo.codigoNodo}" itemValue="#{grupo.id}" />
							<a4j:support event="onchange"
								reRender="comboManzanas, dataTableRutasToAssign, dataTableRutas"
								ajaxSingle="true" immediate="true"
								actionListener="#{administraCorrelativoAutomaticoBB.refreshComboManzanas}" />
							<b:behaviour>
								<b:rule name="requiredRule" />
							</b:behaviour>
						</h:selectOneMenu>
					</h:panelGrid>
					<h:panelGrid columns="3"
						style="border-style:solid;border-width:1px;">
						<!-- combo de tipos de manzanas -->
						<h:outputLabel
							value="#{MensajesComponentes_dimer['administra.correlativo.automatico.manzana']}&#160;&#160;" />
						<h:selectOneMenu
							value="#{administraCorrelativoAutomaticoBB.manzanaSelected}"
							styleClass="edit" id="comboManzanas">
							<f:converter converterId="javax.faces.Long" />
							<f:selectItem
								itemLabel="[#{MensajesComponentes_dimer['administra.correlativo.automatico.manzana']}]"
								itemValue="" />
							<t:selectItems
								value="#{administraCorrelativoAutomaticoBB.manzanas}"
								var="manzana" itemLabel="#{manzana.codigoManzana}"
								itemValue="#{manzana.id}" />
							<a4j:support event="onchange"
								reRender="dataTableRutas"
								ajaxSingle="true" immediate="true"
								actionListener="#{administraCorrelativoAutomaticoBB.addFilterManzana}" />
						</h:selectOneMenu>

						<!-- combo de tipos de servicios -->
						<h:outputLabel
							value="#{MensajesComponentes_dimer['administra.correlativo.automatico.tipoServicio']}&#160;&#160;" />
						<h:selectOneMenu
							value="#{administraCorrelativoAutomaticoBB.tipoServicioSelected}"
							styleClass="edit" id="comboServicios">
							<f:selectItem
								itemLabel="[#{MensajesComponentes_dimer['administra.correlativo.automatico.tipoServicio']}]"
								itemValue="" />
							<t:selectItems
								value="#{administraCorrelativoAutomaticoBB.tiposServicios}"
								var="tipoServicio"
								itemLabel="#{tipoServicio.descripTipoServicio}"
								itemValue="#{tipoServicio.id}" />
							<a4j:support event="onchange"
								reRender="dataTableRutas"
								ajaxSingle="true" immediate="true"
								actionListener="#{administraCorrelativoAutomaticoBB.addFilterTipoServicio}" />
						</h:selectOneMenu>
					</h:panelGrid>

					<h:panelGrid columns="2"
						style="border-style:solid;border-width:1px;">
						<!-- input text del numero de medidor -->
						#{MensajesComponentes_dimer['administra.correlativo.automatico.nro.medidor']}&#160;&#160;
						<h:inputText
							value="#{administraCorrelativoAutomaticoBB.nroMedidor}"
							styleClass="edit" id="inputNroMedidor">
							<a4j:support event="onlostfocus"
								reRender="dataTableRutas"
								ajaxSingle="true" immediate="true"
								actionListener="#{administraCorrelativoAutomaticoBB.addFilterMedidor}" />
						</h:inputText>
						
						<h:outputLabel
							value="#{MensajesComponentes_dimer['administra.correlativo.automatico.status']}&#160;&#160;" />
						<h:selectOneMenu
							value="#{administraCorrelativoAutomaticoBB.statusSelected}"
							styleClass="edit" id="comboStatus">
							<f:selectItem
								itemLabel="[#{MensajesComponentes_dimer['administra.correlativo.automatico.status']}]"
								itemValue="" />
							<f:selectItems
								value="#{administraCorrelativoAutomaticoBB.status}" />
							<a4j:support event="onchange"
								reRender="dataTableRutas"
								ajaxSingle="true" immediate="true"
								actionListener="#{administraCorrelativoAutomaticoBB.addFilterStatus}" />
						</h:selectOneMenu>

					</h:panelGrid>

				</h:panelGrid>

				<h:panelGrid columns="5" style="align:center;">
					<h:commandButton
						value="#{MensajesComponentes_dimer['administra.correlativo.automatico.search.button']}"
						action="#{administraCorrelativoAutomaticoBB.search}" />
					<h:commandButton
						value="#{MensajesComponentes_dimer['administra.correlativo.automatico.update.button']}"
						action="#{administraCorrelativoAutomaticoBB.actualizar}" />
					<h:commandButton
						value="#{MensajesComponentes_dimer['administra.correlativo.automatico.agregar.al.final.button']}"
						action="#{administraCorrelativoAutomaticoBB.agregarAlFinal}" />
					<h:commandButton
						value="#{MensajesComponentes_dimer['administra.correlativo.automatico.clean.button']}"
						immediate="true"
						action="#{administraCorrelativoAutomaticoBB.cleanFields}" />
					<h:commandButton value="#{MensajesComponentes_dimer['administra.correlativo.automatico.button.export']}"
						action="#{administraCorrelativoAutomaticoBB.exportFile}" />
				</h:panelGrid>

			</h:panelGrid>

			
			<!-- service:scrollablefindByCriteria para obtener las rutas  que no han sido asignadas aun -->
			<s:service id="rutaServiceToAssign" manager="#{serviceManager}"
				name="rutaCorrelativoService" fire="false"
				method="findByCriteriaToAssign"
				binding="#{administraCorrelativoAutomaticoBB.rutaServiceToAssign}"
				rows="7">
				<f:param name="sessionId"
					value="#{administraCorrelativoAutomaticoBB.sessionId}" />
				<f:param name="idNodo"
					value="#{administraCorrelativoAutomaticoBB.grupoSelected}" />
				<f:param name="idTipoRuta"
					value="#{administraCorrelativoAutomaticoBB.tipoRutaSelected}" />
			</s:service>

			<!-- service:scrollablefindByCriteria para obtener las rutas  -->
			<s:service id="rutaService" manager="#{serviceManager}"
				name="rutaCorrelativoService" fire="false"
				method="findByCriteriaAll"
				binding="#{administraCorrelativoAutomaticoBB.rutaService}" rows="5">
				<f:param name="sessionId"
					value="#{administraCorrelativoAutomaticoBB.sessionId}" />
				<f:param name="idNodo"
					value="#{administraCorrelativoAutomaticoBB.grupoSelected}" />
				<f:param name="idTipoRuta"
					value="#{administraCorrelativoAutomaticoBB.tipoRutaSelected}" />
				<f:param name="idManzana"
					value="#{administraCorrelativoAutomaticoBB.manzanaSelected}" />
				<f:param name="tipoServicio"
					value="#{administraCorrelativoAutomaticoBB.tipoServicioSelected}" />
				<f:param name="activo"
					value="#{administraCorrelativoAutomaticoBB.statusSelected}" />
				<f:param name="nroMedidor"
					value="#{administraCorrelativoAutomaticoBB.nroMedidor}" />
			</s:service>



			<!-- dataTable:rutas obtenidas para asignar-->
			<s:dataTable source="rutaServiceToAssign" var="ruta" rows="9"
				excelExport="false" id="dataTableRutasToAssign"
				binding="#{administraCorrelativoAutomaticoBB.dataTableRutasToAssign}"
				target="#{administraCorrelativoAutomaticoBB.rutasSelected}">
				<h:column>
					<f:facet name="header">#{MensajesComponentes_dimer['administra.correlativo.automatico.tabla.servicio.cuenta']}</f:facet>
    				#{ruta.nroServicio}
  				</h:column>
				<h:column>
					<f:facet name="header">#{MensajesComponentes_dimer['administra.correlativo.automatico.tabla.tipo']}</f:facet>
    				#{ruta.tipoServicio}
				</h:column>
				<h:column>
					<f:facet name="header">#{MensajesComponentes_dimer['administra.correlativo.automatico.tabla.medidor']}</f:facet>
     				#{ruta.nroComponente}
				</h:column>
				<h:column>
					<f:facet name="header">#{MensajesComponentes_dimer['administra.correlativo.automatico.tabla.direccion']}</f:facet>
     				#{ruta.direccion}
				</h:column>
				<h:column>
					<f:facet name="header">#{MensajesComponentes_dimer['administra.correlativo.automatico.tabla.manzana']}</f:facet>
     				#{ruta.codigoManzana}
				</h:column>
				<h:column>
					<f:facet name="header">#{MensajesComponentes_dimer['administra.correlativo.automatico.tabla.correlativo']}</f:facet>
     				#{ruta.correlativo}
				</h:column>
				<h:column>
					<f:facet name="header">#{MensajesComponentes_dimer['administra.correlativo.automatico.tabla.reasignar']}</f:facet>
					<h:selectBooleanCheckbox value="#{ruta.reasignarCorrelativo}"
						disabled="true" />
				</h:column>
				<h:column>
					<f:facet name="header">#{MensajesComponentes_dimer['administra.correlativo.automatico.tabla.anomalia.lectura']}</f:facet>
     				#{ruta.anomalia}
				</h:column>
				<h:column>
					<f:facet name="header">#{MensajesComponentes_dimer['administra.correlativo.automatico.tabla.ciclo']}</f:facet>
     				#{ruta.ciclo}
				</h:column>
				<h:column>
					<f:facet name="header">#{MensajesComponentes_dimer['administra.correlativo.automatico.tabla.activo']}</f:facet>
					<h:selectBooleanCheckbox value="#{ruta.activo}" disabled="true" />
				</h:column>
			</s:dataTable>

			<br />

			<!-- dataTable:rutas obtenidas -->
			<s:dataTable source="rutaService" var="ruta" rows="7"
				excelExport="false" id="dataTableRutas"
				binding="#{administraCorrelativoAutomaticoBB.dataTableRutas}"
				target="#{administraCorrelativoAutomaticoBB.rutaSelected}">
				<h:column>
					<f:facet name="header">#{MensajesComponentes_dimer['administra.correlativo.automatico.tabla.servicio.cuenta']}</f:facet>
    				#{ruta.nroServicio}
  				</h:column>
				<h:column>
					<f:facet name="header">#{MensajesComponentes_dimer['administra.correlativo.automatico.tabla.tipo']}</f:facet>
     				#{ruta.tipoServicio}
				</h:column>
				<h:column>
					<f:facet name="header">#{MensajesComponentes_dimer['administra.correlativo.automatico.tabla.medidor']}</f:facet>
     				#{ruta.nroComponente}
				</h:column>
				<h:column>
					<f:facet name="header">#{MensajesComponentes_dimer['administra.correlativo.automatico.tabla.direccion']}</f:facet>
     				#{ruta.direccion}
				</h:column>
				<h:column>
					<f:facet name="header">#{MensajesComponentes_dimer['administra.correlativo.automatico.tabla.manzana']}</f:facet>
     				#{ruta.codigoManzana}
				</h:column>
				<h:column>
					<f:facet name="header">#{MensajesComponentes_dimer['administra.correlativo.automatico.tabla.correlativo']}</f:facet>
     				#{ruta.correlativo}
				</h:column>
				<h:column>
					<f:facet name="header">#{MensajesComponentes_dimer['administra.correlativo.automatico.tabla.anomalia.lectura']}</f:facet>
     				#{ruta.anomalia}
				</h:column>
				<h:column>
					<f:facet name="header">#{MensajesComponentes_dimer['administra.correlativo.automatico.tabla.ciclo']}</f:facet>
     				#{ruta.ciclo}
				</h:column>
				<h:column>
					<f:facet name="header">#{MensajesComponentes_dimer['administra.correlativo.automatico.tabla.activo']}</f:facet>
					<h:selectBooleanCheckbox value="#{ruta.activo}" disabled="true" />
				</h:column>

			</s:dataTable>
		</h:form>
	</sy:boxPage>
</f:view>
