<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<head>
<title>Modulo MOR-CCA</title>
<script type="text/javascript">
            <!--            
        		/**
        		 * displayWindow.
        		 * 
        		 * @deprecated will be replaced by kendari menu.
        		 */
        		displayWindow = function(url, name)
        		{
        			features="width=950,height=600,status=no,resizable=yes,toolbar=no,menubar=no,location=no,scrollbars=yes";
        			window.open(url, name, features); // open an empty window
        		}            
            //-->
</script>
</head>
<body>
<f:view>
	<h:form id="fake">
		<h:commandButton value="Compras Totales"
			immediate="true"
			onmousedown="displayWindow('cca/reporteComprasTotales.jsf', 'reporteComprasTotales')"
			onclick="return false" />
		<h:commandButton value="Reporte Recaudo"
			immediate="true"
			onmousedown="displayWindow('cca/reporteRecaudo.jsf', 'reporteRecaudo')"
			onclick="return false" />
		<h:commandButton value="Reporte Cartera Morosa"
			immediate="true"
			onmousedown="displayWindow('cca/reporteCarteraMorosa.jsf', 'reporteCarteraMorosa')"
			onclick="return false" />
	</h:form>
</f:view>
</body>
</html>