<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:core="http://java.sun.com/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:v="http://www.synapsis-it.com/jsf/validator"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour"
	xmlns:e="http://www.synapsis-it.com/jsf/core/ext">

	<sy:boxPage
		title="#{MensajesComponentes_mor['reporte.recaudo.titulo']}"
		close="false" useCaseMainPage="true">
		<h:form>

			<!-- error handler para manejar los errores de las rules 
		TODO: [emiliano] subir ... -->
			<c:errorHandler />

			<b:behaviour>
				<b:rule name="dateComparator">
					<f:param name="min" value="fecha_desde" />
					<f:param name="max" value="fecha_hasta" />
				</b:rule>
			</b:behaviour>

			<!-- service para levantar lso tipos de documentos en el COMBO -->
			<s:service manager="#{serviceManager}"
				name="tiposDocumentoPersonaService" method="findByCriteria"
				id="tiposDocumentoPersonaService"
				rows="#{recaudoBB.comboMaxResults}" />
			<s:unmarshall source="tiposDocumentoPersonaService"
				var="tiposDocumentoPersona" />

			<!-- service para realizar la busqueda en la TABLA posterior al seteo de los filtros -->
			<s:service id="reporteRecaudo" manager="#{serviceManager}"
				name="reporteRecaudoService" method="findByCriteria"
				binding="#{recaudoBB.findByCriteriaService}" fire="false">
				<f:param name="fechaPago" value="#{recaudoBB.fechaDesde}" />
				<f:param name="fechaHasta" value="#{recaudoBB.fechaHasta}" />
				<f:param name="nroCuenta" value="#{recaudoBB.nroCuenta}" />
				<f:param name="nroServicioCompraCartera"
					value="#{recaudoBB.nroServicioCompraCartera}" />
				<f:param name="tipoIdentifPersonaRelacionada"
					value="#{recaudoBB.tipoIdentifPersonaRelacionada}" />
				<f:param name="identifPersonaRelacionada"
					value="#{recaudoBB.identifPersonaRelacionada}" />
			</s:service>

			<sy:filters actionBean="#{recaudoBB}" action="search" columns="2">
				<h:outputText
					value="#{MensajesComponentes_mor['reporte.recaudo.fecha.desde']}" />
				<e:dateCalendar value="#{recaudoBB.fechaDesde}" id="fecha_desde" />

				<h:outputText
					value="#{MensajesComponentes_mor['reporte.recaudo.fecha.hasta']}" />
				<e:dateCalendar value="#{recaudoBB.fechaHasta}" id="fecha_hasta" />

				<h:outputLabel
					value="#{MensajesComponentes_mor['reporte.recaudo.numero.servicio.compra.cartera']}"
					for="nroServicioCompraCartera" />
				<h:inputText value="#{recaudoBB.nroServicioCompraCartera}"
					id="nroServicioCompraCartera">
					<b:behaviour>
						<b:rule name="onlyNumbers" />
					</b:behaviour>
				</h:inputText>

				<h:outputLabel
					value="#{MensajesComponentes_mor['reporte.recaudo.identificacion.persona.tajeta.compra']}"
					for="tarjetaCompra" />
				<sy:panelGrid oneColumn="false">
					<h:selectOneMenu value="#{recaudoBB.tipoIdentifPersonaRelacionada}"
						styleClass="edit" id="tipoDocumentoPersona">
						<f:selectItem itemLabel="Seleccionar ..." itemValue="" />
						<t:selectItems value="#{tiposDocumentoPersona}"
							var="tipoDocumentoPersona"
							itemLabel="#{tipoDocumentoPersona.codigo}"
							itemValue="#{tipoDocumentoPersona.codigo}" />
					</h:selectOneMenu>

					<h:inputText value="#{recaudoBB.identifPersonaRelacionada}"
						id="tarjetaCompra"/>
				</sy:panelGrid>
				
				<h:outputLabel
					value="#{MensajesComponentes_mor['reporte.recaudo.nroCuenta']}"
					for="nroCuentatxtId" />
				<h:inputText value="#{recaudoBB.nroCuenta}"
					id="nroCuentatxtId">
					<b:behaviour>
						<b:rule name="onlyNumbers" />
					</b:behaviour>
					<f:converter converterId="javax.faces.Long" />	
				</h:inputText>
			</sy:filters>

			<br />

			<s:dataTable source="reporteRecaudo" var="recaudo"
				binding="#{recaudoBB.dataTable}">
				<sy:tableColumnCustom
					header="#{MensajesComponentes_mor['reporte.recaudo.lineaNegocio']}">
					<h:outputText value="#{recaudo.lineaNegocio}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_mor['reporte.recaudo.socioNegocio']}">
					<h:outputText value="#{recaudo.socioNegocio}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_mor['reporte.recaudo.sucursalSocioNegocio']}">
					<h:outputText value="#{recaudo.sucursalSocioNegocio}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_mor['reporte.recaudo.planServicioFinanciero']}">
					<h:outputText value="#{recaudo.planServicioFinanciero}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_mor['reporte.recaudo.nroCuenta']}">
					<h:outputText value="#{recaudo.nroCuenta}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_mor['reporte.recaudo.nroServicioCompraCartera']}">
					<h:outputText value="#{recaudo.nroServicioCompraCartera}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_mor['reporte.recaudo.fechaCompra']}">
					<h:outputText value="#{recaudo.fechaCompra}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_mor['reporte.recaudo.fechaCreacion']}">
					<h:outputText value="#{recaudo.fechaCreacion}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_mor['reporte.recaudo.estadoServicioCompraCartera']}">
					<h:outputText value="#{recaudo.estadoServicioCompraCartera}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_mor['reporte.recaudo.tipo.identifPersonaRelacionada']}">
					<h:outputText value="#{recaudo.tipoIdentifPersonaRelacionada}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_mor['reporte.recaudo.identif.persona.relacionada']}">
					<h:outputText value="#{recaudo.identifPersonaRelacionada}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_mor['reporte.recaudo.producto']}">
					<h:outputText value="#{recaudo.producto}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_mor['reporte.recaudo.fechaPago']}">
					<h:outputText value="#{recaudo.fechaPago}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_mor['reporte.recaudo.fechaProceso']}">
					<h:outputText value="#{recaudo.fechaProceso}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_mor['reporte.recaudo.fechaIngresoSistema']}">
					<h:outputText value="#{recaudo.fechaIngresoSistema}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_mor['reporte.recaudo.nroCuotas']}">
					<h:outputText value="#{recaudo.nroCuotas}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_mor['reporte.recaudo.nroCuotasRecaudadas']}">
					<h:outputText value="#{recaudo.nroCuotasRecaudadas}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_mor['reporte.recaudo.cargoCapitalAmortizado']}">
					<h:outputText value="#{recaudo.cargoCapitalAmortizado}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_mor['reporte.recaudo.valorCapitalAmortizado']}">
					<h:outputText value="#{recaudo.valorCapitalAmortizado}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_mor['reporte.recaudo.cargoInteresAmortizado']}">
					<h:outputText value="#{recaudo.cargoInteresAmortizado}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_mor['reporte.recaudo.valorInteresAmortizado']}">
					<h:outputText value="#{recaudo.valorInteresAmortizado}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_mor['reporte.recaudo.cargoInteresMoraAmortizado']}">
					<h:outputText value="#{recaudo.cargoInteresMoraAmortizado}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_mor['reporte.recaudo.valorInteresMoraAmortizado']}">
					<h:outputText value="#{recaudo.valorInteresMoraAmortizado}" />
				</sy:tableColumnCustom>
			</s:dataTable>

		</h:form>
	</sy:boxPage>
</f:view>

