<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour"
	xmlns:e="http://www.synapsis-it.com/jsf/core/ext"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax">
	
	<sy:boxPage
		title="#{MensajesComponentes_mor['reporte.servicioFinanciero.titulo']}"
		close="false" useCaseMainPage="true">
		<h:form>

			<!-- error handler para manejar los errores de las rules 
		       TODO: [emiliano] subir ... -->
			<c:errorHandler />

			<b:behaviour>
				<b:rule name="dateComparator">
					<f:param name="min" value="fecha_proceso_desde" />
					<f:param name="max" value="fecha_proceso_hasta" />
				</b:rule>
			</b:behaviour>

			<b:behaviour>
				<b:rule name="dateComparator">
					<f:param name="min" value="fecha_compra_desde" />
					<f:param name="max" value="fecha_compra_hasta" />
				</b:rule>
			</b:behaviour>

			<!-- service para levantar los socios de negocio en el COMBO -->
			<s:service manager="#{serviceManager}" name="sociosNegocioService"
				method="findByCriteria" id="sociosNegocioService"
				rows="#{reporteServicioFinancieroBB.comboMaxResults}">
			</s:service>
			<s:unmarshall source="sociosNegocioService" var="sociosNegocio" />

			<a4j:outputPanel id="serviceReRender">
				<!-- service para levantar las sucursales del socios de negocio en el COMBO -->
				<s:service manager="#{serviceManager}"
					name="sucursalesSocioNegocioService" method="findByCriteria"
					id="sucursalesSocioNegocioService"
					rows="#{reporteServicioFinancieroBB.comboMaxResults}">
					<f:param name="idEntidadAsociada"
						value="#{reporteServicioFinancieroBB.idSocioNegocio}" />
				</s:service>
				<!-- unmarshall service para la lista recuperada por el servicio de sucursalesSocioNegocioService -->
				<s:unmarshall source="sucursalesSocioNegocioService"
					var="sucursalesSocioNegocio" />
			</a4j:outputPanel>

			<!-- service para levantar lso tipos de documentos en el COMBO -->
			<s:service manager="#{serviceManager}"
				name="tiposDocumentoPersonaService" method="findByCriteria"
				id="tiposDocumentoPersonaService"
				rows="#{reporteServicioFinancieroBB.comboMaxResults}">
			</s:service>
			<s:unmarshall source="tiposDocumentoPersonaService"
				var="tiposDocumentoPersona" />

			<!-- service para levantar los estados del servicio financiero en el COMBO -->
			<s:service manager="#{serviceManager}"
				name="estadosServicioFinancieroService" method="findByCriteria"
				id="estadosServicioFinancieroService"
				rows="#{reporteServicioFinancieroBB.comboMaxResults}">
			</s:service>
			<s:unmarshall source="estadosServicioFinancieroService"
				var="estadosServicioFinanciero" />

			<!-- service para realizar la busqueda en la TABLA posterior al seteo de los filtros -->
			<s:service id="reporteServicioFinanciero" manager="#{serviceManager}"
				name="reporteServicioFinancieroService" method="findByCriteria"
				binding="#{reporteServicioFinancieroBB.findByCriteriaService}"
				fire="false">
				<f:param name="idSocioNegocio"
					value="#{reporteServicioFinancieroBB.idSocioNegocio}" />
				<f:param name="idSucursalSocioNegocio"
					value="#{reporteServicioFinancieroBB.idSocioSucursal}" />
				<f:param name="nroAutorizacion"
					value="#{reporteServicioFinancieroBB.nroAutorizacion}" />
				<f:param name="nroAutorizacionPago"
					value="#{reporteServicioFinancieroBB.nroAutorizacionPago}" />
				<f:param name="fechaCarga"
					value="#{reporteServicioFinancieroBB.fechaDesde}" />
				<f:param name="fechaHasta"
					value="#{reporteServicioFinancieroBB.fechaHasta}" />
				<f:param name="fechaCompraDesde"
					value="#{reporteServicioFinancieroBB.fechaCompraDesde}" />
				<f:param name="fechaCompraHasta"
					value="#{reporteServicioFinancieroBB.fechaCompraHasta}" />
				<f:param name="tipoIdentifPersonaRelacionada"
					value="#{reporteServicioFinancieroBB.tipoIdentifPersonaRelacionada}" />
				<f:param name="identifPersonaRelacionada"
					value="#{reporteServicioFinancieroBB.identifPersonaRelacionada}" />
				<f:param name="estadoServicioCompraCartera"
					value="#{reporteServicioFinancieroBB.idEstadoServicioFinanciero}" />
				<f:param name="pdp" value="#{reporteServicioFinancieroBB.pdp}" />
			</s:service>

			<sy:filters actionBean="#{reporteServicioFinancieroBB}"
				action="search" columns="2">
				<h:outputLabel
					value="#{MensajesComponentes_mor['reporte.servicioFinanciero.socio.negocio']}"
					for="socioNegocio" />
				<h:selectOneMenu
					value="#{reporteServicioFinancieroBB.idSocioNegocio}"
					styleClass="edit" id="socioNegocio">
					<f:selectItem itemLabel="Seleccionar ..." itemValue="" />
					<t:selectItems value="#{sociosNegocio}" var="socioNegocio"
						itemLabel="#{socioNegocio.nombre}" itemValue="#{socioNegocio.id}" />
					<a4j:support event="onchange"
						reRender="socioNegocio,serviceReRender,sucNegocio" />
				</h:selectOneMenu>

				<h:outputLabel
					value="#{MensajesComponentes_mor['reporte.servicioFinanciero.sucursal']}"
					for="sucNegocio" />
				<h:selectOneMenu
					value="#{reporteServicioFinancieroBB.idSocioSucursal}"
					styleClass="edit" id="sucNegocio">
					<f:selectItem itemLabel="Seleccionar ..." itemValue="" />
					<t:selectItems value="#{sucursalesSocioNegocio}"
						var="sucursalNegocio" itemLabel="#{sucursalNegocio.descripcion}"
						itemValue="#{sucursalNegocio.id}" />
				</h:selectOneMenu>

				<h:outputLabel
					value="#{MensajesComponentes_mor['reporte.servicioFinanciero.nroAutorizacion']}"
					for="nroAutorizacion" />
				<h:inputText
					value="#{reporteServicioFinancieroBB.nroAutorizacion}"
					id="nroAutorizacion">
					<b:behaviour>
						<b:rule name="onlyNumbers" />
					</b:behaviour>
				</h:inputText>
				
				<h:outputLabel
					value="#{MensajesComponentes_mor['reporte.servicioFinanciero.nroAutorizacionPago']}"
					for="nroAutorizacionPago" />
				<h:inputText
					value="#{reporteServicioFinancieroBB.nroAutorizacionPago}"
					id="nroAutorizacionPago">
					<b:behaviour>
						<b:rule name="onlyNumbers" />
					</b:behaviour>
				</h:inputText>

				<h:outputText
					value="#{MensajesComponentes_mor['reporte.servicioFinanciero.fechaproceso.desde']}" />
				<e:dateCalendar value="#{reporteServicioFinancieroBB.fechaDesde}"
					id="fecha_proceso_desde" />

				<h:outputText
					value="#{MensajesComponentes_mor['reporte.servicioFinanciero.fechaproceso.hasta']}" />
				<e:dateCalendar value="#{reporteServicioFinancieroBB.fechaHasta}"
					id="fecha_proceso_hasta" />

				<h:outputText
					value="#{MensajesComponentes_mor['reporte.servicioFinanciero.fechacompra.desde']}" />
				<e:dateCalendar
					value="#{reporteServicioFinancieroBB.fechaCompraDesde}"
					id="fecha_compra_desde" />

				<h:outputText
					value="#{MensajesComponentes_mor['reporte.servicioFinanciero.fechacompra.hasta']}" />
				<e:dateCalendar
					value="#{reporteServicioFinancieroBB.fechaCompraHasta}"
					id="fecha_compra_hasta" />

				<h:outputLabel
					value="#{MensajesComponentes_mor['reporte.servicioFinanciero.identificacion.persona.tajeta.compra']}"
					for="tarjetaCompra" />
				<sy:panelGrid oneColumn="false">
					<h:selectOneMenu
						value="#{reporteServicioFinancieroBB.tipoIdentifPersonaRelacionada}"
						styleClass="edit" id="tipoDocumentoPersona">
						<f:selectItem itemLabel="Seleccionar ..." itemValue="" />
						<t:selectItems value="#{tiposDocumentoPersona}"
							var="tipoDocumentoPersona"
							itemLabel="#{tipoDocumentoPersona.codigo}"
							itemValue="#{tipoDocumentoPersona.codigo}" />
					</h:selectOneMenu>

					<h:inputText
						value="#{reporteServicioFinancieroBB.identifPersonaRelacionada}"
						id="tarjetaCompra"/>
				</sy:panelGrid>

				<h:outputLabel
					value="#{MensajesComponentes_mor['reporte.servicioFinanciero.estado.servicio.financiero']}"
					for="servFinanciero" />
				<h:selectOneMenu
					value="#{reporteServicioFinancieroBB.idEstadoServicioFinanciero}"
					styleClass="edit" id="servFinanciero">
					<f:selectItem itemLabel="Seleccionar ..." itemValue="" />
					<t:selectItems value="#{estadosServicioFinanciero}"
						var="estadoServicioFinanciero"
						itemLabel="#{estadoServicioFinanciero.estado}"
						itemValue="#{estadoServicioFinanciero.estado}" />
				</h:selectOneMenu>

				<h:outputLabel
					value="#{MensajesComponentes_mor['reporte.servicioFinanciero.pdp']}"
					for="pdp" />
				<h:inputText value="#{reporteServicioFinancieroBB.pdp}" id="pdp" />
			</sy:filters>

			<s:dataTable source="reporteServicioFinanciero" var="servFinanciero"
				binding="#{reporteServicioFinancieroBB.dataTable}">
				<sy:tableColumnCustom
					header="#{MensajesComponentes_mor['reporte.servicioFinanciero.nroServicio']}">
					<h:outputText value="#{servFinanciero.nroServicio}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_mor['reporte.servicioFinanciero.nroAutorizacion']}">
					<h:outputText value="#{servFinanciero.nroAutorizacion}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_mor['reporte.servicioFinanciero.nroAutorizacionPago']}">
					<h:outputText value="#{servFinanciero.nroAutorizacionPago}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_mor['reporte.servicioFinanciero.fechaCarga']}">
					<h:outputText value="#{servFinanciero.fechaCarga}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_mor['reporte.servicioFinanciero.lineaNegocio']}">
					<h:outputText value="#{servFinanciero.lineaNegocio}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_mor['reporte.servicioFinanciero.plan']}">
					<h:outputText value="#{servFinanciero.plan}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_mor['reporte.servicioFinanciero.producto']}">
					<h:outputText value="#{servFinanciero.producto}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_mor['reporte.servicioFinanciero.socioNegocio']}">
					<h:outputText value="#{servFinanciero.socioNegocio}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_mor['reporte.servicioFinanciero.sucursalSocioNegocio']}">
					<h:outputText value="#{servFinanciero.sucursalSocioNegocio}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_mor['reporte.servicioFinanciero.estadoServicioCompraCartera']}">
					<h:outputText value="#{servFinanciero.estadoServicioCompraCartera}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_mor['reporte.servicioFinanciero.estadoProceso']}">
					<h:outputText value="#{servFinanciero.estadoProceso}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_mor['reporte.servicioFinanciero.valorFinanciado']}">
					<h:outputText value="#{servFinanciero.valorFinanciado}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_mor['reporte.servicioFinanciero.pdp']}">
					<h:outputText value="#{servFinanciero.pdp}" />
				</sy:tableColumnCustom>
			</s:dataTable>
		</h:form>
	</sy:boxPage>
</f:view>
