<f:view xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:sy="http://www.synapsis.com/jsf/core"
    xmlns:c="http://www.synapsis-it.com/jsf/core"
    xmlns:t="http://myfaces.apache.org/tomahawk"
    xmlns:b="http://www.synapsis-it.com/jsf/behaviour">
    <sy:boxPage
        title="#{MensajesComponentes_mor['transferencia.servicios.entre.cuentas.titulo']}"
        close="false">
        <c:errorHandler />
        <h:form>
            <t:saveState
                value="#{transferenciaServiciosEntreCuentasBB.servicioFinancieros}" />
            <t:saveState
                value="#{transferenciaServiciosEntreCuentasBB.numeroCuentaOrigen}" />
            <t:saveState
                value="#{transferenciaServiciosEntreCuentasBB.servicioFinanciero}" />
            <sy:group
                title="#{MensajesComponentes_mor['transferencia.servicios.entre.cuentas.cuenta.destino']}"
                columns="1">
                <h:panelGrid columns="2" border="0" cellpadding="0"
                    cellspacing="0" styleClass="synapsis-input-grid">
                    <h:outputText
                        value="#{MensajesComponentes_mor['transferencia.servicios.entre.cuentas.numero.cuenta']}"
                        styleClass="label" />
                    <h:inputText
                        value="#{transferenciaServiciosEntreCuentasBB.numeroCuentaDestino}">
                        <b:behaviour>
                            <b:rule name="account" />
                        </b:behaviour>
                    </h:inputText>
                </h:panelGrid>
            </sy:group>
            <br />
            <h:panelGrid columns="1" border="0" cellpadding="0" cellspacing="0"
                width="100%">
                <t:div style="text-align: right;">
                    <h:commandButton
                        value="#{MensajesComponentes_mor['transferencia.servicios.entre.cuentas.volver']}"
                        action="#{transferenciaServiciosEntreCuentasBB.previousPage}"
                        immediate="true" />
                    <h:commandButton
                        value="#{MensajesComponentes_mor['transferencia.servicios.entre.cuentas.transferencia']}"
                        action="#{transferenciaServiciosEntreCuentasBB.transferir}" />
                </t:div>
            </h:panelGrid>
        </h:form>
    </sy:boxPage>
</f:view>
