<f:view xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:sy="http://www.synapsis.com/jsf/core"
    xmlns:s="http://www.synapsis-it.com/jsf/service"
    xmlns:c="http://www.synapsis-it.com/jsf/core"
    xmlns:t="http://myfaces.apache.org/tomahawk"
    xmlns:b="http://www.synapsis-it.com/jsf/behaviour">
    <sy:boxPage
        title="#{MensajesComponentes_mor['transferencia.servicios.entre.cuentas.titulo']}"
        close="false">
        <c:errorHandler />
        <h:form>
            <t:saveState
                value="#{transferenciaServiciosEntreCuentasBB.servicioFinancieros}" />                        
            <sy:group
                title="#{MensajesComponentes_mor['transferencia.servicios.entre.cuentas.cuenta.origen']}"
                columns="1">
                <h:panelGrid columns="3" border="0" cellpadding="0"
                    cellspacing="0" styleClass="synapsis-input-grid">
                    <h:outputText
                        value="#{MensajesComponentes_mor['transferencia.servicios.entre.cuentas.numero.cuenta']}"
                        styleClass="label" />
                    <h:inputText
                        value="#{transferenciaServiciosEntreCuentasBB.numeroCuentaOrigen}">
                        <b:behaviour>
                            <b:rule name="account"/>
                        </b:behaviour>                        
                    </h:inputText>
                    <h:commandButton value=" "
                        styleClass="synapsis-command-button-search"
                        actionListener="#{transferenciaServiciosEntreCuentasBB.buscarServiciosFinancieros}"
                        style="border: 0px;" />
                </h:panelGrid>
                <br />
                <c:dataTable value="#{transferenciaServiciosEntreCuentasBB.servicioFinancieros}"
                    target="#{transferenciaServiciosEntreCuentasBB.servicioFinanciero}"
                    var="servicio" excelExport="false">
                    <sy:tableColumnCustom
                        header="#{MensajesComponentes_mor['transferencia.servicios.entre.cuentas.numero.servicio']}">
                        <h:outputText value="#{servicio.nroServicio}" />
                    </sy:tableColumnCustom>
                    <sy:tableColumnCustom
                        header="#{MensajesComponentes_mor['transferencia.servicios.entre.cuentas.plan']}">
                        <h:outputText value="#{servicio.plan}" />
                    </sy:tableColumnCustom>
                    <sy:tableColumnCustom
                        header="#{MensajesComponentes_mor['transferencia.servicios.entre.cuentas.linea']}">
                        <h:outputText value="#{servicio.linea}" />
                    </sy:tableColumnCustom>
                    <sy:tableColumnCustom
                        header="#{MensajesComponentes_mor['transferencia.servicios.entre.cuentas.marca.producto']}">
                        <h:outputText value="#{servicio.marcaProducto}" />
                    </sy:tableColumnCustom>
                    <sy:tableColumnCustom
                        header="#{MensajesComponentes_mor['transferencia.servicios.entre.cuentas.nombre.socio']}">
                        <h:outputText value="#{servicio.nombreSocio}" />
                    </sy:tableColumnCustom>
                </c:dataTable>
            </sy:group>
            <br />
            <h:panelGrid columns="1" border="0" cellpadding="0" cellspacing="0"
                style="text-align: right;" width="100%">
                <h:commandButton
                    action="#{transferenciaServiciosEntreCuentasBB.nextPage}"
                    value="#{MensajesComponentes_mor['transferencia.servicios.entre.cuentas.siguiente']}" />
            </h:panelGrid>
        </h:form>
    </sy:boxPage>
</f:view>
