<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:sv="http://shale.apache.org/validator"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk">
	<sy:boxPage
		title="#{MensajesComponentes_eco['detallePorcentajePrefCompraUbicBB.titulo']}">

		<!-- data table -->
		<sy:dataTable listBean="#{detallePorcentajePrefCompUbicBB}"
			exportExcel="false" resources="#{ClavesInducidas_eco}"
			tableId="detallePorcentajePrefCompUbicTable">
			<sy:tableColumn attribute="idServicio" />
			<sy:tableColumn attribute="cargo" />
			<sy:tableColumn attribute="impuesto" />
			<sy:tableColumn attribute="porcentaje" />
		</sy:dataTable>
		<!-- fin data table -->

	</sy:boxPage>
</f:view>
