<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour"
	xmlns:v="http://www.synapsis-it.com/jsf/validator"
	xmlns:sv="http://shale.apache.org/validator">
	
	<sy:boxPage
		title="#{MensajesComponentes_eco['reporteFacturacionBB.titulo']}"
		useCaseMainPage="true">
		<sy:validationSummary />
		<h:form onsubmit="return validateForm(this);"
			id="reporteFacturacionForm">

			<!-- save state para combos -->
			<t:saveState value="#{reporteFacturacionBB.comboLineaNegocios}" />
			<t:saveState value="#{reporteFacturacionBB.comboSocioNegocios}" />
			<t:saveState value="#{reporteFacturacionBB.comboProducto}" />
			<t:saveState value="#{reporteFacturacionBB.comboPlan}" />

			<!-- filtros -->
			<sy:filters actionBean="#{reporteFacturacionBB}"
				action="search">

				<h:outputLabel
					value="#{MensajesComponentes_eco['reporteFacturacionBB.fecha.desde']}" />
				<sy:calendar id="fechaDesde"
					selectedDate="#{reporteFacturacionBB.fechaUltFac}">
					<sv:commonsValidator type="required"
						arg="#{MensajesComponentes_eco['reporteFacturacionBB.fecha.desde']}"
						server="true" client="true" />
					<sv:commonsValidator type="equalMinimalDateComparator"
						arg="#{MensajesComponentes_eco['reporteFacturacionBB.fecha.desde']}"
						server="false" client="true" min="fechaHasta">
					</sv:commonsValidator>
				</sy:calendar>

				<h:outputLabel
					value="#{MensajesComponentes_eco['reporteFacturacionBB.fecha.hasta']}" />
				<sy:calendar id="fechaHasta"
					selectedDate="#{reporteFacturacionBB.fechaUltFacHasta}">
					<sv:commonsValidator type="required"
						arg="#{MensajesComponentes_eco['reporteFacturacionBB.fecha.hasta']}"
						server="true" client="true" />
				</sy:calendar>

				<h:outputLabel
					value="#{MensajesComponentes_eco['reporteFacturacionBB.sucursal']}"
					styleClass="label" />
				<h:inputText maxlength="4"
					value="#{reporteFacturacionBB.sucursalRf}"
					styleClass="edit">
					<sv:commonsValidator type="integer"
						arg="#{MensajesComponentes_eco['reporteFacturacionBB.sucursal']}"
						server="true" client="true" />
				</h:inputText>
				<h:outputLabel
					value="#{MensajesComponentes_eco['reporteFacturacionBB.zona']}"
					styleClass="label" />
				<h:inputText maxlength="1"
					value="#{reporteFacturacionBB.zonaRf}"
					styleClass="edit">
					<sv:commonsValidator type="integer"
						arg="#{MensajesComponentes_eco['reporteFacturacionBB.zona']}"
						server="true" client="true" />
				</h:inputText>
				<h:outputLabel
					value="#{MensajesComponentes_eco['reporteFacturacionBB.ciclo']}"
					styleClass="label" />
				<h:inputText maxlength="2"
					value="#{reporteFacturacionBB.cicloRf}"
					styleClass="edit">
					<sv:commonsValidator type="integer"
						arg="#{MensajesComponentes_eco['reporteFacturacionBB.ciclo']}"
						server="true" client="true" />
				</h:inputText>
				<h:outputLabel
					value="#{MensajesComponentes_eco['reporteFacturacionBB.grupo']}"
					styleClass="label" />
				<h:inputText maxlength="3"
					value="#{reporteFacturacionBB.grupoRf}"
					styleClass="edit">
					<sv:commonsValidator type="integer"
						arg="#{MensajesComponentes_eco['reporteFacturacionBB.grupo']}"
						server="true" client="true" />
				</h:inputText>
				<h:outputLabel
					value="#{MensajesComponentes_eco['reporteFacturacionBB.linea.negocio']}"
					styleClass="label" />
				<h:selectOneMenu
					value="#{reporteFacturacionBB.codLinNeg}"
					styleClass="edit">
					<f:converter converterId="javax.faces.Long" />
					<f:selectItems value="#{reporteFacturacionBB.comboLineaNegocios}" />
				</h:selectOneMenu>

				<h:outputLabel
					value="#{MensajesComponentes_eco['reporteFacturacionBB.socio.negocio']}"
					styleClass="label" />
				<h:selectOneMenu
					value="#{reporteFacturacionBB.codSocioNeg}"
					styleClass="edit">
					<f:converter converterId="javax.faces.Long" />
					<f:selectItems value="#{reporteFacturacionBB.comboSocioNegocios}" />
				</h:selectOneMenu>

				<h:outputLabel
					value="#{MensajesComponentes_eco['reporteFacturacionBB.producto']}"
					styleClass="label" />
				<h:selectOneMenu
					value="#{reporteFacturacionBB.codProducto}"
					styleClass="edit">
					<f:converter converterId="javax.faces.Long" />
					<f:selectItems value="#{reporteFacturacionBB.comboProducto}" />
				</h:selectOneMenu>
				<h:outputLabel
					value="#{MensajesComponentes_eco['reporteFacturacionBB.plan']}"
					styleClass="label" />
				<h:selectOneMenu label="boton.buscar"
					value="#{reporteFacturacionBB.codPlanNeg}"
					styleClass="edit">
					<f:converter converterId="javax.faces.Long" />
					<f:selectItems value="#{reporteFacturacionBB.comboPlan}" />
				</h:selectOneMenu>
			</sy:filters>
			<!-- fin filtros -->

			<!-- service  de busqueda-->
			<s:service id="reporteFacturacionService"
				manager="#{serviceManager}" name="reporteFacturacionService"
				fire="false" method="findByCriteria"
				binding="#{reporteFacturacionBB.finderService}" rows="20">
				<f:param name="fechaUltFac"
					value="#{reporteFacturacionBB.fechaUltFac}" />
				<f:param name="fechaUltFac2"
					value="#{reporteFacturacionBB.fechaUltFacHastaFormatted}" />
				<f:param name="codLinNeg"
					value="#{reporteFacturacionBB.codLinNeg}" />
				<f:param name="codSocioNeg"
					value="#{reporteFacturacionBB.codSocioNeg}" />
				<f:param name="codProducto"
					value="#{reporteFacturacionBB.codProducto}" />
				<f:param name="codPlanNeg"
					value="#{reporteFacturacionBB.codPlanNeg}" />
				<f:param name="sucursalRf"
					value="#{reporteFacturacionBB.sucursalRf}" />
				<f:param name="zonaRf"
					value="#{reporteFacturacionBB.zonaRf}" />
				<f:param name="cicloRf"
					value="#{reporteFacturacionBB.cicloRf}" />
				<f:param name="grupoRf"
					value="#{reporteFacturacionBB.grupoRf}" />
			</s:service>
				
			<!-- data table -->
			<s:dataTable id="reporteFacturacionTable" source="reporteFacturacionService"
				binding="#{reporteFacturacionBB.tableResults}" var="rowVar" rows="20"
				exportExcel="true">
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteFacturacionImpl.linNeg']}</f:facet>
					<h:outputText value="#{rowVar.linNeg}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteFacturacionImpl.socioNeg']}</f:facet>
					<h:outputText value="#{rowVar.socioNeg}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteFacturacionImpl.producto']}</f:facet>
					<h:outputText value="#{rowVar.producto}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteFacturacionImpl.planNeg']}</f:facet>
					<h:outputText value="#{rowVar.planNeg}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteFacturacionImpl.numCta']}</f:facet>
					<h:outputText value="#{rowVar.numCta}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteFacturacionImpl.numServicio']}</f:facet>
					<h:outputText value="#{rowVar.numServicio}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteFacturacionImpl.numIdentificador']}</f:facet>
					<h:outputText value="#{rowVar.numIdentificador}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteFacturacionImpl.tipoDocTit']}</f:facet>
					<h:outputText value="#{rowVar.tipoDocTit}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteFacturacionImpl.numDocTit']}</f:facet>
					<h:outputText value="#{rowVar.numDocTit}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteFacturacionImpl.fechaCargue']}</f:facet>
					<h:outputText value="#{rowVar.fechaCargue}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteFacturacionImpl.fechaUltFac']}</f:facet>
					<h:outputText value="#{rowVar.fechaUltFac}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteFacturacionImpl.numUltimaFac']}</f:facet>
					<h:outputText value="#{rowVar.numUltimaFac}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteFacturacionImpl.valFacEnc']}</f:facet>
					<h:outputText value="#{rowVar.valFacEnc}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteFacturacionImpl.valFacIntMora']}</f:facet>
					<h:outputText value="#{rowVar.valFacIntMora}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteFacturacionImpl.valFacImpEnc']}</f:facet>
					<h:outputText value="#{rowVar.valFacImpEnc}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteFacturacionImpl.valTotFacEnc']}</f:facet>
					<h:outputText value="#{rowVar.valTotFacEnc}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteFacturacionImpl.valTotFacIntMora']}</f:facet>
					<h:outputText value="#{rowVar.valTotFacIntMora}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteFacturacionImpl.valTotFacImpEnc']}</f:facet>
					<h:outputText value="#{rowVar.valTotFacImpEnc}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteFacturacionImpl.numTotCuotasEnc']}</f:facet>
					<h:outputText value="#{rowVar.numTotCuotasEnc}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteFacturacionImpl.numUltCuotaFac']}</f:facet>
					<h:outputText value="#{rowVar.numUltCuotaFac}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteFacturacionImpl.valCuotaEnc']}</f:facet>
					<h:outputText value="#{rowVar.valCuotaEnc}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteFacturacionImpl.fecPriVto']}</f:facet>
					<h:outputText value="#{rowVar.fecPriVto}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteFacturacionImpl.fecSdoVto']}</f:facet>
					<h:outputText value="#{rowVar.fecSdoVto}" />
				</h:column>
			</s:dataTable>
			<!-- fin data table -->

			<sy:validatorScript functionName="validateForm" />
		</h:form>
	</sy:boxPage>
</f:view>
