<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:sv="http://shale.apache.org/validator"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk">
	<sy:boxPage
		title="#{MensajesComponentes_eco['reportePrefCompraUbicBB.titulo']}" useCaseMainPage="true">
		<sy:validationSummary />
		<h:form onsubmit="return validateForm(this);"
			id="reportePrefCompraUbicForm">

			<!-- save state para combos -->
			<t:saveState value="#{reportePrefCompraUbicBB.comboLineaNegocios}" />
			<t:saveState value="#{reportePrefCompraUbicBB.comboSocioNegocios}" />
			<t:saveState value="#{reportePrefCompraUbicBB.comboProducto}" />
			<t:saveState value="#{reportePrefCompraUbicBB.comboPlan}" />
			<t:saveState value="#{reportePrefCompraUbicBB.comboEstadoEncargos}" />

			<!-- filtros -->
			<sy:filters actionBean="#{reportePrefCompraUbicBB}"
				action="reportePrefCompraUbicQueryFilter">

				<h:outputLabel
					value="#{MensajesComponentes_eco['reportePrefCompraUbicBB.fecha.desde']}" />
				<sy:calendar id="fechaDesde"
					selectedDate="#{reportePrefCompraUbicQueryFilter1.attributeValue}">
					<sv:commonsValidator type="required"
						arg="#{MensajesComponentes_eco['reportePrefCompraUbicBB.fecha.desde']}"
						server="true" client="true" />
					<sv:commonsValidator type="dateCompare"
						arg="#{MensajesComponentes_eco['reportePrefCompraUbicBB.fecha.desde']}"
						server="false" client="true" min="fechaHasta">
					</sv:commonsValidator>
				</sy:calendar>

				<h:outputLabel
					value="#{MensajesComponentes_eco['reportePrefCompraUbicBB.fecha.hasta']}" />
				<sy:calendar id="fechaHasta"
					selectedDate="#{reportePrefCompraUbicQueryFilter1.maxValue}">
					<sv:commonsValidator type="required"
						arg="#{MensajesComponentes_eco['reportePrefCompraUbicBB.fecha.hasta']}"
						server="true" client="true" />
				</sy:calendar>

				<h:outputLabel
					value="#{MensajesComponentes_eco['reportePrefCompraUbicBB.estado.encargos']}"
					styleClass="label" />
				<h:selectOneMenu
					value="#{reportePrefCompraUbicQueryFilter2.attributeValue}"
					styleClass="edit">
					<f:selectItems
						value="#{reportePrefCompraUbicBB.comboEstadoEncargos}" />
				</h:selectOneMenu>

				<h:outputLabel
					value="#{MensajesComponentes_eco['reportePrefCompraUbicBB.linea.negocio']}"
					styleClass="label" />
				<h:selectOneMenu
					value="#{reportePrefCompraUbicQueryFilter3.attributeValue}"
					styleClass="edit">
					<f:converter converterId="javax.faces.Long" />
					<f:selectItems
						value="#{reportePrefCompraUbicBB.comboLineaNegocios}" />
				</h:selectOneMenu>

				<h:outputLabel
					value="#{MensajesComponentes_eco['reportePrefCompraUbicBB.socio.negocio']}"
					styleClass="label" />
				<h:selectOneMenu
					value="#{reportePrefCompraUbicQueryFilter4.attributeValue}"
					styleClass="edit">
					<f:converter converterId="javax.faces.Long" />
					<f:selectItems
						value="#{reportePrefCompraUbicBB.comboSocioNegocios}" />
				</h:selectOneMenu>

				<h:outputLabel
					value="#{MensajesComponentes_eco['reportePrefCompraUbicBB.producto']}"
					styleClass="label" />
				<h:selectOneMenu
					value="#{reportePrefCompraUbicQueryFilter5.attributeValue}"
					styleClass="edit">
					<f:converter converterId="javax.faces.Long" />
					<f:selectItems value="#{reportePrefCompraUbicBB.comboProducto}" />
				</h:selectOneMenu>

				<h:outputLabel
					value="#{MensajesComponentes_eco['reportePrefCompraUbicBB.plan']}"
					styleClass="label" />
				<h:selectOneMenu
					value="#{reportePrefCompraUbicQueryFilter6.attributeValue}"
					styleClass="edit">
					<f:converter converterId="javax.faces.Long" />
					<f:selectItems value="#{reportePrefCompraUbicBB.comboPlan}" />
				</h:selectOneMenu>

				<h:outputLabel
					value="#{MensajesComponentes_eco['reportePrefCompraUbicBB.sucursal']}"
					styleClass="label" />
				<h:inputText maxlength="4"
					value="#{reportePrefCompraUbicQueryFilter7.attributeValue}"
					styleClass="edit">
					<sv:commonsValidator type="integer"
						arg="#{MensajesComponentes_eco['reportePrefCompraUbicBB.sucursal']}"
						server="true" client="true" />
				</h:inputText>

				<h:outputLabel
					value="#{MensajesComponentes_eco['reportePrefCompraUbicBB.zona']}"
					styleClass="label" />
				<h:inputText maxlength="1"
					value="#{reportePrefCompraUbicQueryFilter8.attributeValue}"
					styleClass="edit">
					<sv:commonsValidator type="integer"
						arg="#{MensajesComponentes_eco['reportePrefCompraUbicBB.zona']}"
						server="true" client="true" />
				</h:inputText>

				<h:outputLabel
					value="#{MensajesComponentes_eco['reportePrefCompraUbicBB.ciclo']}"
					styleClass="label" />
				<h:inputText maxlength="2"
					value="#{reportePrefCompraUbicQueryFilter9.attributeValue}"
					styleClass="edit">
					<sv:commonsValidator type="integer"
						arg="#{MensajesComponentes_eco['reportePrefCompraUbicBB.ciclo']}"
						server="true" client="true" />
				</h:inputText>

				<h:outputLabel label="boton.buscar"
					value="#{MensajesComponentes_eco['reportePrefCompraUbicBB.grupo']}"
					styleClass="label" />
				<h:inputText maxlength="3"
					value="#{reportePrefCompraUbicQueryFilter10.attributeValue}"
					styleClass="edit">
					<sv:commonsValidator type="integer"
						arg="#{MensajesComponentes_eco['reportePrefCompraUbicBB.grupo']}"
						server="true" client="true" />
				</h:inputText>
			</sy:filters>
			<!-- fin filtros -->

			<!-- data table -->
			<c:dataTable id="reportePrefCompraUbicTable"
				value="#{reportePrefCompraUbicBB.listResults}" var="rowVar" rows="20"
		        exportExcel="true">
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReportePrefCompraUbicImpl.linNeg']}</f:facet>
					<h:outputText value="#{rowVar.linNeg}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReportePrefCompraUbicImpl.socioNeg']}</f:facet>
					<h:outputText value="#{rowVar.socioNeg}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReportePrefCompraUbicImpl.producto']}</f:facet>
					<h:outputText value="#{rowVar.producto}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReportePrefCompraUbicImpl.planNeg']}</f:facet>
					<h:outputText value="#{rowVar.planNeg}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReportePrefCompraUbicImpl.numCta']}</f:facet>
					<h:outputText value="#{rowVar.numCta}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReportePrefCompraUbicImpl.numServicio']}</f:facet>
					<h:outputText value="#{rowVar.numServicio}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReportePrefCompraUbicImpl.numIdentificador']}</f:facet>
					<h:outputText value="#{rowVar.numIdentificador}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReportePrefCompraUbicImpl.tipoDocTit']}</f:facet>
					<h:outputText value="#{rowVar.tipoDocTit}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReportePrefCompraUbicImpl.numDocTit']}</f:facet>
					<h:outputText value="#{rowVar.numDocTit}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReportePrefCompraUbicImpl.fechaCargue']}</f:facet>
					<h:outputText value="#{rowVar.fechaCargue}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReportePrefCompraUbicImpl.numCuotasEnc']}</f:facet>
					<h:outputText value="#{rowVar.numCuotasEnc}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReportePrefCompraUbicImpl.valCuotaEnc']}</f:facet>
					<h:outputText value="#{rowVar.valCuotaEnc}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReportePrefCompraUbicImpl.valTotalEnc']}</f:facet>
					<h:outputText value="#{rowVar.valTotalEnc}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReportePrefCompraUbicImpl.numCuotasFacNoRec']}</f:facet>
					<h:outputText value="#{rowVar.numCuotasFacNoRec}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReportePrefCompraUbicImpl.fecUltFac']}</f:facet>
					<h:outputText value="#{rowVar.fecUltFac}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReportePrefCompraUbicImpl.estadoEnc']}</f:facet>
					<h:outputText value="#{rowVar.estadoEnc}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReportePrefCompraUbicImpl.estratoSe']}</f:facet>
					<h:outputText value="#{rowVar.estratoSe}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReportePrefCompraUbicImpl.sucursalRf']}</f:facet>
					<h:outputText value="#{rowVar.sucursalRf}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReportePrefCompraUbicImpl.zonaRf']}</f:facet>
					<h:outputText value="#{rowVar.zonaRf}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReportePrefCompraUbicImpl.cicloRf']}</f:facet>
					<h:outputText value="#{rowVar.cicloRf}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReportePrefCompraUbicImpl.grupoRf']}</f:facet>
					<h:outputText value="#{rowVar.grupoRf}" />
				</h:column>

				<sy:tableColumnLinkPopup
					header="#{MensajesComponentes_eco['reportePrefCompraUbicBB.detalleHeader']}"
					label="#{MensajesComponentes_eco['reportePrefCompraUbicBB.detalle']}"
					actionBean="#{sellosMedidorBB}" action="buscarAction"
					outcome="detalle">
					<f:setPropertyActionListener
						target="#{detallePorcentajePrefCompUbicQueryFilter.attributeValue}"
						value="#{rowVar.numServicio}" />
				</sy:tableColumnLinkPopup>
			</c:dataTable>
			<!-- fin data table -->

			<sy:validatorScript functionName="validateForm" />
		</h:form>
	</sy:boxPage>
</f:view>
