<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour"
	xmlns:v="http://www.synapsis-it.com/jsf/validator"
	xmlns:sv="http://shale.apache.org/validator">

	<sy:boxPage
		title="#{MensajesComponentes_eco['reporteRecaudoBB.titulo']}"
		useCaseMainPage="true">
		<sy:validationSummary />
		<h:form onsubmit="return validateForm(this);" id="reporteRecaudoForm">

			<!-- save state para combos -->
			<t:saveState value="#{reporteRecaudoBB.comboLineaNegocios}" />
			<t:saveState value="#{reporteRecaudoBB.comboSocioNegocios}" />
			<t:saveState value="#{reporteRecaudoBB.comboProducto}" />
			<t:saveState value="#{reporteRecaudoBB.comboPlan}" />
			<t:saveState value="#{reporteRecaudoBB.comboTipoDocumento}" />

			<!-- filtros -->
			<sy:filters actionBean="#{reporteRecaudoBB}" action="search">

				<h:outputLabel
					value="#{MensajesComponentes_eco['reporteRecaudoBB.fecha.desde']}" />
				<sy:calendar id="fechaDesde" selectedDate="#{reporteRecaudoBB.fechaRealPago}">
					<sv:commonsValidator type="required"
						arg="#{MensajesComponentes_eco['reporteRecaudoBB.fecha.desde']}"
						server="true" client="true" />
					<sv:commonsValidator type="equalMinimalDateComparator"
						arg="#{MensajesComponentes_eco['reporteRecaudoBB.fecha.desde']}"
						server="false" client="true" min="fechaHasta">
					</sv:commonsValidator>
				</sy:calendar>

				<h:outputLabel
					value="#{MensajesComponentes_eco['reporteRecaudoBB.fecha.hasta']}" />
				<sy:calendar id="fechaHasta" selectedDate="#{reporteRecaudoBB.fechaRealPagoHasta}">
					<sv:commonsValidator type="required"
						arg="#{MensajesComponentes_eco['reporteRecaudoBB.fecha.hasta']}"
						server="true" client="true" />
				</sy:calendar>

				<h:outputLabel
					value="#{MensajesComponentes_eco['reporteRecaudoBB.linea.negocio']}"
					styleClass="label" />
				<h:selectOneMenu value="#{reporteRecaudoBB.codLinNeg}" styleClass="edit">
					<f:converter converterId="javax.faces.Long" />
					<f:selectItems value="#{reporteRecaudoBB.comboLineaNegocios}" />
				</h:selectOneMenu>

				<h:outputLabel
					value="#{MensajesComponentes_eco['reporteRecaudoBB.socio.negocio']}"
					styleClass="label" />
				<h:selectOneMenu value="#{reporteRecaudoBB.codSocioNeg}" styleClass="edit">
					<f:converter converterId="javax.faces.Long" />
					<f:selectItems value="#{reporteRecaudoBB.comboSocioNegocios}" />
				</h:selectOneMenu>

				<h:outputLabel
					value="#{MensajesComponentes_eco['reporteRecaudoBB.producto']}"
					styleClass="label" />
				<h:selectOneMenu value="#{reporteRecaudoBB.codProducto}" styleClass="edit">
					<f:converter converterId="javax.faces.Long" />
					<f:selectItems value="#{reporteRecaudoBB.comboProducto}" />
				</h:selectOneMenu>

				<h:outputLabel
					value="#{MensajesComponentes_eco['reporteRecaudoBB.plan']}"
					styleClass="label" />
				<h:selectOneMenu value="#{reporteRecaudoBB.codPlanNeg}" styleClass="edit">
					<f:converter converterId="javax.faces.Long" />
					<f:selectItems value="#{reporteRecaudoBB.comboPlan}" />
				</h:selectOneMenu>

				<h:outputLabel
					value="#{MensajesComponentes_eco['reporteRecaudoBB.nro.identificador']}"
					styleClass="label" />
				<h:inputText value="#{reporteRecaudoBB.numIdentificador}" styleClass="edit">
					<f:converter converterId="javax.faces.Long" />
					<sv:commonsValidator type="integer"
						arg="#{MensajesComponentes_eco['reporteRecaudoBB.nro.identificador']}"
						server="true" client="true" />
				</h:inputText>

				<h:outputLabel label="boton.buscar"
					value="#{MensajesComponentes_eco['reporteRecaudoBB.tipo.nro.documento']}"
					styleClass="label" />
				<sy:panelGrid oneColumn="false">
					<h:selectOneMenu value="#{reporteRecaudoBB.tipoDocTit}" styleClass="edit">
						<f:selectItems value="#{reporteRecaudoBB.comboTipoDocumento}" />
					</h:selectOneMenu>
					<h:inputText value="#{reporteRecaudoBB.numDocTit}" styleClass="edit">
					</h:inputText>
				</sy:panelGrid>
			</sy:filters>
			<!-- fin filtros -->

			<!-- service  de busqueda-->
			<s:service id="reporteRecaudoService" manager="#{serviceManager}"
				name="reporteRecaudoECOService" fire="false" method="findByCriteria"
				binding="#{reporteRecaudoBB.finderService}" rows="20">
				<f:param name="fechaRealPago" value="#{reporteRecaudoBB.fechaRealPago}" />
				<f:param name="fechaRealPago2" value="#{reporteRecaudoBB.fechaRealFormateada}" />
				<f:param name="codLinNeg" value="#{reporteRecaudoBB.codLinNeg}" />
				<f:param name="codSocioNeg" value="#{reporteRecaudoBB.codSocioNeg}" />
				<f:param name="codProducto" value="#{reporteRecaudoBB.codProducto}" />
				<f:param name="codPlanNeg" value="#{reporteRecaudoBB.codPlanNeg}" />
				<f:param name="numIdentificador" value="#{reporteRecaudoBB.numIdentificador}" />
				<f:param name="tipoDocTit" value="#{reporteRecaudoBB.tipoDocTit}" />
				<f:param name="numDocTit" value="#{reporteRecaudoBB.numDocTit}" />
			</s:service>

			<!-- data table -->
			<s:dataTable id="reporteRecaudoServiceTable"
				source="reporteRecaudoService" var="rowVar" rows="20"
				binding="#{reporteRecaudoBB.tableResults}" exportExcel="true">
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteRecaudoImpl.linNeg']}</f:facet>
					<h:outputText value="#{rowVar.linNeg}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteRecaudoImpl.socioNeg']}</f:facet>
					<h:outputText value="#{rowVar.socioNeg}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteRecaudoImpl.producto']}</f:facet>
					<h:outputText value="#{rowVar.producto}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteRecaudoImpl.planNeg']}</f:facet>
					<h:outputText value="#{rowVar.planNeg}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteRecaudoImpl.numCta']}</f:facet>
					<h:outputText value="#{rowVar.numCta}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteRecaudoImpl.numServicio']}</f:facet>
					<h:outputText value="#{rowVar.numServicio}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteRecaudoImpl.numIdentificador']}</f:facet>
					<h:outputText value="#{rowVar.numIdentificador}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteRecaudoImpl.tipoDocTit']}</f:facet>
					<h:outputText value="#{rowVar.tipoDocTit}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteRecaudoImpl.numDocTit']}</f:facet>
					<h:outputText value="#{rowVar.numDocTit}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteRecaudoImpl.numFactura']}</f:facet>
					<h:outputText value="#{rowVar.numFactura}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteRecaudoImpl.fechaRealPago']}</f:facet>
					<h:outputText value="#{rowVar.fechaRealPago}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteRecaudoImpl.fechaProceso']}</f:facet>
					<h:outputText value="#{rowVar.fechaProceso}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteRecaudoImpl.numCuotasEncCob']}</f:facet>
					<h:outputText value="#{rowVar.numCuotasEncCob}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteRecaudoImpl.cantCuotasRec']}</f:facet>
					<h:outputText value="#{rowVar.cantCuotasRec}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteRecaudoImpl.valCuotaEncCob']}</f:facet>
					<h:outputText value="#{rowVar.valCuotaEncCob}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteRecaudoImpl.valTotRecCuotas']}</f:facet>
					<h:outputText value="#{rowVar.valTotRecCuotas}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteRecaudoImpl.valRecIntMoraEncCob']}</f:facet>
					<h:outputText value="#{rowVar.valRecIntMoraEncCob}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteRecaudoImpl.valImpRecEncCob']}</f:facet>
					<h:outputText value="#{rowVar.valImpRecEncCob}" />
				</h:column>
			</s:dataTable>
			<!-- fin data table -->

			<sy:validatorScript functionName="validateForm" />
		</h:form>
	</sy:boxPage>
</f:view>
