<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour"
	xmlns:v="http://www.synapsis-it.com/jsf/validator"
	xmlns:sv="http://shale.apache.org/validator">
	<sy:boxPage
		title="#{MensajesComponentes_eco['reporteTrasladosBB.titulo']}"
		useCaseMainPage="true">
		<sy:validationSummary />
		
		<h:form onsubmit="return validateForm(this);"
			id="reporteTrasladosForm">

			<!-- save state para combos -->
			<t:saveState value="#{reporteTrasladosBB.comboLineaNegocios}" />
			<t:saveState value="#{reporteTrasladosBB.comboSocioNegocios}" />
			<t:saveState value="#{reporteTrasladosBB.comboProducto}" />
			<t:saveState value="#{reporteTrasladosBB.comboPlan}" />

			<!-- filtros -->
			<sy:filters actionBean="#{reporteTrasladosBB}" action="search">
				<h:outputLabel
					value="#{MensajesComponentes_eco['reporteTrasladosBB.fecha.desde']}" />
				<sy:calendar id="fechaDesde"
					selectedDate="#{reporteTrasladosBB.fechaDesde}">
					<sv:commonsValidator type="required"
						arg="#{MensajesComponentes_eco['reporteTrasladosBB.fecha.desde']}"
						server="true" client="true" />
					<sv:commonsValidator type="equalMinimalDateComparator"
						arg="#{MensajesComponentes_eco['reporteTrasladosBB.fecha.desde']}"
						server="false" client="true" min="fechaHasta">
					</sv:commonsValidator>
				</sy:calendar>

				<h:outputLabel
					value="#{MensajesComponentes_eco['reporteTrasladosBB.fecha.hasta']}" />
				<sy:calendar id="fechaHasta"
					selectedDate="#{reporteTrasladosBB.fechaHasta}">
					<sv:commonsValidator type="required"
						arg="#{MensajesComponentes_eco['reporteTrasladosBB.fecha.hasta']}"
						server="true" client="true" />
				</sy:calendar>

				<h:outputLabel
					value="#{MensajesComponentes_eco['reporteTrasladosBB.linea.negocio']}"
					styleClass="label" />
				<h:selectOneMenu value="#{reporteTrasladosBB.lineaNegocio}" styleClass="edit">
					<f:converter converterId="javax.faces.Long" />
					<f:selectItems value="#{reporteTrasladosBB.comboLineaNegocios}" />
				</h:selectOneMenu>

				<h:outputLabel
					value="#{MensajesComponentes_eco['reporteTrasladosBB.socio.negocio']}"
					styleClass="label" />
				<h:selectOneMenu value="#{reporteTrasladosBB.socioNegocio}" styleClass="edit">
					<f:converter converterId="javax.faces.Long" />
					<f:selectItems value="#{reporteTrasladosBB.comboSocioNegocios}" />
				</h:selectOneMenu>

				<h:outputLabel
					value="#{MensajesComponentes_eco['reporteTrasladosBB.producto']}"
					styleClass="label" />
				<h:selectOneMenu value="#{reporteTrasladosBB.tipoProducto}" styleClass="edit">
					<f:converter converterId="javax.faces.Long" />
					<f:selectItems value="#{reporteTrasladosBB.comboProducto}" />
				</h:selectOneMenu>

				<h:outputLabel label="boton.buscar"
					value="#{MensajesComponentes_eco['reporteTrasladosBB.plan']}"
					styleClass="label" />
				<h:selectOneMenu value="#{reporteTrasladosBB.plan}" styleClass="edit">
					<f:converter converterId="javax.faces.Long" />
					<f:selectItems value="#{reporteTrasladosBB.comboPlan}" />
				</h:selectOneMenu>

			</sy:filters>
			<!-- fin filtros -->

			<!-- service  de busqueda-->
			<s:service id="reporteTrasladosService" manager="#{serviceManager}"
				name="reporteTrasladosService" fire="false" method="findByCriteria"
				binding="#{reporteTrasladosBB.finderService}" rows="20">
				<f:param name="fechaTraslado" value="#{reporteTrasladosBB.fechaDesde}" />
				<f:param name="fechaTrasladoHasta" value="#{reporteTrasladosBB.fechaHastaFormatted}" />
				<f:param name="codLinNeg" value="#{reporteTrasladosBB.lineaNegocio}" />
				<f:param name="codSocioNeg" value="#{reporteTrasladosBB.socioNegocio}" />
				<f:param name="codProducto" value="#{reporteTrasladosBB.tipoProducto}" />
				<f:param name="codPlanNeg" value="#{reporteTrasladosBB.plan}" />
			</s:service>


			<!-- data table -->
			<s:dataTable source="reporteTrasladosService" var="rowVar" rows="20"
				binding="#{reporteTrasladosBB.tableResults}" exportExcel="true">
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteTrasladosImpl.linNeg']}</f:facet>
					<h:outputText value="#{rowVar.linNeg}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteTrasladosImpl.socioNeg']}</f:facet>
					<h:outputText value="#{rowVar.socioNeg}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteTrasladosImpl.producto']}</f:facet>
					<h:outputText value="#{rowVar.producto}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteTrasladosImpl.planNeg']}</f:facet>
					<h:outputText value="#{rowVar.planNeg}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteTrasladosImpl.fechaTraslado']}</f:facet>
					<h:outputText value="#{rowVar.fechaTraslado}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteTrasladosImpl.numCtaAnt']}</f:facet>
					<h:outputText value="#{rowVar.numCtaAnt}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteTrasladosImpl.numCtaNueva']}</f:facet>
					<h:outputText value="#{rowVar.numCtaNueva}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteTrasladosImpl.valCuotaEncCob']}</f:facet>
					<h:outputText value="#{rowVar.valCuotaEncCob}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteTrasladosImpl.numCuotasFact']}</f:facet>
					<h:outputText value="#{rowVar.numCuotasFact}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteTrasladosImpl.numCuotasPendFact']}</f:facet>
					<h:outputText value="#{rowVar.numCuotasPendFact}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteTrasladosImpl.numCuotasRec']}</f:facet>
					<h:outputText value="#{rowVar.numCuotasRec}" />
				</h:column>
			</s:dataTable>
			<!-- fin data table -->

			<sy:validatorScript functionName="validateForm" />
		</h:form>
	</sy:boxPage>
</f:view>
