<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour"
	xmlns:v="http://www.synapsis-it.com/jsf/validator"
	xmlns:sv="http://shale.apache.org/validator">
	<sy:boxPage
		title="#{MensajesComponentes_eco['reporteCarteraMorososBB.titulo']}" useCaseMainPage="true">
		<sy:validationSummary />
		
		<h:form onsubmit="return validateForm(this);"
			id="reporteCarteraMorososForm">

			<!-- save state para combos -->
			<t:saveState value="#{reporteCarteraMorososBB.comboLineaNegocios}" />
			<t:saveState value="#{reporteCarteraMorososBB.comboSocioNegocios}" />
			<t:saveState value="#{reporteCarteraMorososBB.comboProducto}" />
			<t:saveState value="#{reporteCarteraMorososBB.comboPlan}" />

			<!-- filtros -->
			<sy:filters actionBean="#{reporteCarteraMorososBB}"
				action="search">

				<h:outputLabel
					value="#{MensajesComponentes_eco['reporteCarteraMorososBB.fecha.desde']}" />
				<sy:calendar id="fechaDesde"
					selectedDate="#{reporteCarteraMorososBB.fechaCargue}">
					<sv:commonsValidator type="required"
						arg="#{MensajesComponentes_eco['reporteCarteraMorososBB.fecha.desde']}"
						server="true" client="true" />
					<sv:commonsValidator type="equalMinimalDateComparator"
						arg="#{MensajesComponentes_eco['reporteCarteraMorososBB.fecha.desde']}"
						server="false" client="true" min="fechaHasta">
					</sv:commonsValidator>
				</sy:calendar>

				<h:outputLabel
					value="#{MensajesComponentes_eco['reporteCarteraMorososBB.fecha.hasta']}" />
				<sy:calendar id="fechaHasta"
					selectedDate="#{reporteCarteraMorososBB.fechaCargueHasta}">
					<sv:commonsValidator type="required"
						arg="#{MensajesComponentes_eco['reporteCarteraMorososBB.fecha.hasta']}"
						server="true" client="true" />
				</sy:calendar>

				<h:outputLabel
					value="#{MensajesComponentes_eco['reporteCarteraMorososBB.linea.negocio']}"
					styleClass="label" />
				<h:selectOneMenu
					value="#{reporteCarteraMorososBB.codLinNeg}"
					styleClass="edit">
					<f:converter converterId="javax.faces.Long" />
					<f:selectItems
						value="#{reporteCarteraMorososBB.comboLineaNegocios}" />
				</h:selectOneMenu>

				<h:outputLabel
					value="#{MensajesComponentes_eco['reporteCarteraMorososBB.socio.negocio']}"
					styleClass="label" />
				<h:selectOneMenu
					value="#{reporteCarteraMorososBB.codSocioNeg}"
					styleClass="edit">
					<f:converter converterId="javax.faces.Long" />
					<f:selectItems
						value="#{reporteCarteraMorososBB.comboSocioNegocios}" />
				</h:selectOneMenu>

				<h:outputLabel
					value="#{MensajesComponentes_eco['reporteCarteraMorososBB.producto']}"
					styleClass="label" />
				<h:selectOneMenu
					value="#{reporteCarteraMorososBB.codProducto}"
					styleClass="edit">
					<f:converter converterId="javax.faces.Long" />
					<f:selectItems value="#{reporteCarteraMorososBB.comboProducto}" />
				</h:selectOneMenu>

				<h:outputLabel
					value="#{MensajesComponentes_eco['reporteCarteraMorososBB.plan']}"
					styleClass="label" />
				<h:selectOneMenu
					value="#{reporteCarteraMorososBB.codPlanNeg}"
					styleClass="edit">
					<f:converter converterId="javax.faces.Long" />
					<f:selectItems value="#{reporteCarteraMorososBB.comboPlan}" />
				</h:selectOneMenu>

				<h:outputLabel
					value="#{MensajesComponentes_eco['reporteCarteraMorososBB.nro.cuotas.mora']}"
					styleClass="label" label="boton.buscar" />
				<h:inputText
					value="#{reporteCarteraMorososBB.numCuotasFactNpMora}"
					styleClass="edit">
					<f:converter converterId="javax.faces.Long" />
					<sv:commonsValidator type="integer"
						arg="#{MensajesComponentes_eco['reporteCarteraMorososBB.nro.cuotas.mora']}"
						server="true" client="true" />
				</h:inputText>
			</sy:filters>
			<!-- fin filtros -->

			<!-- service  de busqueda-->
			<s:service id="reporteCarteraMorososService" manager="#{serviceManager}"
				name="reporteCarteraMorososService" fire="false" method="findByCriteria"
				binding="#{reporteCarteraMorososBB.finderService}" rows="20">
				<f:param name="fechaCargue" value="#{reporteCarteraMorososBB.fechaCargue}" />
				<f:param name="fechaCargue2" value="#{reporteCarteraMorososBB.fechaCargueHastaFormatted}" />
				<f:param name="codLinNeg" value="#{reporteCarteraMorososBB.codLinNeg}" />
				<f:param name="codSocioNeg" value="#{reporteCarteraMorososBB.codSocioNeg}" />
				<f:param name="codProducto" value="#{reporteCarteraMorososBB.codProducto}" />
				<f:param name="codPlanNeg" value="#{reporteCarteraMorososBB.codPlanNeg}" />
				<f:param name="numCuotasFactNpMora" value="#{reporteCarteraMorososBB.numCuotasFactNpMora}" />
			</s:service>
			
			<!-- data table -->
			<s:dataTable id="reporteCarteraMorososTable" source="reporteCarteraMorososService"
				var="rowVar" rows="20" binding="#{reporteCarteraMorososBB.tableResults}"
				exportExcel="true">
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCarteraMorososImpl.linNeg']}</f:facet>
					<h:outputText value="#{rowVar.linNeg}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCarteraMorososImpl.linNeg']}</f:facet>
					<h:outputText value="#{rowVar.linNeg}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCarteraMorososImpl.socioNeg']}</f:facet>
					<h:outputText value="#{rowVar.socioNeg}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCarteraMorososImpl.producto']}</f:facet>
					<h:outputText value="#{rowVar.producto}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCarteraMorososImpl.planNeg']}</f:facet>
					<h:outputText value="#{rowVar.planNeg}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCarteraMorososImpl.numCta']}</f:facet>
					<h:outputText value="#{rowVar.numCta}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCarteraMorososImpl.numServicio']}</f:facet>
					<h:outputText value="#{rowVar.numServicio}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCarteraMorososImpl.numIdentificador']}</f:facet>
					<h:outputText value="#{rowVar.numIdentificador}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCarteraMorososImpl.tipoDocTit']}</f:facet>
					<h:outputText value="#{rowVar.tipoDocTit}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCarteraMorososImpl.numDocTit']}</f:facet>
					<h:outputText value="#{rowVar.numDocTit}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCarteraMorososImpl.fechaCargue']}</f:facet>
					<h:outputText value="#{rowVar.fechaCargue}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCarteraMorososImpl.valEncCob']}</f:facet>
					<h:outputText value="#{rowVar.valEncCob}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCarteraMorososImpl.numCuotasEncCob']}</f:facet>
					<h:outputText value="#{rowVar.numCuotasEncCob}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCarteraMorososImpl.numCuotasFact']}</f:facet>
					<h:outputText value="#{rowVar.numCuotasFact}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCarteraMorososImpl.numCuotasFactNpPlazo']}</f:facet>
					<h:outputText value="#{rowVar.numCuotasFactNpPlazo}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCarteraMorososImpl.numCuotasFactNpMora']}</f:facet>
					<h:outputText value="#{rowVar.numCuotasFactNpMora}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCarteraMorososImpl.numCuotasPg']}</f:facet>
					<h:outputText value="#{rowVar.numCuotasPg}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCarteraMorososImpl.valCuotaEncCob']}</f:facet>
					<h:outputText value="#{rowVar.valCuotaEncCob}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCarteraMorososImpl.valCuotaFact']}</f:facet>
					<h:outputText value="#{rowVar.valCuotaFact}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCarteraMorososImpl.valCuotaFactNpPlazo']}</f:facet>
					<h:outputText value="#{rowVar.valCuotaFactNpPlazo}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCarteraMorososImpl.valCuotaFactNpMora']}</f:facet>
					<h:outputText value="#{rowVar.valCuotaFactNpMora}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCarteraMorososImpl.valIntMoraFact']}</f:facet>
					<h:outputText value="#{rowVar.valIntMoraFact}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCarteraMorososImpl.valIntMoraFactNpPlazo']}</f:facet>
					<h:outputText value="#{rowVar.valIntMoraFactNpPlazo}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCarteraMorososImpl.valIntMoraFactNpMora']}</f:facet>
					<h:outputText value="#{rowVar.valIntMoraFactNpMora}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCarteraMorososImpl.valIntMoraPg']}</f:facet>
					<h:outputText value="#{rowVar.valIntMoraPg}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCarteraMorososImpl.valImpFact']}</f:facet>
					<h:outputText value="#{rowVar.valImpFact}" />
				</h:column>				
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCarteraMorososImpl.valImpFactNpPlazo']}</f:facet>
					<h:outputText value="#{rowVar.valImpFactNpPlazo}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCarteraMorososImpl.valImpFactNpMora']}</f:facet>
					<h:outputText value="#{rowVar.valImpFactNpMora}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCarteraMorososImpl.valImpPg']}</f:facet>
					<h:outputText value="#{rowVar.valImpPg}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCarteraMorososImpl.diasAtraso']}</f:facet>
					<h:outputText value="#{rowVar.diasAtraso}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCarteraMorososImpl.estratoSe']}</f:facet>
					<h:outputText value="#{rowVar.estratoSe}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCarteraMorososImpl.claseSe']}</f:facet>
					<h:outputText value="#{rowVar.claseSe}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCarteraMorososImpl.subclaseSe']}</f:facet>
					<h:outputText value="#{rowVar.subclaseSe}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCarteraMorososImpl.sucursalRf']}</f:facet>
					<h:outputText value="#{rowVar.sucursalRf}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCarteraMorososImpl.zonaRf']}</f:facet>
					<h:outputText value="#{rowVar.zonaRf}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCarteraMorososImpl.cicloRf']}</f:facet>
					<h:outputText value="#{rowVar.cicloRf}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCarteraMorososImpl.grupoRf']}</f:facet>
					<h:outputText value="#{rowVar.grupoRf}" />
				</h:column>
			</s:dataTable>
			<!-- fin data table -->

			<sy:validatorScript functionName="validateForm" />
		</h:form>
	</sy:boxPage>
</f:view>
