<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour"
	xmlns:v="http://www.synapsis-it.com/jsf/validator"
	xmlns:sv="http://shale.apache.org/validator">
	
	<sy:boxPage
		title="#{MensajesComponentes_eco['reporteCargaVentasBB.titulo']}" useCaseMainPage="true">
		<sy:validationSummary />
		<h:form onsubmit="return validateForm(this);"
			id="reporteCargaVentasForm">

			<!-- save state para combos -->
			<t:saveState value="#{reporteCargaVentasBB.comboLineaNegocios}" />
			<t:saveState value="#{reporteCargaVentasBB.comboSocioNegocios}" />
			<t:saveState value="#{reporteCargaVentasBB.comboProducto}" />
			<t:saveState value="#{reporteCargaVentasBB.comboPlan}" />
			<t:saveState value="#{reporteCargaVentasBB.comboTipoDocumento}" />

			<!-- filtros -->
			<sy:filters actionBean="#{reporteCargaVentasBB}"
				action="search">

				<h:outputLabel
					value="#{MensajesComponentes_eco['reporteCargaVentasBB.fecha.desde']}" />
				<sy:calendar id="fechaDesde"
					selectedDate="#{reporteCargaVentasBB.fechaInicio}">
					<sv:commonsValidator type="required"
						arg="#{MensajesComponentes_eco['reporteCargaVentasBB.fecha.desde']}"
						server="true" client="true" />
					<sv:commonsValidator type="equalMinimalDateComparator"
						arg="#{MensajesComponentes_eco['reporteCargaVentasBB.fecha.desde']}"
						server="false" client="true" min="fechaHasta">
					</sv:commonsValidator>
				</sy:calendar>

				<h:outputLabel
					value="#{MensajesComponentes_eco['reporteCargaVentasBB.fecha.hasta']}" />
				<sy:calendar id="fechaHasta"
					selectedDate="#{reporteCargaVentasBB.fechaInicio2}">
					<sv:commonsValidator type="required"
						arg="#{MensajesComponentes_eco['reporteCargaVentasBB.fecha.hasta']}"
						server="true" client="true" />
				</sy:calendar>

				<h:outputLabel
					value="#{MensajesComponentes_eco['reporteCargaVentasBB.linea.negocio']}"
					styleClass="label" />
				<h:selectOneMenu
					value="#{reporteCargaVentasBB.codLinNeg}"
					styleClass="edit">
					<f:converter converterId="javax.faces.Long" />
					<f:selectItems value="#{reporteCargaVentasBB.comboLineaNegocios}" />
				</h:selectOneMenu>

				<h:outputLabel
					value="#{MensajesComponentes_eco['reporteCargaVentasBB.socio.negocio']}"
					styleClass="label" />
				<h:selectOneMenu
					value="#{reporteCargaVentasBB.codSocio}"
					styleClass="edit">
					<f:converter converterId="javax.faces.Long" />
					<f:selectItems value="#{reporteCargaVentasBB.comboSocioNegocios}" />
				</h:selectOneMenu>

				<h:outputLabel
					value="#{MensajesComponentes_eco['reporteCargaVentasBB.producto']}"
					styleClass="label" />
				<h:selectOneMenu
					value="#{reporteCargaVentasBB.codClase}"
					styleClass="edit">
					<f:converter converterId="javax.faces.Long" />
					<f:selectItems value="#{reporteCargaVentasBB.comboProducto}" />
				</h:selectOneMenu>

				<h:outputLabel
					value="#{MensajesComponentes_eco['reporteCargaVentasBB.plan']}"
					styleClass="label" />
				<h:selectOneMenu
					value="#{reporteCargaVentasBB.codPlan}"
					styleClass="edit">
					<f:converter converterId="javax.faces.Long" />
					<f:selectItems value="#{reporteCargaVentasBB.comboPlan}" />
				</h:selectOneMenu>

				<h:outputLabel
					value="#{MensajesComponentes_eco['reporteCargaVentasBB.nro.cuenta']}"
					styleClass="label" />
				<h:inputText
					value="#{reporteCargaVentasBB.numCuenta}"
					styleClass="edit">
					<f:converter converterId="javax.faces.Long" />
					<sv:commonsValidator type="integer"
						arg="#{MensajesComponentes_eco['reporteCargaVentasBB.nro.cuenta']}"
						server="true" client="true" />
				</h:inputText>

				<h:outputLabel label="boton.buscar"
					value="#{MensajesComponentes_eco['reporteCargaVentasBB.tipo.nro.documento']}"
					styleClass="label" />
				<sy:panelGrid oneColumn="false">
					<h:selectOneMenu
						value="#{reporteCargaVentasBB.codTipoDocTit}"
						styleClass="edit">
						<f:selectItems value="#{reporteCargaVentasBB.comboTipoDocumento}" />
					</h:selectOneMenu>
					<h:inputText
						value="#{reporteCargaVentasBB.numDocTit}"
						styleClass="edit">
					</h:inputText>
				</sy:panelGrid>
			</sy:filters>
			<!-- fin filtros -->
			
			<!-- service  de busqueda-->
			<s:service id="reporteCargaVentasService" manager="#{serviceManager}"
				name="reporteCargaVentasService" fire="false" method="findByCriteria"
				binding="#{reporteCargaVentasBB.finderService}" rows="20">
				<f:param name="fechaInicio" value="#{reporteCargaVentasBB.fechaInicio}" />
				<f:param name="fechaInicio2" value="#{reporteCargaVentasBB.fechaInicioFormattedHasta}" />
				<f:param name="codLinNeg" value="#{reporteCargaVentasBB.codLinNeg}" />
				<f:param name="codSocio" value="#{reporteCargaVentasBB.codSocio}" />
				<f:param name="codPlan" value="#{reporteCargaVentasBB.codPlan}" />
				<f:param name="codClase" value="#{reporteCargaVentasBB.codClase}" />
				<f:param name="numCuenta" value="#{reporteCargaVentasBB.numCuenta}" />
				<f:param name="numDocTit" value="#{reporteCargaVentasBB.numDocTit}" />
				<f:param name="tipoDocTit" value="#{reporteCargaVentasBB.codTipoDocTit}" />
			</s:service>

			<!-- data table -->
			<s:dataTable id="reporteCargaVentasTable" binding="#{reporteCargaVentasBB.tableResults}" 
				source="reporteCargaVentasService" var="rowVar" rows="20"
				exportExcel="true">
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCargaVentasImpl.fechaInicio']}</f:facet>
					<h:outputText value="#{rowVar.fechaInicio}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCargaVentasImpl.numEco']}</f:facet>
					<h:outputText value="#{rowVar.numEco}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCargaVentasImpl.linNeg']}</f:facet>
					<h:outputText value="#{rowVar.linNeg}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCargaVentasImpl.clase']}</f:facet>
					<h:outputText value="#{rowVar.clase}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCargaVentasImpl.plan']}</f:facet>
					<h:outputText value="#{rowVar.plan}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCargaVentasImpl.socio']}</f:facet>
					<h:outputText value="#{rowVar.socio}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCargaVentasImpl.numCuenta']}</f:facet>
					<h:outputText value="#{rowVar.numCuenta}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCargaVentasImpl.numIdTit']}</f:facet>
					<h:outputText value="#{rowVar.numIdTit}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCargaVentasImpl.nombreTit']}</f:facet>
					<h:outputText value="#{rowVar.nombreTit}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCargaVentasImpl.tipoDocTit']}</f:facet>
					<h:outputText value="#{rowVar.tipoDocTit}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCargaVentasImpl.numDocTit']}</f:facet>
					<h:outputText value="#{rowVar.numDocTit}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCargaVentasImpl.cargoCap']}</f:facet>
					<h:outputText value="#{rowVar.cargoCap}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCargaVentasImpl.numCuotas']}</f:facet>
					<h:outputText value="#{rowVar.numCuotas}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCargaVentasImpl.estado']}</f:facet>
					<h:outputText value="#{rowVar.estado}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCargaVentasImpl.fecUltCambEst']}</f:facet>
					<h:outputText value="#{rowVar.fecUltCambEst}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCargaVentasImpl.motivoFin']}</f:facet>
					<h:outputText value="#{rowVar.motivoFin}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCargaVentasImpl.valCuotaEnc']}</f:facet>
					<h:outputText value="#{rowVar.valCuotaEnc}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCargaVentasImpl.valTotalEncCob']}</f:facet>
					<h:outputText value="#{rowVar.valTotalEncCob}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCargaVentasImpl.estratoSe']}</f:facet>
					<h:outputText value="#{rowVar.estratoSe}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCargaVentasImpl.claseSe']}</f:facet>
					<h:outputText value="#{rowVar.claseSe}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCargaVentasImpl.subClaseSe']}</f:facet>
					<h:outputText value="#{rowVar.subClaseSe}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCargaVentasImpl.sucursalRf']}</f:facet>
					<h:outputText value="#{rowVar.sucursalRf}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCargaVentasImpl.zonaRf']}</f:facet>
					<h:outputText value="#{rowVar.zonaRf}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCargaVentasImpl.cicloRf']}</f:facet>
					<h:outputText value="#{rowVar.cicloRf}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{ClavesInducidas_eco['com.synapsis.eco.codensa.model.impl.ReporteCargaVentasImpl.grupoRf']}</f:facet>
					<h:outputText value="#{rowVar.grupoRf}" />
				</h:column>
			</s:dataTable>
			<!-- fin data table -->

			<sy:validatorScript functionName="validateForm" />
		</h:form>
	</sy:boxPage>
</f:view>
