<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<head>
<title>Modulo ECO</title>
<script type="text/javascript">
            <!--            
        		/**
        		 * displayWindow.
        		 * 
        		 * @deprecated will be replaced by kendari menu.
        		 */
        		displayWindow = function(url, name)
        		{
        			features="width=950,height=600,status=no,resizable=yes,toolbar=no,menubar=no,location=no,scrollbars=yes";
        			window.open(url, name, features); // open an empty window
        		}            
            //-->
</script>
</head>
<body>
<f:view>
	<h:form id="fake">
		<h:commandButton value="Carga de Ventas"
			immediate="true"
			onmousedown="displayWindow('reporteCargaVentas.jsf', 'reporteCargaVentas')"
			onclick="return false" />
		<h:commandButton value="Cartera Morosos"
			immediate="true"
			onmousedown="displayWindow('reporteCarteraMorosos.jsf', 'reporteCarteraMorosos')"
			onclick="return false" />
		<h:commandButton value="Recaudo"
			immediate="true"
			onmousedown="displayWindow('reporteRecaudo.jsf', 'reporteRecaudo')"
			onclick="return false" />
		<h:commandButton value="Traslados"
			immediate="true"
			onmousedown="displayWindow('reporteTraslados.jsf', 'reporteTraslados')"
			onclick="return false" />
		<h:commandButton value="Pref. de Comp. Ubic."
			immediate="true"
			onmousedown="displayWindow('reportePrefCompraUbic.jsf', 'reportePrefCompraUbic')"
			onclick="return false" />
		<h:commandButton value="Facturacion"
			immediate="true"
			onmousedown="displayWindow('reporteFacturacion.jsf', 'reporteFacturacion')"
			onclick="return false" />			
	</h:form>
</f:view>
</body>
</html>