<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:v="http://www.synapsis-it.com/jsf/validator"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour"
	xmlns:ex="http://www.synapsis-it.com/jsf/core/ext"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax">


    <sy:boxPage title="#{MensajesComponentes_cns['consultaHistVincRedBB.titulo']}">
	<h:form>

        <s:service id="consultaIndividualClienteRedListServiceFinder" manager="#{serviceManager}"
				name="consultaIndividualClienteRedListService" method="findByCriteria"
				binding="#{consultaHistVincRedBB.consultaService}" fire="false">
				<f:param name="nroSrvElectrico"
					value="#{consultaHistVincRedBB.nroSrvElectrico}" />
				<f:param name="nroTransformador"
					value="#{consultaHistVincRedBB.nroTransformador}" />
				
		</s:service>
		
		<s:dataTable source="consultaIndividualClienteRedListServiceFinder" var="individual" binding="#{consultaHistVincRedBB.dataTable}" >
			<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaHistVincRedBB.individual.accion']}"> 
			<h:outputText value="#{individual.accion}" />	
			</sy:tableColumnCustom>
			<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaHistVincRedBB.individual.tipoModificacion']}"> 
			<h:outputText value="#{individual.tipoModificacion}" />	
			</sy:tableColumnCustom>
			<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaHistVincRedBB.individual.rolRealizoModificacion']}"> 
			<h:outputText value="#{individual.rolRealizoModificacion}" />	
			</sy:tableColumnCustom>
			<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaHistVincRedBB.individual.fechaModificacion']}"> 
			<h:outputText value="#{individual.fechaModificacion}" />	
			</sy:tableColumnCustom>			
			<sy:tableColumnLinkPopup
			header="#{MensajesComponentes_cns['consultaHistVincRedBB.individual.transDistribucion']}"
			label="#{rowVar.distTransformador}" outcome="dispatchToInfTransformador">
			<f:setPropertyActionListener
				target="#{consultaHistVincRedBB.businessObject1}"
				value="#{rowVar}" />
			</sy:tableColumnLinkPopup>			
		</s:dataTable>

	</h:form>
	</sy:boxPage>
</f:view>		