<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:e="http://www.synapsis-it.com/jsf/core"
	xmlns:sv="http://shale.apache.org/validator"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour">
    
    <sy:boxPage title="#{MensajesComponentes_cns['buscaCuentaBB.titulo']}" nroCuentaHeader="disable">
    
        <h:form onsubmit="return validateForm(this);">

			<script language="javascript"> 
			<!--															
				function validateOnChange(f) { 
					var form = document.forms[0];					
					var sTipoServicios = document.getElementById(form.name + ":sTipoServicios");
					var divInfra = document.getElementById(form.name + ":infraPanel");
					
					if (sTipoServicios.value == "Infraestructura")
						divInfra.style.display = 'block';
					else
						divInfra.style.display = 'none';								
				}
			//-->
			</script>        	
        	
	       	<t:saveState value="#{buscaCuentaBB.sucursales}" />
	       	<t:saveState value="#{buscaCuentaBB.ordenes}" />
	       	<t:saveState value="#{buscaCuentaBB.departamentos}" />
	       	<t:saveState value="#{buscaCuentaBB.manzanas}" />
	       	<t:saveState value="#{buscaCuentaBB.zonas}" />
	       	<t:saveState value="#{buscaCuentaBB.ciclos}" />
	       	<t:saveState value="#{buscaCuentaBB.grupos}" />
	       	<t:saveState value="#{buscaCuentaBB.municipios}" />
	       	<t:saveState value="#{buscaCuentaBB.zonasMunicipios}" />
	       	<t:saveState value="#{buscaCuentaBB.ciclosMunicipios}" />
	       	<t:saveState value="#{buscaCuentaBB.gruposMunicipios}" />
        	
        	<e:errorHandler />
			<e:exception />	        	
        	<sy:validationSummary/>
        	
        	<s:service manager="#{serviceManager}" name="tiposDocumentoPersonaService" method="findByCriteria" id="tiposDocumentoPersonaService" rows="100" />
			<!-- unmarshall service para la lista recuperada por el service de tipos documento -->
			<s:unmarshall source="tiposDocumentoPersonaService" var="tipoDocumentoList" />
        	        	        	
        	<b:selectGroup binding="#{buscaCuentaBB.group}">
        		
        		<b:group labelTitle="Servicio" columns="1" id="busquedaCuentaPrimerGrupoQueryFilter">
        			<h:panelGrid columns="6">
	        			<h:outputLabel
							value="#{MensajesComponentes_cns['buscaCuentaBB.servicio.tipoServicio']}&#160;&#160;"/>
																		
						<h:selectOneMenu  id="sTipoServicios" value="#{tipoServicioQueryFilter.attributeValue}" onchange="validateOnChange(this);">
	                        <f:selectItems value="#{buscaCuentaBB.itemsTipoServicio}" />
	                        <sv:commonsValidator type="requiredIfSelected" 
								arg="#{MensajesComponentes_cns['buscaCuentaBB.servicio.tipoServicio']}" 
								server="false" client="true" fieldRequired="busquedaCuentaPrimerGrupoQueryFilter"/>
	                    </h:selectOneMenu>
						<h:outputLabel
							value="&#160;&#160;#{MensajesComponentes_cns['buscaCuentaBB.servicio.nroServicio']}&#160;&#160;"/>
						<h:inputText value="#{nroServicioServicioQueryFilter.attributeValue}">
							<f:converter converterId="javax.faces.Long" />					
							<sv:commonsValidator type="requiredIfSelected" 
								arg="#{MensajesComponentes_cns['buscaCuentaBB.servicio.nroServicio']}" 
								server="false" client="true" fieldRequired="busquedaCuentaPrimerGrupoQueryFilter"/>
	                    </h:inputText>	                    
	                
	                    <h:panelGroup id="infraPanel" style="display: none;">
	                    	<h:outputLabel value="&#160;&#160;#{MensajesComponentes_cns['buscaCuentaBB.servicio.idClienteTelem']}&#160;&#160;"/>
							<h:inputText value="#{idClienteTelemQueryFilter.attributeValue}">
								<f:converter converterId="javax.faces.Long" />
								<b:behaviour>
									<b:rule name="inputMask">
										<f:param name="mask" value="^[0-9]*$" />
									</b:rule>
								</b:behaviour>					
		                    </h:inputText>	                    	                    	
	                    </h:panelGroup>	                    
                    
                    </h:panelGrid>
        		</b:group>
        		
        		<b:group labelTitle="Titular de Cuenta" columns="1" id="busquedaCuentaSegundoGrupoQueryFilter">
        			<h:panelGrid columns="3">
	        			<h:outputLabel
							value="#{MensajesComponentes_cns['buscaCuentaBB.titular.nombreApellido']}&#160;&#160;"/>
						<h:inputText value="#{nombreQueryFilter.attributeValue}" >
							<sv:commonsValidator type="requiredIfSelected" 
							arg="#{MensajesComponentes_cns['buscaCuentaBB.titular.nombre']}" 
							server="false" client="true" fieldRequired="busquedaCuentaSegundoGrupoQueryFilter"/>
						</h:inputText>
	                    <h:inputText value="#{apellidoQueryFilter.orValue}"  >
	                    	<sv:commonsValidator type="requiredIfSelected" 
							arg="#{MensajesComponentes_cns['buscaCuentaBB.titular.apellido']}" 
							server="false" client="true" fieldRequired="busquedaCuentaSegundoGrupoQueryFilter"/>
						</h:inputText>
					</h:panelGrid>
        		</b:group>
        		
        		<b:group labelTitle="Beneficiario del Servicio Electrico"  columns="1" id="busquedaCuentaTercerGrupoQueryFilter">
        			<h:panelGrid columns="4">
	        			<h:outputLabel
							value="#{MensajesComponentes_cns['buscaCuentaBB.titular.nombreApellido']}&#160;&#160;"/>
						<h:inputText value="#{nombreBeneficiarioQueryFilter.attributeValue}"  >
							<sv:commonsValidator type="requiredIfSelected" 
							arg="#{MensajesComponentes_cns['buscaCuentaBB.titular.nombre']}" 
							server="false" client="true" fieldRequired="busquedaCuentaTercerGrupoQueryFilter"/>
						</h:inputText>
	                    <h:inputText value="#{apellidoBeneficiarioQueryFilter.attributeValue}"  >
	                    	<sv:commonsValidator type="requiredIfSelected" 
							arg="#{MensajesComponentes_cns['buscaCuentaBB.titular.apellido']}" 
							server="false" client="true" fieldRequired="busquedaCuentaTercerGrupoQueryFilter"/>
						</h:inputText>
					</h:panelGrid>
        		</b:group>
        		
        		<b:group labelTitle="Titular de Cuenta"  columns="1" id="busquedaCuentaCuartoGrupoQueryFilter">
        			<h:panelGrid columns="4">
	        			<h:outputLabel
							value="#{MensajesComponentes_cns['buscaCuentaBB.nroIdentificacion']}&#160;&#160;"/>
						<h:inputText value="#{nroIdentificacionTitularQueryFilter.attributeValue}"  />
						<h:outputLabel
							value="&#160;&#160;#{MensajesComponentes_cns['buscaCuentaBB.tipoIdentificacion']}&#160;&#160;"/>
						<h:selectOneMenu
				                    value="#{tipoIdentificacionTitularQueryFilter.attributeValue}"
				                    styleClass="edit" >
				                    <f:converter converterId="javax.faces.Long" />
				                    <t:selectItems value="#{tipoDocumentoList}" var="tipoDocumento"
				                    	itemLabel="#{tipoDocumento.descripcion}" itemValue="#{tipoDocumento.id}"/>
				        </h:selectOneMenu>
			        </h:panelGrid>
        		</b:group>
        		
        		<b:group labelTitle="Beneficiario del Servicio Electrico"  columns="1" id="busquedaCuentaQuintoGrupoQueryFilter">
        			<h:panelGrid columns="4">
	        			<h:outputLabel
							value="#{MensajesComponentes_cns['buscaCuentaBB.nroIdentificacion']}&#160;&#160;"/>
	   					<h:inputText value="#{nroIdentificacionBeneficiarioQueryFilter.attributeValue}" >
	                    </h:inputText>
						<h:outputLabel
							value="&#160;&#160;#{MensajesComponentes_cns['buscaCuentaBB.tipoIdentificacion']}&#160;&#160;"/>
						<h:selectOneMenu
				                    value="#{tipoIdentificacionBeneficiarioQueryFilter.attributeValue}"
				                    styleClass="edit" >
				                    <f:converter converterId="javax.faces.Long" />
				                    <t:selectItems value="#{tipoDocumentoList}" var="tipoDocumento"
				                    	itemLabel="#{tipoDocumento.descripcion}" itemValue="#{tipoDocumento.id}"/>
				        </h:selectOneMenu> 
			        </h:panelGrid>
        		</b:group>
        		<b:group labelTitle="Documento Comercial" columns="1" id="busquedaCuentaSextoGrupoQueryFilter">
        			<h:panelGrid columns="4">
	        			<h:outputLabel
							value="#{MensajesComponentes_cns['buscaCuentaBB.documento.tipoDocumento']}&#160;&#160;"/>
						<h:selectOneMenu value="#{tipoDocumentoQueryFilter.attributeValue}">
	                        <f:selectItems value="#{buscaCuentaBB.itemsTipoDocumento}" />
	                        <sv:commonsValidator type="requiredIfSelected" 
								arg="#{MensajesComponentes_cns['buscaCuentaBB.documento.tipoDocumento']}" 
								server="false" client="true" fieldRequired="busquedaCuentaSextoGrupoQueryFilter"/>
	                    </h:selectOneMenu>
						<h:outputLabel
							value="&#160;&#160;#{MensajesComponentes_cns['buscaCuentaBB.documento.nroDocumento']}&#160;&#160;"/>
						<h:inputText value="#{nroDocumentoQueryFilter.attributeValue}">
							<f:converter converterId="javax.faces.Long" />					
							<sv:commonsValidator type="requiredIfSelected" 
								arg="#{MensajesComponentes_cns['buscaCuentaBB.documento.nroDocumento']}" 
								server="false" client="true" fieldRequired="busquedaCuentaSextoGrupoQueryFilter"/>
	                    </h:inputText>
                    </h:panelGrid>
        		</b:group>
        		
        	</b:selectGroup>
        	
    		<f:verbatim><br /><br /></f:verbatim>
            
            <sy:validatorScript functionName="validateForm" />
            
            <h:panelGroup columns="2">
            	<h:commandButton value="#{MensajesComponentes_cns['buscaCuenta.boton.buscar']}" action="#{buscaCuentaBB.buscarCuentaAction}" />
				<h:commandButton value="#{MensajesComponentes_cns['buscaCuenta.boton.busquedaAvanzada']}" action="#{buscaCuentaBB.irBusquedaAvanzadaAction}" immediate="true" />            
				
				<f:verbatim><br /><br /></f:verbatim>
				
				<h:commandButton value="#{MensajesComponentes_cns['buscaCuenta.boton.direccionUrbana']}" action="#{buscaCuentaBB.irABusquedaUrbanaAction}" immediate="true"/>
				<h:commandButton value="#{MensajesComponentes_cns['buscaCuenta.boton.direccionRural']}" action="#{buscaCuentaBB.irABusquedaRuralAction}" immediate="true"/> 	
            </h:panelGroup>
        </h:form>
        
   </sy:boxPage>

</f:view>