<f:view xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:t="http://myfaces.apache.org/tomahawk"
    xmlns:c="http://www.synapsis-it.com/jsf/core"
    xmlns:sy="http://www.synapsis.com/jsf/core">

    <sy:boxPage title="#{MensajesComponentes_cns['buscaCuenta.direccionRural.titulo']}" nroCuentaHeader="disable">
        <h:form id="search">
        <c:errorHandler />
			<f:verbatim><br /></f:verbatim>
         	<h:panelGrid columns="2">
	   				<h:outputLabel for="direccionRural"
						value="*#{MensajesComponentes_cns['buscaCuenta.direccionRural.direccion']}&#160;&#160;" />																																		 	
					<h:inputText value="#{busquedaCuentaDireccionRuralQueryFilter.attributeValue}" styleClass="edit" id="direccionRural" required="true"/>	                   
       		</h:panelGrid> 

       		<f:verbatim><br /></f:verbatim>

       		<h:panelGrid columns="2">
				<h:commandButton value="#{MensajesComponentes_cns['buscaCuenta.boton.buscar']}" action="#{buscaCuentaBB.buscarCuentaDireccionRural}" />
				<h:commandButton value="#{MensajesComponentes_cns['buscaCuenta.boton.volver']}" action="#{buscaCuentaBB.irABusquedaBasicaAction}" immediate="true"/>
			</h:panelGrid>
			
        </h:form>
    </sy:boxPage>
</f:view>