<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:core="http://java.sun.com/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:v="http://www.synapsis-it.com/jsf/validator"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour"
	xmlns:e="http://www.synapsis-it.com/jsf/core/ext"
	xmlns:sv="http://shale.apache.org/validator">
	
	
    
	
	<sy:boxPage title="">
        <!-- TODO: [afalduto] this code will be removed -->
        <link href="#{facesContext.externalContext.requestContextPath}/styles/themes/default.css" rel="stylesheet" type="text/css"/>
        <link href="#{facesContext.externalContext.requestContextPath}/styles/themes/spread.css" rel="stylesheet" type="text/css"/>
        <link href="#{facesContext.externalContext.requestContextPath}/styles/themes/alert.css" rel="stylesheet" type="text/css"/>
        <link href="#{facesContext.externalContext.requestContextPath}/styles/themes/alert_lite.css" rel="stylesheet" type="text/css"/>
        <link href="#{facesContext.externalContext.requestContextPath}/styles/themes/alphacube.css" rel="stylesheet" type="text/css"/>
        <link href="#{facesContext.externalContext.requestContextPath}/styles/themes/debug.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/scripts/effects.js" />
        <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/scripts/window.js" />
        <script type="text/javascript">
            <!--
                 // override jQuery namespace ...
                function makeCallBack() {
                    WindowUtilities._hideSelect();
                    WindowUtilities.disableScreen("alphacube", 'overlay_modal');
                };
            //-->
        </script>    
        <h:form id="busqueda">
			<c:errorHandler />
            <!-- Este output text se esta utilizando para parametrizar los campos del formulario
            que se estan validando a la hora de determinar si el usuario ingreso algun campo
            de busqueda -->
			<h:outputText name="component" binding="#{busqRapBB.component}">
					<f:param name="id1" value="nombreTitular" />
					<f:param name="id2" value="direccionTitular" />
					<f:param name="id3" value="sector" />
					<f:param name="id4" value="zona" />
					<f:param name="id5" value="correlativo" />
					<f:param name="id6" value="sucursal" />
					<f:param name="id7" value="nroServicio" />
					<f:param name="id8" value="nroMedidor" />																														
					<f:param name="id9" value="municipio" />
					<f:param name="id10" value="urbanizacion" />
					<f:param name="id11" value="calle" />
					<f:param name="id12" value="numero" />	
					<f:param name="id13" value="apellidoPaterno" />	
					<f:param name="id14" value="apellidoMaterno" />											
	    	</h:outputText>
            
            
			
			<!-- Service para realizar la busqueda -->
			<s:service id="busqRapMedidorService" manager="#{serviceManager}"
				name="busqRapidaMedidorService" method="findByCriteria" fire="false"
				binding="#{busqRapBB.svcBusquedaMedidorService}">
				<f:param name="nombreTitular"
					value="#{busqRapBB.nombreTitular}" />
				<f:param name="rutaLectura" value="#{busqRapBB.rutaLectura}" />
				<f:param name="municipio" value="#{busqRapBB.municipio}" />
				<f:param name="direccionTitular"
					value="#{busqRapBB.direccionTitular}" />
				<f:param name="nroServicio" value="#{busqRapBB.nroServicio}" />

				<f:param name="sector" value="#{busqRapBB.sector}" />
				<f:param name="zona" value="#{busqRapBB.zona}" />
				<f:param name="correlativo" value="#{busqRapBB.correlativo}" />
				<f:param name="sucursal" value="#{busqRapBB.sucursal}" />
				<f:param name="nroMedidor" value="#{busqRapBB.nroMedidor}" />

				<f:param name="urbanizacion" value="#{busqRapBB.urbanizacion}" />
				<f:param name="calle" value="#{busqRapBB.calle}" />
				<f:param name="numero" value="#{busqRapBB.numero}" />
				<f:param name="apellidoPaterno" value="#{busqRapBB.apellidoPaterno}" />
				<f:param name="apellidoMaterno" value="#{busqRapBB.apellidoMaterno}" />
				
			</s:service>
			
			
			<s:service manager="#{serviceManager}" name="sucursalesService"
				method="findByCriteria" id="sucursalesService" rows="50">
			</s:service>
			<s:unmarshall source="sucursalesService" var="sucur" />

			<fieldset id="synapsis-group">
			<table border="0" cellpadding="0" cellspacing="0">
				<tbody>
					<tr class="gridRow">
						<td>
						<table border="0" cellpadding="0" cellspacing="0"
							class="synapsis-input-grid">
							<tbody>
								<tr>
									<td><h:outputText
										value="#{MensajesComponentes_cns['consulta.busqueda.rapida.nombreTitular']}" />
									</td>
									<td colspan="1"><h:inputText
										value="#{busqRapBB.nombreTitular}" size="50" id="nombreTitular">
										<b:behaviour>
											<b:rule name="minLen">
											<f:param name="min" value="4" />
											</b:rule>
										</b:behaviour>
										</h:inputText>
										</td>
									<td><h:outputText
										value="#{MensajesComponentes_cns['consulta.busqueda.rapida.direccionTitular']}" />
									</td>
									<td colspan="1"><h:inputText
										value="#{busqRapBB.direccionTitular}" size="50" id="direccionTitular">
										<b:behaviour>
											<b:rule name="minLen">
											<f:param name="min" value="4" />
											</b:rule>
										</b:behaviour>
										</h:inputText>
										</td>
								</tr>

								<tr>
									<td><h:outputText
										value="#{MensajesComponentes_cns['consulta.busqueda.rapida.rutaLectura']}" />
									</td>
									<td colspan="1"><h:inputText id="sector" value="#{busqRapBB.sector}"
										size="2" maxlength="2">
										<b:behaviour>
											<b:rule name="inputMask">
												<f:param name="mask" value="^[0-9]*$" />
											</b:rule>
										</b:behaviour>
																				
									</h:inputText> <h:inputText id = "zona" value="#{busqRapBB.zona}" size="3" maxlength="3">
										<b:behaviour>
										<b:rule name="otherRequiredIf">
											<f:param name="required" value="sector" />
										</b:rule>

											<b:rule name="inputMask">
												<f:param name="mask" value="^[0-9]*$" />
											</b:rule>
										</b:behaviour>										
									</h:inputText> <h:inputText id = "correlativo" value="#{busqRapBB.correlativo}" size="4" maxlength="4">
										<b:behaviour>
											<b:rule name="otherRequiredIf">
												<f:param name="required1" value="zona" />
												<f:param name="required2" value="sector" />
											</b:rule>										
											<b:rule name="inputMask">
												<f:param name="mask" value="^[0-9]*$" />
											</b:rule>
										</b:behaviour>										
									</h:inputText>
									</td>
									<td><h:outputText
										value="#{MensajesComponentes_cns['consulta.busqueda.rapida.sucursal']}" />
									</td>
									<td><h:selectOneMenu value="#{busqRapBB.sucursal}" id="sucursal"
										styleClass="edit">
										<f:selectItem itemLabel="Seleccionar ..." itemValue="" />
										<t:selectItems value="#{sucur}" var="suc"
											itemLabel="#{suc.descripcion}" itemValue="#{suc.descripcion}" />
									</h:selectOneMenu></td>

								</tr>

								<tr>
									<td><h:outputText
										value="#{MensajesComponentes_cns['consulta.busqueda.rapida.nroServicio']}" />
									</td>
									<td><h:inputText value="#{busqRapBB.nroServicio}" id="nroServicio">
									</h:inputText></td>

 								<td><h:outputText
										value="#{MensajesComponentes_cns['consulta.busqueda.rapida.nroMedidor']}" />
									</td>
									<td><h:inputText value="#{busqRapBB.nroMedidor}" id="nroMedidor" /></td>
								</tr>
								<!-- direccion estruc -->
								<tr>
									<table border="0" cellpadding="0" cellspacing="0"
										class="synapsis-input-grid">
										<tbody>
											<tr class="gridRow">
												<td><h:outputText
													value="#{MensajesComponentes_cns['consulta.busqueda.rapida.municipio']}" />
												</td>
												<td colspan="1"><h:inputText
													value="#{busqRapBB.municipio}" id="municipio" /></td>
												<td><h:outputText
													value="#{MensajesComponentes_cns['consulta.busqueda.rapida.urbanizacion']}" />
												</td>
												<td><h:inputText value="#{busqRapBB.urbanizacion}" id="urbanizacion"
													size="15" /></td>
												<td><h:outputText
													value="#{MensajesComponentes_cns['consulta.busqueda.rapida.calle']}" />
												</td>
												<td><h:inputText value="#{busqRapBB.calle}" id="calle"
													size="15" /></td>
												<td><h:outputText
													value="#{MensajesComponentes_cns['consulta.busqueda.rapida.numero']}" />
												</td>
												<td><h:inputText value="#{busqRapBB.numero}" id="numero"
													size="15" /></td>

											</tr>
										</tbody>
									</table>
								</tr>

								<!-- nombre estruc -->
								<tr>
									<table border="0" cellpadding="0" cellspacing="0"
										class="synapsis-input-grid">
										<tbody>
											<tr class="gridRow">
												<td><h:outputText
													value="#{MensajesComponentes_cns['consulta.busqueda.rapida.apellido.paterno']}" />
												</td>
												<td colspan="1"><h:inputText
													value="#{busqRapBB.apellidoPaterno}" size="20" id="apellidoPaterno"/></td>
												<td><h:outputText
													value="#{MensajesComponentes_cns['consulta.busqueda.rapida.apellido.materno']}" />
												</td>
												<td><h:inputText value="#{busqRapBB.apellidoMaterno}" id="apellidoMaterno"
													size="20" /></td>
											</tr>
										</tbody>
									</table>
								</tr>

							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>
			</fieldset>
			<!-- 
			<sy:filters actionBean="#{busqRapBB}" action="search">
			</sy:filters>
			 -->
            <br/>          
			<h:commandButton styleClass="synapsis-command-button-search"
				 value="" 
				action="#{busqRapBB.search}" onclick="makeCallBack();"
			/>
 			<br />
 			<br />
			<sy:title
				value="#{MensajesComponentes_cns['buscaCuentaBB.tabla.titulo']}" />
			<s:dataTable id="tableResults" source="busqRapMedidorService" var="con"
				binding="#{busqRapBB.tablaBusqueda}">
				<sy:tableJsAction
					header="#{MensajesComponentes_cns['buscaCuentaBB.tabla.nroCuenta']}"
					jsAction="doOpenerSubmit" actionValue="#{con.nroCuenta}"
					label="#{con.nroCuenta}" />
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['buscaCuentaBB.tabla.nombreTitular']}">
					<h:outputText value="#{con.nombreTitular}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['buscaCuentaBB.tabla.apellidosTitular']}">
					<h:outputText value="#{con.apellidosTitular}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['buscaCuentaBB.tabla.direccionTitular']}">
					<h:outputText value="#{con.direccionTitular}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['buscaCuentaBB.tabla.urbanizacion']}">
					<h:outputText value="#{con.urbanizacion}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['buscaCuentaBB.tabla.estado']}">
					<h:outputText value="#{con.estado}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.busqueda.rapida.municipio']}">
					<h:outputText value="#{con.municipio}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.busqueda.rapida.nroServicio']}">
					<h:outputText value="#{con.nroServicio}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['buscaCuentaBB.tabla.rutaLectura']}">
					<h:outputText value="#{con.rutaLectura}" />
				</sy:tableColumnCustom>
			</s:dataTable>
	     	
		</h:form>
	</sy:boxPage>
</f:view>
