<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
	xmlns:s="http://www.synapsis-it.com/jsf/service">
	<sy:boxPage
		title="#{MensajesComponentes_cns['buscaCuenta.direccionUrbana.titulo']}"
		nroCuentaHeader="disable">
		<a4j:keepAlive beanName="busquedaCuentaClaseViaQueryFilter" />
		<a4j:keepAlive beanName="busquedaCuentaUnidadPredialQueryFilter" />
		<a4j:keepAlive beanName="busquedaCuentaTipoUnidadPredialQueryFilter" />
		<a4j:keepAlive
			beanName="busquedaCuentaModalidadUnidadPredialQueryFilter" />
		<h:form id="search">
			<c:errorHandler />


			<!-- service para levantar las clases de via -->
			<s:service manager="#{serviceManager}" name="comboClaseViaService"
				method="findByCriteria" id="comboClaseViaService" rows="100" />
			<s:unmarshall source="comboClaseViaService" var="claseVia" />

			<!-- service para levantar los nombres via -->
			<s:service manager="#{serviceManager}" name="comboNombreViasService"
				method="findByCriteria" id="comboNombreViasService" rows="100"
				binding="#{buscaCuentaBB.comboNombreViasService}">
				<f:param name="idPadre"
					value="#{busquedaCuentaClaseViaQueryFilter.attributeValue}" />
			</s:service>
			<s:unmarshall source="comboNombreViasService"
				target="#{buscaCuentaBB.nombreViasList}"
				binding="#{buscaCuentaBB.comboServiceUnmarshelled}" />

			<!-- service para levantar letras de via -->
			<s:service manager="#{serviceManager}" name="comboLetraViasService"
				method="findByCriteria" id="comboLetraViasService" rows="100" />
			<s:unmarshall source="comboLetraViasService" var="letraVias" />

			<!-- service para levantar punto cardinal de via -->
			<s:service manager="#{serviceManager}"
				name="comboPuntoCardinalViaService" method="findByCriteria"
				id="comboPuntoCardinalViaService" rows="100" />
			<s:unmarshall source="comboPuntoCardinalViaService"
				var="puntoCardinalVia" />

			<!-- service para levantar punto cardinal de via -->
			<s:service manager="#{serviceManager}" name="comboLetraCrucesService"
				method="findByCriteria" id="comboLetraCrucesService" rows="100" />
			<s:unmarshall source="comboLetraCrucesService" var="letraCruces" />

			<!-- service para levantar punto cardinal del cruce -->
			<s:service manager="#{serviceManager}"
				name="comboPuntoCardinalCruceService" method="findByCriteria"
				id="comboPuntoCardinalCruceService" rows="100" />
			<s:unmarshall source="comboPuntoCardinalCruceService"
				var="puntoCardinalCruce" />

			<!-- service para levantar Unidad Predial -->
			<s:service manager="#{serviceManager}"
				name="comboUnidadPredialService" method="findByCriteria"
				id="comboUnidadPredialService" rows="100" />
			<s:unmarshall source="comboUnidadPredialService" var="unidadPredial" />

			<!-- service para levantar tipo Unidad Predial -->
			<s:service manager="#{serviceManager}"
				name="comboTipoUnidadPredialService" method="findByCriteria"
				id="comboTipoUnidadPredialService" rows="100" />
			<s:unmarshall source="comboTipoUnidadPredialService"
				var="tipoUnidadPredial" />

			<!-- service para levantar modalidad Unidad Predial -->
			<s:service manager="#{serviceManager}"
				name="comboModalidadUnidadPredialService" method="findByCriteria"
				id="comboModalidadUnidadPredialService" rows="100" />
			<s:unmarshall source="comboModalidadUnidadPredialService"
				var="modalidadUnidadPredial" />

			<h:panelGrid columns="4">

				<h:outputLabel for="claseVia"
					value="* #{MensajesComponentes_cns['buscaCuenta.direccionUrbana.claseVia']}" />
				<h:selectOneMenu
					value="#{busquedaCuentaClaseViaQueryFilter.attributeValue}"
					styleClass="edit" id="claseVia" required="true">
					<f:selectItem itemLabel="" itemValue="" />
					<t:selectItems value="#{claseVia}" var="claseVia"
						itemLabel="#{claseVia.descripcion}" itemValue="#{claseVia.descripcion}" />
					<a4j:support event="onchange" ajaxSingle="true"
						reRender="nroVia,nombreVias" immediate="true"
						actionListener="#{buscaCuentaBB.refresh}" />
				</h:selectOneMenu>


				<h:outputLabel for="nombreVias"
					value="* #{MensajesComponentes_cns['buscaCuenta.direccionUrbana.nombreVia']}&#160;&#160;" />
				<h:selectOneMenu
					value="#{busquedaCuentaNombreViaQueryFilter.attributeValue}"
					styleClass="edit" id="nombreVias" required="true">
					<f:selectItem itemLabel="" itemValue="" />
					<t:selectItems value="#{buscaCuentaBB.nombreViasList}"
						var="nombreVias" itemLabel="#{nombreVias.descripcion}"
						itemValue="#{nombreVias.descripcion}" />
				</h:selectOneMenu>

				<h:outputLabel for="nroVia"
					value="* #{MensajesComponentes_cns['buscaCuenta.direccionUrbana.nroVia']}&#160;&#160;" />
				<h:inputText
					value="#{busquedaCuentaNumeroViaQueryFilter.attributeValue}"
					styleClass="edit" id="nroVia"
					required="#{busquedaCuentaClaseViaQueryFilter.attributeValue == 'NORMAL'}"
					readonly="#{busquedaCuentaClaseViaQueryFilter.attributeValue != 'NORMAL'}" />

				<h:outputLabel for="letraVias"
					value="#{MensajesComponentes_cns['buscaCuenta.direccionUrbana.letraVia']}&#160;&#160;" />
				<h:selectOneMenu
					value="#{busquedaCuentaLetraViaQueryFilter.attributeValue}"
					styleClass="edit" id="letraVias">
					<f:selectItem itemLabel="" itemValue="" />
					<t:selectItems value="#{letraVias}" var="letraVias"
						itemLabel="#{letraVias.descripcion}"
						itemValue="#{letraVias.descripcion}" />
				</h:selectOneMenu>

				<h:outputLabel for="puntoCardinalVia"
					value="#{MensajesComponentes_cns['buscaCuenta.direccionUrbana.puntoCardinalVia']}&#160;&#160;" />
				<h:selectOneMenu
					value="#{busquedaCuentaPuntoCardinalViaQueryFilter.attributeValue}"
					styleClass="edit" id="puntoCardinalVia">
					<f:selectItem itemLabel="" itemValue="" />
					<t:selectItems value="#{puntoCardinalVia}" var="puntoCardinalVia"
						itemLabel="#{puntoCardinalVia.descripcion}"
						itemValue="#{puntoCardinalVia.descripcion}" />
				</h:selectOneMenu>

				<h:outputLabel
					value="* #{MensajesComponentes_cns['buscaCuenta.direccionUrbana.nroCruce']}&#160;&#160;" />
				<h:inputText
					value="#{busquedaCuentaNumeroCruceQueryFilter.attributeValue}"
					styleClass="edit" required="true" />

				<h:outputLabel for="letraCruces"
					value="#{MensajesComponentes_cns['buscaCuenta.direccionUrbana.letraCruce']}&#160;&#160;" />
				<h:selectOneMenu
					value="#{busquedaCuentaLetraCruceQueryFilter.attributeValue}"
					styleClass="edit" id="letraCruces">
					<f:selectItem itemLabel="" itemValue="" />
					<t:selectItems value="#{letraCruces}" var="letraCruces"
						itemLabel="#{letraCruces.descripcion}"
						itemValue="#{letraCruces.descripcion}" />
				</h:selectOneMenu>

				<h:outputLabel for="puntoCardinalCruce"
					value="#{MensajesComponentes_cns['buscaCuenta.direccionUrbana.puntoCardinalCruce']}&#160;&#160;" />
				<h:selectOneMenu
					value="#{busquedaCuentaPuntoCardinalCruceQueryFilter.attributeValue}"
					styleClass="edit" id="puntoCardinalCruce">
					<f:selectItem itemLabel="" itemValue="" />
					<t:selectItems value="#{puntoCardinalCruce}"
						var="puntoCardinalCruce"
						itemLabel="#{puntoCardinalCruce.descripcion}"
						itemValue="#{puntoCardinalCruce.descripcion}" />
				</h:selectOneMenu>

				<h:outputLabel for="numeroPlaca"
					value="#{MensajesComponentes_cns['buscaCuenta.direccionUrbana.nroPlaca']}&#160;&#160;" />
				<h:inputText id="numeroPlaca"
					value="#{busquedaCuentaNumeroPlacaQueryFilter.attributeValue}"
					styleClass="edit"/>

				<h:outputLabel for="unidadPredial"
					value="#{MensajesComponentes_cns['buscaCuenta.direccionUrbana.nombreUnidad']}&#160;&#160;" />
				<h:selectOneMenu
					value="#{busquedaCuentaUnidadPredialQueryFilter.attributeValue}"
					styleClass="edit" id="unidadPredial">
					<f:selectItem itemLabel="" itemValue="" />
					<t:selectItems value="#{unidadPredial}" var="unidadPredial"
						itemLabel="#{unidadPredial.descripcion}"
						itemValue="#{unidadPredial.descripcion}" />
					<a4j:support event="onchange" ajaxSingle="true"
						reRender="nroUnidad" immediate="true"
						actionListener="#{buscaCuentaBB.refresh}" />

				</h:selectOneMenu>

				<h:outputLabel for="nroUnidad"
					value="#{MensajesComponentes_cns['buscaCuenta.direccionUrbana.nroUnidad']}&#160;&#160;" />
				<h:inputText
					value="#{busquedaCuentaNumeroUnidadPredialQueryFilter.attributeValue}"
					styleClass="edit" id="nroUnidad"
					required="#{!empty busquedaCuentaUnidadPredialQueryFilter.attributeValue}"
					readonly="#{empty busquedaCuentaUnidadPredialQueryFilter.attributeValue}" />

				<h:outputLabel for="tipoUnidadPredial"
					value="#{MensajesComponentes_cns['buscaCuenta.direccionUrbana.tipoUnidadPredial']}&#160;&#160;" />
				<h:selectOneMenu
					value="#{busquedaCuentaTipoUnidadPredialQueryFilter.attributeValue}"
					styleClass="edit" id="tipoUnidadPredial">
					<f:selectItem itemLabel="" itemValue="" />
					<t:selectItems value="#{tipoUnidadPredial}" var="tipoUnidadPredial"
						itemLabel="#{tipoUnidadPredial.descripcion}"
						itemValue="#{tipoUnidadPredial.descripcion}" />
					<a4j:support event="onchange" ajaxSingle="true"
						reRender="nroTipoUnidad" immediate="true"
						actionListener="#{buscaCuentaBB.refresh}" />
				</h:selectOneMenu>

				<h:outputLabel for="nroTipoUnidad"
					value="#{MensajesComponentes_cns['buscaCuenta.direccionUrbana.numeroTipoUnidadPredial']}&#160;&#160;" />
				<h:inputText
					value="#{busquedaCuentaNumeroTipoUnidadPredialQueryFilter.attributeValue}"
					styleClass="edit" id="nroTipoUnidad"
					required="#{!empty busquedaCuentaTipoUnidadPredialQueryFilter.attributeValue}"
					readonly="#{empty busquedaCuentaTipoUnidadPredialQueryFilter.attributeValue}" />

				<h:outputLabel for="modalidadUnidadPredial"
					value="#{MensajesComponentes_cns['buscaCuenta.direccionUrbana.modalidadUnidadPredial']}&#160;&#160;" />
				<h:selectOneMenu
					value="#{busquedaCuentaModalidadUnidadPredialQueryFilter.attributeValue}"
					styleClass="edit" id="modalidadUnidadPredial">
					<f:selectItem itemLabel="" itemValue="" />
					<t:selectItems value="#{modalidadUnidadPredial}"
						var="modalidadUnidadPredial"
						itemLabel="#{modalidadUnidadPredial.descripcion}"
						itemValue="#{modalidadUnidadPredial.descripcion}" />
					<a4j:support event="onchange" ajaxSingle="true"
						reRender="nroModalidadUnidadPredial" immediate="true"
						actionListener="#{buscaCuentaBB.refresh}" />
				</h:selectOneMenu>

				<h:outputLabel for="nroModalidadUnidadPredial"
					value="#{MensajesComponentes_cns['buscaCuenta.direccionUrbana.numeroModalidadUnidadPredial']}&#160;&#160;" />
				<h:inputText
					value="#{busquedaCuentaNumeroModalidadUnidadPredialQueryFilter.attributeValue}"
					styleClass="edit" id="nroModalidadUnidadPredial"
					required="#{!empty busquedaCuentaModalidadUnidadPredialQueryFilter.attributeValue}"
					readonly="#{empty busquedaCuentaModalidadUnidadPredialQueryFilter.attributeValue}" />


			</h:panelGrid>


			<h:panelGrid columns="2">
				<h:commandButton
					value="#{MensajesComponentes_cns['buscaCuenta.boton.buscar']}"
					action="#{buscaCuentaBB.buscarCuentaActionDireccionUrbana}" />
				<h:commandButton
					value="#{MensajesComponentes_cns['buscaCuenta.boton.volver']}"
					action="#{buscaCuentaBB.irABusquedaBasicaAction}" immediate="true" />
			</h:panelGrid>
		</h:form>
	</sy:boxPage>
</f:view>
