<f:view xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:sy="http://www.synapsis.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:c="http://java.sun.com/jstl/core"
    xmlns:t="http://myfaces.apache.org/tomahawk"
    xmlns:a4j="https://ajax4jsf.dev.java.net/ajax">
    <sy:boxPage title="#{MensajesComponentes_cns['buscaCuentaBB.tabla.titulo']}" close="false" nroCuentaHeader="disable">
        <h:form>
			
			<t:saveState value="#{buscaCuentaBB.queryFilter}" />	
		    <t:saveState value="#{buscaCuentaBB.queryFilters}" />		
		
		    <t:saveState value="#{buscaCuentaBB.serviceNames}" />	
					
            <sy:dataTable listBean="#{buscaCuentaBB}"
                resources="#{ClavesInducidas_cns}">
                <sy:tableJsAction
                    header="#{MensajesComponentes_cns['buscaCuentaBB.tabla.nroCuenta']}"
                    jsAction="doOpenerSubmit" actionValue="#{rowVar.nroCuenta}"
                    label="#{rowVar.nroCuenta}" />
                <sy:tableColumnCustom rowClasses="gridRow"
                    header="#{MensajesComponentes_cns['buscaCuentaBB.tabla.nombreTitular']}">
                    <h:outputText value="#{rowVar.nombreTitular}" />
                </sy:tableColumnCustom>
                <sy:tableColumnCustom
                    header="#{MensajesComponentes_cns['buscaCuentaBB.tabla.direccionTitular']}">
                    <h:outputText value="#{rowVar.direccionTitular}" />
                </sy:tableColumnCustom>
                <sy:tableColumnCustom
                    header="#{MensajesComponentes_cns['buscaCuentaBB.tabla.localizacion']}">
                    <h:outputText value="#{rowVar.localizacion}" />
                </sy:tableColumnCustom>
                <sy:tableColumnCustom
                    header="#{MensajesComponentes_cns['buscaCuentaBB.tabla.nombreBeneficiarioSrvElectrico']}">
                    <h:outputText
                        value="#{rowVar.nombreBeneficiarioSrvElectrico}  #{rowVar.apellidoBeneficiarioSrvElectrico}" />
                </sy:tableColumnCustom>
                <sy:tableColumnCustom
                    header="#{MensajesComponentes_cns['buscaCuentaBB.tabla.estado']}">
                    <h:outputText value="#{rowVar.estado}" />
                </sy:tableColumnCustom>
                <sy:tableColumnCustom
                    header="#{MensajesComponentes_cns['buscaCuentaBB.tabla.municipio']}">
                    <h:outputText value="#{rowVar.municipio}" />
                </sy:tableColumnCustom>
                <sy:tableColumnCustom
                    header="#{MensajesComponentes_cns['buscaCuentaBB.tabla.manzana']}">
                    <h:outputText value="#{rowVar.manzana}" />
                </sy:tableColumnCustom>
                <sy:tableColumnCustom
                    header="#{MensajesComponentes_cns['buscaCuentaBB.tabla.rutaLectura']}">
                    <h:outputText value="#{rowVar.rutaLectura}" />
                </sy:tableColumnCustom>
                <sy:tableColumnCustom
                    header="#{MensajesComponentes_cns['buscaCuentaBB.tabla.correlativoConjunto']}">
                    <h:outputText value="#{rowVar.correlativoConjunto}" />
                </sy:tableColumnCustom>
                <sy:tableColumnLinkPopup
                     header="#{MensajesComponentes_cns['buscaCuentaBB.tabla.cantidadSrvAsoc']}"
                     label="#{rowVar.cantidadSrvAsoc}"
                     outcome="tipoNumeroServicioCuenta">
                     <f:setPropertyActionListener
                         target="#{tipoNumeroServicioCuentaQueryFilter.attributeValue}"
                         value="#{rowVar.nroCuenta}" />
                 </sy:tableColumnLinkPopup>
            </sy:dataTable>
        	<h:commandButton value="Volver" immediate="true" action="#{buscaCuentaBB.comeBackToSearch}" />
        </h:form>
    </sy:boxPage>
</f:view>
