<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
    xmlns:t="http://myfaces.apache.org/tomahawk"
    xmlns:b="http://www.synapsis-it.com/jsf/behaviour">
	
	<sy:boxPage title="#{MensajesComponentes_cns['buscaCuentaAvanzadaBB.titulo']}" nroCuentaHeader="disable">
		<h:form id="search">
		
			<t:saveState value="#{buscaCuentaBB.sucursales}" />
			<t:saveState value="#{buscaCuentaBB.ordenes}" />
			<t:saveState value="#{buscaCuentaBB.departamentos}" />				
			<t:saveState value="#{buscaCuentaBB.municipios}" />		
			<t:saveState value="#{buscaCuentaBB.zonas}" />
			<t:saveState value="#{buscaCuentaBB.ciclos}" />
			<t:saveState value="#{buscaCuentaBB.grupos}" />
			<t:saveState value="#{buscaCuentaBB.zonasMunicipios}" />
			<t:saveState value="#{buscaCuentaBB.ciclosMunicipios}" />
			<t:saveState value="#{buscaCuentaBB.gruposMunicipios}" />
			
			<b:selectGroup binding="#{buscaCuentaBB.group}">
				<h:panelGrid columns="2">
				<b:group labelTitle="" columns="1" id="buscaCuentaNumeroMedidorQueryFilter">
	        		<h:panelGrid columns="2">
						<h:outputLabel
							value="#{MensajesComponentes_cns['buscaCuentaAvanzadaBB.medidor.nroMedidor']}&#160;&#160;"/>
						<h:inputText
							value="#{buscaCuentaNumeroMedidorQueryFilter.attributeValue}"
								styleClass="edit">
						</h:inputText>
					</h:panelGrid>
				</b:group>
				
				<b:group labelTitle="" columns="1" id="busquedaCuentaNumeroContactoQueryFilter">
	        		<h:panelGrid columns="2">
	        			<h:outputLabel
							value="#{MensajesComponentes_cns['buscaCuentaAvanzadaBB.contacto.nroContacto']}&#160;&#160;"/>										
						<h:inputText
							value="#{busquedaCuentaNumeroContactoQueryFilter.attributeValue}"
							styleClass="edit">
							<f:converter converterId="javax.faces.Integer" />
						</h:inputText>
					</h:panelGrid>
				</b:group>
	        		
	        	<b:group labelTitle="" columns="1" id="buscaCuentaNroTelefonoTitularQueryFilter">
	        		<h:panelGrid columns="2">
						<h:outputLabel
							value="#{MensajesComponentes_cns['buscaCuentaAvanzadaBB.telefono.nroTelefono']}&#160;&#160;"/>															
						<h:inputText
							value="#{buscaCuentaNroTelefonoTitularQueryFilter.attributeValue}"
							styleClass="edit">
						</h:inputText>
					</h:panelGrid>
				</b:group>
				
				<b:group labelTitle="" columns="1" id="busquedaCuentaNumeroAtencionQueryFilter">
	        		<h:panelGrid columns="2">
						<h:outputLabel
							value="#{MensajesComponentes_cns['buscaCuentaAvanzadaBB.atencion.nroAtencion']}&#160;&#160;"/>																				
						<h:inputText
							value="#{busquedaCuentaNumeroAtencionQueryFilter.attributeValue}"
							styleClass="edit">
							<f:converter converterId="javax.faces.Long" />
						</h:inputText>
					</h:panelGrid>
				</b:group>
				
				<b:group labelTitle="" columns="1" id="buscaCuentaNroTelefonoBeneficiarioQueryFilter">
	        		<h:panelGrid columns="2">
						<h:outputLabel
							value="#{MensajesComponentes_cns['buscaCuentaAvanzadaBB.telefonoBeneficiario.nroTelefono']}&#160;&#160;"/>															
						<h:inputText
							value="#{buscaCuentaNroTelefonoBeneficiarioQueryFilter.attributeValue}"
							styleClass="edit">
						</h:inputText>
					</h:panelGrid>
				</b:group>
				
				<b:group labelTitle="" columns="1" id="busquedaCuentaTipoNroOrdenQueryFilter">
	        		<h:panelGrid columns="2">
	        			<h:outputLabel
							value="#{MensajesComponentes_cns['buscaCuentaAvanzadaBB.orden.tipoOrden']}&#160;&#160;"/>																		
						<h:selectOneMenu value="#{buscaTipoOrdenQueryFilter.attributeValue}"
							styleClass="edit">
	                      <f:selectItems value="#{buscaCuentaBB.ordenes}" />						
						</h:selectOneMenu>
						<h:outputLabel
							value="#{MensajesComponentes_cns['buscaCuentaAvanzadaBB.orden.nroOrden']}&#160;&#160;"/>															
						<h:inputText value="#{buscaNroOrdenQueryFilter.attributeValue}"
							styleClass="edit">
						</h:inputText>
	        		</h:panelGrid>
	        	</b:group>
	        		
	        	<b:group labelTitle="" columns="1" id="buscaCuentaNroPCRQueryFilter">
	        		<h:panelGrid columns="2">
	        			<h:outputLabel
							value="#{MensajesComponentes_cns['buscaCuentaAvanzadaBB.pcr.nroPCR']}&#160;&#160;"/>																				
						<h:inputText value="#{buscaCuentaNroPCRQueryFilter.attributeValue}"
							styleClass="edit">
							<f:converter converterId="javax.faces.Integer" />
						</h:inputText>
					</h:panelGrid>
				</b:group>	
					
				<b:group labelTitle="" columns="1" id="buscaCuentaTipoNroRadicacionQueryFilter">
	        		<h:panelGrid columns="2">
	        			<h:outputLabel
							value="#{MensajesComponentes_cns['buscaCuentaAvanzadaBB.radicacion.tipoRadicacion']}&#160;&#160;"/>																									
						<h:inputText
							value="#{buscaCuentaTipoRadicacionQueryFilter.attributeValue}"
							styleClass="edit">
						</h:inputText>
						<h:outputLabel
							value="#{MensajesComponentes_cns['buscaCuentaAvanzadaBB.radicacion.nroRadicacion']}&#160;&#160;"/>																									
						<h:inputText
							value="#{buscaCuentaNroRadicacionQueryFilter.attributeValue}"
							styleClass="edit">
							<f:converter converterId="javax.faces.Integer" />
						</h:inputText>
	        		</h:panelGrid>
	        	</b:group>	
	        	
	        	<b:group labelTitle="" columns="1" id="buscaCuentaTransformadorQueryFilter">
	        		<h:panelGrid columns="2">
						<h:outputLabel
							value="#{MensajesComponentes_cns['buscaCuentaAvanzadaBB.transformador.nroTransformador']}&#160;&#160;"/>																									
						<h:inputText value="#{buscaCuentaTransformadorQueryFilter.attributeValue}"
							styleClass="edit">
						</h:inputText>
					</h:panelGrid>
				</b:group>
				
				<b:group labelTitle="" columns="1" id="buscaCuentaManzanaQueryFilter">
	        		<h:panelGrid columns="2">
	        			<h:outputLabel
							value="#{MensajesComponentes_cns['buscaCuentaAvanzadaBB.manzana.manzana']}&#160;&#160;"/>																									
						<h:inputText value="#{buscaCuentaManzanaQueryFilter.attributeValue}"
							styleClass="edit">
						</h:inputText>
	        		</h:panelGrid>
	        	</b:group>
	        	
	        	</h:panelGrid>
	        	
	        	<h:panelGrid columns="1">
	        	<b:group labelTitle="Ruta Sabana y Cundinamarca" columns="1" id="busquedaCuentaMunicipioQueryFilter">
	        		<h:panelGrid columns="4">																											
						<h:outputLabel
							value="* #{MensajesComponentes_cns['buscaCuentaAvanzadaBB.municipio.departamento']}&#160;&#160;"/>																									
	                    <h:selectOneMenu
							value="#{buscaCuentDepartamentosQueryFilter.attributeValue}" 
							styleClass="edit">
							<f:converter converterId="javax.faces.Long" />
							<f:selectItem
								itemLabel="#{MensajesComponentes_cns['buscaCuentaAvanzadaBB.municipio.departamento']}..."
								itemValue=""/>						
							<f:selectItems value="#{buscaCuentaBB.departamentos}" />
							<a4j:support 
								event="onchange" 
								ajaxSingle="true" 
								reRender="municipio" 
								actionListener="#{buscaCuentaBB.fillMunicipios}" >
			<!-- 				<f:setPropertyActionListener
									target="#{comboMunicipioQueryFilter.attributeValue}"
									value="#{buscaCuentDepartamentosQueryFilter.attributeValue}" />-->
							</a4j:support>
						</h:selectOneMenu>
	
						<h:outputLabel
							value="* #{MensajesComponentes_cns['buscaCuentaAvanzadaBB.municipio.municipio']}&#160;&#160;"/>																									
	                    <h:selectOneMenu id="municipio"
							value="#{buscaCuentMunicipioQueryFilter.attributeValue}" styleClass="edit">
							<f:converter converterId="javax.faces.Long" />		
							<f:selectItem
								itemLabel="#{MensajesComponentes_cns['buscaCuentaAvanzadaBB.municipio.municipio']}..."
								itemValue=""/>					
							<f:selectItems value="#{buscaCuentaBB.municipios}" />
						</h:selectOneMenu>
	
						<h:outputLabel
							value="#{MensajesComponentes_cns['buscaCuentaAvanzadaBB.municipio.sucursal']}&#160;&#160;"/>																													
						 <h:selectOneMenu id="sucursalMunicipio"
							value="#{buscaCuentSucursalQueryFilter.attributeValue}"
							styleClass="edit">
							<f:converter converterId="javax.faces.Long" />
							<f:selectItem
								itemLabel="#{MensajesComponentes_cns['buscaCuentaAvanzadaBB.municipio.sucursal']}..."
								itemValue=""/>					
							<f:selectItems value="#{buscaCuentaBB.sucursales}" />
							<a4j:support 
								event="onchange"
								ajaxSingle="true" 
								reRender="zonaMunicipio,cicloMunicipio,grupoMunicipio" 
								actionListener="#{buscaCuentaBB.fillZonasMunicipiosSmile}" >
<!--								<f:setPropertyActionListener-->
<!--									target="#{comboZonasSucursalQueryFilter.attributeValue}"-->
<!--									value="#{buscaCuentSucursalQueryFilter.attributeValue}" />-->
							</a4j:support>
						</h:selectOneMenu>
					
						<h:outputLabel
							value="#{MensajesComponentes_cns['buscaCuentaAvanzadaBB.municipio.zona']}&#160;&#160;"/>																													
						 <h:selectOneMenu id="zonaMunicipio"
							value="#{buscaCuentZonaQueryFilter.attributeValue}"
							styleClass="edit">
							<f:converter converterId="javax.faces.Long" />
							<f:selectItem
								itemLabel="#{MensajesComponentes_cns['buscaCuentaAvanzadaBB.municipio.zona']}..."
								itemValue=""/>
							<f:selectItems value="#{buscaCuentaBB.zonasMunicipios}" />
							<a4j:support event="onchange" ajaxSingle="true" reRender="cicloMunicipio,grupoMunicipio" 
								actionListener="#{buscaCuentaBB.fillCiclosMunicipiosListener}">
<!--								<f:setPropertyActionListener-->
<!--									target="#{comboCiclosZonasQueryFilter.attributeValue}"-->
<!--									value="#{buscaCuentZonaQueryFilter.attributeValue}" />-->
							</a4j:support>			
						</h:selectOneMenu>
						
						<h:outputLabel
							value="#{MensajesComponentes_cns['buscaCuentaAvanzadaBB.municipio.ciclo']}&#160;&#160;"/>																													
	                    <h:selectOneMenu id="cicloMunicipio"
							value="#{buscaCuentCicloQueryFilter.attributeValue}"
							styleClass="edit">
							<f:converter converterId="javax.faces.Long" />
							<f:selectItem
								itemLabel="#{MensajesComponentes_cns['buscaCuentaAvanzadaBB.municipio.ciclo']}..."
								itemValue=""/>						
							<f:selectItems value="#{buscaCuentaBB.ciclosMunicipios}" />
							<a4j:support event="onchange" ajaxSingle="true" reRender="grupoMunicipio" 
								actionListener="#{buscaCuentaBB.fillGruposMunicipiosListener}">
<!--								<f:setPropertyActionListener-->
<!--									target="#{comboGruposCiclosQueryFilter.attributeValue}"-->
<!--									value="#{buscaCuentCicloQueryFilter.attributeValue}" />-->
							</a4j:support>			
								
						</h:selectOneMenu>
						
						<h:outputLabel
							value="#{MensajesComponentes_cns['buscaCuentaAvanzadaBB.municipio.grupo']}&#160;&#160;"/>																													
	                    <h:selectOneMenu id="grupoMunicipio"
							value="#{buscaCuentGrupoQueryFilter.attributeValue}"
							styleClass="edit">
							<f:converter converterId="javax.faces.Long" />
							<f:selectItem
								itemLabel="#{MensajesComponentes_cns['buscaCuentaAvanzadaBB.municipio.grupo']}..."
								itemValue=""/>												
							<f:selectItems value="#{buscaCuentaBB.gruposMunicipios}" />
						</h:selectOneMenu>
						<h:outputLabel
							value="#{MensajesComponentes_cns['buscaCuentaAvanzadaBB.rutaLectura.correlativo']}&#160;&#160;"/>																													
						<h:inputText id="correlativo"
							value="#{buscaCuentaCorrelativoQueryFilter.attributeValue}"
							styleClass="edit">
						</h:inputText>
					</h:panelGrid>
				</b:group>
				</h:panelGrid>
			</b:selectGroup>
			
			<f:verbatim><br /><br /></f:verbatim>
			<h:panelGroup columns="2">
				<h:commandButton value="#{MensajesComponentes_cns['buscaCuenta.boton.buscar']}" action="#{buscaCuentaBB.buscarCuentaAction}" />
				<h:commandButton value="#{MensajesComponentes_cns['buscaCuenta.boton.volver']}" action="#{buscaCuentaBB.irABusquedaBasicaAction}" immediate="true"/>
			</h:panelGroup>
		
		</h:form>
		
		
	</sy:boxPage>
</f:view>