<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core">
	<sy:boxPage title="#{MensajesComponentes_cns['caracteristicas.title']}"
		bundle="#{MensajesComponentes_cns}">
			<sy:group title="">
				<sy:panelGrid columns="1">
					<h:outputLabel
						value="#{MensajesComponentes_cns['caracteristicas.tabla.caracteristicasGenerales.nroServicio']}"
						for="nroServicio" />
					<h:inputText
						value="#{caracteristicasSuministroBB.businessObject1.nroServicio}"
						id="nroServicio" disabled="true" />
				</sy:panelGrid>
			</sy:group>
		<table width="100%" cellpadding="0" cellspacing="0">
			<tr>
				<td valign="top" style="padding: 5px;" width="50%"><h:form>
					<sy:title
						value="#{MensajesComponentes_cns['caracteristicas.tabla.caracteristicasGenerales.title']}" />
					<sy:dataGrid>
						<sy:dataGridRow
							label="#{MensajesComponentes_cns['caracteristicas.tabla.caracteristicasGenerales.nivelTension']}"
							data="#{caracteristicasSuministroBB.businessObject1.nivelTension}" />
						<sy:dataGridRow
							label="#{MensajesComponentes_cns['caracteristicas.tabla.caracteristicasGenerales.descripcionVoltaje']}"
							data="#{caracteristicasSuministroBB.businessObject1.descripcionVoltaje}" />
						<sy:dataGridRow
							label="#{MensajesComponentes_cns['caracteristicas.tabla.caracteristicasGenerales.circuito']}"
							data="#{caracteristicasSuministroBB.businessObject1.circuito}" />
						<sy:dataGridRow
							label="#{MensajesComponentes_cns['caracteristicas.tabla.caracteristicasGenerales.puntoTransformacion']}"
							data="#{caracteristicasSuministroBB.businessObject1.puntoTransformacion}" />
						<sy:dataGridRow
							label="#{MensajesComponentes_cns['caracteristicas.tabla.caracteristicasGenerales.fechaConexion']}"
							data="#{caracteristicasSuministroBB.businessObject1.fechaConexion}" />
						<sy:dataGridRow
							label="#{MensajesComponentes_cns['caracteristicas.tabla.caracteristicasGenerales.numeroOrden']}"
							data="#{caracteristicasSuministroBB.businessObject1.numeroOrden}" />
						<sy:dataGridRow
							label="#{MensajesComponentes_cns['caracteristicas.tabla.caracteristicasGenerales.tarifa']}"
							data="#{caracteristicasSuministroBB.businessObject1.tarifa}" />
					</sy:dataGrid>
				</h:form></td>
				<td style="width: 5px"></td>
				<td valign="top" style="padding: 5px;" width="50%"><h:form>
					<sy:title
						value="#{MensajesComponentes_cns['caracteristicas.tabla.caracteristicasTransformador.title']}" />
					<sy:dataGrid>
						<sy:dataGridRow
							label="#{MensajesComponentes_cns['caracteristicas.tabla.caracteristicasTransformador.tipoTransformador']}"
							data="#{caracteristicasSuministroBB.businessObject2.tipoTransformador}" />
						<sy:dataGridRow
							label="#{MensajesComponentes_cns['caracteristicas.tabla.caracteristicasTransformador.estadoTransformador']}"
							data="#{caracteristicasSuministroBB.businessObject2.estadoTransformador}" />
						<sy:dataGridRow
							label="#{MensajesComponentes_cns['caracteristicas.tabla.caracteristicasTransformador.propiedadTransformador']}"
							data="#{caracteristicasSuministroBB.businessObject2.propiedadTransformador}" />
						<sy:dataGridRow
							label="#{MensajesComponentes_cns['caracteristicas.tabla.caracteristicasTransformador.numeroTransformador']}"
							data="#{caracteristicasSuministroBB.businessObject2.numeroTransformador}" />
						<sy:dataGridRow
							label="#{MensajesComponentes_cns['caracteristicas.tabla.caracteristicasTransformador.nivelReferencia']}"
							data="#{caracteristicasSuministroBB.businessObject2.nivelReferencia}" />
						<sy:dataGridRow
							label="#{MensajesComponentes_cns['caracteristicas.tabla.caracteristicasTransformador.tipoRed']}"
							data="#{caracteristicasSuministroBB.businessObject2.tipoRed}" />
					</sy:dataGrid>
				</h:form></td>
			</tr>
			<tr style="height: 5px;">
			</tr>
		</table>
				<h:form>
					<sy:title
						value="#{MensajesComponentes_cns['caracteristicas.tabla.caracteristicasCarga.title']}" />
			<sy:group title="">
									
				<sy:panelGrid columns="4">
					<h:outputLabel
						value="#{MensajesComponentes_cns['caracteristicas.tabla.caracteristicasCarga.totalCapacidadInstalada']}"
						for="totalCapacidad" />
					<h:inputText
						value="#{caracteristicasSuministroBB.businessObject3.totalCargaInstalada}"
						id="totalCapacidad" disabled="true" />
					<h:outputLabel
						value="#{MensajesComponentes_cns['caracteristicas.tabla.caracteristicasCarga.alumbrado']}"
						for="cargaAlumbrado" />
					<h:inputText
						value="#{caracteristicasSuministroBB.businessObject3.cargaAlumbrado}"
						id="cargaAlumbrado" disabled="true" />
					<h:outputLabel
						value="#{MensajesComponentes_cns['caracteristicas.tabla.caracteristicasCarga.calefaccion']}"
						for="cargaCalefaccion" />
					<h:inputText
						value="#{caracteristicasSuministroBB.businessObject3.cargaCalefaccion}"
						id="cargaCalefaccion" disabled="true" />
					<h:outputLabel
						value="#{MensajesComponentes_cns['caracteristicas.tabla.caracteristicasCarga.fuerza']}"
						for="cargaFuerza" />
					<h:inputText
						value="#{caracteristicasSuministroBB.businessObject3.cargaFuerza}"
						id="cargaFuerza" disabled="true" />


					<h:outputLabel
						value="#{MensajesComponentes_cns['caracteristicas.tabla.caracteristicasCarga.totalCargaAforada']}"
						for="totalCargaAforada" />
					<h:inputText
						value="#{caracteristicasSuministroBB.businessObject3.totalCarga}"
						id="totalCargaAforada" disabled="true" />
					<h:outputLabel
						value="#{MensajesComponentes_cns['caracteristicas.tabla.caracteristicasCarga.alumbrado']}"
						for="cargaAlumbradoInstalada" />
					<h:inputText
						value="#{caracteristicasSuministroBB.businessObject3.cargaAlumbradoInstalada}"
						id="cargaAlumbradoInstalada" disabled="true" />
					<h:outputLabel
						value="#{MensajesComponentes_cns['caracteristicas.tabla.caracteristicasCarga.calefaccion']}"
						for="cargaCalefaccionInstalada" />
					<h:inputText
						value="#{caracteristicasSuministroBB.businessObject3.cargaCalefaccionInstalada}"
						id="cargaCalefaccionInstalada" disabled="true" />
					<h:outputLabel
						value="#{MensajesComponentes_cns['caracteristicas.tabla.caracteristicasCarga.fuerza']}"
						for="cargaFuerzaInstalada" />
					<h:inputText
						value="#{caracteristicasSuministroBB.businessObject3.cargaFuerzaInstalada}"
						id="cargaFuerzaInstalada" disabled="true" />


				</sy:panelGrid>
				</sy:group>
				</h:form>

		<h:form>
			<sy:title
				value="#{MensajesComponentes_cns['caracteristicas.grilla.antecedentesTransformador.title']}" />
			<sy:dataTable listBean="#{caracteristicasSuministroBB}"
				metadata="#{antecedentesTransformadorMetadata}" resources="#{ClavesInducidas_cns}">
				<sy:tableColumn attribute="numeroTransformador" />
				<sy:tableColumn attribute="propiedadTransformador" />
				<sy:tableColumn attribute="objetoCompra" />
				<sy:tableColumn attribute="estadoNegociacion" />
				<sy:tableColumn attribute="nombreActivo" />
			</sy:dataTable>
		</h:form>
	</sy:boxPage>
</f:view>
