<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core">
	<sy:boxPage>
		<h:form>
			<sy:title
				value="#{MensajesComponentes_cns['cargosFacturarCargosManuales.tituloCargosFacturar']}" />
			<sy:dataTable
				listBean="#{cargosFacturarCargosManualesBB.multiList.data['cargosFacturar']}"
				metadata="#{cargosFacturarMetadata}" resources="#{ClavesInducidas_cns}">
				<sy:tableColumn attribute="codigoCargo" />
				<sy:tableColumn attribute="descripcionCargo" />
				<sy:tableColumn attribute="valorCargo" />
				<sy:tableColumn attribute="tipoServicioCargo" />
				<sy:tableColumn attribute="nroServicioCargo" />
				<sy:tableColumn attribute="fechaIngresoCargo" />
				<sy:tableColumn attribute="usuarioIngresoCargo" />
				<sy:tableColumn attribute="nombreIngresoCargo" />
				<sy:tableColumnLinkPopup
	                    header="#{MensajesComponentes_cns['cargosFacturarCargosManualesBB.tabla.observaciones.title']}"
	                    label="#{MensajesComponentes_cns['cargosFacturarCargosManualesBB.tabla.observaciones']}"
	                    outcome="observaciones">
	                    <f:setPropertyActionListener target="#{detailBB.detail}"
	                        value="#{rowVar.observaciones}" />
	                </sy:tableColumnLinkPopup>
			</sy:dataTable>
			<br />
			<sy:title
				value="#{MensajesComponentes_cns['cargosFacturarCargosManuales.tituloCargosManuales']}" />
			<sy:dataTable
				listBean="#{cargosFacturarCargosManualesBB.multiList.data['cargosManuales']}"
				metadata="#{cargosManualesMetadata}" resources="#{ClavesInducidas_cns}">
				<sy:tableColumn attribute="codigoCargo" />
				<sy:tableColumn attribute="descripcionCargo" />
				<sy:tableColumn attribute="valorCargo" />
				<sy:tableColumn attribute="tipoServicioCargo" />
				<sy:tableColumn attribute="nroServicioCargo" />
				<sy:tableColumn attribute="fechaIngresoCargo" />
				<sy:tableColumn attribute="fechaDesarrolloActividadTerreno" />
				<sy:tableColumn attribute="usuarioIngresoCargo" />
				<sy:tableColumn attribute="nombreIngresoCargo" />
				<sy:tableColumn attribute="nroDocumentoIngresoCargo" />
				<sy:tableColumn attribute="estadoFactura" />
				<sy:tableColumn attribute="origenCargo" />
				<sy:tableColumnLinkPopup
	                    header="#{MensajesComponentes_cns['cargosFacturarCargosManualesBB.tabla.observaciones.title']}"
	                    label="#{MensajesComponentes_cns['cargosFacturarCargosManualesBB.tabla.observaciones']}"
	                    outcome="observaciones">
	                    <f:setPropertyActionListener target="#{detailBB.detail}"
	                        value="#{rowVar.observaciones}" />
	                </sy:tableColumnLinkPopup>
			</sy:dataTable>
		</h:form>
	</sy:boxPage>
</f:view>
