<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sv="http://shale.apache.org/validator"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour"
	xmlns:c="http://www.synapsis-it.com/jsf/core">
	<sy:boxPage
		title="#{MensajesComponentes_cns['certificadoLegalidadBB.titulo']}">

		<h:form id="filterForm" onsubmit="return validateForm(this);">
			<c:errorHandler />
			<sy:validationSummary />

			<sy:filters actionBean="#{cerificadosLegalidadKendariBB}"
				action="search">
				<h:outputLabel
					value="#{MensajesComponentes_cns['certificadoLegalidadBB.fecha.desde']}" />
				<sy:calendar id="fechaDesde"
					selectedDate="#{cerificadosLegalidadKendariBB.fechaDesde}">
					
					<sv:commonsValidator type="required"
						arg="#{MensajesComponentes_cns['certificadoLegalidadBB.fecha.desde']}"
						server="true" client="true" />
					
					<sv:commonsValidator type="equalMinimalDateComparator"
						arg="#{MensajesComponentes_cns['certificadoLegalidadBB.fecha.desde']}"
						server="false" client="true" min="fechaHasta" />

				</sy:calendar>

				<h:outputLabel
					value="#{MensajesComponentes_cns['certificadoLegalidadBB.fecha.hasta']}" />
				<sy:calendar id="fechaHasta"
					selectedDate="#{cerificadosLegalidadKendariBB.fechaHasta}">
					<sv:commonsValidator type="required"
						arg="#{MensajesComponentes_cns['certificadoLegalidadBB.fecha.hasta']}"
						server="true" client="true" />
				</sy:calendar>
			</sy:filters>


			<s:service manager="#{serviceManager}"
				name="certificadoLegalidadService" method="findByCriteria"
				id="certificadoLegalidadService" fire="false"
				binding="#{cerificadosLegalidadKendariBB.certificadoLegalidadService}">
				<f:param name="nroCuenta"
					value="#{numeroCuentaQueryFilter.attributeValue}" />
				<f:param name="fechaSolicitudGarantia"
					value="#{cerificadosLegalidadKendariBB.fechaDesde}" />
				<f:param name="fechaHasta"
					value="#{cerificadosLegalidadKendariBB.fechaHasta}" />
			</s:service>

			<s:dataTable source="certificadoLegalidadService" var="certif"
				target="#{cerificadosLegalidadKendariBB.certificadosLegalidadSeleccionados}"
				binding="#{cerificadosLegalidadKendariBB.certificadoLegalidadDataTable}">
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['certificado.legalidad.nrocuenta']}">
					<h:outputText value="#{certif.nroCuenta}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['certificado.legalidad.nroservicio.financiero']}">
					<h:outputText value="#{certif.nroServicioElectrico}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['certificado.legalidad.nroOrdenGarantia']}">
					<h:outputText value="#{certif.nroOrdenGarantia}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['certificado.legalidad.idsolicitante']}">
					<h:outputText value="#{certif.idSolicitante}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['certificado.legalidad.fecha.solicitud.garantia']}">
					<h:outputText value="#{certif.fechaSolicitudGarantia}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['certificado.legalidad.fecha.generacion.doc.emitido']}">
					<h:outputText value="#{certif.fechaGeneracionDocEmitido}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['certificado.legalidad.nroDocEmitido']}">
					<h:outputText value="#{certif.nroDocEmitido}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['certificado.legalidad.fecha.impresion.doc.emitido']}">
					<h:outputText value="#{certif.fechaImpresionDocEmitido}" />
				</sy:tableColumnCustom>
			</s:dataTable>

			<sy:externalPopup actionBean="#{cerificadosLegalidadKendariBB}"
				label="Imprimir" with="500" height="600" action="makeAction"
				uri="uri" id="kendariActionURL" />

			<sy:validatorScript functionName="validateForm" />
		</h:form>
	</sy:boxPage>
</f:view>
