<f:view xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:sy="http://www.synapsis.com/jsf/core"
    xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:sv="http://shale.apache.org/validator"
    xmlns:c="http://java.sun.com/jstl/core"
    xmlns:cs="http://www.synapsis-it.com/jsf/core" 	
    xmlns:t="http://myfaces.apache.org/tomahawk"
    xmlns:ui="http://java.sun.com/jsf/facelets">
    <sy:boxPage title="#{MensajesComponentes_cns['certificaBuenCliente.titulo']}" nroCuentaHeader="disable">
       <h:form onsubmit="return validateForm(this);">
       <t:saveState value="#{certificaBuenClienteBB.reImprimir}" />
        	<sy:validationSummary/>
        	<cs:exception />
			<c:choose>
				<c:when test="#{certificaBuenClienteBB.certifica}">
	        		<h:outputText id="errorListaVacia" style="color: red;" value="#{certificaBuenClienteBB.errorListaVacia}" />
		     
		                <sy:panelGrid oneColumn="true">
		                    <h:outputLabel
		                        value="(*) #{MensajesComponentes_cns['certificaBuenCliente.nombre.solicitante']}"
		                        styleClass="label"/>
		                    <h:inputText
		                        value="#{certificaBuenClienteBB.nombreSolicitante}"
		                        styleClass="edit">
		        		        	<sv:commonsValidator type="required" arg="#{MensajesComponentes_cns['certificaBuenCliente.nombre.solicitante']}"
		        		        		server="true" client="true"/>
		                    </h:inputText>
		                    <h:outputLabel
		                        value="(*) #{MensajesComponentes_cns['certificaBuenCliente.tipo.documento']}"
		                        styleClass="label" />
		                <h:selectOneMenu binding="#{certificaBuenClienteBB.componente}"
		                    value="#{certificaBuenClienteBB.tipoDocumento}"
		                    styleClass="edit" id="input_tipoDoc">
		                    <f:selectItems value="#{certificaBuenClienteBB.tipoDocumentoList}" />
		                            <sv:commonsValidator type="required" arg="#{MensajesComponentes_cns['certificaBuenCliente.tipo.documento']}"
		                                server="true" client="true"/>                                                
		                </h:selectOneMenu>
		                        
		                    <h:outputLabel
		                        value="(*) #{MensajesComponentes_cns['certificaBuenCliente.numero.documento']}"
		                        styleClass="label" />
		                    <h:inputText
		                        value="#{certificaBuenClienteBB.numeroDocumento}"
		                        styleClass="edit">
		        		        	<sv:commonsValidator type="required" arg="#{MensajesComponentes_cns['certificaBuenCliente.numero.documento']}"
		        		        		server="true" client="true"/>
			                </h:inputText>
		                </sy:panelGrid>	
						<sy:validatorScript functionName="validateForm"/>
						<br/>
						(*) Es Requerido
						<br/>
						<br/>		
		            <h:commandButton action="#{certificaBuenClienteBB.emitirCertificadoAction}" value="#{MensajesComponentes_cns['certificaConsumosBB.imprimir']}" rendered="#{!certificaBuenClienteBB.reImprimir}" />
		            <h:commandButton action="#{certificaBuenClienteBB.emitirCertificadoAction}" value="#{MensajesComponentes_cns['certificaConsumosBB.reImprimir']}" rendered="#{certificaBuenClienteBB.reImprimir}"/>

					<!--  -->
					<script type="text/javascript" src="../scripts/kendari.js" defered="true" />
					
					<a4j:commandButton
						value="#{MensajesComponentes_cns['generacionContacto.label']}"
						actionListener="#{certificaBuenClienteBB.execKndUseCase}"
						reRender="uriValue"
						oncomplete="gotoKendari('uriValue')"
						id="kActionURL">
						<h:inputHidden id="uriValue" value="#{certificaBuenClienteBB.uri}" />
					</a4j:commandButton>
					<!--  -->																							            		            
					
		            <br/>
		    	</c:when>
		    	<c:otherwise>
		    		<h:outputText style="color: red;" value="#{MensajesComponentes_cns['certificaBuenCliente.error.cuenta.no.certifica']}" /> <br />
		    			   <ui:repeat var="row" value="#{certificaBuenClienteBB.validations}"> 
		    			   		<h:outputText style="color: red;" value="#{row}" /> <br />
		    			   </ui:repeat>	    		
		    	</c:otherwise>
		    </c:choose>
		    
        </h:form>       
    </sy:boxPage>
</f:view>