<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:cs="http://www.synapsis-it.com/jsf/core"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax">
	
	<t:saveState value="#{certificaConvenioBB.convenio}" />	
	<sy:boxPage
		title="#{MensajesComponentes_cns['certificaConvenio.titulo']}">
		<h:form>
			<cs:errorHandler />
			<sy:panelGrid oneColumn="true">

				<!-- service para levantar los tipos documento que se muestran en el combo -->
				<s:service manager="#{serviceManager}"
					name="tiposDocumentoPersonaService" method="findByCriteria"
					id="tiposDocumentoPersonaService" rows="100">
				</s:service>
				<!-- unmarshall service para la lista recuperada por el service de tipos documento -->
				<s:unmarshall source="tiposDocumentoPersonaService"
					var="tipoDocumentoList" />

				<h:outputLabel
					value="#{MensajesComponentes_cns['certificaConvenio.nombreSolicitante']}"
					styleClass="label" />
				<h:inputText value="#{certificaConvenioBB.nombreSolicitante}"
					styleClass="edit">
					<b:behaviour>
						<b:rule name="requiredRule" />
					</b:behaviour>
				</h:inputText>
			</sy:panelGrid>
			<sy:panelGrid oneColumn="false">
				<h:outputLabel
					value="#{MensajesComponentes_cns['certificaConvenio.tipoNumeroDocumento']}"
					styleClass="label" />
				<h:selectOneMenu value="#{certificaConvenioBB.tipoDocumento}"
					styleClass="edit">
					<t:selectItems value="#{tipoDocumentoList}" var="tipoDocumento"
						itemLabel="#{tipoDocumento.descripcion}"
						itemValue="#{tipoDocumento.descripcion}" />
				</h:selectOneMenu>
				<h:inputText value="#{certificaConvenioBB.nroDocumento}"
					styleClass="edit">
					<b:behaviour>
						<b:rule name="requiredRule" />
						<b:rule name="onlyNumbers" />
					</b:behaviour>
				</h:inputText>
			</sy:panelGrid>
			<br />
			<h:commandButton action="#{certificaConvenioBB.generatePdfAction}"
				value="#{MensajesComponentes_cns['certificaConsumosBB.imprimir']}" />																		

			<!--  -->
			<script type="text/javascript" src="../scripts/kendari.js" defered="true" />

			<a4j:commandButton
				value="#{MensajesComponentes_cns['generacionContacto.label']}"
				actionListener="#{certificaConvenioBB.execKndUseCase}"
				reRender="uriValue"
				oncomplete="gotoKendari('uriValue')"
				id="kActionURL">
				<h:inputHidden id="uriValue" value="#{certificaConvenioBB.uri}" />
			</a4j:commandButton>
			<!--  -->				
				
		</h:form>								
	</sy:boxPage>

</f:view>
