<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:sv="http://shale.apache.org/validator"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour"
	xmlns:c="http://www.synapsis-it.com/jsf/core">

	<sy:boxPage
		title="#{MensajesComponentes_cns['certificaPagosBB.titulo']}">
		<h:form>		
		<t:saveState value="#{certificaPagosBB.certificadoPagoSelected}" />
			<c:errorHandler />
			<!-- service para levantar los tipos documento que se muestran en el combo -->
			<s:service manager="#{serviceManager}"
				name="tiposDocumentoPersonaService" method="findByCriteria"
				id="tiposDocumentoPersonaService" rows="100">
			</s:service>
			<!-- unmarshall service para la lista recuperada por el service de tipos documento -->
			<s:unmarshall source="tiposDocumentoPersonaService"
				var="tipoDocumentoList" />
			<b:selectGroup binding="#{certificaPagosBB.group}">
				<h:panelGrid columns="2">
					<b:group labelTitle="Pago Persona" columns="2" checked="true" id="grupoPersona">
						<h:outputLabel
							value="#{MensajesComponentes_cns['certificaPagosBB.nombre.solicitante']}" />
						<h:inputText value="#{certificaPagosBB.nombreSolicitantePersona}">
							<b:behaviour>
								<b:rule name="requiredRule" />
							</b:behaviour>
						</h:inputText>
						<h:outputLabel
							value="#{MensajesComponentes_cns['certificaPagosBB.tipo.documento']}" />
						<h:selectOneMenu value="#{certificaPagosBB.tipoDocumentoPersona}"
							styleClass="edit">
							<t:selectItems value="#{tipoDocumentoList}" var="tipoDocumento"
								itemLabel="#{tipoDocumento.descripcion}"
								itemValue="#{tipoDocumento.codigo}" />
							<b:behaviour>
								<b:rule name="requiredRule" />
							</b:behaviour>
						</h:selectOneMenu>

						<h:outputLabel
							value="#{MensajesComponentes_cns['certificaPagosBB.numero.documento']}" />
						<h:inputText value="#{certificaPagosBB.numeroDocumentoPersona}">
							<b:behaviour>
								<b:rule name="requiredRule" />
							</b:behaviour>
						</h:inputText>
					</b:group>
					<b:group labelTitle="Certifica Pago Juzgado" columns="2" id="grupoJuzgado">
						<h:outputLabel
							value="#{MensajesComponentes_cns['certificaPagosBB.nombre.solicitante']}" />
						<h:inputText value="#{certificaPagosBB.nombreSolicitanteJuzgado}">
							<b:behaviour>
								<b:rule name="requiredRule" />
							</b:behaviour>
						</h:inputText>
						<h:outputLabel
							value="#{MensajesComponentes_cns['certificaPagosBB.tipo.documento']}" />
						<h:selectOneMenu value="#{certificaPagosBB.tipoDocumentoJuzgado}"
							styleClass="edit">
							<t:selectItems value="#{tipoDocumentoList}" var="tipoDocumento"
								itemLabel="#{tipoDocumento.descripcion}"
								itemValue="#{tipoDocumento.codigo}" />
							<b:behaviour>
								<b:rule name="requiredRule" />
							</b:behaviour>
						</h:selectOneMenu>

						<h:outputLabel
							value="#{MensajesComponentes_cns['certificaPagosBB.numero.documento']}"/>
						<h:inputText value="#{certificaPagosBB.numeroDocumentoJuzgado}">
							<b:behaviour>
								<b:rule name="requiredRule" />
							</b:behaviour>
						</h:inputText>
                        <h:outputLabel value="#{MensajesComponentes_cns['certificaPagosBB.nombre.juzgado']}"/>
                        <h:inputText
                            value="#{certificaPagosBB.nombreJuzgado}">
							<b:behaviour>
								<b:rule name="requiredRule" />
							</b:behaviour>
                        </h:inputText>                        
						
					</b:group>
				</h:panelGrid>
			</b:selectGroup>
			<h:commandButton
				actionListener="#{certificaPagosBB.emitirCertificadoAction}"
				value="#{MensajesComponentes_cns['certificaPagosBB.generarPDF']}" />
		
			<!--  -->
			<script type="text/javascript" src="../scripts/kendari.js" defered="true" />
			
			<a4j:commandButton
				value="#{MensajesComponentes_cns['generacionContacto.label']}"
				actionListener="#{certificaPagosBB.execKndUseCase}"
				reRender="uriValue"
				oncomplete="gotoKendari('uriValue')"
				id="kActionURL">
				<h:inputHidden id="uriValue" value="#{certificaPagosBB.uri}" />
			</a4j:commandButton>
			<!--  -->																							
		
		</h:form>
	</sy:boxPage>

</f:view>
