<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour">
	<sy:boxPage
		title="#{MensajesComponentes_cns['certificaConsumosBB.title']}">
		<h:form>
			<c:errorHandler />

			<t:saveState value="#{certificaConsumosBB.valoresConsumos}" />

			<s:service manager="#{serviceManager}"
				name="tiposDocumentoPersonaService" method="findByCriteria"
				id="tiposDocumentoPersonaService" rows="100">
			</s:service>
			<!-- unmarshall service para la lista recuperada por el service de tipos documento -->
			<s:unmarshall source="tiposDocumentoPersonaService"
				var="tipoDocumentoList" />

			<b:selectGroup binding="#{certificaConsumosBB.group}">
				<h:panelGrid columns="2">
					<b:group
						labelTitle="Consumo"
						columns="2" checked="true" id="grupoConsumo">
						<sy:panelGrid oneColumn="true">
							<h:outputLabel
								value="#{MensajesComponentes_cns['certificaConsumosBB.nombreSolicitante']}" />
							<h:inputText value="#{certificaConsumosBB.nombreSolicitante}"
								styleClass="edit">
								<b:behaviour>
									<b:rule name="requiredRule" />
								</b:behaviour>
							</h:inputText>
							<h:outputLabel
								value="#{MensajesComponentes_cns['certificaConsumosBB.tipoDocumento']}" />
							<h:selectOneMenu value="#{certificaConsumosBB.tipoDocumentoPersona}"
								styleClass="edit">
								<t:selectItems value="#{tipoDocumentoList}" var="tipoDocumento"
									itemLabel="#{tipoDocumento.descripcion}"
									itemValue="#{tipoDocumento.codigo}" />
								<b:behaviour>
									<b:rule name="requiredRule" />
								</b:behaviour>
							</h:selectOneMenu>
							<h:outputLabel
								value="#{MensajesComponentes_cns['certificaConsumosBB.numeroDocumento']}" />
							<h:inputText value="#{certificaConsumosBB.nroDocumento}"
								styleClass="edit">
								<b:behaviour>
									<b:rule name="requiredRule" />
								</b:behaviour>
							</h:inputText>
							<h:outputLabel
								value="#{MensajesComponentes_cns['certificaConsumosBB.observaciones']}" />
							<h:inputText value="#{certificaConsumosBB.observaciones}"
								styleClass="edit" />
							<h:outputLabel
								value="#{MensajesComponentes_cns['certificaConsumosBB.nombreQuienEmite']}" />
							<h:inputText value="#{certificaConsumosBB.nombreQuienEmite}"
								styleClass="edit">
								<b:behaviour>
									<b:rule name="requiredRule" />
								</b:behaviour>
							</h:inputText>
						</sy:panelGrid>
					</b:group>
					<b:group
						labelTitle="Consumo Empresa de Aseo"
						columns="2" id="grupConsumoEmpresa">
						<sy:panelGrid oneColumn="true">
							<h:outputLabel
								value="#{MensajesComponentes_cns['certificaConsumosBB.nombreSolicitante']}" />
							<h:inputText value="#{certificaConsumosBB.nombreSolicitante}"
								styleClass="edit">
								<b:behaviour>
									<b:rule name="requiredRule" />
								</b:behaviour>
							</h:inputText>
							<h:outputLabel
								value="#{MensajesComponentes_cns['certificaConsumosBB.tipoDocumento']}" />
							<h:selectOneMenu value="#{certificaConsumosBB.tipoDocumentoPersona}"
								styleClass="edit">
								<t:selectItems value="#{tipoDocumentoList}" var="tipoDocumento"
									itemLabel="#{tipoDocumento.descripcion}"
									itemValue="#{tipoDocumento.codigo}" />
								<b:behaviour>
									<b:rule name="requiredRule" />
								</b:behaviour>
							</h:selectOneMenu>
							<h:outputLabel
								value="#{MensajesComponentes_cns['certificaConsumosBB.numeroDocumento']}" />
							<h:inputText value="#{certificaConsumosBB.nroDocumento}"
								styleClass="edit">
								<b:behaviour>
									<b:rule name="requiredRule" />
								</b:behaviour>
							</h:inputText>
							<h:outputLabel
								value="#{MensajesComponentes_cns['certificaConsumosBB.telefono']}" />
							<h:inputText value="#{certificaConsumosBB.telefono}"
								styleClass="edit">
								<b:behaviour>
									<b:rule name="requiredRule" />
								</b:behaviour>
							</h:inputText>
							<h:outputLabel
								value="#{MensajesComponentes_cns['certificaConsumosBB.empresaExpideCertificacion']}" />
							<h:inputText
								value="#{certificaConsumosBB.empresaExpideCertificacion}"
								styleClass="edit">
								<b:behaviour>
									<b:rule name="requiredRule" />
								</b:behaviour>
							</h:inputText>
							<h:outputLabel
								value="#{MensajesComponentes_cns['certificaConsumosBB.observaciones']}" />
							<h:inputText value="#{certificaConsumosBB.observaciones}"
								styleClass="edit" />
							<h:outputLabel
								value="#{MensajesComponentes_cns['certificaConsumosBB.nombreQuienEmite']}" />
							<h:inputText value="#{certificaConsumosBB.nombreQuienEmite}"
								styleClass="edit">
								<b:behaviour>
									<b:rule name="requiredRule" />
								</b:behaviour>
							</h:inputText>
						</sy:panelGrid>
					</b:group>
				</h:panelGrid>
			</b:selectGroup>
			<br />
			<h:commandButton action="#{certificaConsumosBB.generatePdfConsumo}"
				value="#{MensajesComponentes_cns['certificaConsumosBB.imprimir']}" />											

			<!--  -->
			<script type="text/javascript" src="../scripts/kendari.js" defered="true" />
			
			<a4j:commandButton
				value="#{MensajesComponentes_cns['generacionContacto.label']}"
				actionListener="#{certificaConsumosBB.execKndUseCase}"
				reRender="uriValue"
				oncomplete="gotoKendari('uriValue')"
				id="kActionURL">
				<h:inputHidden id="uriValue" value="#{certificaConsumosBB.uri}" />
			</a4j:commandButton>
			<!--  -->																					

		</h:form>						
	</sy:boxPage>
		
</f:view>
