<sy:dataGrid xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:sy="http://www.synapsis.com/jsf/core">
    <sy:dataGridRow label="#{MensajesComponentes_cns.nombres}"
        data="#{datosTitularCuentaBB.businessObject.nombre}" />
    <sy:dataGridRow label="#{MensajesComponentes_cns.tipoNroDoc}"
        data="#{datosTitularCuentaBB.businessObject.tipoDocumento}" />
    <sy:dataGridRow label="#{MensajesComponentes_cns.telefono}"
        data="#{datosTitularCuentaBB.businessObject.telefono}" />
    <sy:dataGridRow label="#{MensajesComponentes_cns.email}"
        data="#{datosTitularCuentaBB.businessObject.email}" />
</sy:dataGrid>
