<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service">
<body>
		<h:form>
			<s:service id="compService" manager="#{serviceManager}"
				name="componenteMedidorService" method="findByCriteria"
				fire="true">
				<f:param name="nroCuenta"
					value="#{numeroCuentaQueryFilter.attributeValue}" />
			</s:service>
			<s:dataTable source="compService" var="comp" rows="0">
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.componente.medidor.fechaInstalacion']}">
					<h:outputText value="#{comp.fechaInstalacion}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.componente.medidor.nroComponente']}">
					<h:outputText value="#{comp.nroComponente}" />
				</sy:tableColumnCustom>

				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.componente.medidor.marca']}">
					<h:outputText value="#{comp.marca}" />
				</sy:tableColumnCustom>

				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.componente.medidor.fase']}">
					<h:outputText value="#{comp.fase}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.componente.medidor.factor']}">
					<h:outputText value="#{comp.factor}" />
				</sy:tableColumnCustom>

			</s:dataTable>

		</h:form>
</body>
</f:view>
