<f:subview xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service">

	<!-- Service que levanta las Ordenes Refa que se cargan en la grilla de abajo -->
	<s:service id="refacturacionesService" manager="#{serviceManager}"
		name="refacturacionesService" method="findByCriteria">
		<f:param name="nroCuenta"
			value="#{numeroCuentaQueryFilter.attributeValue}" />
	</s:service>
	<!-- Grilla de Ordenes de Refacturacion Aprobadas-->
	<sy:title value="#{MensajesComponentes_cns['consulta.refact.title']}" />
	<s:dataTable source="refacturacionesService" var="ordenRefa">
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.refact.fecAprobacion']}">
			<h:outputText value="#{ordenRefa.fecAprobacion}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.refact.numDoc']}">
			<h:outputText value="#{ordenRefa.nroDocumento}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.refact.valor']}">
				<c:popup>
				<h:commandLink action="refacturacion" immediate="true"
					value="#{ordenRefa.valor}">
					<f:setPropertyActionListener target="#{detalleDeudaSaldoBB.bo}" value="#{ordenRefa}" />
				</h:commandLink>
			</c:popup>
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.refact.valorTotalAntes']}">
			<h:outputText value="#{ordenRefa.valorTotalAntes}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.refact.valorTotalDespues']}">
			<h:outputText value="#{ordenRefa.valorTotalDespues}" />
		</sy:tableColumnCustom>
	</s:dataTable>



	<!-- Service que levanta las Ordenes SED que se cargan en la grilla de abajo  -->
	<s:service id="ordenesSEDService" manager="#{serviceManager}"
		name="ordenesSEDService" method="findByCriteria">
		<f:param name="nroCuenta"
			value="#{numeroCuentaQueryFilter.attributeValue}" />
	</s:service>
		<sy:title value="#{MensajesComponentes_cns['consulta.ordenesSED.title']}" />
		<!-- Grilla de Ordenes SED (estados: pendienteGestion, pendienteDescongelacion, liberado, descongelacionPendienteAprobacion) -->
	<s:dataTable source="ordenesSEDService" var="ordenSED">
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.ordenesSED.fechaAprobacion']}">
			<h:outputText value="#{ordenSED.fechaAprobacion}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.ordenesSED.numeroSaldo']}">
			<h:outputText value="#{ordenSED.numeroSaldo}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.ordenesSED.estado']}">
			<h:outputText value="#{ordenSED.estado}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.ordenesSED.valor']}">
				<c:popup>
				<h:commandLink action="congelacion" immediate="true"
					value="#{ordenSED.valor}">
					<f:setPropertyActionListener target="#{detalleDeudaSaldoBB.bo}" value="#{ordenSED}" />
				</h:commandLink>
			</c:popup>
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.ordenesSED.valorAntesCongelacion']}">
			<h:outputText value="#{ordenSED.valorAntesCongelacion}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.ordenesSED.valorDespuesCongelacion']}">
			<h:outputText value="#{ordenSED.valorDespuesCongelacion}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.ordenesSED.valorAntesDescongelacion']}">
			<h:outputText value="#{ordenSED.valorAntesDescongelacion}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.ordenesSED.valorDespuesDescongelacion']}">
			<h:outputText value="#{ordenSED.valorDespuesDescongelacion}" />
		</sy:tableColumnCustom>
	</s:dataTable>
</f:subview>
