<f:subview xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:f="http://java.sun.com/jsf/core">
	<sy:title
		value="#{MensajesComponentes_cns['consultaCongelacion.detalle.tab2.titulo.congelacion']}" />
	<sy:panelGrid columns="3">
		<h:outputLabel
			value="#{MensajesComponentes_cns['consultaCongelacion.detalle.tab2.saldo.total']}"
			for="saldoTotal" />
		<h:inputText
			value="#{detalleCongelacionesBB.businessObject3.saldoTotal}"
			id="saldoTotal" disabled="true" >
			 <f:convertNumber pattern="#{MensajesComponentes_cns['double.pattern.dos.sinDecimales']}" locale="en" />
		</h:inputText>			

		<h:outputLabel
			value="#{MensajesComponentes_cns['consultaCongelacion.detalle.tab2.saldo.final.total']}" />
		<h:inputText
			value="#{detalleCongelacionesBB.businessObject3.saldoFinalCuentaDesc}" disabled="true" >
			 <f:convertNumber pattern="#{MensajesComponentes_cns['double.pattern.dos.sinDecimales']}" locale="en" />
		</h:inputText>

		<h:outputLabel
			value="#{MensajesComponentes_cns['consultaCongelacion.detalle.tab2.valor.energia.kvar']}"
			for="saldoOtrosNegDespuesCong" />
		<h:inputText
			value="#{detalleCongelacionesBB.businessObject3.valorEnergiaKvar}"
			id="saldoOtrosNegDespuesCong" disabled="true" >
			<f:convertNumber pattern="#{MensajesComponentes_cns['double.pattern.dos.sinDecimales']}" locale="en" />
		</h:inputText> 
		
		<h:outputLabel
			value="#{MensajesComponentes_cns['consultaCongelacion.detalle.tab2.energia.sd']}"
			for="energiaSd" />
		<h:inputText
			value="#{detalleCongelacionesBB.businessObject3.energiaSd}"
			id="energiaSd" disabled="true" >
			<f:convertNumber pattern="#{MensajesComponentes_cns['double.pattern.dos.sinDecimales']}" locale="en" />
		</h:inputText>

		<h:outputLabel
			value="#{MensajesComponentes_cns['consultaCongelacion.detalle.tab2.saldo.energ.despues.cong']}"
			for="saldoEnergDespuesCong" />
		<h:inputText
			value="#{detalleCongelacionesBB.businessObject3.saldoEnergDespuesCong}"
			id="saldoEnergDespuesCong" disabled="true" >
			<f:convertNumber pattern="#{MensajesComponentes_cns['double.pattern.dos.sinDecimales']}" locale="en" />
		</h:inputText>

		<h:outputLabel
			value="#{MensajesComponentes_cns['consultaCongelacion.detalle.tab2.valor.energia.Kwh']}"
			for="saldoOtrosNeg" />
		<h:inputText
			value="#{detalleCongelacionesBB.businessObject3.valorEnergiaKwh}"
			id="saldoOtrosNeg" disabled="true" >
			 <f:convertNumber pattern="#{MensajesComponentes_cns['double.pattern.dos.sinDecimales']}" locale="en" />
		</h:inputText>

		<h:outputLabel
			value="#{MensajesComponentes_cns['consultaCongelacion.detalle.tab2.valor.valorDisputado']}"
			for="valorDisputado" />
		<h:inputText
			value="#{detalleCongelacionesBB.businessObject3.valorDisputado}"
			id="valorDisputado" disabled="true" >
			 <f:convertNumber pattern="#{MensajesComponentes_cns['double.pattern.dos.sinDecimales']}" locale="en" />
		</h:inputText>
		
	</sy:panelGrid>
	
	<sy:title
		value="#{MensajesComponentes_cns['consultaCongelacion.detalle.tab2.titulo.descongelacion']}" />
	<sy:panelGrid columns="3">
		<h:outputLabel
			value="#{MensajesComponentes_cns['consultaCongelacion.detalle.tab2.saldoInicialCuentaDesc']}"
			for="saldoInicialCuentaDesc" />
		<h:inputText
			value="#{detalleCongelacionesBB.businessObject3.saldoInicialCuentaDesc}"
			id="saldoInicialCuentaDesc" disabled="true" >
			 <f:convertNumber pattern="#{MensajesComponentes_cns['double.pattern.dos.sinDecimales']}" locale="en" />
		</h:inputText>

		<h:outputLabel
			value="#{MensajesComponentes_cns['consultaCongelacion.detalle.tab2.saldoFinalCuentaDesc']}" 
			for="saldoFinalCuentaDesc" />
		<h:inputText
			value="#{detalleCongelacionesBB.businessObject3.saldoFinalCuentaDesc}" disabled="true" >
			 <f:convertNumber pattern="#{MensajesComponentes_cns['double.pattern.dos.sinDecimales']}" locale="en" />
		</h:inputText>

		<h:outputLabel
			value="#{MensajesComponentes_cns['consultaCongelacion.detalle.tab2.valorDescongelado']}"
			for="valorDescongelado" />
		<h:inputText
			value="#{detalleCongelacionesBB.businessObject3.valorDescongelado}"
			id="valorDescongelado" disabled="true" >
			 <f:convertNumber pattern="#{MensajesComponentes_cns['double.pattern.dos.sinDecimales']}" locale="en" />
		</h:inputText>

		<h:outputLabel
			value="#{MensajesComponentes_cns['consultaCongelacion.detalle.tab2.saldoInicialServDesc']}"
			for="saldoInicialServDesc" />
		<h:inputText
			value="#{detalleCongelacionesBB.businessObject3.saldoInicialServDesc}"
			id="saldoInicialServDesc" disabled="true" >
			 <f:convertNumber pattern="#{MensajesComponentes_cns['double.pattern.dos.sinDecimales']}" locale="en" />
		</h:inputText>

		<h:outputLabel
			value="#{MensajesComponentes_cns['consultaCongelacion.detalle.tab2.saldoFinalServDesc']}"
			for="saldoFinalServDesc" />
		<h:inputText
			value="#{detalleCongelacionesBB.businessObject3.saldoFinalServDesc}"
			id="saldoFinalServDesc" disabled="true" >
			  <f:convertNumber pattern="#{MensajesComponentes_cns['double.pattern.dos.sinDecimales']}" locale="en" />
		</h:inputText>
			
	</sy:panelGrid>
		
</f:subview>
