<sy:dataTable xmlns="http://www.w3.org/1999/xhtml"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	listBean="#{detalleConsultaRefacturacionesAjustesBB.multiList.data['consultaItemsDisposicionLegalDetail']}"
	metadata="#{consultaItemsDisposicionLegalMetaData}" resources="#{ClavesInducidas_cns}">	
	<sy:tableColumn attribute="id" />
	<sy:tableColumn attribute="movimiento" />
	<sy:tableColumn attribute="codigoItem" />	
	<sy:tableColumn attribute="descItem" />	
	<sy:tableColumn attribute="fecPeriodo" />	
	<sy:tableColumn attribute="valorBeforeAjuste" />	
	<sy:tableColumn attribute="valorAfterAjuste" />	
	<sy:tableColumn attribute="valorAjuste" />	
	<sy:tableColumn attribute="consumoKW" />	
		
</sy:dataTable>









