<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:s="http://www.synapsis-it.com/jsf/service">
	<sy:boxPage title="">
		<h:form id="consultaExpedientesNotificaciones">
		<!--ACA DEFINO UN SERVICE PARA EL DATATABLE DE ABAJO-->
			<s:service id="consultaExpedientesNotificacionesService"
				manager="#{serviceManager}" name="consultaExpedientesNotificacionesService"
				method="findByCriteria" fire="true">
				<f:param name="numeroExpediente"
					value="#{numeroExpediente}" />
			</s:service>
		
			<sy:title
				value="#{MensajesComponentes_cns['consultaExpedientesNotificaciones.tabla.title']}" />
			<sy:group title="" columns="2">
				<h:outputLabel
					value="#{MensajesComponentes_cns['consultaExpedientesNotificaciones.numero.expediente']}"
					for="nroExpediente" />
				<h:inputText value="#{numeroExpediente}" id="nroExpediente" disabled="true">
				</h:inputText>
				
			</sy:group>
			<s:dataTable source="consultaExpedientesNotificacionesService" var="notificacion">
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaExpedientesNotificaciones.tabla.columna.tipoNotificacion']}">
					<h:outputText value="#{notificacion.tipoNotificacion}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaExpedientesNotificaciones.tabla.columna.fechaNotificacion']}">
					<h:outputText value="#{notificacion.fechaNotificacion}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaExpedientesNotificaciones.tabla.columna.nombreNotifico']}">
					<h:outputText value="#{notificacion.nombreNotifico}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaExpedientesNotificaciones.tabla.columna.tipoDocumento']}">
					<h:outputText value="#{notificacion.tipoDocumento}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaExpedientesNotificaciones.tabla.columna.numeroDocumento']}">
					<h:outputText value="#{notificacion.numeroDocumento}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaExpedientesNotificaciones.tabla.columna.calidadActua']}">
					<h:outputText value="#{notificacion.calidadActua}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaExpedientesNotificaciones.tabla.columna.fechaFijacionEdicto']}">
					<h:outputText value="#{notificacion.fechaFijacionEdicto}" />
				</sy:tableColumnCustom>
					<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaExpedientesNotificaciones.tabla.columna.fechaDesfijacionEdicto']}">
					<h:outputText value="#{notificacion.fechaDesfijacionEdicto}" />
				</sy:tableColumnCustom>
			</s:dataTable>
		</h:form>
	</sy:boxPage>
</f:view>
