<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sv="http://shale.apache.org/validator"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour"
	xmlns:c="http://www.synapsis-it.com/jsf/core">

	<sy:boxPage
		title="#{MensajesComponentes_cns['consultaFacturacion.consultaFacturacionItemsFacturados.titulo']}">
		<h:form>
		<c:errorHandler />
		
		<t:saveState value="#{consultaFacturacionItemsFacturadosBB.detailName}" />
		<t:saveState value="#{consultaFacturacionItemsFacturadosBB.id}" />
		<s:service manager="#{serviceManager}"
			name="consultaDetalleItemsService" method="findByCriteria"
			id="consultaDetalleItemsService">
			<f:param name="idServicio"
				value="#{consultaFacturacionItemsFacturadosBB.id}" />
			<f:param name="detailName" value="#{consultaFacturacionItemsFacturadosBB.detailName}" />
		</s:service>
	
    	<s:dataTable source="consultaDetalleItemsService" var="item">
			<sy:tableColumnCustom
				header="#{MensajesComponentes_cns['consultaFacturacion.tab4.periodoFacturacion']}">
				<h:outputText value="#{item.periodoFact}" />
			</sy:tableColumnCustom>
			<sy:tableColumnCustom
				header="#{MensajesComponentes_cns['consultaFacturacion.tab4.codigoItem']}">
				<h:outputText value="#{item.codItem}" />
			</sy:tableColumnCustom>
			<sy:tableColumnCustom
				header="#{MensajesComponentes_cns['consultaFacturacion.tab4.descripcionItem']}">
				<h:outputText value="#{item.descItem}" />
			</sy:tableColumnCustom>
			<sy:tableColumnCustom
				header="#{MensajesComponentes_cns['consultaFacturacion.tab4.valorFacturadoItem']}">
				<h:outputText value="#{item.valFacItem}" />
			</sy:tableColumnCustom>	
		</s:dataTable>
	</h:form>
	</sy:boxPage>
</f:view>
