<f:subview xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:core="http://java.sun.com/jstl/core"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:sv="http://shale.apache.org/validator"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour">

	<h:form id="consultaTransformadorByParams">
	<t:saveState value="#{consultaDatosTransformadorBB.transformador}" />

	<s:service manager="#{serviceManager}"
		name="serviciosElectricosByNroTransformadorService"
		method="findByCriteria"
		id="consultaServiciosElectricosByNroTransformador" fire="false"
		binding="#{consultaDatosTransformadorBB.findServiciosElectricosByNroTransformadorService}">
		<f:param name="transformador"
			value="#{consultaDatosTransformadorBB.transformador}" />
		<f:param name="fechaProceso"
			value="#{consultaDatosTransformadorBB.fechaProceso}" />
	</s:service>
	
	<!-- service para levantar los periodos que se muestran en el combo -->
	<s:service manager="#{serviceManager}"
			   name="consultaVinculoRedPeriodosService" method="findByCriteria"
			   id="consultaVinculoRedPeriodosService" rows="100">
	</s:service>
	<!-- unmarshall service para la lista recuperada por el service de periodos -->
	<s:unmarshall source="consultaVinculoRedPeriodosService" var="periodos" />

	<sy:filters actionBean="#{consultaDatosTransformadorBB}"
		action="search" columns="3">
		<h:outputLabel
			value="#{MensajesComponentes_cns['consultaDatosTransformadorByParams.filterLabels.transformador']} * " />
		<t:inputText value="#{consultaDatosTransformadorBB.transformador}"/>


		<h:outputLabel
			value="#{MensajesComponentes_cns['consultaDatosTransformadorByParams.filterLabels.periodo']} * " />
        <t:selectOneMenu value="#{consultaDatosTransformadorBB.fechaProceso}" styleClass="edit">
				<f:selectItem itemLabel="Seleccionar ..." itemValue="" />
				<t:selectItems value="#{periodos}" var="periodo"
							   itemLabel="#{periodo.periodoFacturacion}" itemValue="#{periodo.fechaProceso}" />
                <f:convertDateTime type="both" />
		</t:selectOneMenu>
	</sy:filters>

	<sy:group title="Datos del transformador">
		<sy:panelGrid columns="2" border="4" cellspacing="4">
 			<h:outputLabel
				value="#{MensajesComponentes_cns['consultaDatosTransformadorByParams.datosTransformador.outputs.tranformador']}" />
			<h:outputText
				style="width: 100px; margin-right: 40px;margin-left: 20px;"
				value="#{consultaDatosTransformadorBB.datosTransformador.transformador}" /> 
		    <h:outputLabel
				value="#{MensajesComponentes_cns['consultaDatosTransformadorByParams.datosTransformador.outputs.propiedad']}" />
			<h:outputText value="#{consultaDatosTransformadorBB.datosTransformador.propiedad}" />
			<h:outputLabel
				value="#{MensajesComponentes_cns['consultaDatosTransformadorByParams.datosTransformador.outputs.red']}" />
			<h:outputText value="#{consultaDatosTransformadorBB.datosTransformador.red}" />
			<h:outputLabel
				value="#{MensajesComponentes_cns['consultaDatosTransformadorByParams.datosTransformador.outputs.estado']}" />
			<h:outputText value="#{consultaDatosTransformadorBB.datosTransformador.estado}" />
			<h:outputLabel
				value="#{MensajesComponentes_cns['consultaDatosTransformadorByParams.datosTransformador.outputs.conexion']}" />
			<h:outputText value="#{consultaDatosTransformadorBB.datosTransformador.conexion}" />
			<h:outputLabel
				value="#{MensajesComponentes_cns['consultaDatosTransformadorByParams.datosTransformador.outputs.alumbrado']}" />
			<h:outputText value="#{consultaDatosTransformadorBB.datosTransformador.alumbrado}" />
			<h:outputLabel
				value="#{MensajesComponentes_cns['consultaDatosTransformadorByParams.datosTransformador.outputs.circuito']}" />
			<h:outputText value="#{consultaDatosTransformadorBB.datosTransformador.circuito}" />
			<h:outputLabel
				value="#{MensajesComponentes_cns['consultaDatosTransformadorByParams.datosTransformador.outputs.tension']}" />
			<h:outputText value="#{consultaDatosTransformadorBB.datosTransformador.tension}" />
			<h:outputLabel
				value="#{MensajesComponentes_cns['consultaDatosTransformadorByParams.datosTransformador.outputs.periodoFact']}" />
			<h:outputText value="#{consultaDatosTransformadorBB.datosTransformador.periodoFact}" />
			<h:outputLabel
				value="#{MensajesComponentes_cns['consultaDatosTransformadorByParams.datosTransformador.outputs.cantidadServicios']}" />
			<h:outputText value="#{consultaDatosTransformadorBB.datosTransformador.cantidadServicios}" />	
		</sy:panelGrid>
	</sy:group>

	<s:dataTable source="consultaServiciosElectricosByNroTransformador"
		var="servicioElectrico"
		binding="#{consultaDatosTransformadorBB.serviciosElectricosDataTable}">
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consultaDatosTransformadorByParams.servicioElectrico.tabla.servicio']}">
			<h:outputText value="#{servicioElectrico.servicio}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consultaDatosTransformadorByParams.servicioElectrico.tabla.cuenta']}">
			<h:outputText value="#{servicioElectrico.cuenta}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consultaDatosTransformadorByParams.servicioElectrico.tabla.titularCuenta']}">
			<h:outputText value="#{servicioElectrico.titularCuenta}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consultaDatosTransformadorByParams.servicioElectrico.tabla.tipoServicio']}">
			<h:outputText value="#{servicioElectrico.tipoServicio}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consultaDatosTransformadorByParams.servicioElectrico.tabla.mercado']}">
			<h:outputText value="#{servicioElectrico.mercado}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consultaDatosTransformadorByParams.servicioElectrico.tabla.estado']}">
			<h:outputText value="#{servicioElectrico.estado}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consultaDatosTransformadorByParams.servicioElectrico.tabla.rutaFacturacion']}">
			<h:outputText value="#{servicioElectrico.rutaFacturacion}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consultaDatosTransformadorByParams.servicioElectrico.tabla.direccion']}">
			<h:outputText value="#{servicioElectrico.direccion}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consultaDatosTransformadorByParams.servicioElectrico.tabla.municipio']}">
			<h:outputText value="#{servicioElectrico.municipio}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consultaDatosTransformadorByParams.servicioElectrico.tabla.tarifa']}">
			<h:outputText value="#{servicioElectrico.tarifa}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consultaDatosTransformadorByParams.servicioElectrico.tabla.fecAsociacion']}">
			<h:outputText value="#{servicioElectrico.fecAsociacion}" />
		</sy:tableColumnCustom>

		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consultaDatosTransformadorByParams.servicioElectrico.tabla.accionOModif']}">

			<c:popup>
				<h:commandLink action="datosAccionesModificaciones"
					value="xxxxxxxxxx" immediate="true" />
			</c:popup>

		</sy:tableColumnCustom>

	</s:dataTable>
</h:form>

</f:subview>
