<f:subview xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:v="http://www.synapsis-it.com/jsf/validator"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour"
	xmlns:ex="http://www.synapsis-it.com/jsf/core/ext"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	    
        
        <s:service id="consultaHistVincRedBySrvListServiceFinder" manager="#{serviceManager}"
				name="consultaHistVincRedBySrvListService" method="findByCriteria"
				binding="#{consultaHistVincRedBB.consultaService}" fire="false">
				<f:param name="nroSrvElectrico"
					value="#{consultaHistVincRedBB.nroSrvElectrico}" />
				<f:param name="periodoDesde"
					value="#{consultaHistVincRedBB.periodoDesde}" />
				<f:param name="periodoHasta"
					value="#{consultaHistVincRedBB.periodoHasta}" />
		</s:service>

		<sy:filters actionBean="#{consultaHistVincRedBB}" action="findConsultaIndividual">
			<h:inputText value="#{consultaHistVincRedBB.nroSrvElectrico}" />
 		    <h:outputText value="#{MensajesComponentes_cns['consultaHistVincRedBB.filtro.nroSrvElectrico']}" styleClass="label" />
			<h:outputLabel value="#{MensajesComponentes_cns['consultaHistVincRedBB.filtro.periodoActual']}" />
			<input type="checkbox" name="idCheckBoxPeriodoActual" value="#{rowVar.periodoActual}" onClick="selectOneCheckBox(this)"/> 		     		    
			<h:outputLabel value="#{MensajesComponentes_cns['consultaHistVincRedBB.filtro.periodoDesde']}" />
			<sy:calendar id="periodoDesde" selectedDate="#{consultaHistVincRedBB.periodoDesde}" />
			<h:outputLabel value="#{MensajesComponentes_cns['consultaHistVincRedBB.filtro.periodoHasta']}" />
			<sy:calendar id="periodoHasta" selectedDate="#{consultaHistVincRedBB.periodoHasta}" />
		</sy:filters>


	<sy:title
		value="#{MensajesComponentes_cns['consultaCongelacion.detalle.tab2.titulo.grupo']}" />
	<sy:panelGrid columns="3">
		<h:outputLabel
			value="#{MensajesComponentes_cns['consultaHistVincRedBB.individual.nroSrvElectrico']}"
			for="nroSrvElectrico" />
		<h:inputText
			value="#{rowVar.nroSrvElectrico}"
			id="nroSrvElectrico" disabled="true" />
		<h:outputLabel
			value="#{MensajesComponentes_cns['consultaHistVincRedBB.individual.tipoSrvElectrico']}"
			for="tipoSrvElectrico" />
		<h:inputText
			value="#{rowVar.tipoSrvElectrico}"
			id="tipoSrvElectrico" disabled="true" />
		<h:outputLabel
			value="#{MensajesComponentes_cns['consultaHistVincRedBB.individual.estadoSrvElectrico']}"
			for="estadoSrvElectrico" />
		<h:inputText
			value="#{rowVar.estadoSrvElectrico}"
			id="estadoSrvElectrico" disabled="true" />
		<h:outputLabel
			value="#{MensajesComponentes_cns['consultaHistVincRedBB.individual.mercado']}"
			for="mercado" />
		<h:inputText
			value="#{rowVar.mercado}"
			id="mercado" disabled="true" />
		<h:outputLabel
			value="#{MensajesComponentes_cns['consultaHistVincRedBB.individual.rutaFact']}"
			for="rutaFact" />
		<h:inputText
			value="#{rowVar.rutaFact}"
			id="rutaFact" disabled="true" />
		<h:outputLabel
			value="#{MensajesComponentes_cns['consultaHistVincRedBB.individual.dirSuministro']}"
			for="dirSuministro" />
		<h:inputText
			value="#{rowVar.dirSuministro}"
			id="dirSuministro" disabled="true" />
		<h:outputLabel
			value="#{MensajesComponentes_cns['consultaHistVincRedBB.individual.tarifa']}"
			for="tarifa" />
		<h:inputText
			value="#{rowVar.tarifa}"
			id="tarifa" disabled="true" />
			
	</sy:panelGrid>

	<sy:popup outcome="dispatchToAccion"
	label="#{MensajesComponentes_cns['consultaHistVincRedBB.link.acciones']}"
	button="true" />
	
</f:subview>