<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:v="http://www.synapsis-it.com/jsf/validator"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour"
	xmlns:ex="http://www.synapsis-it.com/jsf/core/ext"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
	xmlns:e="http://www.synapsis-it.com/jsf/core/ext">
	<sy:boxPage title="#{MensajesComponentes_cns['consulta.historia.estado.convenio.titulo']}"
		close="true">
		<h:form>
			<s:service id="estadoConvenioService" manager="#{serviceManager}"
				name="estadoConvenioService" method="findByCriteria" fire="false"
				binding="#{consultaConvenioEstadosHogarBB.svcHistoriaEstados}">
				<f:param name="nroServicio"
					value="#{consultaConvenioEstadosHogarBB.nroServicio}" />
			</s:service>
			<br />
			<sy:group title="">
				<sy:panelGrid columns="2">
					<h:outputText
						value="#{MensajesComponentes_cns['consulta.historia.estado.convenio.nroServicio.filtro']}"/>
					<h:inputText value="#{consultaConvenioEstadosHogarBB.nroServicio}" />
				</sy:panelGrid>
			</sy:group>			
			<sy:filters actionBean="#{consultaConvenioEstadosHogarBB}" action="search">
			</sy:filters>

			<br />


			<s:dataTable source="estadoConvenioService" var="hist"
				binding="#{consultaConvenioEstadosHogarBB.dataTableHistoria}">
                <sy:tableColumnLinkPopup
                    header="#{MensajesComponentes_cns['consulta.historia.estado.convenio.nroServicio']}"
                    label="#{hist.nroServicio}"
                    outcome="detalleEstadoConvenioHogar">
                    <f:setPropertyActionListener target="#{consultaConvenioEstadosHogarBB.nroServicio}"
                        value="#{hist.nroServicio}" />				
                </sy:tableColumnLinkPopup>        
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.historia.estado.convenio.nroSolicitante']}">
					<h:outputText value="#{hist.nroSolicitante}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.historia.estado.convenio.lineaNegocio']}">
					<h:outputText value="#{hist.lineaNegocio}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.historia.estado.convenio.fechaActivacion']}">
					<h:outputText value="#{hist.fechaActivacion}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.historia.estado.convenio.valorOriginal']}">
					<h:outputText value="#{hist.valorOriginal}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.historia.estado.convenio.saldoServicio']}">
					<h:outputText value="#{hist.saldoServicio}"/>
				</sy:tableColumnCustom>
			</s:dataTable>
		</h:form>
	</sy:boxPage>
</f:view>
