<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<sy:boxPage
		title="#{MensajesComponentes_cns['consulta.historica.de.deuda.titulo']}">
		<h:form>
			<c:errorHandler />
			<br />
			<sy:panelTabbedPane>
	 
				<sy:panelTab idTab="tab1"
					label="#{MensajesComponentes_cns['consulta.historica.de.deuda.detalle.deuda']}">
					<ui:include src="detalleDeudaSaldos.xhtml" />
				</sy:panelTab>
				<sy:panelTab idTab="tab2"
					label="#{MensajesComponentes_cns['consulta.historica.de.deuda.detalle.facturacion']}">
					<ui:include src="consultaDetalleFacturacion.xhtml" />
				</sy:panelTab>
	 			<sy:panelTab idTab="tab3"
					label="#{MensajesComponentes_cns['consulta.historica.de.deuda.detalle.pagos']}">
					<ui:include src="detallePagos.xhtml" />
				</sy:panelTab>

				<sy:panelTab idTab="tab4"
					label="#{MensajesComponentes_cns['consulta.historica.de.deuda.servicio.electrico']}">
					<ui:include src="deudaServicioElectrico.xhtml" />
				</sy:panelTab>
 
				<sy:panelTab idTab="tab5"
					label="#{MensajesComponentes_cns['consulta.historica.de.deuda.refacturaciones.congelaciones']}">
					<ui:include src="consultaRefactCongelaciones.xhtml" />
				</sy:panelTab>

				<sy:panelTab idTab="tab6"
					label="#{MensajesComponentes_cns['consulta.historica.de.deuda.servicios.financieros']}">
					<ui:include src="consultaServiciosFinancieros.xhtml" />
				</sy:panelTab>

				<sy:panelTab idTab="tab7"
					label="#{MensajesComponentes_cns['consulta.historica.de.deuda.encargo.cobranza']}">
					<ui:include src="consultaECO.xhtml" />
				</sy:panelTab>
				<sy:panelTab idTab="tab8"
					label="#{MensajesComponentes_cns['consulta.historica.de.deuda.servicio.convenio']}">
					<ui:include src="consultaServicioConvenio.xhtml" />
				</sy:panelTab>
			</sy:panelTabbedPane>
		</h:form>
	</sy:boxPage>
</f:view>
