<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<sy:boxPage
		title="#{MensajesComponentes_cns['consultaFacturacion.detalleValorFactura.titulo']}">

		<sy:detailField
			label="#{MensajesComponentes_cns['consultaFacturacion.detalleValorFactura.periodo']}"
			data="#{consultaFacturacionBB.detalleValorTotal.periodo}" />
		
		<f:verbatim><br /><br /></f:verbatim>
		
		<sy:panelGrid cellSpacing="5" cellPadding="3">
			<sy:detailField
				label="#{MensajesComponentes_cns['consultaFacturacion.detalleValorFactura.saldoAnterior']}"
				data="#{consultaFacturacionBB.detalleValorTotal.saldoAnterior}" />
			<sy:detailField
				label="#{MensajesComponentes_cns['consultaFacturacion.detalleValorFactura.totalConsumo']}"
				data="#{consultaFacturacionBB.detalleValorTotal.totalConsumo}" />

			<sy:detailField
				label="#{MensajesComponentes_cns['consultaFacturacion.detalleValorFactura.totalInteres']}"
				data="#{consultaFacturacionBB.detalleValorTotal.totalInteres}" />
			<sy:detailField
				label="#{MensajesComponentes_cns['consultaFacturacion.detalleValorFactura.totalFinanciado']}"
				data="#{consultaFacturacionBB.detalleValorTotal.totalFinanciado}" />

			<sy:detailField
				label="#{MensajesComponentes_cns['consultaFacturacion.detalleValorFactura.totalSrvVentas']}"
				data="#{consultaFacturacionBB.detalleValorTotal.totalSrvVentas}" />
			<sy:detailField
				label="#{MensajesComponentes_cns['consultaFacturacion.detalleValorFactura.totalCodensaHogar']}"
				data="#{consultaFacturacionBB.detalleValorTotal.totalCodensaHogar}" />

			<sy:detailField
				label="#{MensajesComponentes_cns['consultaFacturacion.detalleValorFactura.totalEncargoCobranzas']}"
				data="#{consultaFacturacionBB.detalleValorTotal.totalEncargoCobranzas}" />
			<sy:detailField
				label="#{MensajesComponentes_cns['consultaFacturacion.detalleValorFactura.totalConReconnecion']}"
				data="#{consultaFacturacionBB.detalleValorTotal.totalConReconnecion}" />

			<sy:detailField
				label="#{MensajesComponentes_cns['consultaFacturacion.detalleValorFactura.adicionalesFactura']}"
				data="#{consultaFacturacionBB.detalleValorTotal.totalOpAdic}" />
			<f:verbatim> </f:verbatim>
		</sy:panelGrid>
	</sy:boxPage>
</f:view>