<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:v="http://www.synapsis-it.com/jsf/validator"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour"
	xmlns:ex="http://www.synapsis-it.com/jsf/core/ext"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax">
	    
    <sy:boxPage title="#{MensajesComponentes_cns['consultaHistVincRedBB.titulo']}">
	<sy:validationSummary/>
        <h:form id="consultaHistVincRedForm">
        
        <s:service id="consultaHistVincRedListServiceFinder" manager="#{serviceManager}"
				name="consultaHistVincRedListService" method="findByCriteria"
				binding="#{consultaHistVincRedBB.consultaService}" fire="false">
				<f:param name="fechaDesde"
					value="#{consultaHistVincRedBB.fechaDesde}" />
				<f:param name="fechaHasta"
					value="#{consultaHistVincRedBB.fechaHasta}" />
				<f:param name="periodoMesAnio"
					value="#{consultaHistVincRedBB.periodoMesAnio}" />
				<f:param name="nroTransformador"
					value="#{consultaHistVincRedBB.nroTransformador}" />
		</s:service>

		<sy:filters actionBean="#{consultaHistVincRedBB}" action="search">
			<h:inputText value="#{consultaHistVincRedBB.fechaDesde}" />
 		    <h:outputText value="#{MensajesComponentes_cns['consultaHistVincRedBB.filtro.fechaDesde']}" styleClass="label" />

			<h:inputText value="#{consultaHistVincRedBB.fechaHasta}" />
 		    <h:outputText value="#{MensajesComponentes_cns['consultaHistVincRedBB.filtro.fechaHasta']}" styleClass="label" />
			
			<h:inputText value="#{consultaHistVincRedBB.periodoMesAnio}" />
			<h:outputText value="#{MensajesComponentes_cns['consultaHistVincRedBB.filtro.periodoMesAnio']}" styleClass="label" />
			
			<h:inputText value="#{consultaHistVincRedBB.nroTransformador}" />
 		    <h:outputText value="#{MensajesComponentes_cns['consultaHistVincRedBB.filtro.numeroTransformador']}" styleClass="label" />
		</sy:filters>

		<s:dataTable source="consultaHistVincRedListServiceFinder" var="historico" binding="#{consultaHistVincRedBB.dataTable}">
			<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaHistVincRedBB.historico.id']}"> 
			<h:outputText value="#{historico.id}" />	
			</sy:tableColumnCustom>
			<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaHistVincRedBB.historico.circuito']}"> 
			<h:outputText value="#{historico.circuito}" />	
			</sy:tableColumnCustom>
			<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaHistVincRedBB.historico.propiedad']}"> 
			<h:outputText value="#{historico.propiedad}" />	
			</sy:tableColumnCustom>
			<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaHistVincRedBB.historico.tipoConexion']}"> 
			<h:outputText value="#{historico.tipoConexion}" />	
			</sy:tableColumnCustom>
			<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaHistVincRedBB.historico.nivelTension']}"> 
			<h:outputText value="#{historico.nivelTension}" />	
			</sy:tableColumnCustom>
			<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaHistVincRedBB.historico.nroTransformador']}"> 
			<h:outputText value="#{historico.nroTransformador}" />	
			</sy:tableColumnCustom>
			<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaHistVincRedBB.historico.estadoTransformador']}"> 
			<h:outputText value="#{historico.estadoTransformador}" />	
			</sy:tableColumnCustom>
			<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaHistVincRedBB.historico.tipoRed']}"> 
			<h:outputText value="#{historico.tipoRed}" />	
			</sy:tableColumnCustom>
			<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaHistVincRedBB.historico.indicadorAlumbradoPublico']}"> 
			<h:outputText value="#{historico.indicadorAlumbradoPublico}" />	
			</sy:tableColumnCustom>
			<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaHistVincRedBB.historico.nroServicio']}"> 
			<h:outputText value="#{historico.nroServicio}" />	
			</sy:tableColumnCustom>
			<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaHistVincRedBB.historico.accion']}"> 
			<h:outputText value="#{historico.accion}" />	
			</sy:tableColumnCustom>
			<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaHistVincRedBB.historico.tipoModificacion']}"> 
			<h:outputText value="#{historico.tipoModificacion}" />	
			</sy:tableColumnCustom>
			<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaHistVincRedBB.historico.usuarioRealizoMod']}"> 
			<h:outputText value="#{historico.usuarioRealizoMod}" />	
			</sy:tableColumnCustom>
			<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaHistVincRedBB.historico.nroTotalSrvTransformador']}"> 
			<h:outputText value="#{historico.nroTotalSrvTransformador}" />	
			</sy:tableColumnCustom>
		</s:dataTable>


        </h:form>
    </sy:boxPage>
</f:view>