<f:view xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:sy="http://www.synapsis.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html">
    <sy:boxPage title="#{MensajesComponentes_cns['consultaHistorialDeuda.tituloHistorialDeudaDetalleCargos']}">
        <h:form>
            <sy:dataTable listBean="#{consultaHistorialDeudaDetalleCargosListBB}"
                metadata="#{consultaHistoriaDeudaDetalleCargosMetaData}" resources="#{ClavesInducidas_cns}">
                <sy:tableColumn header="#{MensajesComponentes_cns['consultaHistorialDeuda.nombreCargo']}"
                    data="#{rowVar.nombreCargo}" />
                <sy:tableColumn header="#{MensajesComponentes_cns['consultaHistorialDeuda.valor']}" data="#{rowVar.valor}" />
                <sy:tableColumn header="#{MensajesComponentes_cns['consultaHistorialDeuda.unidad']}" data="#{rowVar.unidad}" />
                <sy:tableColumn header="#{MensajesComponentes_cns['consultaHistorialDeuda.numeroUnidades']}"
                    data="#{rowVar.numeroUnidades}" />
                <sy:tableColumn header="#{MensajesComponentes_cns['consultaHistorialDeuda.usuarioGenerador']}"
                    data="#{rowVar.usuarioGenerador}" />
                <sy:tableColumn header="#{MensajesComponentes_cns['consultaHistorialDeuda.nombreUsuarioGenerador']}"
                    data="#{rowVar.nombreUsuarioGenerador}" />
                <sy:tableColumn header="#{MensajesComponentes_cns['consultaHistorialDeuda.fechaCreacion']}"
                    data="#{rowVar.fechaCreacion}" />
                <sy:tableColumn header="#{MensajesComponentes_cns['consultaHistorialDeuda.numeroDocumentoAsociado']}"
                    data="#{rowVar.numeroDocumentoAsociado}" />
            </sy:dataTable>
        </h:form>
    </sy:boxPage>
</f:view>
