<f:subview xmlns="http://www.w3.org/1999/xhtml"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
	<sy:title
		value="#{MensajesComponentes_cns['consultaRefacturacionAjuste.detalle.tab2.titulo.grupo']}" />
	<sy:panelGrid columns="2">
		<h:outputLabel
			value="#{MensajesComponentes_cns['consultaRefacturacionAjuste.detalle.tab2.valor.energia.ajuste']}"
			for="valorEnergiaAjuste" />
		<h:inputText
			value="#{detalleConsultaRefacturacionesAjustesBB.businessObject4.valorEnergiaAjuste}"
			id="valorEnergia" disabled="true" style="margin-right: 7px;" />
		<h:outputLabel
			value="#{MensajesComponentes_cns['consultaRefacturacionAjuste.detalle.tab2.valor.otros.neg.ajuste']}"
			for="valorOtrosNegAjuste" />
		<h:inputText
			value="#{detalleConsultaRefacturacionesAjustesBB.businessObject4.valorOtrosNegAjuste}"
			id="valorNegocios" disabled="true" style="margin-right: 7px;" />
		<h:outputLabel
			value="#{MensajesComponentes_cns['consultaRefacturacionAjuste.detalle.tab2.saldo.ajuste.servicio.electrico']}" />
		<h:inputText
			value="#{detalleConsultaRefacturacionesAjustesBB.businessObject4.saldoAjusteServicioElectrico}"
			disabled="true" style="margin-right: 7px;" />

		<h:outputLabel
			value="#{MensajesComponentes_cns['consultaRefacturacionAjuste.detalle.tab2.saldo.ajsute.servicio.convenios']}" />
		<h:inputText
			value="#{detalleConsultaRefacturacionesAjustesBB.businessObject4.saldoAjusteServicioConvenios}"
			disabled="true" style="margin-right: 7px;" />

		<h:outputLabel
			value="#{MensajesComponentes_cns['consultaRefacturacionAjuste.detalle.tab2.saldo.ajsute.servicio.eco']}" />
		<h:inputText
			value="#{detalleConsultaRefacturacionesAjustesBB.businessObject4.saldoAjusteServicioECO}"
			disabled="true" style="margin-right: 7px;" />

		<h:outputLabel
			value="#{MensajesComponentes_cns['consultaRefacturacionAjuste.detalle.tab2.saldo.ajsute.servicio.financiero']}" />
		<h:inputText
			value="#{detalleConsultaRefacturacionesAjustesBB.businessObject4.saldoAjusteServicioFinanciero}"
			disabled="true" style="margin-right: 7px;" />

		<h:outputLabel
			value="#{MensajesComponentes_cns['consultaRefacturacionAjuste.detalle.tab2.saldo.ajsute.servicio.ventas']}" />
		<h:inputText
			value="#{detalleConsultaRefacturacionesAjustesBB.businessObject4.saldoAjusteServicioVentas}"
			disabled="true" style="margin-right: 7px;" />

		<h:outputLabel
			value="#{MensajesComponentes_cns['consultaRefacturacionAjuste.detalle.tab2.saldo.ajsute.servicio.cuota.manejo']}" />
		<h:inputText
			value="#{detalleConsultaRefacturacionesAjustesBB.businessObject4.saldoAjusteServicioCuotaManejo}"
			disabled="true" style="margin-right: 7px;" />



	</sy:panelGrid>
</f:subview>
