<f:view xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:sy="http://www.synapsis.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html">
    <sy:boxPage title="#{MensajesComponentes_cns['historicoPago.title']}">
        <h:form>
            <sy:dataTable listBean="#{consultaPagosEnTransitoBB}"
                metadata="#{pagosEnTransitoMetaData}" resources="#{ClavesInducidas_cns}">
                <sy:tableColumn attribute="fechaPago" />
                <sy:tableColumn attribute="valor" />
                <sy:tableColumn attribute="entidadRecaudadora" />
                <sy:tableColumn attribute="fechaHoraAlmacenamiento" />
                <sy:tableColumn attribute="procedencia" />
                <sy:tableColumn attribute="estadoArchivo" />
            </sy:dataTable>
        </h:form>
    </sy:boxPage>
</f:view>
