<sy:dataTable xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:f="http://java.sun.com/jsf/core"
	listBean="#{consultaLecturaConsumoBB.multiList.data['consultaLecturaConsumoReliquidacion']}"
	metadata="#{consultaOtrasLecturaConsumoReliquidacionesMetaData}" resources="#{ClavesInducidas_cns}" tableId="table5">
	<sy:tableColumn attribute="fechaInicialReliquidacion" />
	<sy:tableColumn attribute="fechaFinalReliquidacion" />
	<sy:tableColumn attribute="periodosLiquidados" />
	<sy:tableColumn attribute="valorReliquidacionConsumo" />
	<sy:tableColumn attribute="valorReliquidacionSubsidios" />
	<sy:tableColumn attribute="valorReliquidacionContribucion" />
	<sy:tableColumnLinkPopup
		header="#{MensajesComponentes_cns['consultaLecturaConsumo.reliquidacion.detalle.consumos']}"
		label="#{MensajesComponentes_cns['consultaLecturaConsumo.reliquidacion.detalle']}"
		outcome="detalleReliquidacion">
		<f:setPropertyActionListener
              target="#{detalleLecturaConsumoReliquidacionQueryFilter.attributeValue}"
              value="#{rowVar.id}" />
	</sy:tableColumnLinkPopup>
</sy:dataTable>
