<f:subview xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service">

	<!-- Service para obtener el detalle de la persona -->
	<s:service id="observacionesRefacturacion" manager="#{serviceManager}"
		name="consultaRefacturacionAjusteObservacionesService"
		method="findByCriteriaUnique">
		<f:param name="nroCuenta"
			value="#{numeroCuentaQueryFilter.attributeValue}" />
		<f:param name="nroAjuste"
			value="#{numeroAjusteQueryFilter.attributeValue}" />
	</s:service>
	<!-- service response unmarshalled -->
	<s:unmarshall source="observacionesRefacturacion" var="obs" />

	<sy:group
		title="#{MensajesComponentes_cns['consultaRefacturacionAjusteObservaciones.observacionCom']}">
		<h:inputTextarea value="#{obs.observacionCom}" id="inputObsCom"
			disabled="true" rows="10" cols="60">
		</h:inputTextarea>
	</sy:group>

	<sy:group
		title="#{MensajesComponentes_cns['consultaRefacturacionAjusteObservaciones.observacionTec']}">
		<h:inputTextarea value="#{obs.observacionTec}" id="inputObsTec"
			disabled="true" rows="10" cols="60">
		</h:inputTextarea>
	</sy:group>

	<sy:group
		title="#{MensajesComponentes_cns['consultaRefacturacionAjusteObservaciones.observacionEli']}">
		<h:inputTextarea value="#{obs.observacionEli}" id="inputObsEli"
			disabled="true" rows="10" cols="60">
		</h:inputTextarea>
	</sy:group>
</f:subview>
