<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:s="http://www.synapsis-it.com/jsf/service">
	<sy:boxPage title="">
		<h:form id="consultaExpedientesRadicacionesForm">
			<s:service id="consultaExpedientesService"
				manager="#{serviceManager}" name="consultaExpedientesService"
				method="findByCriteria" fire="true">
				<f:param name="nroCuenta"
					value="#{numeroCuentaQueryFilter.attributeValue}" />
			</s:service>
			<sy:title
				value="#{MensajesComponentes_cns['consultaExpedientesRadicaciones.tabla.title']}" />
			<s:dataTable source="consultaExpedientesService" var="exp">
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaExpedientesRadicaciones.tabla.columna.numeroExpediente']}">
					<h:outputText value="#{exp.nroExpediente}" />
				</sy:tableColumnCustom>
				<sy:tableColumnLinkPopup
					header="#{MensajesComponentes_cns['consultaExpedientesRadicaciones.tabla.radicaciones.radicaciones']}"
					label="#{MensajesComponentes_cns['consultaExpedientesRadicaciones.radicaciones.detalle']}"
					outcome="radicaciones">
					<f:setPropertyActionListener target="#{numeroExpediente}"
						value="#{exp.nroExpediente}" />
				</sy:tableColumnLinkPopup>
				<sy:tableColumnLinkPopup
					header="#{MensajesComponentes_cns['consultaExpedientesRadicaciones.tabla.radicaciones.notificaciones']}"
					label="#{MensajesComponentes_cns['consultaExpedientesRadicaciones.notificaciones.detalle']}"
					outcome="notificaciones">
					<f:setPropertyActionListener target="#{numeroExpediente}"
						value="#{exp.nroExpediente}" />
				</sy:tableColumnLinkPopup>
			</s:dataTable>
		</h:form>
	</sy:boxPage>
</f:view>
