<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour"
	xmlns:e="http://www.synapsis-it.com/jsf/core/ext">

	<sy:boxPage title="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.titulo']}">
		<h:form id="formHistorico">
			<c:errorHandler />
			<br/>

			<!-- COMBO: service para levantar los tipos de identificacion titular -->
			<s:service manager="#{serviceManager}"
				name="tipoIdentificacionService" method="findByCriteria"
				id="tipoIdentificacionService">
			</s:service>
			<s:unmarshall source="tipoIdentificacionService" var="tipoIdentificacionService" />

			<!-- COMBO: service para levantar las lineas de negocio -->
			<s:service manager="#{serviceManager}" name="lineasNegocioCCAEcoService"
				method="findByCriteria" id="lineasNegocioService">
			</s:service>
			<s:unmarshall source="lineasNegocioService" var="lineasNegocioService" />

			<!-- COMBO: service para levantar los productos -->
			<s:service manager="#{serviceManager}" name="productosService"
				method="findByCriteria" id="productosService">
			</s:service>
			<s:unmarshall source="productosService" var="productosService" />

			<!-- COMBO: service para levantar los planes -->
			<s:service manager="#{serviceManager}" name="planesService"
				method="findByCriteria" id="planesService">
			</s:service>
			<s:unmarshall source="planesService" var="planesService" />

			<!-- GRLLA - TAB 1 - service para Codensa Hogar -->
			<s:service id="consultaCodensaHogar" manager="#{serviceManager}"
				name="servicioFinancieroCodensaHogarService" method="findByCriteria"
				binding="#{historicoOtrosNegociosBB.svcFinancieroCodensaHogarService}" 
				fire="false">
				<f:param name="nroServicio" value="#{historicoOtrosNegociosBB.nroServicio}" />
				<f:param name="tipoIdent" value="#{historicoOtrosNegociosBB.tipoIdentificacionTitular}" />
				<f:param name="nroIdentTitular" value="#{historicoOtrosNegociosBB.nroIdentificacionTitular}" />
				<f:param name="idLineaNegocio" value="#{historicoOtrosNegociosBB.lineaNegocio}" />
				<f:param name="idTipoProducto" value="#{historicoOtrosNegociosBB.producto}" />
				<f:param name="idPlan" value="#{historicoOtrosNegociosBB.plan}" />
				<f:param name="fechaActivProd" value="#{historicoOtrosNegociosBB.fechaInicialProducto}" />
				<f:param name="fechaDesactProd" value="#{historicoOtrosNegociosBB.fechaFinalProducto}" />
	
				<!-- <f:param name="nroCuenta" value="#{numeroCuentaQueryFilter.attributeValue}" /> -->
			</s:service>
			
			<!-- GRLLA - TAB 2 - service para Encargos cobranza -->
			<s:service id="encargosCobranza" manager="#{serviceManager}"
				name="encargosCobranzaService" method="findByCriteria"
				binding="#{historicoOtrosNegociosBB.svcEncargosCobranzaService}"  
				fire="false">
				<f:param name="nroSrvFin" value="#{historicoOtrosNegociosBB.nroServicio}" />
				<f:param name="tipoDocTitular" value="#{historicoOtrosNegociosBB.tipoIdentificacionTitular}" />
				<f:param name="numDocTitular" value="#{historicoOtrosNegociosBB.nroIdentificacionTitular}" />
				<f:param name="idLineaNegocio" value="#{historicoOtrosNegociosBB.lineaNegocio}" />
				<f:param name="idTipoProducto" value="#{historicoOtrosNegociosBB.producto}" />
				<f:param name="idPlan" value="#{historicoOtrosNegociosBB.plan}" />
				<f:param name="fechaActivacion" value="#{historicoOtrosNegociosBB.fechaInicialProducto}" />
				<f:param name="fechaDesactivacion" value="#{historicoOtrosNegociosBB.fechaFinalProducto}" />
				<!-- <f:param name="nroCuenta" value="#{numeroCuentaQueryFilter.attributeValue}" /> -->			
			</s:service>

		 	<sy:group title="">
				<sy:panelGrid columns="2">
					<h:outputText
						value="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.nroServicio']}"
						styleClass="label" />
					<h:inputText value="#{historicoOtrosNegociosBB.nroServicio}" />

					<h:outputText
						value="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tipoIdentificacionTitular']}"
						styleClass="label" />
					<h:selectOneMenu
						value="#{historicoOtrosNegociosBB.tipoIdentificacionTitular}"
						styleClass="edit" id="tipoIdentificacion">
						<f:selectItem itemLabel="Seleccionar ..." itemValue="" />
						<t:selectItems value="#{tipoIdentificacionService}" var="identif"
							itemLabel="#{identif.desTipDocPersona}" itemValue="#{identif.desTipDocPersona}" />
					</h:selectOneMenu>

					<h:outputText
						value="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.nroIdentificacionTitular']}"
						styleClass="label" />
					<h:inputText
						value="#{historicoOtrosNegociosBB.nroIdentificacionTitular}" />

					<h:outputText
						value="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.lineaNegocio']}"
						styleClass="label" />
					<h:selectOneMenu value="#{historicoOtrosNegociosBB.lineaNegocio}"
						styleClass="edit" id="lineasNegocioService">
						<f:selectItem itemLabel="Seleccionar ..." itemValue="" />
						<t:selectItems value="#{lineasNegocioService}"
							var="lineasNegocioService"
							itemLabel="#{lineasNegocioService.descripcion}"
							itemValue="#{lineasNegocioService.idLineaNegocio}" />
						<f:converter converterId="javax.faces.Long" />
					</h:selectOneMenu>

					<h:outputText
						value="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.producto']}"
						styleClass="label" />
					<h:selectOneMenu value="#{historicoOtrosNegociosBB.producto}"
						styleClass="edit" id="productosService">
						<f:selectItem itemLabel="Seleccionar ..." itemValue="" />
						<t:selectItems value="#{productosService}" var="productosService"
							itemLabel="#{productosService.descripcion}"
							itemValue="#{productosService.idProducto}" />
						<f:converter converterId="javax.faces.Long" />
					</h:selectOneMenu>

					<h:outputText
						value="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.plan']}"
						styleClass="label" />
					<h:selectOneMenu value="#{historicoOtrosNegociosBB.plan}"
						styleClass="edit" id="planesService">
						<f:selectItem itemLabel="Seleccionar ..." itemValue="" />
						<t:selectItems value="#{planesService}" var="planesService"
							itemLabel="#{planesService.descripcion}"
							itemValue="#{planesService.idPlan}" />
						<f:converter converterId="javax.faces.Long" />
					</h:selectOneMenu>

					<h:outputText
						value="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.fechaInicialProducto']}" >
						<f:converter
							converterId="com.synapsis.components.DateTimeConverterRaw" />
					</h:outputText>
					<e:dateCalendar id="fechaInicialProducto"
						value="#{historicoOtrosNegociosBB.fechaInicialProducto}">
					</e:dateCalendar>
					<h:outputText
						value="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.FechaFinalProducto']}" >
						<f:converter
							converterId="com.synapsis.components.DateTimeConverterRaw" />
					</h:outputText>
					<e:dateCalendar id="fechaFinalProducto"
						value="#{historicoOtrosNegociosBB.fechaFinalProducto}">
					</e:dateCalendar>
				</sy:panelGrid>
			</sy:group>  
		
			
			<h:commandButton value="Buscar" action="#{historicoOtrosNegociosBB.search}" />
			<br/>
			<br/>
			<br/>

			<!-- tabla donde se dibuja los resultados de la busqueda -->
			<sy:panelTabbedPane>
				<sy:panelTab
					label="#{MensajesComponentes_cns['consulta.historico.otros.negocios.tab.codensa.hogar']}">
					<s:dataTable source="consultaCodensaHogar" var="hogar"
						binding="#{historicoOtrosNegociosBB.dataTableCodensaHogar}">
<!--						<sy:tableColumnCustom-->
<!--							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.hogar.nroCuenta']}">-->
<!--							<h:outputText value="#{hogar.nroCuenta}" />-->
<!--						</sy:tableColumnCustom>-->
						<sy:tableColumnLinkPopup
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.hogar.nroServicio']}"
							label="#{hogar.nroServicio}" outcome="trasladoConvenio"> 
							<f:setPropertyActionListener 
								target="#{nroConvenioTrasladoQueryFilter.attributeValue}"
 								value="#{hogar.nroServicio}" />
						</sy:tableColumnLinkPopup>
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.hogar.lineaNegocio']}">
							<h:outputText value="#{hogar.lineaNegocio}" />
						</sy:tableColumnCustom>
						<sy:tableColumnLinkPopup
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.hogar.producto']}"
							label="#{hogar.producto}" outcome="detalleCCA"> 
							<f:setPropertyActionListener target="#{historicoOtrosNegociosBB.idServicio}"
                                       value="#{hogar.id}" />	
						</sy:tableColumnLinkPopup>
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.hogar.plan']}">
							<h:outputText value="#{hogar.plan}" />
						</sy:tableColumnCustom>

						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.hogar.tipoIdentificacionSolicitanteCredito']}">
							<h:outputText value="#{hogar.tipoIdent}" /> 
						</sy:tableColumnCustom>
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.hogar.nroIdentificacionSolicitanteCredito']}">
							<h:outputText value="#{hogar.nroIdentTitular}" /> 
						</sy:tableColumnCustom>
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.hogar.fechaActivacionServicio']}">
							<h:outputText value="#{hogar.fechaActivSrv}" >
								<f:converter
									converterId="com.synapsis.components.DateTimeConverterRaw" />
							</h:outputText>
						</sy:tableColumnCustom>
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.hogar.fechaFinalizacion']}">
							<h:outputText value="#{hogar.fechaDesactProd}" >
								<f:converter
									converterId="com.synapsis.components.DateTimeConverterRaw" />
							</h:outputText>
						</sy:tableColumnCustom>
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.hogar.motivoFinalizacion']}">
							<h:outputText value="#{hogar.motivoFinalizacion}" />
						</sy:tableColumnCustom>
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.hogar.valorOriginalServicio']}">
							<h:outputText value="#{hogar.valorOrigSrv}" />
						</sy:tableColumnCustom>
					</s:dataTable>
				</sy:panelTab>
				
				<sy:panelTab
					label="#{MensajesComponentes_cns['consulta.historico.otros.negocios.tab.encargos.cobranza']}">
					<s:dataTable source="encargosCobranza" var="encargo"
						binding="#{historicoOtrosNegociosBB.dataTableEncargosCobranza}">

						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.encargo.nroCuenta']}">
							<h:outputText value="#{encargo.nroCuenta}" />
						</sy:tableColumnCustom>
						<sy:tableColumnLinkPopup
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.encargo.nroEncargoCobranza']}"
							label="#{encargo.nroEco}" outcome="trasladoConvenio"> 
							<f:setPropertyActionListener 
								target="#{nroConvenioTrasladoQueryFilter.attributeValue}"
 								value="#{encargo.nroEco}" />
						</sy:tableColumnLinkPopup>
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.encargo.lineaNegocio']}">
							<h:outputText value="#{encargo.lineaNegocio}" />
						</sy:tableColumnCustom>
						<sy:tableColumnLinkPopup
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.encargo.producto']}"
							label="#{encargo.producto}" outcome="detalleECO"> 
						     <f:setPropertyActionListener target="#{historicoOtrosNegociosBB.idServicio}"
                                       value="#{encargo.id}" />	
						</sy:tableColumnLinkPopup>
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.encargo.plan']}">
							<h:outputText value="#{encargo.plan}" />
						</sy:tableColumnCustom>
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.encargo.nroIdentificador']}">
							<h:outputText value="#{encargo.nroIdTitular}" />
						</sy:tableColumnCustom>
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.tipo.doc.titular']}">
							<h:outputText value="#{encargo.tipoDocTitular}" /> 
						</sy:tableColumnCustom>
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.nro.numero.doc.titular']}">
							<h:outputText value="#{encargo.numDocTitular}" /> 
						</sy:tableColumnCustom>
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.encargo.fechaActivacion']}">
							<h:outputText value="#{encargo.fechaActivacion}" >
								<f:converter
									converterId="com.synapsis.components.DateTimeConverterRaw" />
							</h:outputText>
						</sy:tableColumnCustom>
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.encargo.valorCargado']}">
							<h:outputText value="#{encargo.valorCargado}" />
						</sy:tableColumnCustom>
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.encargo.saldoEncargo']}">
							<h:outputText value="#{encargo.saldoEco}" />
						</sy:tableColumnCustom>
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.encargo.indicador.saldo.anterior']}">
							<h:outputText value="#{encargo.indicadorSaldoAnterior}" />
						</sy:tableColumnCustom>
					</s:dataTable>
				</sy:panelTab>
			</sy:panelTabbedPane>
		</h:form>
	</sy:boxPage>
</f:view>


