<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:s="http://www.synapsis-it.com/jsf/service">
	<sy:boxPage title="">
		<h:form id="consultaExpedientesRadicacionesDetalleForm">
			<s:service id="consultaExpedientesRadicacionesDetalleService"
				manager="#{serviceManager}" name="consultaExpedientesRadicacionesDetalleService"
				method="findByCriteria" fire="true">
				<f:param name="numeroExpediente"
					value="#{numeroExpediente}" />
			</s:service>
			<sy:title
				value="#{MensajesComponentes_cns['consultaExpedientesRadicacionesDetalle.tabla.title']}" />
			<sy:group title="" columns="2">
				<h:outputLabel
					value="#{MensajesComponentes_cns['consultaExpedientesRadicacionesDetalle.numero.expediente']}"
					for="nroExpediente" />
				<h:inputText value="#{numeroExpediente}" id="nroExpediente" disabled="true">
				</h:inputText>
			</sy:group>
			<s:dataTable source="consultaExpedientesRadicacionesDetalleService" var="radicacion" >
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaExpedientesRadicacionesDetalle.tabla.radicaciones.fechaRadicacion']}">
					<h:outputText value="#{radicacion.fechaRadicacion}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaExpedientesRadicacionesDetalle.tabla.radicaciones.radicacion']}">
					<h:outputText value="#{radicacion.radicacion}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaExpedientesRadicacionesDetalle.tabla.radicaciones.tipoRadicacion']}">
					<h:outputText value="#{radicacion.tipoRadicacion}" />
				</sy:tableColumnCustom>
				<sy:tableColumnLinkPopup
					header="#{MensajesComponentes_cns['consultaExpedientesRadicacionesDetalle.tabla.radicaciones.nroradicacion']}"
					label="#{radicacion.numeroRadicacion}" outcome="numeroRadicacion">
					<f:setPropertyActionListener
						target="#{numeroRadicacion}"
						value="#{radicacion.numeroRadicacion}" />
				</sy:tableColumnLinkPopup>
			</s:dataTable>
		</h:form>
	</sy:boxPage>
</f:view>
