<f:view xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:c="http://java.sun.com/jstl/core"
    xmlns:sy="http://www.synapsis.com/jsf/core">
    <sy:boxPage title="#{MensajesComponentes_cns['estadoCobranzaBB.tabla.title']}">
        <h:form>
            <sy:dataTable listBean="#{estadoCobranzaBB}"
                resources="#{ClavesInducidas_cns}" metadata="#{consultaEstadoCobranzaMetadata}">
                <sy:tableColumn attribute="tipoServicio" />
                <sy:tableColumn attribute="nroServicio" />
                <sy:tableColumn attribute="usuario" />
                <sy:tableColumn attribute="nombre" />
                <sy:tableColumn attribute="antiguedad" />
                <sy:tableColumn attribute="deuda" />
                <sy:tableColumn attribute="estadoCobranza" />
                <sy:tableColumn attribute="etapaCobranza" />
                <sy:tableColumn attribute="fechaModificacion" />
                <sy:tableColumn attribute="numeroCartera" />
                <sy:tableColumn attribute="firmaAbogado" />
                <sy:tableColumn attribute="restriccionConvenio" />
                <sy:tableColumnLinkPopup
                    header="#{MensajesComponentes_cns['estadoCobranzaBB.tabla.observaciones.title']}"
                    label="#{MensajesComponentes_cns['estadoCobranzaBB.tabla.observaciones']}"
                    outcome="observaciones">
                    <f:setPropertyActionListener target="#{detailBB.detail}"
                        value="#{rowVar.observacion}" />
                </sy:tableColumnLinkPopup>
            </sy:dataTable>
        </h:form>
    </sy:boxPage>
</f:view>
