<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax">

	<sy:boxPage
		title="#{MensajesComponentes_cns['consultaDetalleServiciosFinanciados.title']}">
		<h:form id="consultaDetalleServiciosFinanciados">
			
			<s:service id="consultaDetalleServiciosFinanciadosService"
				manager="#{serviceManager}"
				name="consultaDetalleServiciosFinanciadosService" method="findByCriteria"
				fire="true">
				<f:param name="nroConvenio"
					value="#{nroConvenio}" />
			</s:service>


			<s:dataTable source="consultaDetalleServiciosFinanciadosService" var="servicio">
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaDetalleServiciosFinanciados.result.tipoServicio']}">
						<h:outputText value="#{servicio.tipoServicio}" />
					</sy:tableColumnCustom>
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaDetalleServiciosFinanciados.result.numeroServicio']}">
						<h:outputText value="#{servicio.numeroServicio}" />
					</sy:tableColumnCustom>
			</s:dataTable>

		</h:form>
	</sy:boxPage>

</f:view>