<f:view xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:sy="http://www.synapsis.com/jsf/core"
    xmlns:t="http://myfaces.apache.org/tomahawk"
    xmlns:sv="http://shale.apache.org/validator">
    <sy:boxPage title="#{MensajesComponentes_cns['estadoConvenio.detalleServicio.titulo']}">
		
		<sy:title value="#{MensajesComponentes_cns['estadoConvenio.grilla.titulo']}" />
		
		<sy:panelGrid columns="2">
			<h:outputLabel value="#{MensajesComponentes_cns['estadoConvenio.nroIdentificacion']}" />
			<h:inputText
				value="#{consultaHistoriaEstadosConvenioBB.consultaConvenioDetalleServicio.nroIdentificacion}"
				disabled="true" style="margin-right: 7px;" />
			
			<h:outputLabel value="#{MensajesComponentes_cns['estadoConvenio.nombreSolicitante']}" />
			<h:inputText
				value="#{consultaHistoriaEstadosConvenioBB.consultaConvenioDetalleServicio.nombreSolicitante}"
				disabled="true" style="margin-right: 7px;" />
		</sy:panelGrid>
		
		<br />
		<sy:panelGrid columns="3">
			<h:outputLabel value="#{MensajesComponentes_cns['estadoConvenio.resultadoEstudio']}" />
			<h:inputText
				value="#{consultaHistoriaEstadosConvenioBB.consultaConvenioDetalleServicio.resultadoEstudio}"
				disabled="true" style="margin-right: 7px;" />
			<h:outputLabel value="#{MensajesComponentes_cns['estadoConvenio.montoAprobado']}" />
			<h:inputText
				value="#{consultaHistoriaEstadosConvenioBB.consultaConvenioDetalleServicio.montoAprobado}"
				disabled="true" style="margin-right: 7px;" />
			<h:outputLabel value="#{MensajesComponentes_cns['estadoConvenio.montoDisponible']}" />
			<h:inputText
				value="#{consultaHistoriaEstadosConvenioBB.consultaConvenioDetalleServicio.montoDisponible}"
				disabled="true" style="margin-right: 7px;" /> 

	
			<h:outputLabel value="#{MensajesComponentes_cns['estadoConvenio.fechaSolicitudCredito']}" />
			<h:inputText
				value="#{consultaHistoriaEstadosConvenioBB.consultaConvenioDetalleServicio.fechaSolicitudCredito}"
				disabled="true" style="margin-right: 7px;" />
			<h:outputLabel value="#{MensajesComponentes_cns['estadoConvenio.causalNegacion']}" />
			<h:inputText
				value="#{consultaHistoriaEstadosConvenioBB.consultaConvenioDetalleServicio.causalNegacion}"
				disabled="true" style="margin-right: 7px;" />
			<h:outputLabel value="#{MensajesComponentes_cns['estadoConvenio.estrato']}" />
			<h:inputText
				value="#{consultaHistoriaEstadosConvenioBB.consultaConvenioDetalleServicio.estrato}"
				disabled="true" style="margin-right: 7px;" /> 
			
			<h:outputLabel value="#{MensajesComponentes_cns['estadoConvenio.cicloFacturacion']}" />
			<h:inputText
				value="#{consultaHistoriaEstadosConvenioBB.consultaConvenioDetalleServicio.cicloFacturacion}"
				disabled="true" style="margin-right: 7px;" /> 
		</sy:panelGrid>
		<br />
		
		<sy:title value="#{MensajesComponentes_cns['estadoConvenio.grilla.tituloDatosGenerales']}" />
		<sy:panelGrid columns="3">
		
			<h:outputLabel value="#{MensajesComponentes_cns['estadoConvenio.lineaNegocio']}" />
			<h:inputText
				value="#{consultaHistoriaEstadosConvenioBB.consultaConvenioDetalleServicio.lineaNegocio}"
				disabled="true" style="margin-right: 7px;" />
			<h:outputLabel value="#{MensajesComponentes_cns['estadoConvenio.productoCodensaHogar']}" />
			<h:inputText
				value="#{consultaHistoriaEstadosConvenioBB.consultaConvenioDetalleServicio.productoCodensaHogar}"
				disabled="true" style="margin-right: 7px;" />
			<h:outputLabel value="#{MensajesComponentes_cns['estadoConvenio.marcaProducto']}" />
			<h:inputText
				value="#{consultaHistoriaEstadosConvenioBB.consultaConvenioDetalleServicio.marcaProducto}"
				disabled="true" style="margin-right: 7px;" /> 

			<h:outputLabel value="#{MensajesComponentes_cns['estadoConvenio.fechaCompraProducto']}" />
			<h:inputText
				value="#{consultaHistoriaEstadosConvenioBB.consultaConvenioDetalleServicio.fechaCompraProducto}"
				disabled="true" style="margin-right: 7px;" />
			<h:outputLabel value="#{MensajesComponentes_cns['estadoConvenio.valorOriginalServicio']}" />
			<h:inputText
				value="#{consultaHistoriaEstadosConvenioBB.consultaConvenioDetalleServicio.valorOriginalServicio}"
				disabled="true" style="margin-right: 7px;" />
			<h:outputLabel value="#{MensajesComponentes_cns['estadoConvenio.socioRealizadaCompra']}" />
			<h:inputText
				value="#{consultaHistoriaEstadosConvenioBB.consultaConvenioDetalleServicio.socioRealizadaCompra}"
				disabled="true" style="margin-right: 7px;" /> 
				
			<h:outputLabel value="#{MensajesComponentes_cns['estadoConvenio.puntoVentaCompra']}" />
			<h:inputText
				value="#{consultaHistoriaEstadosConvenioBB.consultaConvenioDetalleServicio.puntoVentaCompra}"
				disabled="true" style="margin-right: 7px;" />
			<h:outputLabel value="#{MensajesComponentes_cns['estadoConvenio.nroCuotasOriginales']}" />
			<h:inputText
				value="#{consultaHistoriaEstadosConvenioBB.consultaConvenioDetalleServicio.nroCuotasOriginales}"
				disabled="true" style="margin-right: 7px;" />
			<h:outputLabel value="#{MensajesComponentes_cns['estadoConvenio.nroCuotasFacturaras']}" />
			<h:inputText
				value="#{consultaHistoriaEstadosConvenioBB.consultaConvenioDetalleServicio.nroCuotasFacturaras}"
				disabled="true" style="margin-right: 7px;" /> 


			<h:outputLabel value="#{MensajesComponentes_cns['estadoConvenio.nroCuotasFaltanetes']}" />
			<h:inputText
				value="#{consultaHistoriaEstadosConvenioBB.consultaConvenioDetalleServicio.nroCuotasFaltanetes}"
				disabled="true" style="margin-right: 7px;" />
			<h:outputLabel value="#{MensajesComponentes_cns['estadoConvenio.tasaInteresOrigen']}" />
			<h:inputText
				value="#{consultaHistoriaEstadosConvenioBB.consultaConvenioDetalleServicio.tasaInteresOrigen}"
				disabled="true" style="margin-right: 7px;" />
			<h:outputLabel value="#{MensajesComponentes_cns['estadoConvenio.saldoCapitalServicio']}" />
			<h:inputText
				value="#{consultaHistoriaEstadosConvenioBB.consultaConvenioDetalleServicio.saldoCapitalServicio}"
				disabled="true" style="margin-right: 7px;" /> 


			<h:outputLabel value="#{MensajesComponentes_cns['estadoConvenio.saldoInteresCorriente']}" />
			<h:inputText
				value="#{consultaHistoriaEstadosConvenioBB.consultaConvenioDetalleServicio.saldoInteresCorriente}"
				disabled="true" style="margin-right: 7px;" />
			<h:outputLabel value="#{MensajesComponentes_cns['estadoConvenio.saldoInteresMora']}" />
			<h:inputText
				value="#{consultaHistoriaEstadosConvenioBB.consultaConvenioDetalleServicio.saldoInteresMora}"
				disabled="true" style="margin-right: 7px;" />
			<h:outputLabel value="#{MensajesComponentes_cns['estadoConvenio.periodosAtrasados']}" />
			<h:inputText
				value="#{consultaHistoriaEstadosConvenioBB.consultaConvenioDetalleServicio.periodosAtrasados}"
				disabled="true" style="margin-right: 7px;" /> 


			<h:outputLabel value="#{MensajesComponentes_cns['estadoConvenio.diasMora']}" />
			<h:inputText
				value="#{consultaHistoriaEstadosConvenioBB.consultaConvenioDetalleServicio.diasMora}"
				disabled="true" style="margin-right: 7px;" />
			<h:outputLabel value="#{MensajesComponentes_cns['estadoConvenio.valorCapitalMora']}" />
			<h:inputText
				value="#{consultaHistoriaEstadosConvenioBB.consultaConvenioDetalleServicio.valorCapitalMora}"
				disabled="true" style="margin-right: 7px;" />
			<h:outputLabel value="#{MensajesComponentes_cns['estadoConvenio.valorInteresesMora']}" />
			<h:inputText
				value="#{consultaHistoriaEstadosConvenioBB.consultaConvenioDetalleServicio.valorInteresesMora}"
				disabled="true" style="margin-right: 7px;" /> 

		</sy:panelGrid>
		<br />
		<br />
		<h:form>
	    <sy:popup
	    	label="#{MensajesComponentes_cns['estadoConvenio.boton.estadosServicio']}"
	        outcome="estadoServicio"
	        button="true">
	        <f:setPropertyActionListener target="#{nroServicioQueryFilter.attributeValue}" value="5" />
	    </sy:popup>
    </h:form>
    </sy:boxPage>
</f:view>