<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:v="http://www.synapsis-it.com/jsf/validator"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour"
	xmlns:ex="http://www.synapsis-it.com/jsf/core/ext"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax">
    <sy:boxPage title="#{MensajesComponentes_cns['consulta.detalle.valor.titulo']}">
		<h:form>
			<s:service id="valorFacturaService" manager="#{serviceManager}"
				name="valorFacturaService" method="findByCriteria" fire="true">
				<f:param name="numeroDocumento"
					value="#{detalleDeudaSaldoBB.nroFactura}" />
			</s:service>
			<s:dataTable source="valorFacturaService" var="valor">
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.detalle.valor.codigoCargo']}">
					<h:outputText value="#{valor.codigoCargo}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.detalle.valor.nombreCargo']}">
					<h:outputText value="#{valor.nombreCargo}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.detalle.valor.valorCargo']}">
					<h:outputText value="#{valor.valorCargo}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.detalle.valor.unidad']}">
					<h:outputText value="#{valor.unidad}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.detalle.valor.numeroUnidades']}">
					<h:outputText value="#{valor.numeroUnidades}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.detalle.valor.usuarioGenerador']}">
					<h:outputText value="#{valor.usuarioGenerador}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.detalle.valor.nombreGenerador']}">
					<h:outputText value="#{valor.nombreGenerador}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.detalle.valor.fechaCreacion']}">
					<h:outputText value="#{valor.fechaCreacion}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.detalle.valor.numeroDocumento']}">
					<h:outputText value="#{valor.numeroDocumento}" />
				</sy:tableColumnCustom>
			</s:dataTable>
		</h:form>
	</sy:boxPage>
</f:view>


