<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jstl/core">
	
	<c:choose>
		<c:when test="#{searchBB.clientePreferencialEnabled}">				
			<h:outputLabel style="font-family: Arial, Verdana, sans-serif; font-size: 11px; font-weight: bold; color:#FF0000;" 
				value="#{MensajesComponentes_cns['mensajeClientePreferencial']} #{searchBB.tipoClientePreferencial}" />
		</c:when>
	</c:choose>

</f:view>
