<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:v="http://www.synapsis-it.com/jsf/validator"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour"
	xmlns:ex="http://www.synapsis-it.com/jsf/core/ext"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax">

	<sy:boxPage title="#{MensajesComponentes_cns['consulta.detalle.serv.finan.titulo']}"
		close="true">
		<h:form>
			<t:saveState value="#{historicoOtrosNegociosBB.nroServicio}" />
			<s:service id="detalleServiciosFinancierosService" manager="#{serviceManager}"
				name="detalleServiciosFinancierosService" method="findByCriteriaUnique" fire="true">
				<f:param name="nroServicio"
					value="#{historicoOtrosNegociosBB.nroServicio}" />
			</s:service>
			<s:unmarshall source="detalleServiciosFinancierosService"
				var="financdet" />
			<sy:panelGrid columns="3">
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.detalle.serv.finan.nroIdSolicitante']}" />
				<h:inputText value="#{financdet.nroIdSolicitante}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.detalle.serv.finan.solicitanteCred']}" />
				<h:inputText value="#{financdet.solicitanteCred}" disabled="true" />

				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.detalle.serv.finan.estrato']}" />
				<h:inputText value="#{financdet.estrato}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.detalle.serv.finan.ciclo']}" />
				<h:inputText value="#{financdet.ciclo}" disabled="true" />

				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.detalle.serv.finan.nroCuenta']}" />
				<h:inputText value="#{financdet.nroCuenta}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.detalle.serv.finan.nroServicio']}" />
				<h:inputText value="#{financdet.nroServicio}" disabled="true" />

				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.detalle.serv.finan.lineaNegocio']}" />
				<h:inputText value="#{financdet.lineaNegocio}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.detalle.serv.finan.fechaCompraProd']}" />
				<h:inputText value="#{financdet.fechaCompraProd}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.detalle.serv.finan.nombreSocio']}" />
				<h:inputText value="#{financdet.nombreSocio}" disabled="true" />				
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.detalle.serv.finan.sucursalSocio']}" />
				<h:inputText value="#{financdet.sucursalSocio}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.detalle.serv.finan.tipoProd']}" />
				<h:inputText value="#{financdet.tipoProd}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.detalle.serv.finan.marcaProd']}" />
				<h:inputText value="#{financdet.marcaProd}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.detalle.serv.finan.valorOrigSrv']}" />
				<h:inputText value="#{financdet.valorOrigSrv}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.detalle.serv.finan.nroCuotas']}" />
				<h:inputText value="#{financdet.nroCuotas}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.detalle.serv.finan.tasaInt']}" />
				<h:inputText value="#{financdet.tasaInt}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.detalle.serv.finan.tasaIntActual']}" />
				<h:inputText value="#{financdet.tasaIntActual}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.detalle.serv.finan.nroCuotasFac']}" />
				<h:inputText value="#{financdet.nroCuotasFac}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.detalle.serv.finan.nroCuotasRestantes']}" />
				<h:inputText value="#{financdet.nroCuotasRestantes}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.detalle.serv.finan.periodAtrasado']}" />
				<h:inputText value="#{financdet.periodAtrasado}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.detalle.serv.finan.diasMora']}" />
				<h:inputText value="#{financdet.diasMora}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.detalle.serv.finan.valorCap']}" />
				<h:inputText value="#{financdet.valorCap}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.detalle.serv.finan.valorInt']}" />
				<h:inputText value="#{financdet.valorInt}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.detalle.serv.finan.saldoCapital']}" />
				<h:inputText value="#{financdet.saldoCapital}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.detalle.serv.finan.saldoIntereses']}" />
				<h:inputText value="#{financdet.saldoIntereses}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.detalle.serv.finan.saldoIntMora']}" />
				<h:inputText value="#{financdet.saldoIntMora}" disabled="true" />
			</sy:panelGrid>
		<br />
			<sy:popup
				label="#{MensajesComponentes_cns['consulta.detalle.serv.finan.boton.historia']}"
				outcome="historiaEstados" button="true">
			</sy:popup>
		
		</h:form>
	</sy:boxPage>
</f:view>



