<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service">
<body>
		<h:form>
			
			<s:service id="ultLectService" manager="#{serviceManager}"
				name="ultLectService" method="findByCriteria" fire="true">
				<f:param name="nroCuenta"
					value="#{numeroCuentaQueryFilter.attributeValue}" />
			</s:service>
			<s:dataTable source="ultLectService" var="ult">
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.ultimas.lecturas.lectura']}">
					<h:outputText value="#{ult.lectura}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.ultimas.lecturas.fechaLectura']}">
					<h:outputText value="#{ult.fechaLectura}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.ultimas.lecturas.lectEne_fp']}">
					<h:outputText value="#{ult.lectEne_fp}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.ultimas.lecturas.energiaFp']}">
					<h:outputText value="#{ult.energiaFp}" />
				</sy:tableColumnCustom>
			</s:dataTable>
		</h:form>
</body>
</f:view>
