<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:v="http://www.synapsis-it.com/jsf/validator"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour"
	xmlns:ex="http://www.synapsis-it.com/jsf/core/ext"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
	xmlns:e="http://www.synapsis-it.com/jsf/core/ext">
	<sy:boxPage title="#{MensajesComponentes_cns['consulta.estados.servicio.titulo']}"
		close="true">
		<h:form>
			<s:service id="estadosServicioService" manager="#{serviceManager}"
				name="estadosServicioService" method="findByCriteria" fire="true">
				<f:param name="nroServicio"
					value="#{consultaConvenioEstadosHogarBB.nroServicio}" />
			</s:service>
			<s:dataTable source="estadosServicioService" var="estados">
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.estados.servicio.motivo']}">
					<h:outputText value="#{estados.motivo}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.estados.servicio.usuarioEjecutor']}">
					<h:outputText value="#{estados.usuarioEjecutor}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.estados.servicio.fechaCambioEstado']}">
					<h:outputText value="#{estados.fechaCambioEstado}" />
				</sy:tableColumnCustom>
			</s:dataTable>
		</h:form>
	</sy:boxPage>
</f:view>
