<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core">
	<sy:boxPage title="Observaciones">
		<h:form>
			<sy:group title="" columns="2">
				<h:outputLabel
					value="#{MensajesComponentes_cns['consultaConvenioTrasladoBB.tabla.numero.convenio']}"
					for="inputConvenio" />
				<h:inputText value="#{nroConvenioQueryFilter.attributeValue}" id="inputConvenio" disabled="true">
				</h:inputText>
				
			</sy:group>
		
			<sy:group title="#{MensajesComponentes_cns['consultaConvenioTrasladoBB.observacionAsociadaCreacion']}" columns="2">
				<h:inputTextarea value="#{consConvenioObservacionesBB.businessObject1.descripcionObservacion}" id="inputConvenio" disabled="true"
				         rows="2" cols="80">
				</h:inputTextarea>
			</sy:group>
			
			<sy:group title="#{MensajesComponentes_cns['consultaConvenioTrasladoBB.observacionAsociadaAprobacion']}" columns="2">
				<h:inputTextarea value="#{consConvenioObservacionesBB.businessObject2.descripcionObservacion}" id="inputConvenio" disabled="true"
				         rows="2" cols="80">
				</h:inputTextarea>
			</sy:group>
			
			<sy:group title="#{MensajesComponentes_cns['consultaConvenioTrasladoBB.observacionAsociadaEstadoConvenio']}"
				columns="2">
				<h:inputTextarea value="#{consConvenioObservacionesBB.businessObject3.descripcionObservacion}" id="inputConvenio" disabled="true"
				         rows="2" cols="80">
				</h:inputTextarea>
			</sy:group>

		</h:form>
	</sy:boxPage>
</f:view>
