<f:view xmlns="http://www.w3.org/1999/xhtml"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:sy="http://www.synapsis.com/jsf/core"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:c="http://java.sun.com/jstl/core"
xmlns:s="http://www.synapsis-it.com/jsf/service"
xmlns:t="http://myfaces.apache.org/tomahawk"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:a4j="https://ajax4jsf.dev.java.net/ajax">

  <sy:boxPage title="#{MensajesComponentes_cns['consultaInformacionTransformadorForm.titulo']}">
  <h:form id="consultaInformacionTransformadorForm">
 <t:saveState value="#{consultaDatosTransformadorBB.transformador}" />
  
  			<s:service manager="#{serviceManager}"
				name="consultaInformacionTransformadorByNroTransformadorService" method="findByCriteria"
				id="consultaInformacionTransformadorByNroTransformador">		
			 <f:param name="transformador"
					value="#{consultaDatosTransformadorBB.transformador}" />	
  			 </s:service>  			    

      
			<s:dataTable id="informacionTransformador" source="consultaInformacionTransformadorByNroTransformador" var="datosInformacionTransformador">
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaInformacionTransformadorByNroTransformador.tabla.transformador']}">
					<h:outputText value="#{datosInformacionTransformador.transformador}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaInformacionTransformadorByNroTransformador.tabla.circuito']}">
					<h:outputText value="#{datosInformacionTransformador.circuito}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaInformacionTransformadorByNroTransformador.tabla.propiedadTra']}">
					<h:outputText value="#{datosInformacionTransformador.propiedadTra}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaInformacionTransformadorByNroTransformador.tabla.conexion']}">
					<h:outputText value="#{datosInformacionTransformador.conexion}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaInformacionTransformadorByNroTransformador.tabla.tension']}">
					<h:outputText value="#{datosInformacionTransformador.tension}" />
				</sy:tableColumnCustom>
			</s:dataTable>
</h:form>
</sy:boxPage>
</f:view>
