<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<sy:boxPage title="#{MensajesComponentes_cns['consultaLecturaConsumo.titulo']}">
		<h:form id="form1">
			<sy:panelTabbedPane>
				<sy:panelTab idTab="tab1"
					label="#{MensajesComponentes_cns['consultaLecturaConsumo.consumo.titulo.tab']}">
					<ui:param name="fullId" value="form1:tab1"/>
					<ui:include src="consultaLecturaConsumo.xhtml" />
				</sy:panelTab>
				<sy:panelTab idTab="tab3"
					label="#{MensajesComponentes_cns['consultaLecturaConsumo.auditoria.titulo.tab']}">
					<ui:include src="consultaLecturaConsumoAuditoria.xhtml" />
				</sy:panelTab>
				<sy:panelTab idTab="tab4"
					label="#{MensajesComponentes_cns['consultaLecturaConsumo.medidores.titulo.tab']}">
					<ui:param name="fullIdTab1" value="form1:tab1"/>	
					<ui:param name="fullIdTab5" value="form1:tab5"/>	
					<ui:include src="consultaLecturaConsumoMedidores.xhtml" />
				</sy:panelTab>
			</sy:panelTabbedPane>
		</h:form>
	</sy:boxPage>
</f:view>
