<f:subview id="subview1" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
    xmlns:s="http://www.synapsis-it.com/jsf/service">
		
		<t:saveState value="#{certificaConsumosBB.certificadoConsumosSelected}"/>
			
       	<s:service manager="#{serviceManager}" name="detalleConsumoService"
			method="findByCriteria" id="detalleConsumoService" rows="10">
			<f:param name="nroCuenta"
				value="#{numeroCuentaQueryFilter.attributeValue}" />
		</s:service>
		<s:unmarshall source="detalleConsumoService" var="detalle" />
        
        <c:dataTable value="#{detalle}" rows="10"
            target="#{certificaConsumosBB.certificadoConsumosSelected}" var="consumo" >
            
            <sy:tableColumnCustom header="#{ClavesInducidas_cns['com.synapsis.cns.codensa.model.impl.ConsultaLecturaConsumoImpl.fechaLecturaAnterior']}">
				<h:outputText value="#{consumo.fechaLecturaAnterior}" />
			</sy:tableColumnCustom>

            <sy:tableColumnCustom header="#{ClavesInducidas_cns['com.synapsis.cns.codensa.model.impl.ConsultaLecturaConsumoImpl.fechaLecturaActual']}">
				<h:outputText value="#{consumo.fechaLecturaActual}" />
			</sy:tableColumnCustom>

            <sy:tableColumnCustom header="#{ClavesInducidas_cns['com.synapsis.cns.codensa.model.impl.ConsultaLecturaConsumoImpl.periodoFacturacion']}">
				<h:outputText value="#{consumo.periodoFacturacion}" />
			</sy:tableColumnCustom>

            <sy:tableColumnCustom header="#{ClavesInducidas_cns['com.synapsis.cns.codensa.model.impl.ConsultaLecturaConsumoImpl.evento']}">
				<h:outputText value="#{consumo.evento}" />
			</sy:tableColumnCustom>

            <sy:tableColumnCustom header="#{ClavesInducidas_cns['com.synapsis.cns.codensa.model.impl.ConsultaLecturaConsumoImpl.tipoLectura']}">
				<h:outputText value="#{consumo.tipoLectura}" />
			</sy:tableColumnCustom>

            <sy:tableColumnCustom header="#{ClavesInducidas_cns['com.synapsis.cns.codensa.model.impl.ConsultaLecturaConsumoImpl.codigoAnomaliaLecturaTerreno']}">
				<h:outputText value="#{consumo.codigoAnomaliaLecturaTerreno}" />
			</sy:tableColumnCustom>

            <sy:tableColumnCustom header="#{ClavesInducidas_cns['com.synapsis.cns.codensa.model.impl.ConsultaLecturaConsumoImpl.codigoAnomaliaLecturaFacturacion']}">
				<h:outputText value="#{consumo.codigoAnomaliaLecturaFacturacion}" />
			</sy:tableColumnCustom>

            <sy:tableColumnCustom header="#{ClavesInducidas_cns['com.synapsis.cns.codensa.model.impl.ConsultaLecturaConsumoImpl.descripcionAnomaliaLecturaFacturacion']}">
				<h:outputText value="#{consumo.descripcionAnomaliaLecturaFacturacion}" />
			</sy:tableColumnCustom>

            <sy:tableColumnCustom header="#{ClavesInducidas_cns['com.synapsis.cns.codensa.model.impl.ConsultaLecturaConsumoImpl.lecturaTerrenoActivaFP']}">
				<h:outputText value="#{consumo.lecturaTerrenoActivaFP}" />
			</sy:tableColumnCustom>

            <sy:tableColumnCustom header="#{ClavesInducidas_cns['com.synapsis.cns.codensa.model.impl.ConsultaLecturaConsumoImpl.lecturaFacturaActivaFP']}">
				<h:outputText value="#{consumo.lecturaFacturaActivaFP}" />
			</sy:tableColumnCustom>

            <sy:tableColumnCustom header="#{ClavesInducidas_cns['com.synapsis.cns.codensa.model.impl.ConsultaLecturaConsumoImpl.consumoFacturadoActivaFP']}">
				<h:outputText value="#{consumo.consumoFacturadoActivaFP}" />
			</sy:tableColumnCustom>

            <sy:tableColumnCustom header="#{ClavesInducidas_cns['com.synapsis.cns.codensa.model.impl.ConsultaLecturaConsumoImpl.lecturaTerrenoActivaHP']}">
				<h:outputText value="#{consumo.lecturaTerrenoActivaHP}" />
			</sy:tableColumnCustom>

            <sy:tableColumnCustom header="#{ClavesInducidas_cns['com.synapsis.cns.codensa.model.impl.ConsultaLecturaConsumoImpl.lecturaFacturaActivaHP']}">
				<h:outputText value="#{consumo.lecturaFacturaActivaHP}" />
			</sy:tableColumnCustom>

            <sy:tableColumnCustom header="#{ClavesInducidas_cns['com.synapsis.cns.codensa.model.impl.ConsultaLecturaConsumoImpl.consumoFacturadoActivaHP']}">
				<h:outputText value="#{consumo.consumoFacturadoActivaHP}" />
			</sy:tableColumnCustom>

            <sy:tableColumnCustom header="#{ClavesInducidas_cns['com.synapsis.cns.codensa.model.impl.ConsultaLecturaConsumoImpl.lecturaTerrenoActivaXP']}">
				<h:outputText value="#{consumo.lecturaTerrenoActivaXP}" />
			</sy:tableColumnCustom>

            <sy:tableColumnCustom header="#{ClavesInducidas_cns['com.synapsis.cns.codensa.model.impl.ConsultaLecturaConsumoImpl.lecturaFacturaActivaXP']}">
				<h:outputText value="#{consumo.lecturaFacturaActivaXP}" />
			</sy:tableColumnCustom>

            <sy:tableColumnCustom header="#{ClavesInducidas_cns['com.synapsis.cns.codensa.model.impl.ConsultaLecturaConsumoImpl.consumoFacturadoActivaXP']}">
				<h:outputText value="#{consumo.consumoFacturadoActivaXP}" />
			</sy:tableColumnCustom>

            <sy:tableColumnCustom header="#{ClavesInducidas_cns['com.synapsis.cns.codensa.model.impl.ConsultaLecturaConsumoImpl.consumoActivaServicioDirecto']}">
				<h:outputText value="#{consumo.consumoActivaServicioDirecto}" />
			</sy:tableColumnCustom>

            <sy:tableColumnCustom header="#{ClavesInducidas_cns['com.synapsis.cns.codensa.model.impl.ConsultaLecturaConsumoImpl.ubicacionMedidor']}">
				<h:outputText value="#{consumo.ubicacionMedidor}" />
			</sy:tableColumnCustom>

            <sy:tableColumnCustom header="#{ClavesInducidas_cns['com.synapsis.cns.codensa.model.impl.ConsultaLecturaConsumoImpl.idMedidor']}">
				<h:outputText value="#{consumo.idMedidor}" />
			</sy:tableColumnCustom>

            <sy:tableColumnCustom header="#{ClavesInducidas_cns['com.synapsis.cns.codensa.model.impl.ConsultaLecturaConsumoImpl.consumoDemandaFP']}">
				<h:outputText value="#{consumo.consumoDemandaFP}" />
			</sy:tableColumnCustom>

            <sy:tableColumnCustom header="#{ClavesInducidas_cns['com.synapsis.cns.codensa.model.impl.ConsultaLecturaConsumoImpl.consumoDemandaHP']}">
				<h:outputText value="#{consumo.consumoDemandaHP}" />
			</sy:tableColumnCustom>
		
            <sy:tableColumnCustom header="#{ClavesInducidas_cns['com.synapsis.cns.codensa.model.impl.ConsultaLecturaConsumoImpl.consumoDemandaXP']}">
				<h:outputText value="#{consumo.consumoDemandaXP}" />
			</sy:tableColumnCustom>

        </c:dataTable>
		
<!-- 	<sy:dataTable paginable="true"  -->

	<sy:popup actionBean="#{certificaConsumosBB}" action="execAction"
		label="#{MensajesComponentes_cns['consultaLecturaConsumo.generarPDF']}"
		disabled="rowCount eq 0" button="true" />

    <br/>
	<br/>
	<sy:dataTable xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:sy="http://www.synapsis.com/jsf/core"
		listBean="#{consultaLecturaConsumoBB.multiList.data['consultaOtrasLecturaConsumo']}"
		metadata="#{consultaOtrasLecturaConsumoMetaData}"
		resources="#{ClavesInducidas_cns}" tableId="table2">
		<sy:tableColumn attribute="fechaLecturaAnterior" />
		<sy:tableColumn attribute="fechaLecturaActual" />
		<sy:tableColumn attribute="periodoFacturacion" />
		<sy:tableColumn attribute="evento" />
		<sy:tableColumn attribute="tipoLectura" />
		<sy:tableColumn attribute="codigoAnomaliaLecturaTerreno" />
		<sy:tableColumn attribute="codigoAnomaliaLecturaFacturacion" />
		<sy:tableColumn attribute="descripcionAnomaliaLecturaFacturacion" />
		
		
		<sy:tableColumn attribute="lecturaTerrenoReactivaFP" />
		<sy:tableColumn attribute="lecturaFacturaReactivaFP" />
		<sy:tableColumn attribute="consumoRealReactivaFP" />
		<sy:tableColumn attribute="consumoFacturadoReactivaFP" /> 
		
		
		<sy:tableColumn attribute="lecturaTerrenoReactivaHP" />
		<sy:tableColumn attribute="lecturaFacturaReactivaHP" />
		<sy:tableColumn attribute="consumoRealReactivaHP" />		
		<sy:tableColumn attribute="consumoFacturadoReactivaHP" />		
		<sy:tableColumn attribute="lecturaTerrenoReactivaXP" />
		<sy:tableColumn attribute="lecturaFacturaReactivaXP" />		
		<sy:tableColumn attribute="consumoRealReactivaXP" />		
		<sy:tableColumn attribute="consumoFacturadoReactivaXP" />		
		<sy:tableColumn attribute="ubicacionMedidor" />
		<sy:tableColumn attribute="estadoMedidor" />

	</sy:dataTable>

</f:subview>
