<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:v="http://www.synapsis-it.com/jsf/validator"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour"
	xmlns:ex="http://www.synapsis-it.com/jsf/core/ext"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax">
	<sy:boxPage title="#{MensajesComponentes_cns['consulta.eco.detalle.titulo']}"
		close="true">
		<h:form>
			<s:service id="detalleEcoService" manager="#{serviceManager}"
				name="detalleEcoService" method="findByCriteriaUnique" fire="true">
				<f:param name="nroSrvFin"
					value="#{historicoOtrosNegociosBB.nroSrvFinEco}" />
			</s:service>
			<s:unmarshall source="detalleEcoService"
				var="ecodet" />
			<sy:panelGrid columns="2">
			
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.eco.detalle.tipoIdTitular']}" />
				<h:inputText value="#{ecodet.tipoIdTitular}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.eco.detalle.nroIdTitular']}" />
				<h:inputText value="#{ecodet.nroIdTitular}" disabled="true" />

				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.eco.detalle.tipoIdTitular.estrato']}" />
				<h:inputText value="" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.eco.detalle.tipoIdTitular.ciclo']}" />
				<h:inputText value="" disabled="true" />



				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.eco.detalle.nroCuenta']}" />
				<h:inputText value="#{ecodet.nroCuenta}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.eco.detalle.lineaNegocio']}" />
				<h:inputText value="#{ecodet.lineaNegocio}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.eco.detalle.nroEco']}" />
				<h:inputText value="#{ecodet.nroEco}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.eco.detalle.nroIdEco']}" />
				<h:inputText value="#{ecodet.nroIdEco}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.eco.detalle.socio']}" />
				<h:inputText value="#{ecodet.socio}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.eco.detalle.producto']}" />
				<h:inputText value="#{ecodet.producto}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.eco.detalle.plan']}" />
				<h:inputText value="#{ecodet.plan}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.eco.detalle.nroCuotas']}" />
				<h:inputText value="#{ecodet.nroCuotas}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.eco.detalle.valCuota']}" />
				<h:inputText value="#{ecodet.valCuota}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.eco.detalle.fechaActivacion']}" />
				<h:inputText value="#{ecodet.fechaActivacion}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.eco.detalle.nroCuotasFact']}" />
				<h:inputText value="#{ecodet.nroCuotasFact}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.eco.detalle.nroCuotasFaltantes']}" />
				<h:inputText value="#{ecodet.nroCuotasFaltantes}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.eco.detalle.periodAtrasados']}" />
				<h:inputText value="#{ecodet.periodAtrasados}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.eco.detalle.saldoEco']}" />
				<h:inputText value="#{ecodet.saldoEco}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.eco.detalle.saldoIntMora']}" />
				<h:inputText value="#{ecodet.saldoIntMora}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.eco.detalle.valCuotasMora']}" />
				<h:inputText value="#{ecodet.valCuotasMora}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.eco.detalle.diasMora']}" />
				<h:inputText value="#{ecodet.diasMora}" disabled="true" />
			</sy:panelGrid>
		</h:form>
	</sy:boxPage>
</f:view>



