<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:c="http://www.synapsis-it.com/jsf/core">
	<sy:boxPage title= "#{MensajesComponentes_cns['documentosSoporteBB.tabla']}"  
		bundle="#{MensajesComponentes_cns}">
		<h:form>
			<c:dataTable id="tblDocumentosSoporte" 
				var="rowVar"
				value="#{documentosSoporteBB.listResults}">
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['documentosSoporteBB.documentoSoporte']}">
					<h:outputText value="#{rowVar.documentosSoporte}" />
				</sy:tableColumnCustom>
			</c:dataTable>
		</h:form>
	</sy:boxPage>
</f:view>