<f:view xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:sy="http://www.synapsis.com/jsf/core"
    xmlns:t="http://myfaces.apache.org/tomahawk">
    <sy:boxPage title="#{MensajesComponentes_cns['consultaHistoricoLectura.title']}"
        bundle="#{MensajesComponentes_cns}">
        <h:form>
           <t:saveState value="#{consultaHistoricosLecturaBB.businessObject1}"/>
           <t:saveState value="#{consultaHistoricosLecturaBB}"/>
			<sy:panelGrid column="2">
            	<h:outputLabel value="#{MensajesComponentes_cns['consultaHistoricoLectura.tabla.marca.medidor']}"
                        styleClass="label" />
                <h:inputText value="#{consultaHistoricosLecturaBB.businessObject1.marcaMedidor}"
                    styleClass="edit" disabled="true"/>
                <h:outputLabel value="#{MensajesComponentes_cns['consultaHistoricoLectura.tabla.numero.medidor']}"
                    styleClass="label" />
                <h:inputText value="#{consultaHistoricosLecturaBB.businessObject1.numeroMedidor}"
                    styleClass="edit" disabled="true"/>
            </sy:panelGrid>     	
            <sy:dataTable listBean="#{consultaHistoricosLecturaBB}" metadata="#{historicoLecturasMetadata}"
                resources="#{ClavesInducidas_cns}">
                <sy:tableColumn attribute="fechaLectura" />
                <sy:tableColumn attribute="lecturaActivaFP" />    
                <sy:tableColumn attribute="consumoActivaFP" />
                <sy:tableColumn attribute="lecturaActivaHP" />  
                <sy:tableColumn attribute="consumoActivoHP" />
                <sy:tableColumn attribute="lecturaActivaXP" />  
                <sy:tableColumn attribute="consumoActivoXP" />
                <sy:tableColumn attribute="lecturaReactivaFP" />  
                <sy:tableColumn attribute="consumoReactivoFacturadoFP" />
                <sy:tableColumn attribute="consumoReactivoCalculadoFP" /> 
                <sy:tableColumn attribute="lecturaReactivaHP" />    
                <sy:tableColumn attribute="consumoReactivoFacturadoHP" />  
                <sy:tableColumn attribute="consumoReactivoCalculadoHP" />
                <sy:tableColumn attribute="lecturaReactivaXP" /> 
                <sy:tableColumn attribute="consumoReactivoFacturadoXP" />    
            </sy:dataTable>   
        </h:form>
    </sy:boxPage>
</f:view>