<f:subview xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour"
	xmlns:ex="http://www.synapsis-it.com/jsf/core/ext"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax">
	<sy:title
		value="#{MensajesComponentes_cns['consulta.detalle.facturacion.titulo']}" />
	<s:service id="detalleFactService" manager="#{serviceManager}"
		name="detalleFactService" method="findByCriteria" fire="true">
		<f:param name="nroCuenta"
			value="#{numeroCuentaQueryFilter.attributeValue}" />
	</s:service>
	<s:dataTable source="detalleFactService" var="fact">
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.detalle.facturacion.periodoFacturacion']}">
			<h:outputText value="#{fact.periodoFacturacion}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.detalle.facturacion.fechaFacturacion']}">
			<h:outputText value="#{fact.fechaFacturacion}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.detalle.facturacion.nroFacturaEmitida']}">
			<h:outputText value="#{fact.nroFacturaEmitida}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.detalle.facturacion.valorTotalFactura']}">
			<c:popup>
				<h:commandLink action="detalleValorFactura" immediate="true"
					value="#{fact.valorTotalFactura}">
						<f:setPropertyActionListener
							target="#{detalleDeudaSaldoBB.nroFactura}" value="#{fact.nroFacturaEmitida}" />
				</h:commandLink>
			</c:popup>
		</sy:tableColumnCustom>
	</s:dataTable>
</f:subview>


