<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
	xmlns:core="http://www.synapsis-it.com/jsf/core">
	<sy:boxPage title="#{MensajesComponentes_cns['consulta.evaluacion.titulo']}"
		close="true">
		<h:form>
			<s:service id="laboratorioService" manager="#{serviceManager}"
				name="laboratorioService" method="findByCriteria" fire="true">
				<f:param name="nroExpediente"
					value="#{consultaExpedientesBB.nroExpediente}" />
			</s:service>
			<s:dataTable source="laboratorioService" var="eval">
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.evaluacion.fechaRealizacion']}">
					<h:outputText value="#{eval.fechaRealizacion}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.evaluacion.nombrePresencio']}">
					<h:outputText value="#{eval.nombrePresencio}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.evaluacion.anomaliasencontradas']}">
					<core:popup>
						<h:commandLink action="detalleAnomalias"
							value="#{MensajesComponentes_cns['consulta.evaluacion.anomalias.encontradas.link']}" 
							immediate="true">
						</h:commandLink>	
					</core:popup>
				</sy:tableColumnCustom>                
				
			</s:dataTable>
		</h:form>
	</sy:boxPage>
</f:view>
