<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
   	xmlns:t="http://myfaces.apache.org/tomahawk">
    
    <t:saveState value="#{iddocumentoQueryFilter.attributeValue}" />
    
	<sy:boxPage title="#{MensajesComponentes_cns['detalleCargosBB.tabla']}"
		bundle="#{MensajesComponentes_cns}">
		<h:form>
			<sy:dataTable tableId="hola2" listBean="#{detalleCargosBB}"
				metadata="#{detalleCargosMetaData}" resources="#{ClavesInducidas_cns}">
				<sy:tableColumn attribute="codCargo" />
				<sy:tableColumn attribute="descripcionCargo" />
				<sy:tableColumn attribute="valorCargo" />
				<sy:tableColumn attribute="tipoCargo" />
				<sy:tableColumn attribute="periodoCargo" />
				<sy:tableColumn attribute="nroServicio" />
			</sy:dataTable>
		</h:form>
	</sy:boxPage>
</f:view>
