<sy:dataTable xmlns="http://www.w3.org/1999/xhtml"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	listBean="#{detalleConsultaRefacturacionesAjustesBB.multiList.data['detalleConsultaRefacturacionesAjustesItems']}"
	metadata="#{detalleConsultaRefacturacionesAjustesItemsMetaData}" resources="#{ClavesInducidas_cns}">
	<sy:tableColumn attribute="periodoDeFact" />
	<sy:tableColumn attribute="codigoItemAjuste" />
	<sy:tableColumn attribute="descItemAjuste" />
	<sy:tableColumn attribute="valorItemAntesAjuste" />
	<sy:tableColumn attribute="valorItemDespuesAjuste" />
	<sy:tableColumn attribute="valorAjusteItem" />
	<sy:tableColumn attribute="consumoKwhAntesAjuste" />
	<sy:tableColumn attribute="consumoKwhDespuesAjuste" />
	<sy:tableColumn attribute="consumoKwhAjuste" />
	<sy:tableColumn attribute="nroServicio" />
	
</sy:dataTable>

