<f:view xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"    
    xmlns:sy="http://www.synapsis.com/jsf/core">
    <sy:boxPage title="#{MensajesComponentes_cns['consultaHistorialDeuda.tituloDetalle']}">
		<h:form>
		<sy:dataGrid includeDetail="true">
		    <sy:dataGridRow label="#{MensajesComponentes_cns['consultaHistorialDeuda.totalDeuda']}"
		        data="#{consultaDetalleDeudaBB.businessObject.totalDeuda}" />
		    <sy:dataGridRow label="#{MensajesComponentes_cns['consultaHistorialDeuda.saldoSrvElectrico']}"
		        data="#{consultaDetalleDeudaBB.businessObject.saldoSrvElectrico}" />
		    <sy:dataGridRow label="#{MensajesComponentes_cns['consultaHistorialDeuda.saldoSrvOtros']}"
		        data="#{consultaDetalleDeudaBB.businessObject.saldoSrvOtros}" />
		    <sy:dataGridRow label="#{MensajesComponentes_cns['consultaHistorialDeuda.saldoInteres']}"
		        data="#{consultaDetalleDeudaBB.businessObject.saldoInteres}" />
		    <sy:dataGridRow label="#{MensajesComponentes_cns['consultaHistorialDeuda.deudaConvenioSrvElectrico']}"
		        data="#{consultaDetalleDeudaBB.businessObject.deudaConvenioSrvElectrico}"
		        actionBean="#{consultaHistorialDeudaDetalleCargosListBB}" detailAction="buscarAction"/>
		    <sy:dataGridRow label="#{MensajesComponentes_cns['consultaHistorialDeuda.deudaExigible']}"
		        data="#{consultaDetalleDeudaBB.businessObject.deudaExigible}" />
		    <sy:dataGridRow label="#{MensajesComponentes_cns['consultaHistorialDeuda.valorDisputa']}"
		        data="#{consultaDetalleDeudaBB.businessObject.valorDisputa}"
		        actionBean="#{consultaHistorialDeudaDetalleCargosListBB}" detailAction="buscarAction"/>
		    <sy:dataGridRow label="#{MensajesComponentes_cns['consultaHistorialDeuda.valorCastigo']}"
		        data="#{consultaDetalleDeudaBB.businessObject.valorCastigo}"
		        actionBean="#{consultaHistorialDeudaDetalleCargosListBB}" detailAction="buscarAction"/>
		    <sy:dataGridRow label="#{MensajesComponentes_cns['consultaHistorialDeuda.valorCondonadoConvenio']}"
		        data="#{consultaDetalleDeudaBB.businessObject.valorCondonadoConvenio}"
		        actionBean="#{consultaHistorialDeudaDetalleCargosListBB}" detailAction="buscarAction"/>
		</sy:dataGrid>
		</h:form>
</sy:boxPage>
</f:view>