<f:view xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:sy="http://www.synapsis.com/jsf/core"
    xmlns:t="http://myfaces.apache.org/tomahawk">
    <sy:boxPage title="Consulta Historia Estado de Convenio">
        <h:form id="formHistoriaEstado">
		    <sy:filters actionBean="#{consultaHistoriaEstadosConvenioBB}" action="doFillDataTableAction">
		    <h:outputLabel value="#{MensajesComponentes_cns['consultaHistoriaEstadosConvenio.busquedaNroServicio']}" styleClass="label"/>
				<h:inputText value="#{consultaHistoriaEstadosConvenioBB.nroServicio}" styleClass="edit" />
		    </sy:filters>
		    <sy:dataTable tableId="historiaEstadoTable" listBean="#{consultaHistoriaEstadosConvenioBB}" resources="#{ClavesInducidas_cns}"
		    metadata="#{consultaHistoriaEstadosConvenioAtencionMetadata}">
		    	<sy:tableColumnLinkPopup
                    header="#{MensajesComponentes_cns['consultaHistoriaEstadosConvenio.nroServicio']}"
                    label="#{rowVar.nroServicio}"
                    actionBean="#{consultaHistoriaEstadosConvenioBB}"
                    action="detalleServicio">
            	<f:setPropertyActionListener
                	target="#{consultaHistoriaEstadosConvenioBB.nroServicioSeleccionado}"
                    value="#{rowVar.nroServicio}" />
                </sy:tableColumnLinkPopup>
			    <sy:tableColumn attribute="nroIdentificacionSolicitantecredito" />
				<sy:tableColumn attribute="lineaNegocioPerteneciente" />
				<sy:tableColumn attribute="fechaActivacionServicio" />	
				<sy:tableColumn attribute="valorOriginalServicio" />
				<sy:tableColumn attribute="saldoServicio" />
            </sy:dataTable>   
        </h:form>
    </sy:boxPage>
</f:view>