<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour"
	xmlns:e="http://www.synapsis-it.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:t="http://myfaces.apache.org/tomahawk"	
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
	xmlns:f="http://java.sun.com/jsf/core">
		
	<sy:boxPage	title="#{MensajesComponentes_cns['consultaContratoInfraestructuraBB.title']}" nroCuentaHeader="disable">	
		<script language="javascript"> 
		<!--									
			function setFocus() {
				var iCuenta = document.getElementById("form1:iNroCuenta");
				iCuenta.focus();
			}
																		
			function clearPage() {								
				document.getElementById("form1:iNroCuenta").value = "";
				document.getElementById("form1:iNroServicio").value = "";
				document.getElementById("form1:iIdClienteTelem").value = "";
				document.getElementById("form1:iNroContrato").value = "";
				document.getElementById("exceptionTable").style.display = 'none';
				document.getElementById("form1:gridResultsPanel").style.display = 'none';										
				setFocus();											
			}

		//-->
		</script>
		<t:saveState value="#{consultaContratoInfraestructuraBB}"/>
					
		<body onload="setFocus();">
		<h:panelGroup id="displaybox" style="display: none;" />
								
		<h:form id="form1">
			<e:errorHandler />
			<e:exception />
			
			<h:panelGroup id="filterPanel">										 
				<s:service id="cuentasInfraestructura" manager="#{serviceManager}" rows="7"
					binding="#{consultaContratoInfraestructuraBB.cuentasInfraestructuraService}"
					name="cuentasInfraestructuraService" method="findByCriteria" fire="false">
					<f:param name="nroCuenta" value="#{consultaContratoInfraestructuraBB.nroCuenta}" />
					<f:param name="nroServicio" value="#{consultaContratoInfraestructuraBB.nroServicio}" />
					<f:param name="idClienteTelem" value="#{consultaContratoInfraestructuraBB.idClienteTelem}" />
					<f:param name="nroContrato" value="#{consultaContratoInfraestructuraBB.nroContrato}" />
				</s:service>										
															
				<table width="80%" cellpadding="0" cellspacing="5" styleClass="synapsis-input-grid">
					<tr>
						<td><h:outputLabel value="#{MensajesComponentes_cns['consultaContratoInfraestructuraBB.nroCuenta']}" /></td>						
						<td align="right">						
							<h:inputText id="iNroCuenta" value="#{consultaContratoInfraestructuraBB.nroCuenta}">
								<f:converter converterId="javax.faces.Long" />
								<b:behaviour>
									<b:rule name="inputMask">
										<f:param name="mask" value="^[0-9]*$" />
									</b:rule>
								</b:behaviour>
							</h:inputText>
						</td>																		
						<td><h:outputLabel value="#{MensajesComponentes_cns['consultaContratoInfraestructuraBB.nroServicio']}" /></td>
						<td align="right">	
							<h:inputText id="iNroServicio" value="#{consultaContratoInfraestructuraBB.nroServicio}">
								<f:converter converterId="javax.faces.Long" />
								<b:behaviour>
									<b:rule name="inputMask">
										<f:param name="mask" value="^[0-9]*$" />
									</b:rule>
								</b:behaviour>
							</h:inputText>																		
						</td>
					</tr>					
					<tr>
						<td><h:outputLabel value="#{MensajesComponentes_cns['consultaContratoInfraestructuraBB.idClienteTelem']}" /></td>
						<td align="right">							
							<h:inputText id="iIdClienteTelem" value="#{consultaContratoInfraestructuraBB.idClienteTelem}">
								<f:converter converterId="javax.faces.Long" />
								<b:behaviour>
									<b:rule name="inputMask">
										<f:param name="mask" value="^[0-9]*$" />
									</b:rule>
								</b:behaviour>
							</h:inputText>																		
						</td>												
						<td><h:outputLabel value="#{MensajesComponentes_cns['consultaContratoInfraestructuraBB.nroContrato']}" /></td>						
						<td align="right"><h:inputText id="iNroContrato" value="#{consultaContratoInfraestructuraBB.nroContrato}" /></td>
					</tr>					
					<tr>				
						<td colspan="4" width="100%" align="center">
							<f:verbatim><br/></f:verbatim>																						
							<h:commandButton id="bSearch"
								value="#{MensajesComponentes_cns['consultaContratoInfraestructuraBB.search']}"
								action="#{consultaContratoInfraestructuraBB.search}" />
							<f:verbatim>&#160;</f:verbatim>
							<a4j:commandButton id="bClean"
								value="#{MensajesComponentes_cns['consultaContratoInfraestructuraBB.clean']}"
								reRender="exceptionTable, exceptionSummary, gridResultsPanel, gridResults"
								actionListener="#{consultaContratoInfraestructuraBB.clean}"						
								oncomplete="clearPage();" />																						
						</td>
					</tr>
				</table>
			</h:panelGroup>
								
			<f:verbatim><br/></f:verbatim>
			<h:panelGroup id="gridResultsPanel" style="display: none;">			
				<s:dataTable id="gridResults" source="cuentasInfraestructura" var="cuenta" rows="7" 
					binding="#{consultaContratoInfraestructuraBB.cuentasInfraestructuraDataTable}">
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['cuentasInfraestructura.nroCuenta']}">
						<h:outputText value="#{cuenta.nroCuenta}" />
					</sy:tableColumnCustom>
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['cuentasInfraestructura.nroServicio']}">
						<h:outputText value="#{cuenta.nroServicio}" />
					</sy:tableColumnCustom>
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['cuentasInfraestructura.titularCuenta']}">
						<h:outputText value="#{cuenta.titularCuenta}" />
					</sy:tableColumnCustom>
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['cuentasInfraestructura.nroContrato']}">
						<h:outputText value="#{cuenta.nroContrato}" />
					</sy:tableColumnCustom>
					<sy:tableColumnCustom align="center"
						header="#{MensajesComponentes_cns['cuentasInfraestructura.contratoVigente']}">
						<h:outputText value="#{cuenta.contratoVigente}" />
					</sy:tableColumnCustom>
					<sy:tableColumnLinkPopup					
						header="#{MensajesComponentes_cns['cuentasInfraestructura.detalle.columnHeader']}"
						label="#{MensajesComponentes_cns['cuentasInfraestructura.detalle']}"					
						outcome="detalleInventariosInfraestructura">
						<f:setPropertyActionListener						
							target="#{detalleInventariosInfraestructuraBB.detalleCuentaInfraestructuraBO}" value="#{cuenta}" />
					</sy:tableColumnLinkPopup>							
				</s:dataTable>
			</h:panelGroup>
		</h:form>		
		</body>	

	</sy:boxPage>
</f:view>
