<f:view xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:sy="http://www.synapsis.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
   	xmlns:t="http://myfaces.apache.org/tomahawk">
    
    <t:saveState value="#{detalleCargosNroDocumentoFilter.attributeValue}" />
    <sy:boxPage title="#{MensajesComponentes_cns['consultaDetalleCargo.tituloDetalleCargos']}">
        <h:form>
            <sy:dataTable listBean="#{consultaDetalleCargosBB}" metadata="#{detalleCargosMetaData}"
                resources="#{ClavesInducidas_cns}">
                <sy:tableColumn attribute="fechaPago" />
                <sy:tableColumn attribute="codigoCargo" />
                <sy:tableColumn attribute="descripcionCargo" />
                <sy:tableColumn attribute="valorCargo" />
                <sy:tableColumn attribute="tipoServicio" />
                <sy:tableColumn attribute="nroServicio" />
                <sy:tableColumn attribute="fechaFactura" />
                <sy:tableColumn attribute="nroDocumento" />
                <sy:tableColumn attribute="origenCargo" />
                <sy:tableColumn attribute="valorPago" />
                <sy:tableColumn attribute="nroDocTitularSF" />
            </sy:dataTable>
        </h:form>
    </sy:boxPage>
</f:view>
