<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core">
	<sy:boxPage title="#{MensajesComponentes_cns['consultaComprobantePagoBB.title']}"
		bundle="#{MensajesComponentes_cns}">
		<h:form>
			<sy:dataTable tableId="hola" listBean="#{consultaComprobantePagoBB}"
				metadata="#{consultaComprobantePagoMetadata}" resources="#{ClavesInducidas_cns}">
				<sy:tableColumn attribute="tipoServicio" />
				<sy:tableColumn attribute="nroServicio" />
				<sy:tableColumn attribute="tipoComprobante" />
				<sy:tableColumn attribute="nroComprobante" />
				<sy:tableColumn attribute="valorComprobante" />
				<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaComprobantePagoBB.tabla.fechaHoraEmision']}">
                		<h:outputText value="#{rowVar.fechaHoraEmision}">
                			<f:converter converterId="com.synapsis.components.DateTimeConverterRaw" />
                		</h:outputText>
                </sy:tableColumnCustom>
				<sy:tableColumnLinkPopup
					header="#{MensajesComponentes_cns['consultaComprobantePagoBB.tabla.cargosAsociados']}"
					label="#{MensajesComponentes_cns['consultaComprobantePagoBB.tabla.cargosAsociados.Detalle']}"
					outcome="detalleCargos">
					<f:setPropertyActionListener
						target="#{iddocumentoQueryFilter.attributeValue}"
						value="#{rowVar.id}" />
				</sy:tableColumnLinkPopup>
			</sy:dataTable>
		</h:form>
	</sy:boxPage>
</f:view>
