<f:subview xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour"
	xmlns:ex="http://www.synapsis-it.com/jsf/core/ext"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax">
	
	<sy:title
		value="#{MensajesComponentes_cns['consultaRefacturaciones.detalle.refacturaciones.aprobadas']}" />
    <sy:dataTable
		listBean="#{consultaRefacturacionesBB.multiList.data['detalleRefacturacionesAprobadas']}"
	    resources="#{ClavesInducidas_cns}">		
		<sy:tableColumnLinkPopup
			header="#{MensajesComponentes_cns['consultaRefacturaciones.detalle.refacturaciones.ajustes.nroAjuste']}"
			label="#{rowVar.nroAjuste}" outcome="detalleAjuste">
			<f:setPropertyActionListener
				target="#{numeroAjusteQueryFilter.attributeValue}"
				value="#{rowVar.nroAjuste}"/>
			</sy:tableColumnLinkPopup>
		<sy:tableColumnCustom
			header="#{ClavesInducidas_cns['com.synapsis.cns.codensa.model.impl.RefacAprobImpl.valorTotalAjustado']}">
		<h:outputText value="#{rowVar.valorTotalAjustado}">	
                <f:convertNumber pattern="#,##0.00" locale="en"/>
            </h:outputText>
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consultaRefacturaciones.detalle.refacturaciones.ajustes.cantKwhAjust']}">
			<h:outputText value="#{rowVar.cantKwhAjust}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{ClavesInducidas_cns['com.synapsis.cns.codensa.model.impl.RefacAprobImpl.valorTotalPagar']}">
		<h:outputText value="#{rowVar.valorTotalPagar}">	
                <f:convertNumber pattern="#,##0.00" locale="en"/>
            </h:outputText>
		</sy:tableColumnCustom>		
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consultaRefacturaciones.detalle.refacturaciones.ajustes.fecVencPagoAjuste']}">
			<h:outputText value="#{rowVar.fecVencPagoAjuste}" />
		</sy:tableColumnCustom>		
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consultaRefacturaciones.detalle.refacturaciones.ajustes.fecha.hora.aprobacion']}">
			<h:outputText value="#{rowVar.fecHorRealizAjuste}" >
				<f:converter converterId="com.synapsis.components.DateTimeConverterRaw" />
			</h:outputText>
		</sy:tableColumnCustom>
	</sy:dataTable>
	
	
	
	
	<br/>
	<sy:title
		value="#{MensajesComponentes_cns['consultaRefacturaciones.detalle.refacturaciones.pendientes']}" />
	<sy:dataTable
		listBean="#{consultaRefacturacionesBB.multiList.data['detalleRefacturacionesPendientes']}"
		metadata="#{detalleRefacturacionesPendientesMetaData}" resources="#{ClavesInducidas_cns}" >
		<sy:tableColumnLinkPopup
			header="#{MensajesComponentes_cns['consultaRefacturaciones.detalle.refacturaciones.ajustes.nroAjuste']}"
			label="#{rowVar.nroAjuste}" outcome="detalleAjuste">
			<f:setPropertyActionListener
				target="#{numeroAjusteQueryFilter.attributeValue}"
				value="#{rowVar.nroAjuste}" />
		</sy:tableColumnLinkPopup>
		<sy:tableColumnCustom
			header="#{ClavesInducidas_cns['com.synapsis.cns.codensa.model.impl.RefacPendImpl.valorTotalAjustado']}">
		<h:outputText value="#{rowVar.valorTotalAjustado}">	
                <f:convertNumber pattern="#,##0.00" locale="en"/>
            </h:outputText>
		</sy:tableColumnCustom>		
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consultaRefacturaciones.detalle.refacturaciones.ajustes.cantKwhAjust']}">
			<h:outputText value="#{rowVar.cantKwhAjust}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{ClavesInducidas_cns['com.synapsis.cns.codensa.model.impl.RefacPendImpl.valorTotalPagar']}">
		<h:outputText value="#{rowVar.valorTotalPagar}">	
                <f:convertNumber pattern="#,##0.00" locale="en"/>
            </h:outputText>
		</sy:tableColumnCustom>	
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consultaRefacturaciones.detalle.refacturaciones.ajustes.fecHorRealizAjuste']}">
			<h:outputText value="#{rowVar.fecHorRealizAjuste}" >
				<f:converter converterId="com.synapsis.components.DateTimeConverterRaw" />
			</h:outputText>
		</sy:tableColumnCustom>
	</sy:dataTable>
	<br/>
	<sy:title
		value="#{MensajesComponentes_cns['consultaRefacturaciones.detalle.refacturaciones.eliminadas']}" />
		
	<sy:dataTable
		listBean="#{consultaRefacturacionesBB.multiList.data['detalleRefacturacionesEliminadas']}"
		metadata="#{detalleRefacturacionesEliminadasMetaData}" resources="#{ClavesInducidas_cns}" >	
		
		<sy:tableColumnLinkPopup
			header="#{MensajesComponentes_cns['consultaRefacturaciones.detalle.refacturaciones.ajustes.nroAjuste']}"
			label="#{rowVar.nroAjuste}" outcome="detalleAjuste">
			<f:setPropertyActionListener
				target="#{numeroAjusteQueryFilter.attributeValue}"
				value="#{rowVar.nroAjuste}" />
		</sy:tableColumnLinkPopup>
		
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consultaRefacturaciones.detalle.refacturaciones.ajustes.fecHorElimAjuste']}">
			<h:outputText value="#{rowVar.fecHorElimAjuste}">
				<f:converter converterId="com.synapsis.components.DateTimeConverterRaw" />
			</h:outputText>
		</sy:tableColumnCustom>
	</sy:dataTable>

   <script type="text/javascript" src="../scripts/kendari.js"
				defered="true" /> 
   <a4j:commandButton
		value="#{MensajesComponentes_cns['imprimirRefacturacion.label']}"
		actionListener="#{consultaRefacturacionesBB.execKndImprimeRefacturacionUseCase}"
		reRender="uriRefa" oncomplete="gotoKendari('uriRefa')" id="kActionURL">
		<h:inputHidden id="uriRefa" value="#{consultaRefacturacionesBB.uriRefa}" />
	</a4j:commandButton>

</f:subview>
