<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:s="http://www.synapsis-it.com/jsf/service">
	<sy:boxPage title="#{MensajesComponentes_cns['consulta.modificacionesComerciales.title']}">
		<h:form id="consultaModificacionesComercialesForm">
		
		<s:service id="consultaModificacionesComercialesService" manager="#{serviceManager}"
				name="consultaModificacionesComercialesService" method="findByCriteria">
				<f:param name="numeroCuenta"
						value="#{consultaModificacionesComercialesBB.numeroCuentaQueryFilter}" />
		</s:service>
		
		<s:dataTable source="consultaModificacionesComercialesService" var="modificacion">
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.modificacionesComerciales.modificacion.numeroModificacion']}">
					<h:outputText value="#{modificacion.numeroModificacion}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.modificacionesComerciales.modificacion.numeroServicioElectrico']}">
					<h:outputText value="#{modificacion.numeroServicioElectrico}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.modificacionesComerciales.modificacion.fechaModificacion']}">
					<h:outputText value="#{modificacion.fechaModificacion}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.modificacionesComerciales.modificacion.tipoModificacion']}">
					<h:outputText value="#{modificacion.tipoModificacion}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.modificacionesComerciales.modificacion.datoAnterior']}">
					<h:outputText value="#{modificacion.datoAnterior}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.modificacionesComerciales.modificacion.datoNuevo']}">
					<h:outputText value="#{modificacion.datoNuevo}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.modificacionesComerciales.modificacion.usuarioModificador']}">
					<h:outputText value="#{modificacion.usuarioModificador}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.modificacionesComerciales.modificacion.direccionIP']}">
					<h:outputText value="#{modificacion.direccionIP}" />
				</sy:tableColumnCustom>
				<sy:tableColumnLinkPopup
                    header="#{MensajesComponentes_cns['consulta.modificacionesComerciales.modificacion.observaciones']}"
                    label="#{MensajesComponentes_cns['consulta.modificacionesComerciales.modificacion.observaciones.link']}"
                    outcome="observaciones">
                    <f:setPropertyActionListener target="#{detailBB.detail}"
                        value="#{modificacion.observaciones}" />
                </sy:tableColumnLinkPopup>                				
			</s:dataTable>
		</h:form>
	</sy:boxPage>
</f:view>