<f:subview xmlns="http://www.w3.org/1999/xhtml"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

	<sy:title
		value="#{MensajesComponentes_cns['consultaRefacturaciones.detalle.refacturaciones.movimientos']}" />

	<sy:dataTable
		listBean="#{detalleConsultaRefacturacionesAjustesBB.multiList.data['consultaMovimientosDisposicionLegal']}"
		metadata="#{consultaMovimientosDisposicionLegalMetaData}"
		resources="#{ClavesInducidas_cns}">

		<sy:tableColumnLinkPopup
			header="#{MensajesComponentes_cns['consultaRefacturaciones.detalle.refacturaciones.movimiento']}"
			label="#{rowVar.descripcion}" outcome="dispocionLegalDetalle">
			<f:setPropertyActionListener
				target="#{numeroAjusteQueryFilter.attributeValue}"
				value="#{rowVar.nroAjuste}" />
		</sy:tableColumnLinkPopup>
	</sy:dataTable>
	<sy:title
		value="#{MensajesComponentes_cns['consultaRefacturaciones.detalle.refacturaciones.items']}" />
	<sy:dataTable
		listBean="#{detalleConsultaRefacturacionesAjustesBB.multiList.data['consultaItemsDisposicionLegal']}"
		metadata="#{consultaMovimientosDisposicionLegalMetaData}"
		resources="#{ClavesInducidas_cns}">

		<sy:tableColumnLinkPopup
			header="#{MensajesComponentes_cns['consultaRefacturaciones.detalle.refacturaciones.descripcion']}"
			label="#{rowVar.descripcion}" outcome="itemsDetalle">
			<f:setPropertyActionListener
				target="#{numeroAjusteQueryFilter.attributeValue}"
				value="#{rowVar.nroAjuste}" />
		</sy:tableColumnLinkPopup>
	</sy:dataTable>
</f:subview>

