<f:subview xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service">

	<sy:title value="#{MensajesComponentes_cns['detalle.deuda.titulo']}" />
	<c:errorHandler />
	<br />
	<s:service id="ecoService" manager="#{serviceManager}"
		name="ecoService" method="findByCriteria" fire="true">
		<f:param name="nroCuenta"
			value="#{numeroCuentaQueryFilter.attributeValue}" />
	</s:service>
	<s:dataTable source="ecoService" var="eco">

		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.eco.nroEco']}">
			<h:outputText value="#{eco.nroEco}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.eco.nroIdentSocio']}">
			<h:outputText value="#{eco.nroIdentSocio}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.eco.socio']}">
			<h:outputText value="#{eco.socio}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.eco.producto']}">
			<h:outputText value="#{eco.producto}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.eco.plan']}">
			<h:outputText value="#{eco.plan}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.eco.nroCuotas']}">
			<h:outputText value="#{eco.nroCuotas}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.eco.valCuota']}">
			<h:outputText value="#{eco.valCuota}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.eco.indicadSaldoAnt']}">
			<h:outputText value="#{eco.indicadSaldoAnt}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.eco.fechaActivacion']}">
			<h:outputText value="#{eco.fechaActivacion}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.eco.nroCuotasFact']}">
			<h:outputText value="#{eco.nroCuotasFact}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.eco.nroCuotasFaltantes']}">
			<h:outputText value="#{eco.nroCuotasFaltantes}" />
		</sy:tableColumnCustom>

		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.eco.saldoEco']}">
			<h:outputText value="#{eco.saldoEco}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.eco.saldoIntMora']}">
			<h:outputText value="#{eco.saldoIntMora}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.eco.diasMora']}">
			<h:outputText value="#{eco.diasMora}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.eco.valCuotasMora']}">
			<h:outputText value="#{eco.valCuotasMora}" />
		</sy:tableColumnCustom>

		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.eco.periodAtrasados']}">
			<h:outputText value="#{eco.periodAtrasados}" />
		</sy:tableColumnCustom>
	</s:dataTable>
</f:subview>
