<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:core="http://java.sun.com/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:v="http://www.synapsis-it.com/jsf/validator"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour"
	xmlns:e="http://www.synapsis-it.com/jsf/core/ext">

	<sy:boxPage
		title="#{MensajesComponentes_cns['atributos.servicio.titulo']}">
		<h:form>
			<!-- Service para obtener los atributos del servicio -->
			<s:service id="atributos" manager="#{serviceManager}"
				name="atributosService" method="findById" fire="true">
				<f:param name="id" value="#{numeroCuentaQueryFilter.attributeValue}" />
			</s:service>
			<!-- service response unmarshalled -->
			<s:unmarshall source="atributos" var="myVar" />

			<s:service id="datosGenService" manager="#{serviceManager}"
				name="datosGenService" method="findByCriteriaUnique" fire="true">
				<f:param name="nroCuenta"
					value="#{numeroCuentaQueryFilter.attributeValue}" />
			</s:service>
			<s:unmarshall source="datosGenService" var="genVar" />
			
			<br />
			<sy:title
				value="#{MensajesComponentes_cns['atributos.servicio.titulo']}" />
			<sy:dataGrid>
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['atributos.servicio.clienteFiador']}"
					data="#{sy:siNoValue(myVar.clienteFiador)}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['atributos.servicio.clienteAfianzado']}"
					data="#{sy:siNoValue(myVar.clienteAfianzado)}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['atributos.servicio.cobranzaJudicial']}"
					data="#{sy:siNoValue(myVar.cobranzaJudicial)}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['atributos.servicio.demandaJudicial']}"
					data="#{sy:siNoValue(myVar.demandaJudicial)}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['atributos.servicio.debitoAutBancos']}"
					data="#{sy:siNoValue(myVar.debitoAutBancos)}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['atributos.servicio.tieneKit']}"
					data="#{sy:siNoValue(myVar.tieneKit)}" />


			</sy:dataGrid>

			<br />
			<sy:title
				value="#{MensajesComponentes_cns['consulta.datos.generales.titulo']}" />
			<br />
			<sy:dataGrid>
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['consulta.datos.generales.nroLote']}"
					data="#{genVar.nroLote}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['consulta.datos.generales.numPcr']}"
					data="#{genVar.numPcr}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['consulta.datos.generales.llave']}"
					data="#{genVar.llave}" />

				<sy:dataGridRow
					label="#{MensajesComponentes_cns['consulta.datos.generales.clienteAnt']}"
					data="#{genVar.clienteAnt}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['consulta.datos.generales.recargoTension']}"
					data="#{genVar.recargoTension}" />

			</sy:dataGrid>
		</h:form>
	</sy:boxPage>
</f:view>
