<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:core="http://www.synapsis-it.com/jsf/core"
	xmlns:sv="http://shale.apache.org/validator"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax">

	<sy:boxPage
		title="#{MensajesComponentes_cns['consultaVinculoClienteRedByServicio.titulo']}">
		<h:form id="consultaVinculoClienteRedByServicioForm">
	<s:service manager="#{serviceManager}"
		name="datosVinculoClienteRedByParamsService" method="findByCriteria"
		id="datosVinculoClienteRedByParams" fire="false" rows="1"
		binding="#{consultaDatosVinculoClienteRedBB.findDatosVinculoClienteRedByParamsService}">
		<f:param name="servicio"
			value="#{consultaDatosVinculoClienteRedBB.nroServicioElectrico}" />
	</s:service>
	<s:unmarshall source="datosVinculoClienteRedByParams"
		var="datosVinculoClienteRed" />

	<sy:filters actionBean="#{consultaDatosVinculoClienteRedBB}"
		action="search" columns="2">
		<h:outputLabel
			value="#{MensajesComponentes_cns['consultaDatosVinculoClienteRed.filterLabels.nroServicioElectrico']}" />
		<h:inputText
			value="#{consultaDatosVinculoClienteRedBB.nroServicioElectrico}" />
		<sy:booleanCheckboxRow
			data="#{MensajesComponentes_cns['consultaVinculoClienteRedByServicio.filterLabels.periodoActual']}"/>
		<sy:booleanCheckboxRow
			data="#{MensajesComponentes_cns['consultaVinculoClienteRedByServicio.filterLabels.periodoAnterior']}"/>

		<h:outputLabel
			value="#{MensajesComponentes_cns['consultaDatosVinculoClienteRed.filterLabels.fechadesde']}" />
		<sy:calendar id="fechaDesde"
			selectedDate="#{consultaDatosVinculoClienteRedBB.fechaDesde}">
			<sv:commonsValidator type="required"
				arg="#{MensajesComponentes_cns['consultaDatosVinculoClienteRed.filterLabels.fechadesde']}"
				server="true" client="true" />
			<sv:commonsValidator type="dateCompare"
				arg="#{MensajesComponentes_cns['consultaDatosVinculoClienteRed.filterLabels.fechadesde']}"
				server="false" client="true" min="fechaHasta">
			</sv:commonsValidator>
		</sy:calendar>

		<h:outputLabel
			value="#{MensajesComponentes_cns['consultaDatosVinculoClienteRed.filterLabels.fechaHasta']}" />
		<sy:calendar id="fechaHasta"
			selectedDate="#{consultaDatosVinculoClienteRedBB.fechaHasta}">
			<sv:commonsValidator type="required"
				arg="#{MensajesComponentes_cns['consultaDatosVinculoClienteRed.filterLabels.fechaHasta']}"
				server="true" client="true" />

		</sy:calendar>
	</sy:filters>

	<sy:group title="Datos del vinculo cliente-red">
		<sy:panelGrid columns="2" border="4" cellspacing="4">
			<h:outputLabel
				value="#{MensajesComponentes_cns['consultaDatosVinculoClienteRed.outputs.servicio']}" />
			<h:outputText
				style="width: 100px; margin-right: 40px;margin-left: 20px;"
				value="#{datosVinculoClienteRed.servicio}" />
			<h:outputLabel
				value="#{MensajesComponentes_cns['consultaDatosVinculoClienteRed.outputs.rutaFacturacion']}" />
			<h:outputText value="#{datosVinculoClienteRed.rutaFacturacion}" />
			<h:outputLabel
				value="#{MensajesComponentes_cns['consultaDatosVinculoClienteRed.outputs.tipoServicio']}" />
			<h:outputText value="#{datosVinculoClienteRed.tipoServicio}" />
			<h:outputLabel
				value="#{MensajesComponentes_cns['consultaDatosVinculoClienteRed.outputs.direccion']}" />
			<h:outputText value="#{datosVinculoClienteRed.direccion}" />
			<h:outputLabel
				value="#{MensajesComponentes_cns['consultaDatosVinculoClienteRed.outputs.estado']}" />
			<h:outputText value="#{datosVinculoClienteRed.estado}" />
			<h:outputLabel
				value="#{MensajesComponentes_cns['consultaDatosVinculoClienteRed.outputs.tarifa']}" />
			<h:outputText value="#{datosVinculoClienteRed.tarifa}" />
			<h:outputLabel
				value="#{MensajesComponentes_cns['consultaDatosVinculoClienteRed.outputs.mercado']}" />
			<h:outputText value="#{datosVinculoClienteRed.mercado}" />
		</sy:panelGrid>

	</sy:group>
	<sy:popup outcome="datosAccionesModificaciones"
		label="#{MensajesComponentes_cns['consultaDatosVinculoClienteRed.link.datosAccionesModificaciones']}"
		button="true" />
		</h:form>
	</sy:boxPage>
</f:view>
