<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
	xmlns:t="http://myfaces.apache.org/tomahawk">
	<sy:boxPage title="#{MensajesComponentes_cns['consultaMedidoresBB.title']}"
		bundle="#{MensajesComponentes_cns}">
		<h:form id="consultaComponentesForm">
		
		
		
		<t:saveState value="#{consultaMedidoresBB.nroComponente}"/>
		
			<sy:title
				value="#{MensajesComponentes_cns['consultaMedidoresBB.tabla.eventosMedidores.title']}" />
			<sy:dataTable
				listBean="#{consultaMedidoresBB.multiList.data['eventosMedidores']}"
				metadata="#{eventosMedidoresMetadata}" resources="#{ClavesInducidas_cns}">
				<sy:tableColumn attribute="modeloMedidor" />
				<sy:tableColumn attribute="numeroMedidor" />
				<sy:tableColumnLinkPopup
					header="#{MensajesComponentes_cns['consultaMedidoresBB.tabla.eventosMedidores.marca']}"
					label="#{rowVar.marcaMedidor}" outcome="historicosLectura">
					<f:setPropertyActionListener
						target="#{consultaHistoricosLecturaBB.businessObject1}"
						value="#{rowVar}" />
					<f:setPropertyActionListener
						target="#{idMedidorQueryFilter.attributeValue}"
						value="#{rowVar.id}" />
				</sy:tableColumnLinkPopup>
				<sy:tableColumn attribute="anioFabricacion" />
				<sy:tableColumnLinkPopup
					header="#{MensajesComponentes_cns['consultaMedidoresBB.tabla.eventosMedidores.tipo.medida']}"
					label="#{MensajesComponentes_cns['consultaMedidoresBB.tabla.eventosMedidores.tipo.medida.detalle']}" 
					outcome="tipoMedida">
					<f:setPropertyActionListener
						target="#{consultaMedidoresBB.nroComponente}"
						value="#{rowVar.id}" />
				</sy:tableColumnLinkPopup>
				<sy:tableColumn attribute="tipoMedidor" />
				<sy:tableColumn attribute="nivelTension" />
				<sy:tableColumn attribute="factorLiquidacion" />
<!--				<sy:tableColumn attribute="tipoMedidor" />-->
				<sy:tableColumn attribute="condicionInstalacion" />
				<sy:tableColumnLinkPopup
					header="#{MensajesComponentes_cns['consultaMedidoresBB.tabla.eventosMedidores.estado.medidor']}"
					label="#{rowVar.estadoMedidor}" outcome="estadoMedidor">
					<f:setPropertyActionListener
						target="#{eventoMedidorQueryFilter.attributeValue}"
						value="#{rowVar.id}" />
				</sy:tableColumnLinkPopup>
			</sy:dataTable>
			<br />
			<sy:title
				value="#{MensajesComponentes_cns['consultaMedidoresBB.tabla.eventosComponentes.title']}" />
			<sy:dataTable
				listBean="#{consultaMedidoresBB.multiList.data['eventosComponentes']}"
				metadata="#{eventosComponentesMetadata}" resources="#{ClavesInducidas_cns}"
				tableId="eventosComponentes">
				<sy:tableColumn attribute="tipoComponente" />
				<sy:tableColumn attribute="modeloComponente" />
				<sy:tableColumn attribute="numeroComponente" />
				<sy:tableColumn attribute="marcaComponente" />
				<sy:tableColumn attribute="claseComponente" />
				<sy:tableColumn attribute="relacionTransformacion" />
				<sy:tableColumn attribute="fechaInstalacion" />
				<sy:tableColumn attribute="fechaRetiro" />
			</sy:dataTable>
			<br />
			<sy:title
				value="#{MensajesComponentes_cns['consultaMedidoresBB.tabla.informacionMedidor.title']}" />
			<sy:dataTable
				listBean="#{consultaMedidoresBB.multiList.data['informacionMedidor']}"
				metadata="#{informacionMedidorMetadata}" resources="#{ClavesInducidas_cns}">
				<sy:tableColumn attribute="modeloMedidor" />
				<sy:tableColumn attribute="numeroMedidor" />
				<sy:tableColumn attribute="marcaMedidor" />
				<sy:tableColumn attribute="fechaRetiro" />
				<sy:tableColumn attribute="numeroInspeccion" />
				<sy:tableColumn attribute="fechaEvaluacion" />
				<sy:tableColumnLinkPopup
					header="#{MensajesComponentes_cns['consultaMedidoresBB.tabla.informacionMedidor.anomalias']}"
					label="#{MensajesComponentes_cns['consultaMedidoresBB.tabla.informacionMedidor.detalle.anomalias']}"
					outcome="detalleAnomalia">
					<f:setPropertyActionListener
						target="#{anomaliaMedidorQueryFilter.attributeValue}"
						value="#{rowVar.id}" />
				</sy:tableColumnLinkPopup>
			</sy:dataTable>
			<br />
			<sy:popup outcome="eventosTransformador"
				label="#{MensajesComponentes_cns['consultaMedidoresBB.button.transformadores']}"
				button="true" />
			<sy:popup outcome="eventosSello"
				label="#{MensajesComponentes_cns['consultaMedidoresBB.button.sellos']}" button="true" />
		</h:form>
	</sy:boxPage>
</f:view>
