<sy:dataTable xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:f="http://java.sun.com/jsf/core"
	listBean="#{consultaLecturaConsumoBB.multiList.data['consultaLecturaConsumoMedidores']}"
	metadata="#{consultaOtrasLecturaConsumoMedidoresMetaData}" resources="#{ClavesInducidas_cns}" tableId="table4">
	<sy:tableColumn attribute="marcaMedidor" />
	<sy:tableColumn attribute="modeloMedidor" />
	<sy:tableColumn attribute="numeroMedidor" />
	<sy:tableColumn attribute="anioFabricacionMedidor" />
	<sy:tableColumn attribute="tipoMedida" />
	<sy:tableColumn attribute="tipoMedidor" />
	<sy:tableColumn attribute="nivelTension" />
	<sy:tableColumn attribute="factorMedidor" />
	<sy:tableColumn attribute="estadoMedidor" />
	<sy:tableColumn attribute="evento" />
	<sy:tableColumn attribute="fechaEvento" />
	<sy:tableColumn attribute="usuarioEvento" />
	<sy:tableColumn attribute="nombreUsuarioEvento" />
	<sy:tableColumnLinkPopup
 		header="#{MensajesComponentes_cns['consultaLecturaConsumo.medidores.detalle.lecturas']}"
		label="#{MensajesComponentes_cns['consultaLecturaConsumo.lecturas.detalle']}"
		outcome="detalleLecturaConsumos">
		<f:setPropertyActionListener
			target="#{detalleConsultaConsumoMedidorBB.numeroMedidor}"
			value="#{rowVar.numeroMedidor}" />
	 </sy:tableColumnLinkPopup>
  	<sy:tableColumnLinkPopup
 		header="#{MensajesComponentes_cns['consultaLecturaConsumo.medidores.detalle.refacturacion']}"
		label="#{MensajesComponentes_cns['consultaLecturaConsumo.reliquidacion.detalle']}"
		outcome="detalleReliquidacion">
		<f:setPropertyActionListener
			target="#{detalleConsultaConsumoMedidorBB.numeroMedidor}"
			value="#{rowVar.numeroMedidor}" />
	 </sy:tableColumnLinkPopup>
	
		
	<sy:tableColumnLinkPopup
		header="#{MensajesComponentes_cns['consultaLecturaConsumo.medidores.detalle.medidas']}"
		label="#{MensajesComponentes_cns['consultaLecturaConsumo.medidores.detalle']}"
		outcome="detalleMedidorMedidas">
		<f:setPropertyActionListener
			target="#{detalleLecturaConsumoMedidorMedidasQueryFilter.attributeValue}"
			value="#{rowVar.id}" />
	</sy:tableColumnLinkPopup>
</sy:dataTable>

