<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service">

	<sy:boxPage title="">
		<h:form id="consultaExpedientesAgendaEjecutivoForm">
			<c:errorHandler />
			<!-- Service para realizar la busqueda en la TABLA posterior al seteo de los filtros -->
			<s:service id="agendaEjecutivo" manager="#{serviceManager}"
				name="consultaExpedienteAgendaEjecutivoService"
				method="findByCriteria" fire="true">
				<f:param name="numeroExpediente" value="#{numeroExpediente}" />
			</s:service>

			<sy:group title="" columns="2">
				<h:outputLabel
					value="#{MensajesComponentes_cns['consultaExpedienteAgendaEjecutivo.numeroExpediente']}"
					for="nroExpediente" />
				<h:inputText value="#{numeroExpediente}" id="nroExpediente"
					disabled="true">
				</h:inputText>

			</sy:group>

			<sy:title
				value="#{MensajesComponentes_cns['consultaExpedienteAgendaEjecutivo.title']}" />

			<br />

			<s:dataTable source="agendaEjecutivo" var="agenda">
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaExpedienteAgendaEjecutivo.fechaAgendaOtorgada']}">
					<h:outputText value="#{agenda.fechaAgendaOtorgada}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaExpedienteAgendaEjecutivo.lugarCitacion']}">
					<h:outputText value="#{agenda.lugarCitacion}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaExpedienteAgendaEjecutivo.fechaHoraCita']}">
					<h:outputText value="#{agenda.fechaHoraCita}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaExpedienteAgendaEjecutivo.nombreEjecutivo']}">
					<h:outputText value="#{agenda.nombreEjecutivo}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaExpedienteAgendaEjecutivo.resultadoCita']}">
					<h:outputText value="#{agenda.resultadoCita}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaExpedienteAgendaEjecutivo.observacionesEjecutivo']}">
					<h:outputText value="#{agenda.observacionesEjecutivo}" />
				</sy:tableColumnCustom>
			</s:dataTable>
		</h:form>
	</sy:boxPage>
</f:view>



