<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax">

	<sy:boxPage
		title="#{MensajesComponentes_cns['consultaConvenioBB.titulo']}">
		<h:form id="formConsultaConvenio">
		
		 <h:messages />
		 <br/>
			<h:outputText id="errorValidation" value="#{consultaConvenioBB.errorMessages}" 
							style="	border-width: 1px 1px 1px 1px;
								border-spacing: 1px;
								border-style: solid solid solid solid;
								border-color: gray gray gray gray;
								border-collapse: collapse;
								background-color: white;
								font-weight: bold;
								color: rgb(100, 100, 100);
								font-family: Myriad, Tahoma, Verdana, sans-serif;			    
							    font-size: 8pt;
							    padding: 5px;
							    margin: 5px;"/>
			<br/>
			<t:saveState value="#{consultaConvenioBB.listResults}" />
			<t:saveState value="#{certificaConvenioBB.convenio}" />			

			<c:dataTable value="#{consultaConvenioBB.listResults}"
				target="#{certificaConvenioBB.convenio}" var="rowVar"
				id="tablaConvenios">

				<sy:tableColumnLinkPopup
					header="#{MensajesComponentes_cns['consultaConvenioBB.nroConvenio']}"
					label="#{rowVar.nroConvenio}" outcome="datosGeneralesConvenio">
					<f:setPropertyActionListener
						target="#{nroConvenioQueryFilter.attributeValue}"
						value="#{rowVar.nroConvenio}" />
				</sy:tableColumnLinkPopup>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaConvenioBB.tipoConvenio']}">
					<h:outputText value="#{rowVar.tipoConvenio}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaConvenioBB.opcion']}">
					<h:outputText value="#{rowVar.opcion}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaConvenioBB.estado']}">
					<h:outputText value="#{rowVar.estado}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaConvenioBB.fechaCreacion']}">
					<h:outputText value="#{rowVar.fechaCreacion}">
						<f:converter
							converterId="com.synapsis.components.DateTimeConverterRaw" />
					</h:outputText>
				</sy:tableColumnCustom>
				<sy:tableColumnLinkPopup
					header="#{MensajesComponentes_cns['consultaConvenioBB.deudaInicial']}"
					label="#{MensajesComponentes_cns['consultaConvenioBB.detalle']}"
					outcome="detalleDeuda">
					<f:setPropertyActionListener
						target="#{nroConvenioQueryFilter.attributeValue}"
						value="#{rowVar.nroConvenio}" />
				</sy:tableColumnLinkPopup>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaConvenioBB.deudaFinanciada']}">
					<h:outputText value="#{rowVar.deudaFinanciada}" >
					     <f:convertNumber pattern="#,###" locale="en" />
					</h:outputText>
				</sy:tableColumnCustom>
				<sy:tableColumnLinkPopup
					header="#{MensajesComponentes_cns['consultaConvenioBB.valorCuotaInicial']}"
					label="#{rowVar.valorCuotaInicial}" outcome="detalleCuota">
					<f:setPropertyActionListener
						target="#{nroConvenioQueryFilter.attributeValue}"
						value="#{rowVar.nroConvenio}" />
				</sy:tableColumnLinkPopup>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaConvenioBB.nroCuotas']}">
					<h:outputText value="#{rowVar.nroCuotas}" />
				</sy:tableColumnCustom>
				<sy:tableColumnLinkPopup
					header="#{MensajesComponentes_cns['consultaConvenioBB.tipoServicioFinanciado']}"
					label="#{rowVar.tipoServicioFinanciado}" outcome="detalleServiciosFinanciados">
					<f:setPropertyActionListener
						target="#{nroConvenio}"
						value="#{rowVar.nroConvenio}" />
				</sy:tableColumnLinkPopup>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaConvenioBB.fechaCancelacion']}">
					<h:outputText value="#{rowVar.fechaFinalizacion}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaConvenioBB.fechaTerminacion']}">
					<h:outputText value="#{rowVar.fechaTerminacion}" />
				</sy:tableColumnCustom>
				<sy:tableColumnLinkPopup
					header="#{MensajesComponentes_cns['consultaConvenioBB.creacionConvenio']}"
					label="#{MensajesComponentes_cns['consultaConvenioBB.detalle']}"
					outcome="datosCreacionConvenio">
					<f:setPropertyActionListener
						target="#{nroConvenioQueryFilter.attributeValue}"
						value="#{rowVar.nroConvenio}" />
				</sy:tableColumnLinkPopup>
				<sy:tableColumnLinkPopup
					header="#{MensajesComponentes_cns['consultaConvenioBB.condonacion']}"
					label="#{MensajesComponentes_cns['consultaConvenioBB.detalle']}"
					outcome="detalleCondonacion">
					<f:setPropertyActionListener
						target="#{nroConvenioQueryFilter.attributeValue}"
						value="#{rowVar.nroConvenio}" />
				</sy:tableColumnLinkPopup>
			</c:dataTable>
			<br />

			<sy:popup actionBean="#{certificaConvenioBB}" action="execAction"
			    outcome="emitirPdf"
				label="#{MensajesComponentes_cns['certificaConvenio.boton']}"
				button="true" id="botonCertificaConvenio" 
				disabled="#{!(consultaConvenioBB.cantConvenios > 0)}"/>
			<!-- en este popup esta demas el actionBean, ya que usa el sistema de navegacion de jsf -->
			<sy:popup actionBean="#{consultaPagosEnTransitoBB}"
				outcome="detalleDeudaActual"
				label="#{MensajesComponentes_cns['consultaConvenioBB.boton.detalle.deuda.exigible']}"
				button="true"
				disabled="#{!(consultaConvenioBB.cantConvenios > 0)}">
				<f:setPropertyActionListener
					target="#{nroConvenioQueryFilter.attributeValue}"
					value="#{certificaConvenioBB.convenio.nroConvenio}" />
			</sy:popup>


			<!-- svalls (ar31059727) - Modificacion por evolutivo SJCOD-538. 
			<sy:externalPopup actionBean="#{consultaConvenioBB}"
				label="#{MensajesComponentes_cns['consultaConvenioBB.boton.reimprimir']}"
				with="800" height="600" action="execKndUseCase"
				id="kendariActionURL" uri="uri" />
			-->
			<!-- svalls (ar31059727) - Modificacion por evolutivo SJCOD-538. -->

			<!-- TODO: arreglo rapido para chequear que se haya chequeado al menos un checkbox -->
			<script>var old_open_popup = openPopup;</script>
			<script src="../scripts/consultaConvenio.js" defered="true" />
			
			
			<!--  -->
			<a4j:commandButton
				value="#{MensajesComponentes_cns['consultaConvenioBB.boton.reimprimir']}"
				actionListener="#{consultaConvenioBB.execKndUseCase}"
				reRender="valueToPost2,errorValidation"
				oncomplete="reimprimir()"
				id="kendariActionURL2"
				binding="#{consultaConvenioBB.botonReimpresion}">
				<h:inputHidden id="valueToPost2" value="#{consultaConvenioBB.uri}" />
			</a4j:commandButton>

		</h:form>
	</sy:boxPage>
</f:view>
