<f:view xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:sy="http://www.synapsis.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html">
    
    <h:form>
	    <sy:navigationBar actionBean="#{detalleCuentaBB}" action="execAction" />
    </h:form>
</f:view>