<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://www.synapsis-it.com/jsf/core">
	<sy:boxPage
		title="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.title']}">
		<table width="100%" cellpadding="0" cellspacing="0">
			<tr>
				<td valign="top" style="padding: 5px;" width="50%"><h:form>

					<sy:title
						value="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.detalleDeudaTotal.title']}" />
					<sy:dataGrid>
						<sy:popup
							label="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.detalleDeuda.deudaTotalActual']}"
							outcome="detalleCargos">
							<f:setPropertyActionListener
								target="#{detalleCargosFactBB.serviceToCall}"
								value="deudaTotalActualServiceFinder" />
						</sy:popup>
						<h:outputText
							value="#{consultaDeudaCastigosItemsCargosBB.consultaDeuda.deudaTotalActual}" />
						<sy:popup
							label="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.detalleDeuda.saldoTotalSujetoIntereses']}"
							outcome="detalleCargos">
							<f:setPropertyActionListener
								target="#{detalleCargosFactBB.serviceToCall}"
								value="deudaSaldoSujetoAInteresesServiceFinder" />
						</sy:popup>
						<h:outputText
							value="#{consultaDeudaCastigosItemsCargosBB.consultaDeuda.saldoTotalSujetoIntereses}" />
						<sy:popup
							label="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.detalleDeuda.saldoNoSujetoIntereses']}"
							outcome="detalleCargos">
							<f:setPropertyActionListener
								target="#{detalleCargosFactBB.serviceToCall}"
								value="deudaCargosNoSujetoInteresesServiceFinder" />
						</sy:popup>
						<h:outputText
							value="#{consultaDeudaCastigosItemsCargosBB.consultaDeuda.saldoNoSujetoIntereses}" />
						<sy:popup
							label="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.detalleDeuda.valorTotalIntereses']}"
							outcome="detalleCargos">
							<f:setPropertyActionListener
								target="#{detalleCargosFactBB.serviceToCall}"
								value="deudaInteresesServiceFinder" />
								
						</sy:popup>
						<h:outputText
							value="#{consultaDeudaCastigosItemsCargosBB.consultaDeuda.valorTotalIntereses}" />
						<sy:popup
							label="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.detalleDeuda.valorTotalSanciones']}"
							outcome="detalleCargos">
							<f:setPropertyActionListener
								target="#{detalleCargosFactBB.serviceToCall}" value="valorTotalSancionesServiceFinder" />
						</sy:popup>
						<h:outputText
							value="#{consultaDeudaCastigosItemsCargosBB.consultaDeuda.valorTotalSanciones}" />
						<sy:popup
							label="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.detalleDeuda.valorTotalOtrosNegocios']}"
							outcome="detalleConsultaOtrosNegocios" />
						<h:outputText
							value="#{consultaDeudaCastigosItemsCargosBB.consultaDeuda.valorTotalOtrosNegocios}" >
						</h:outputText>
					</sy:dataGrid>
				</h:form></td>
				<td style="width: 5px"></td>
				<td valign="top" style="padding: 5px;" width="50%"><h:form>
					<sy:title
						value="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.detalleDeudaPagos.title']}" />
					<sy:dataGrid>
						<sy:dataGridRow
							label="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.detalleDeuda.valorTotalUltimoPago']}"
							data="#{consultaDeudaCastigosItemsCargosBB.consultaDeudaPagos.valorTotalUltimoPago}" />
						<sy:dataGridRow
							label="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.detalleDeuda.nombreMedioPago']}"
							data="#{consultaDeudaCastigosItemsCargosBB.consultaDeudaPagos.medioPago}" />
						<sy:dataGridRow
							label="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.detalleDeuda.nombreSucursalRecaudo']}"
							data="#{consultaDeudaCastigosItemsCargosBB.consultaDeudaPagos.nombreSucursalRecaudo}" />
						<sy:dataGridRow
							label="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.detalleDeuda.entidadRecaudadora']}"
							data="#{consultaDeudaCastigosItemsCargosBB.consultaDeudaPagos.entidadRecaudadora}" />
						<sy:dataGridRow
							label="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.detalleDeuda.fechaUltimoPago']}"
							data="#{consultaDeudaCastigosItemsCargosBB.consultaDeudaPagos.fechaUltimoPago}" />
					</sy:dataGrid>
				</h:form></td>
			</tr>
			<tr style="height: 5px;">
			</tr>
			<tr>
				<td valign="top" style="padding: 8px;"><h:form>
					<sy:title
						value="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.detalleDeudaConsumos.title']}" />
					<sy:dataGrid>
						<sy:dataGridRow
							label="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.detalleDeuda.antiguedadDeudaServicioElectrico']}"
							data="#{consultaDeudaCastigosItemsCargosBB.consultaDeudaConsumos.antiguedadDeuda}" />
						<sy:dataGridRow
							label="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.detalleDeuda.valorUltimoConsumoElectrico']}"
							data="#{consultaDeudaCastigosItemsCargosBB.consultaDeudaConsumos.ultimoValorConsumoKw}" />
						<sy:dataGridRow
							label="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.detalleDeuda.valorUltimoConsumoElectricoPesos']}"
							data="#{consultaDeudaCastigosItemsCargosBB.consultaDeudaConsumos.ultimoValorConsumoPesos}" />
						<sy:dataGridRow
							label="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.detalleDeuda.fechaFacturaUltimoConsumoElectrico']}"
							data="#{consultaDeudaCastigosItemsCargosBB.consultaDeudaConsumos.fechaFacturaUltimoConsumo}" />
						<sy:dataGridRow
							label="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.detalleDeuda.activoFp']}"
							data="#{consultaDeudaCastigosItemsCargosBB.consultaDeudaConsumos.activoFp}" />
						<sy:dataGridRow
							label="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.detalleDeuda.activoHp']}"
							data="#{consultaDeudaCastigosItemsCargosBB.consultaDeudaConsumos.activoHp}" />
						<sy:dataGridRow
							label="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.detalleDeuda.activoXp']}"
							data="#{consultaDeudaCastigosItemsCargosBB.consultaDeudaConsumos.activoXP}" />
						<sy:dataGridRow
							label="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.detalleDeuda.reactivoHp']}"
							data="#{consultaDeudaCastigosItemsCargosBB.consultaDeudaConsumos.reactivoHp}" />
						<sy:dataGridRow
							label="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.detalleDeuda.reactivaFp']}"
							data="#{consultaDeudaCastigosItemsCargosBB.consultaDeudaConsumos.reactivoFp}" />
						<sy:dataGridRow
							label="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.detalleDeuda.reactivaXp']}"
							data="#{consultaDeudaCastigosItemsCargosBB.consultaDeudaConsumos.reactivoXP}" />
						<sy:dataGridRow
							label="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.detalleDeuda.estadoCobranzaElectrico']}"
							data="#{consultaDeudaCastigosItemsCargosBB.consultaDeudaConsumos.estadoCobranza}" />
					</sy:dataGrid>
				</h:form></td>
				<td style="width: 5px"></td>
				<td valign="top" style="padding: 5px;"><h:form>
					<sy:title
						value="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.detalleDeudaConvenios.title']}" />
					<sy:dataGrid>
						<sy:popup
							label="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.detalleDeuda.deudaConvenio']}"
							outcome="detalleOtrosCargos">
							<f:setPropertyActionListener
								target="#{detalleCargosFactBB.serviceToCall}"
								value="deudaDetalleConConvenioServiceFinder" />
						</sy:popup>
						<h:outputText
							value="#{consultaDeudaCastigosItemsCargosBB.consultaDeudaConvenios.deudaConvenio}" />
						<sy:dataGridRow
							label="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.detalleDeuda.valorDeudaCondonada']}"
							data="#{consultaDeudaCastigosItemsCargosBB.consultaDeudaConvenios.valorDeudaCondonada}" />
						<sy:dataGridRow
							label="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.detalleDeuda.estadoCobranzaConvenio']}"
							data="#{consultaDeudaCastigosItemsCargosBB.consultaDeudaConvenios.estadoCobranza}" />

						<sy:dataGridRow
							label="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.detalleDeuda.antiguedad']}"
							data="#{consultaDeudaCastigosItemsCargosBB.consultaDeudaConvenios.antiguedadDeudaConvenio}" />
							
					</sy:dataGrid>
				</h:form></td>
			</tr>
			<tr style="height: 5px;">
			</tr>
			<tr>
				<td valign="top" style="padding: 5px;"><h:form>
					<sy:title
						value="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.detalleDeudaMesesSinLecturas.title']}" />
					<sy:dataGrid>
						<sy:dataGridRow
							label="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.detalleDeuda.numeroMesesSinLectura']}"
							data="#{consultaDeudaCastigosItemsCargosBB.consultaDeudaMesesSinLecturas.mesesSinLectura}" />
					</sy:dataGrid>
				</h:form></td>
				<td style="width: 5px"></td>

				<td valign="top" style="padding: 5px;"><h:form>
					<sy:title
						value="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.detalleDeudaConveniosConceptos.title']}" />
					<sy:dataGrid>
						<sy:popup
							label="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.conveniosConceptos.deuda.eco']}"
							outcome="detalleCargos">
							<f:setPropertyActionListener
								target="#{detalleCargosFactBB.serviceToCall}" value="deudaOtrosNegociosServiceFinder" />
						</sy:popup>
						<h:outputText					
							value="#{consultaDeudaCastigosItemsCargosBB.consultaDeudaConveniosConceptos.deudaECO}" />			
						<sy:dataGridRow
							label="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.conveniosConceptos.antiguedad']}"
							data="#{consultaDeudaCastigosItemsCargosBB.consultaDeudaConveniosConceptos.antiguedad}" />	
                        <sy:dataGridRow
							label="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.conveniosConceptos.saldo.mora']}"
							data="#{consultaDeudaCastigosItemsCargosBB.consultaDeudaConveniosConceptos.saldoMora}" />							
					</sy:dataGrid>
				</h:form></td>

			<!--  Servicios Financieros  -->
			</tr>
			<tr style="height: 5px;">
			</tr>
			<tr>
				<td valign="top" style="padding: 5px;"><h:form>
					<sy:title
						value="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.detalleDeudaCodensaHogar.title']}" />
					<sy:dataGrid>
						<sy:popup
							label="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.detalleDeuda.deudaCodensaHogar']}"
							outcome="detalleOtrosCargos">
							<f:setPropertyActionListener
								target="#{detalleCargosFactBB.serviceToCall}" 
								value="deudaCargosServiceFinder" />
						</sy:popup>
						<h:outputText
							value="#{consultaDeudaCastigosItemsCargosBB.consultaDeudaCodensaHogar.deuda}" />
						<sy:dataGridRow
							label="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.detalleDeuda.antiguedadDeudaServicioCodensaHogar']}"
							data="#{consultaDeudaCastigosItemsCargosBB.consultaDeudaCodensaHogar.antiguedadDeuda}" />
						<sy:dataGridRow
							label="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.detalleDeuda.saldo.mora']}"
							data="#{consultaDeudaCastigosItemsCargosBB.consultaDeudaCodensaHogar.valorDeuda}" />
					</sy:dataGrid>
				</h:form></td>
				<td style="width: 5px"></td>
				<td valign="top" style="padding: 5px;"><h:form>
					<sy:title
						value="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.castigoCartera.title']}" />
					<sy:dataGrid>
						<sy:dataGridRow
							label="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.castigoCartera.fechaGeneracionCastigoDeuda']}"
							data="#{consultaDeudaCastigosItemsCargosBB.consultaCastigoCartera.fechaGeneracionDeuda}" />
						<sy:dataGridRow
							label="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.castigoCartera.usuarioNombreIngresoCastigoDeuda']}"
							data="#{consultaDeudaCastigosItemsCargosBB.consultaCastigoCartera.usuarioNombreIngresoDeuda}" />
						<sy:popup
							label="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.castigoCartera.valorTotalCastigado']}"
							outcome="detalleCastigo" />
						<h:outputText
							value="#{consultaDeudaCastigosItemsCargosBB.consultaCastigoCartera.valorTotalCastigado}" >
							<f:convertNumber pattern="#,##0.00" locale="en" />
						</h:outputText>
					</sy:dataGrid>
				</h:form></td>
			</tr>
			<tr style="height: 5px;">
			</tr>
			<tr>
				<td valign="top" style="padding: 5px;"><h:form>
					<sy:title
						value="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.detalleDeudaInformeRefacturacion.title']}" />
					<sy:dataGrid>
						<sy:dataGridRow
							label="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.detalleDeuda.numeroUltimaRefacturacion']}"
							data="#{consultaDeudaCastigosItemsCargosBB.consultaDeudaInformacionRefacturacion.nroUltimoRefacturacion}" />
						<sy:dataGridRow
							label="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.detalleDeuda.fechaUltimaRefacturacion']}"
							data="#{consultaDeudaCastigosItemsCargosBB.consultaDeudaInformacionRefacturacion.fechaEmicionUltimaFactura}" />
						<sy:dataGridRow
							label="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.detalleDeuda.valorUltimaRefacturacion']}"
							data="#{consultaDeudaCastigosItemsCargosBB.consultaDeudaInformacionRefacturacion.valorRefacturacion}" />
					</sy:dataGrid>
				</h:form></td>
				<td colspan="2"></td>
			</tr>
			<tr style="height: 5px;">
			</tr>
			<tr>
				<td valign="top" style="padding: 5px; text-align: right;"
					colspan="3"><h:form>
					<div id="cns-search-slice-header" />
					<sy:popup outcome="cargosFacturarManuales" button="true"
						label="#{MensajesComponentes_cns['consultaDeudaCastigosItemsCargosBB.cargosFacturarManuales']}" />
				</h:form></td>
			</tr>

		</table>
	</sy:boxPage>
</f:view>
