<f:view xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:sy="http://www.synapsis.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html">
    <sy:boxPage title="#{MensajesComponentes_cns['consultaHistoricoPago.datosTituloConvenio']}">
        <h:form>
            <sy:dataTable listBean="#{consultaDatosConvenioBB}" metadata="#{datosConvenioMetaData}"
                resources="#{ClavesInducidas_cns}">
                <sy:tableColumn attribute="fechaPago" />
                <sy:tableColumn attribute="nroConvenioEncargo" />
                <sy:tableColumn attribute="valorPagado" />
                <sy:tableColumn attribute="valorPagar" />
                <sy:tableColumn attribute="valorCuotas" />
                <sy:tableColumn attribute="intereses" />
                <sy:tableColumn attribute="interesesMora" />
                <sy:tableColumn attribute="iva" />
            </sy:dataTable>
        </h:form>
    </sy:boxPage>
</f:view>
