<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
	xmlns:core="http://www.synapsis-it.com/jsf/core">

	<sy:boxPage title="#{MensajesComponentes_cns['consulta.expedientes.estado.titulo']}"
		close="true">
		<h:form>
			<s:service id="consultaExpedientesEstadoService" manager="#{serviceManager}"
				name="consultaExpedientesEstadoService" method="findByCriteria" fire="true">
				<f:param name="numeroRadicacion"
					value="#{consultaExpedientesBB.nroRadicacion}" />
			</s:service>
			<sy:group title="" columns="2">
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.expedientes.envio.nroExpediente']}"/>
				<h:inputText value="#{consultaExpedientesBB.nroExpediente}" 
					disabled="true"/>
			</sy:group>
			<br/>
			
			<s:dataTable source="consultaExpedientesEstadoService" var="estado">
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.expedientes.estado.numeroResolucion']}">
					<h:outputText value="#{estado.numeroResolucion}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.expedientes.estado.fechaResolucion']}">
					<h:outputText value="#{estado.fechaResolucion}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.expedientes.estado.decision']}">
					<h:outputText value="#{estado.decision}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.expedientes.estado.estado']}">
					<h:outputText value="#{estado.estado}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.expedientes.estado.fechaEmision']}">
					<h:outputText value="#{estado.fechaEmision}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.expedientes.estado.valorFinal']}">
					<h:outputText value="#{estado.valorFinal}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.expedientes.estado.numeroRadicacion']}">
					<h:outputText value="#{estado.numeroRadicacion}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.expedientes.estado.fechaRadicacion']}">
					<h:outputText value="#{estado.fechaRadicacion}" />
				</sy:tableColumnCustom>
			</s:dataTable>
		</h:form>
	</sy:boxPage>
</f:view>
