<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:v="http://www.synapsis-it.com/jsf/validator"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour"
	xmlns:ex="http://www.synapsis-it.com/jsf/core/ext"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax">


<sy:dataTable listBean="#{detalleCongelacionesBB.multiList.data['detalleCongelacionOperacion']}" resources="#{ClavesInducidas_cns}">
	<sy:tableColumn attribute="periodoFacturacion" />
	<sy:tableColumn attribute="codigoItem" />
	<sy:tableColumn attribute="descItem" />
    <sy:tableColumn attribute="valorInicial" />	
	<sy:tableColumn attribute="valorCongelado" />
	<sy:tableColumn attribute="valorAclaracion" />
	<sy:tableColumn attribute="valorFinal" />	
	<sy:tableColumn attribute="consumoInicial" />
	<sy:tableColumn attribute="consumoDisputado" />
	<sy:tableColumn attribute="consumoFinal" />
	<sy:tableColumn attribute="valorDisputado" />
</sy:dataTable>

</f:view>
	

	
	