<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:v="http://www.synapsis-it.com/jsf/validator"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour"
	xmlns:ex="http://www.synapsis-it.com/jsf/core/ext"
		xmlns:ui="http://java.sun.com/jsf/facelets">
	    
        <s:service id="consultaClienteRedByTransformadorObjectServiceFinder" manager="#{serviceManager}"
				name="consultaClienteRedByTransformadorObjectService" method="findByCriteria"
				binding="#{consultaHistVincRedBB.consultaService}" fire="false">
				<f:param name="nroSrvElectrico"
					value="#{consultaHistVincRedBB.nroSrvElectrico}" />
				<f:param name="periodoDesde"
					value="#{consultaHistVincRedBB.periodoDesde}" />
				<f:param name="periodoHasta"
					value="#{consultaHistVincRedBB.periodoHasta}" />
		</s:service>

		<sy:filters actionBean="#{consultaHistVincRedBB}" action="findConsultaIndividual">
			<h:outputText value="#{MensajesComponentes_cns['consultaHistVincRedBB.filtro.nroTransformador']}" styleClass="label" />
			<h:inputText value="#{consultaHistVincRedBB.nroTransformador}" /> 		    
 		    <h:outputLabel
			value="#{MensajesComponentes_cns['consultaHistVincRedBB.filtro.periodoActual']}" />
			<input type="checkbox" name="idCheckBoxPeriodoActual" value="#{rowVar.periodoActual}" onClick="selectOneCheckBox(this)"/> 		    
			<h:outputLabel
			value="#{MensajesComponentes_cns['consultaHistVincRedBB.filtro.periodoDesde']}" />
			<sy:calendar id="periodoDesde" selectedDate="#{consultaHistVincRedBB.periodoDesde}" />
			<h:outputLabel
			value="#{MensajesComponentes_cns['consultaHistVincRedBB.filtro.periodoHasta']}" />
			<sy:calendar id="periodoHasta" selectedDate="#{consultaHistVincRedBB.periodoHasta}" />
		</sy:filters>




	<sy:title
		value="#{MensajesComponentes_cns['consultaHistVincRedBB.individualByTranformador.tabla']}" />
	<sy:panelGrid columns="3" id="panelgridx">
		<h:outputLabel
			value="#{MensajesComponentes_cns['consultaHistVincRedBB.individual.nroTransformador']}"
			for="nroTransformador" />
		<h:inputText
			value="#{rowVar.nroTransformador}"
			id="nroTransformador" disabled="true" />
		<h:outputLabel
			value="#{MensajesComponentes_cns['consultaHistVincRedBB.individual.estadoTransformador']}"
			for="estadoTransformador" />
		<h:inputText
			value="#{rowVar.estadoTransformador}"
			id="estadoTransformador" disabled="true" />
		<h:outputLabel
			value="#{MensajesComponentes_cns['consultaHistVincRedBB.individual.circuito']}"
			for="circuito" />
		<h:inputText
			value="#{rowVar.circuito}"
			id="circuito" disabled="true" />
		<h:outputLabel
			value="#{MensajesComponentes_cns['consultaHistVincRedBB.individual.cantSrvPeriodo']}"
			for="cantSrvPeriodo" />
		<h:inputText
			value="#{rowVar.cantSrvPeriodo}"
			id="cantSrvPeriodo" disabled="true" />
		<h:outputLabel
			value="#{MensajesComponentes_cns['consultaHistVincRedBB.individual.propiedad']}"
			for="propiedad" />
		<h:inputText
			value="#{rowVar.propiedad}"
			id="propiedad" disabled="true" />
		<h:outputLabel
			value="#{MensajesComponentes_cns['consultaHistVincRedBB.individual.tipoConexion']}"
			for="tipoConexion" />
		<h:inputText
			value="#{rowVar.nivelTension}"
			id="tipoConexion" disabled="true" />
		<h:outputLabel
			value="#{MensajesComponentes_cns['consultaHistVincRedBB.individual.nivelTension']}"
			for="nivelTension" />
		<h:inputText
			value="#{rowVar.nivelTension}"
			id="nivelTension" disabled="true" />
		<h:outputLabel
			value="#{MensajesComponentes_cns['consultaHistVincRedBB.individual.tipoRed']}"
			for="tipoRed" />
		<h:inputText
			value="#{rowVar.tipoRed}"
			id="tipoRed" disabled="true" />
		<h:outputLabel
			value="#{MensajesComponentes_cns['consultaHistVincRedBB.individual.indicadorAlumbradoPublico']}"
			for="indicadorAlumbradoPublico" />
		<h:inputText
			value="#{rowVar.indicadorAlumbradoPublico}"
			id="indicadorAlumbradoPublico" disabled="true" />
		<h:outputLabel
			value="#{MensajesComponentes_cns['consultaHistVincRedBB.individual.periodoFact']}"
			for="periodoFact" />
		<h:inputText
			value="#{rowVar.periodoFact}"
			id="periodoFact" disabled="true" />
	</sy:panelGrid>



        <s:service id="consultaServiceFinder" manager="#{serviceManager}"
				name="consultaClienteRedByTransformadorObjectService" method="findByCriteria"
				binding="#{consultaHistVincRedBB.consultaService}" fire="false">
				<f:param name="nroSrvElectrico"
					value="#{consultaHistVincRedBB.nroSrvElectrico}" />
				<f:param name="periodoDesde"
					value="#{consultaHistVincRedBB.periodoDesde}" />
				<f:param name="periodoHasta"
					value="#{consultaHistVincRedBB.periodoHasta}" />
		</s:service>


		<s:dataTable source="consultaServiceFinder" var="datosTransformador" binding="#{consultaHistVincRedBB.dataTable}"  >
			<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaHistVincRedBB.individual.nroTransformador']}"> 
			<h:outputText value="#{datosTransformador.nroTransformador}" />	
			</sy:tableColumnCustom>
			<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaHistVincRedBB.individual.nroCuenta']}"> 
			<h:outputText value="#{datosTransformador.nroCuenta}" />	
			</sy:tableColumnCustom>
			<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaHistVincRedBB.individual.nombreTitularCuenta']}"> 
			<h:outputText value="#{datosTransformador.nombreTitularCuenta}" />	
			</sy:tableColumnCustom>
			<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaHistVincRedBB.individual.tipoSrv']}"> 
			<h:outputText value="#{datosTransformador.tipoSrv}" />	
			</sy:tableColumnCustom>
			<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaHistVincRedBB.individual.mercado']}"> 
			<h:outputText value="#{datosTransformador.mercado}" />	
			</sy:tableColumnCustom>
			<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaHistVincRedBB.individual.estadoSrvElectrico']}"> 
			<h:outputText value="#{datosTransformador.estadoSrvElectrico}" />	
			</sy:tableColumnCustom>
			<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaHistVincRedBB.individual.rutaFact']}"> 
			<h:outputText value="#{datosTransformador.rutaFact}" />	
			</sy:tableColumnCustom>
			<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaHistVincRedBB.individual.dirSuministro']}"> 
			<h:outputText value="#{datosTransformador.dirSuministro}" />	
			</sy:tableColumnCustom>
			<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaHistVincRedBB.individual.municipio']}"> 
			<h:outputText value="#{datosTransformador.municipio}" />	
			</sy:tableColumnCustom>
			<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaHistVincRedBB.individual.tarifa']}"> 
			<h:outputText value="#{datosTransformador.tarifa}" />	
			</sy:tableColumnCustom>
			<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaHistVincRedBB.individual.fechaAsociacionTrans']}"> 
			<h:outputText value="#{datosTransformador.fechaAsociacionTrans}" />	
			</sy:tableColumnCustom>
			<sy:tableColumnLinkPopup
			header="#{MensajesComponentes_cns['consultaHistVincRedBB.link.acciones']}"
			label="#{rowVar.nroAjuste}" outcome="dispatchToAccion">
			<f:setPropertyActionListener
				target="#{consultaHistVincRedBB.businessObject1}"
				value="#{rowVar}" />
			</sy:tableColumnLinkPopup>
		</s:dataTable>



</f:view>