<f:subview xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:core="http://www.synapsis-it.com/jsf/core"
	xmlns:sv="http://shale.apache.org/validator"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour">
	
	<h:form id="consultaTransformadorVinculo">

    <!-- service para levantar los periodos que se muestran en el combo -->
	<s:service manager="#{serviceManager}"
			   name="consultaVinculoRedPeriodosService" method="findByCriteria"
			   id="consultaVinculoRedPeriodosService" rows="100">
	</s:service>
	<!-- unmarshall service para la lista recuperada por el service de periodos -->
	<s:unmarshall source="consultaVinculoRedPeriodosService" var="periodos" />

	<sy:filters actionBean="#{consultaDatosVinculoClienteRedBB}"
		action="search" columns="3">
		<h:outputLabel
			value="#{MensajesComponentes_cns['consultaDatosVinculoClienteRed.filterLabels.nroServicioElectrico']} * " />
		<h:inputText
			value="#{consultaDatosVinculoClienteRedBB.nroServicioElectrico}"/>

        <h:outputLabel
			value="#{MensajesComponentes_cns['consultaDatosTransformadorByParams.filterLabels.periodo']} * " />
        <h:selectOneMenu value="#{consultaDatosVinculoClienteRedBB.fechaProceso}" styleClass="edit">
				<f:selectItem itemLabel="Seleccionar ..." itemValue="" />
				<t:selectItems value="#{periodos}" var="periodo"
							   itemLabel="#{periodo.periodoFacturacion}" itemValue="#{periodo.fechaProceso}" />
                <f:convertDateTime type="both" />
		</h:selectOneMenu>
	</sy:filters>

	
	
	<sy:group title="Datos del vinculo cliente-red" >
		<sy:panelGrid columns="2" border="4" cellspacing="4" >
			<h:outputLabel
				value="#{MensajesComponentes_cns['consultaDatosVinculoClienteRed.outputs.servicio']}" />
			<h:outputText
				style="width: 100px; margin-right: 40px;margin-left:10px;"
				value="#{consultaDatosVinculoClienteRedBB.datosVinculoClienteRed.servicio}" />
			<h:outputLabel
				value="#{MensajesComponentes_cns['consultaDatosVinculoClienteRed.outputs.rutaFacturacion']}" />
		  	<h:outputText value="#{consultaDatosVinculoClienteRedBB.datosVinculoClienteRed.rutaFacturacion}" />
		 	<h:outputLabel
				value="#{MensajesComponentes_cns['consultaDatosVinculoClienteRed.outputs.tipoServicio']}" />
			<h:outputText value="#{consultaDatosVinculoClienteRedBB.datosVinculoClienteRed.tipoServicio}" />
			<h:outputLabel
				value="#{MensajesComponentes_cns['consultaDatosVinculoClienteRed.outputs.direccion']}" />
			<h:outputText value="#{consultaDatosVinculoClienteRedBB.datosVinculoClienteRed.direccion}" />
			<h:outputLabel
				value="#{MensajesComponentes_cns['consultaDatosVinculoClienteRed.outputs.estado']}" />
		 	<h:outputText value="#{consultaDatosVinculoClienteRedBB.datosVinculoClienteRed.estado}" /> 
			<h:outputLabel
				value="#{MensajesComponentes_cns['consultaDatosVinculoClienteRed.outputs.tarifa']}" />
			<h:outputText value="#{consultaDatosVinculoClienteRedBB.datosVinculoClienteRed.tarifa}" />
			<h:outputLabel
				value="#{MensajesComponentes_cns['consultaDatosVinculoClienteRed.outputs.mercado']}" />
			<h:outputText value="#{consultaDatosVinculoClienteRedBB.datosVinculoClienteRed.mercado}" /> 
		</sy:panelGrid>
	</sy:group>
	
	
	<sy:group title="Datos Transformador">
		<sy:panelGrid columns="2" border="4" cellspacing="4">
			<h:outputLabel
				value="#{MensajesComponentes_cns['consultaDatosTransformador.outputs.numero']}" />
			<h:outputText
				style="width: 100px; margin-right: 40px;margin-left:10px;"
				value="#{consultaDatosVinculoClienteRedBB.consultaDatosTranformador.transformador}" />
			<h:outputLabel
				value="#{MensajesComponentes_cns['consultaDatosTransformador.outputs.tipoDeConexion']}" />
		  	<h:outputText value="#{consultaDatosVinculoClienteRedBB.consultaDatosTranformador.conexion}" />
		 	<h:outputLabel
				value="#{MensajesComponentes_cns['consultaDatosTransformador.outputs.circuito']}" />
			<h:outputText value="#{consultaDatosVinculoClienteRedBB.consultaDatosTranformador.circuito}" />
			<h:outputLabel
				value="#{MensajesComponentes_cns['consultaDatosTransformador.outputs.nivelDeTension']}" />
			<h:outputText value="#{consultaDatosVinculoClienteRedBB.consultaDatosTranformador.tension}" />
			<h:outputLabel
				value="#{MensajesComponentes_cns['consultaDatosTransformador.outputs.propiedad']}" />
		 	<h:outputText value="#{consultaDatosVinculoClienteRedBB.consultaDatosTranformador.propiedadTra}" /> 
			<h:outputLabel
				value="#{MensajesComponentes_cns['consultaDatosVinculoClienteRed.outputs.fechaDeAsociacion']}" />
			<h:outputText value="#{consultaDatosVinculoClienteRedBB.consultaDatosTranformador.fechaAsociacion}" />
			<h:outputLabel
				value="#{MensajesComponentes_cns['consultaDatosVinculoClienteRed.outputs.fechaDeDesasociacion']}" />
			<h:outputText value="#{consultaDatosVinculoClienteRedBB.consultaDatosTranformador.fechaDesAsociacion}" /> 
		</sy:panelGrid>
	</sy:group>
	
		
	<sy:popup outcome="datosAccionesModificaciones"
		label="#{MensajesComponentes_cns['consultaDatosVinculoClienteRed.link.datosAccionesModificaciones']}"
		button="true" />
		
</h:form>		
</f:subview>
