<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
	xmlns:core="http://www.synapsis-it.com/jsf/core">
	<sy:boxPage title="#{MensajesComponentes_cns['consulta.expedientes.envio.titulo']}"
		close="true">
		<h:form>
			<t:saveState value="#{consultaExpedientesBB.nroExpediente}"/>
			<s:service id="consultaExpedientesEnvioService" manager="#{serviceManager}"
				name="consultaExpedientesEnvioService" method="findByCriteria" fire="true">
				<f:param name="nroExpediente"
					value="#{consultaExpedientesBB.nroExpediente}" />
			</s:service>

			<sy:group title="" columns="2">
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.expedientes.envio.nroExpediente']}"/>
				<h:inputText value="#{consultaExpedientesBB.nroExpediente}" 
					disabled="true"/>
			</sy:group>
			<br/>
			<s:dataTable source="consultaExpedientesEnvioService" var="envio">
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.expedientes.envio.numeroRadicacionConcede']}">
					<h:outputText value="#{envio.numeroRadicacionConcede}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.expedientes.envio.tipoRecurso']}">
					<h:outputText value="#{envio.tipoEntrega}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.expedientes.envio.numeroRadicacion']}">
					<core:popup>
						<h:commandLink action="numeroRadicacion"
							value="#{envio.numeroRadicacion}" immediate="true">
							<f:setPropertyActionListener target="#{consultaExpedientesBB.nroRadicacion}"
								value="#{envio.numeroRadicacion}" />
						</h:commandLink>	
					</core:popup>
				</sy:tableColumnCustom>                
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.expedientes.envio.fechaEnvio']}">
					<h:outputText value="#{envio.fechaEnvio}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.expedientes.envio.numeroRadicacionDestino']}">
					<h:outputText value="#{envio.numeroRadicacionDestino}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.expedientes.envio.fechaRadicacionDestino']}">
					<h:outputText value="#{envio.fechaEntrega}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.expedientes.envio.valorReclamacion']}">
					<h:outputText value="#{envio.valorReclamacion}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.expedientes.envio.tipoRadicacion']}">
					<h:outputText value="#{envio.tipoRadicacion}" />
				</sy:tableColumnCustom> 
			</s:dataTable>
		</h:form>
	</sy:boxPage>
</f:view>
