<f:view xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:sy="http://www.synapsis.com/jsf/core">
    <sy:boxPage title="#{MensajesComponentes_cns['consultaHistoricoLectura.title']}"
        bundle="#{MensajesComponentes_cns}">
        <h:form>
			<sy:panelGrid column="2">
            	<h:outputLabel value="#{MensajesComponentes_cns['detalleEstadoMedidorBB.tabla.numeros.enteros']}"
                        styleClass="label" />
                <h:inputText value="#{detalleEstadoMedidorBB.businessObject.enterosMedidor}"
                    styleClass="edit" disabled="true"/>
                <h:outputLabel value="#{MensajesComponentes_cns['detalleEstadoMedidorBB.tabla.numeros.decimales']}"
                    styleClass="label" />
                <h:inputText value="#{detalleEstadoMedidorBB.businessObject.decimalesMedidor}"
                    styleClass="edit" disabled="true"/>
                    
                <h:outputLabel value="#{MensajesComponentes_cns['detalleEstadoMedidorBB.tabla.fecha.cambio.terreno']}"
                    styleClass="label" />
                <h:inputText value="#{detalleEstadoMedidorBB.businessObject.fechaCambioTerreno}"
                    styleClass="edit" disabled="true"/>
                <h:outputLabel value="#{MensajesComponentes_cns['detalleEstadoMedidorBB.tabla.medida']}"
                    styleClass="label" />
                <h:inputText value="#{detalleEstadoMedidorBB.businessObject.medida}"
                    styleClass="edit" disabled="true"/>
                    
                <h:outputLabel value="#{MensajesComponentes_cns['detalleEstadoMedidorBB.tabla.activaFP']}"
                    styleClass="label" />
                <h:inputText value="#{detalleEstadoMedidorBB.businessObject.activaFP}"
                    styleClass="edit" disabled="true"/>
                <h:outputLabel value="#{MensajesComponentes_cns['detalleEstadoMedidorBB.tabla.reactivaFP']}"
                    styleClass="label" />
                <h:inputText value="#{detalleEstadoMedidorBB.businessObject.reactivaFP}"
                    styleClass="edit" disabled="true"/>
                    
                <h:outputLabel value="#{MensajesComponentes_cns['detalleEstadoMedidorBB.tabla.activaHP']}"
                    styleClass="label" />
                <h:inputText value="#{detalleEstadoMedidorBB.businessObject.activaHP}"
                    styleClass="edit" disabled="true"/>
                <h:outputLabel value="#{MensajesComponentes_cns['detalleEstadoMedidorBB.tabla.reactivaHP']}"
                    styleClass="label" />
                <h:inputText value="#{detalleEstadoMedidorBB.businessObject.reactivaHP}"
                    styleClass="edit" disabled="true"/>
                    
                <h:outputLabel value="#{MensajesComponentes_cns['detalleEstadoMedidorBB.tabla.activaXP']}"
                    styleClass="label" />
                <h:inputText value="#{detalleEstadoMedidorBB.businessObject.activaXP}"
                    styleClass="edit" disabled="true"/>
                <h:outputLabel value="#{MensajesComponentes_cns['detalleEstadoMedidorBB.tabla.reactivaXP']}"
                    styleClass="label" />
                <h:inputText value="#{detalleEstadoMedidorBB.businessObject.reactivaXP}"
                    styleClass="edit" disabled="true"/>
                    
                <h:outputLabel value="#{MensajesComponentes_cns['detalleEstadoMedidorBB.tabla.consecutivoFactura']}"
                    styleClass="label" />
                <h:inputText value="#{detalleEstadoMedidorBB.businessObject.consecutivoFactura}"
                    styleClass="edit" disabled="true"/>
                <h:outputLabel value="#{MensajesComponentes_cns['detalleEstadoMedidorBB.tabla.usuario']}"
                    styleClass="label" />
                <h:inputText value="#{detalleEstadoMedidorBB.businessObject.usuario}"
                    styleClass="edit" disabled="true"/>
                    
                <h:outputLabel value="#{MensajesComponentes_cns['detalleEstadoMedidorBB.tabla.nombreUsuario']}"
                    styleClass="label" />
                <h:inputText value="#{detalleEstadoMedidorBB.businessObject.nombreUsuario}"
                    styleClass="edit" disabled="true"/>
                <h:outputLabel value="#{MensajesComponentes_cns['detalleEstadoMedidorBB.tabla.motivo']}"
                    styleClass="label" />
                <h:inputText value="#{detalleEstadoMedidorBB.businessObject.motivo}"
                    styleClass="edit" disabled="true"/>
                
                <h:outputLabel value="#{MensajesComponentes_cns['detalleEstadoMedidorBB.tabla.fechaCambioSistema']}"
                    styleClass="label" />
                <h:inputText value="#{detalleEstadoMedidorBB.businessObject.fechaCambioSistema}"
                    styleClass="edit" disabled="true"/>
            </sy:panelGrid> 
            
            <sy:panelGrid oneColumn="true">
                <h:outputLabel value="#{MensajesComponentes_cns['detalleEstadoMedidorBB.tabla.observaciones']}"
                    styleClass="label" />
            	<h:inputText value="#{detalleEstadoMedidorBB.businessObject.observaciones}"
                    styleClass="edit" disabled="true" size="100"/>
             </sy:panelGrid>       
 
		</h:form>
    </sy:boxPage>
</f:view>            
            