<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax">
	<sy:boxPage title="#{MensajesComponentes_cns['consulta.kilowatios.titulo']}"
		close="true">
		<h:form>
			<s:service id="consultaExpedientesKilowatiosService" manager="#{serviceManager}" 
				name="consultaExpedientesKilowatiosService"
				method="findByCriteria" fire="true">
				<f:param name="nroExpediente"
					value="#{consultaExpedientesBB.nroExpediente}" />
			</s:service>
			<s:dataTable source="consultaExpedientesKilowatiosService" var="kilo">
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.kilowatios.consumoTotal']}">
					<h:outputText value="#{kilo.consumoTotal}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.kilowatios.promedio']}">
					<h:outputText value="#{kilo.promedio}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.kilowatios.consumoReintegrar']}">
					<h:outputText value="#{kilo.consumoReintegrar}" />
				</sy:tableColumnCustom>
			</s:dataTable>
		</h:form>
	</sy:boxPage>
</f:view>
