<f:view xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:sy="http://www.synapsis.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:t="http://myfaces.apache.org/tomahawk"
    xmlns:c="http://www.synapsis-it.com/jsf/core"
    xmlns:s="http://www.synapsis-it.com/jsf/service">
    <sy:boxPage title="#{MensajesComponentes_cns['consultaHistoricoPago.tituloHistoricoHeader']}">
        <h:form id="form1">

			<t:saveState value="#{certificaPagosBB.certificadoPagoSelected}"/>
        	
        	<s:service manager="#{serviceManager}" name="detallePagosService"
				method="findByCriteria" id="detallePagosService" rows="10">
				<f:param name="nroCuenta"
					value="#{numeroCuentaQueryFilter.attributeValue}" />
			</s:service>
			<s:unmarshall source="detallePagosService" var="detalle" />
        
            <c:dataTable value="#{detalle}" rows="10"
                target="#{certificaPagosBB.certificadoPagoSelected}" var="pago" >
                
                <sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaHistoricoPagosBB.fechaPagoEntidad']}">
					<h:outputText value="#{pago.fechaPagoEntidad}" />
				</sy:tableColumnCustom>


   				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaHistoricoPagosBB.tipoDocumento']}">
					<h:outputText value="#{pago.tipoDocumento}" />
				</sy:tableColumnCustom>

   				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaHistoricoPagosBB.nroDocumento']}">
					<h:outputText value="#{pago.nroDocumento}" />
				</sy:tableColumnCustom>
                <sy:tableColumnLinkPopup header="#{MensajesComponentes_cns['consultaHistoricoPago.valorPago']}"
                    label="#{pago.valorPagoFormat}"
                    outcome="detalleCargos"
                    actionBean="#{consultaDetalleCargosBB}">
                    <f:setPropertyActionListener
                        target="#{detalleCargosNroDocumentoFilter.attributeValue}"
                        value="#{pago.nroDocumento}" />
                    <!-- <f:setPropertyActionListener
                        target="#{detalleCargosTipoDocumentoFilter.attributeValue}"
                        value="#{pago.tipoDocumento}" />-->
                </sy:tableColumnLinkPopup>

   				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaHistoricoPagosBB.medioPago']}">
					<h:outputText value="#{pago.medioPago}" />
				</sy:tableColumnCustom>

   				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaHistoricoPagosBB.entidadRecaudadora']}">
					<h:outputText value="#{pago.entidadRecaudadora}" />
				</sy:tableColumnCustom>

   				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaHistoricoPagosBB.sucursalRecaudo']}">
					<h:outputText value="#{pago.sucursalRecaudo}" />
				</sy:tableColumnCustom>

   				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaHistoricoPagosBB.procedenciaPago']}">
					<h:outputText value="#{pago.procedenciaPago}" />
				</sy:tableColumnCustom>

   				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaHistoricoPagosBB.estadoPago']}" >
					<h:outputText value="#{pago.estadoPago}" />
				</sy:tableColumnCustom>

   				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaHistoricoPagosBB.fechaIngreso']}">
					<h:outputText value="#{pago.fechaIngreso}" />
				</sy:tableColumnCustom>

                <sy:tableColumnLinkPopup header="#{MensajesComponentes_cns['consultaHistoricoPago.chequeDevuelto']}"
                    condition="#{pago.chequeDevuelto}"
                    label="#{MensajesComponentes_cns['consultaHistoricoPago.detalle']}"
                    actionBean="#{consultaChequeDevueltoBB}"
                    outcome="chequeDevuelto">
                    <f:setPropertyActionListener
                        target="#{idPagoQueryFilter.attributeValue}"
                        value="#{pago.id}" />
                </sy:tableColumnLinkPopup>
            </c:dataTable>
            <sy:popup actionBean="#{consultaPagosEnTransitoBB}" action="buscarAction"
                outcome="pagosEnTransito"
                label="#{MensajesComponentes_cns['consultaHistoricoPago.pp.tituloHistoricoPagosEnTransito']}"
                button="true" />
            <sy:popup actionBean="#{certificaPagosBB}"
                action="setSelectedAction"
                label="#{MensajesComponentes_cns['consultaHistoricoPago.pp.certificaPagos']}"
                disabled="rowCount eq 0" button="true"/>
			<sy:popup actionBean="#{consultaDebitosAutomaticosBB}" action="buscarAction"
                outcome="debitosAutomaticos"
                label="#{MensajesComponentes_cns['consultaHistoricoPago.pp.consultaDebitosAutomaticos']}"
                button="true" />

<!-- TODO: arreglo rapido para chequear que se haya chequeado al menos un checkbox -->
<script>var old_open_popup = openPopup;</script>
<script src="../scripts/consultaHistoricoPagos.js" defered="true"/>

        </h:form>
    </sy:boxPage>
</f:view>
