<f:view xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:sy="http://www.synapsis.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:c="http://java.sun.com/jstl/core">
    <sy:boxPage title="#{MensajesComponentes_cns['consultaSucursalesBB.titulo']}" nroCuentaHeader="disable">
        <h:form>
            <sy:dataTable listBean="#{consultaSucursalesBB}" 
                resources="#{ClavesInducidas_cns}">
                <sy:tableColumn attribute="codigo" />
                <sy:tableColumn attribute="descripcion" />
            </sy:dataTable>
        </h:form>
    </sy:boxPage>
</f:view>
