<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:s="http://www.synapsis-it.com/jsf/service">

	<sy:boxPage title="">
		<h:form id="consultaExpedientesValorCobroForm">

			<s:service id="consultaExpedienteValorCobro"
				manager="#{serviceManager}"
				name="consultaExpedienteValorCobroService" method="findByCriteria"
				fire="true">
				<f:param name="numeroExpediente" value="#{numeroExpediente}" />
			</s:service>

			<sy:title
				value="#{MensajesComponentes_cns['consultaExpedienteValorCobro.title']}" />

			<s:dataTable source="consultaExpedienteValorCobro" var="valorCobro">
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaExpedienteValorCobro.codigo']}">
					<h:outputText value="#{valorCobro.codigo}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaExpedienteValorCobro.descripcion']}">
					<h:outputText value="#{valorCobro.descripcion}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaExpedienteValorCobro.valor']}">
					<h:outputText value="#{valorCobro.valor}" />
				</sy:tableColumnCustom>
			</s:dataTable>
		</h:form>
	</sy:boxPage>
</f:view>
