<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:t="http://myfaces.apache.org/tomahawk">
	<sy:boxPage title="Detalle Servicio Financiero">
		<h:form>
		   <t:saveState value="#{historicoOtrosNegociosBB.idServicio}"/>
		    <!-- service para levantar los periodos que se muestran en el combo -->
			<s:service manager="#{serviceManager}"
				name="consultaDetalleCCAService" method="findById"
				id="consultaDetalleCCAService">
				<f:param name="id" value="#{historicoOtrosNegociosBB.idServicio}" />
			</s:service>
			<!-- unmarshall service para la lista recuperada por el service de periodos -->
			<s:unmarshall source="consultaDetalleCCAService"
				var="detalle" />
		
			<sy:group title="#{MensajesComponentes_cns['consulta.detalle.cca.datos.generales.titular']}">
			  <sy:panelGrid columns="2">
				<h:outputLabel value="#{MensajesComponentes_cns['consulta.detalle.cca.nombre.titular']}" />
				<h:inputText value="#{detalle.nombreTitular}" disabled="true"/>

				<h:outputLabel value="#{MensajesComponentes_cns['consulta.detalle.cca.ciclo.facturacion']}" />
				<h:inputText value="#{detalle.cicloFacturacion}" disabled="true"/>
			  </sy:panelGrid>	
			</sy:group>

			<sy:group title="#{MensajesComponentes_cns['consulta.detalle.cca.datos.generales.servicio.financiero']}">
				<sy:panelGrid columns="3">
					<h:outputLabel
						value="#{MensajesComponentes_cns['consulta.detalle.cca.fecha.compra']}"/>
					<h:inputText value="#{detalle.fechaCompra}" disabled="true" />
					<h:outputLabel
						value="#{MensajesComponentes_cns['consulta.detalle.cca.socio.negocio']}"/>
					<h:inputText value="#{detalle.socioNegocio}" disabled="true" />
					<h:outputLabel
						value="#{MensajesComponentes_cns['consulta.detalle.cca.punto.venta']}"/>
					<h:inputText value="#{detalle.puntoVenta}" disabled="true" />
					<h:outputLabel
						value="#{MensajesComponentes_cns['consulta.detalle.cca.tipo.producto']}"/>
					<h:inputText value="#{detalle.tipoProducto}" disabled="true" />
					<h:outputLabel
						value="#{MensajesComponentes_cns['consulta.detalle.cca.marca']}"/>
					<h:inputText value="#{detalle.marca}" disabled="true" />										
					<h:outputLabel
						value="#{MensajesComponentes_cns['consulta.detalle.cca.valor.compra']}"/>
					<h:inputText value="#{detalle.valorCompra}" disabled="true" />										
					<h:outputLabel
						value="#{MensajesComponentes_cns['consulta.detalle.cca.cuotas.pactadas']}"/>
					<h:inputText value="#{detalle.cuotasPactadas}" disabled="true" />										
					<h:outputLabel
						value="#{MensajesComponentes_cns['consulta.detalle.cca.tasa.interes.pactada']}"/>
					<h:inputText value="#{detalle.tasaInteresPactada}" disabled="true" />										
					<h:outputLabel
						value="#{MensajesComponentes_cns['consulta.detalle.cca.tasa.interes.actual']}"/>
					<h:inputText value="#{detalle.tasaInteresActual}" disabled="true" />										
					<h:outputLabel
						value="#{MensajesComponentes_cns['consulta.detalle.cca.cuotas.facturadas']}"/>
					<h:inputText value="#{detalle.cuotasFacturadas}" disabled="true" />										
					<h:outputLabel
						value="#{MensajesComponentes_cns['consulta.detalle.cca.cuotas.faltantes']}"/>
					<h:inputText value="#{detalle.cuotasFaltantes}" disabled="true" />										
					<h:outputLabel
						value="#{MensajesComponentes_cns['consulta.detalle.cca.antiguedad.servicio']}"/>
					<h:inputText value="#{detalle.antiguedadAervicio}" disabled="true" />										
					<h:outputLabel
						value="#{MensajesComponentes_cns['consulta.detalle.cca.dias.mora']}"/>
					<h:inputText value="#{detalle.diasMora}" disabled="true" />										
					<h:outputLabel
						value="#{MensajesComponentes_cns['consulta.detalle.cca.valor.cuota.capital.mora']}"/>
					<h:inputText value="#{detalle.cuotaCapitalMora}" disabled="true" />										
					<h:outputLabel
						value="#{MensajesComponentes_cns['consulta.detalle.cca.valor.cuotas.interes.mora']}"/>
					<h:inputText value="#{detalle.valorCuotasInteresMora}" disabled="true" />										
					<h:outputLabel
						value="#{MensajesComponentes_cns['consulta.detalle.cca.saldo.capital']}"/>
					<h:inputText value="#{detalle.saldoCapital}" disabled="true" />										
					<h:outputLabel
						value="#{MensajesComponentes_cns['consulta.detalle.cca.saldo.intereses']}"/>
					<h:inputText value="#{detalle.saldoIntereses}" disabled="true" />										
					<h:outputLabel
						value="#{MensajesComponentes_cns['consulta.detalle.cca.valor.intereses.mora.capital']}"/>
					<h:inputText value="#{detalle.valorInteresesMoraCapital}" disabled="true" />										
					<h:outputLabel
						value="#{MensajesComponentes_cns['consulta.detalle.cca.valor.cuota.capital']}"/>
					<h:inputText value="#{detalle.valorCuotaCapital}" disabled="true" />										
					<h:outputLabel
						value="#{MensajesComponentes_cns['consulta.detalle.cca.valor.cuota.intereses']}"/>
					<h:inputText value="#{detalle.valorCuotaIntereses}" disabled="true" />										
					<h:outputLabel
						value="#{MensajesComponentes_cns['consulta.detalle.cca.valor.cuota.mensual']}"/>
					<h:inputText value="#{detalle.valorCuotaMensual}" disabled="true" />										
					<h:outputLabel
						value="#{MensajesComponentes_cns['consulta.detalle.cca.cuotas.impagas']}"/>
					<h:inputText value="#{detalle.cuotasImpagas}" disabled="true" />										
					<h:outputLabel
						value="#{MensajesComponentes_cns['consulta.detalle.cca.fecha.estudio.credito']}"/>
					<h:inputText value="#{detalle.fechaEstudioCredito}" disabled="true" />										
					<h:outputLabel
						value="#{MensajesComponentes_cns['consulta.detalle.cca.periodo.primera.cuota']}"/>
					<h:inputText value="#{detalle.periodoPrimeraCuota}" disabled="true" />										
					<h:outputLabel
						value="#{MensajesComponentes_cns['consulta.detalle.cca.deuda.actual']}"/>
					<h:inputText value="#{detalle.deudaActual}" disabled="true" />										
					<h:outputLabel
						value="#{MensajesComponentes_cns['consulta.detalle.cca.valor.cuota.capital.no.afecto']}"/>
					<h:inputText value="#{detalle.valorCuotaCapitalNoAfecto}" disabled="true" />										
				</sy:panelGrid>
			</sy:group>
			
			<br/>
			
			<sy:popup
	    	label="#{MensajesComponentes_cns['consulta.detalle.cca.hitoria.de.estados']}"
	        outcome="historiaEstados"
	        button="true">
	        </sy:popup>
		</h:form>
	</sy:boxPage>
</f:view>
