<f:view xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:sy="http://www.synapsis.com/jsf/core"
    xmlns:c="http://www.synapsis-it.com/jsf/core"
    xmlns:t="http://myfaces.apache.org/tomahawk">
    <sy:boxPage title="#{MensajesComponentes_cns['consultaOperacionesBB.title']}"
        bundle="#{MensajesComponentes_cns}">
        <h:form id="consultaOperacionesForm">
            <br/>
            <sy:title
                value="#{MensajesComponentes_cns['consultaOperacionesBB.tabla.informacionOperacion.title']}" />
                
            <t:saveState value="#{detailBB.detail}" />   
            
            <sy:dataTable
                listBean="#{consultaOperacionesBB.multiList.data['informacionOperacion']}"
                metadata="#{informacionOperacionMetadata}" resources="#{ClavesInducidas_cns}">
                
                <sy:tableColumnCustom header="#{ClavesInducidas_cns['com.synapsis.cns.codensa.model.impl.InformacionOperacionImpl.fechaGeneracion']}">
                		<h:outputText value="#{rowVar.fechaGeneracion}">
                			<f:converter converterId="com.synapsis.components.DateTimeConverterRaw" />
                		</h:outputText>
                </sy:tableColumnCustom>
				<sy:tableColumnCustom rowClasses="gridRow"
					header="#{MensajesComponentes_cns['consultaOperacionesBB.tabla.operaciones.id']}">
					<h:commandLink
						actionListener="#{consultaOperacionesBB.detalleMedidor}">
						<f:param name="nroOperacion" value="#{rowVar.id}" />
						<h:outputText value="#{rowVar.nroOrden}" />
					</h:commandLink>
				</sy:tableColumnCustom>                
                <sy:tableColumn attribute="tipoOperacion" />
                <sy:tableColumn attribute="subtipoOperacion" />
                <sy:tableColumn attribute="estadoOperacion" />
                <sy:tableColumn attribute="motivoGeneracion" />
                <sy:tableColumn attribute="fechaCumplimiento" />
                <sy:tableColumn attribute="resultadoOperacion" />                
                <sy:tableColumn attribute="contratista" />
                <sy:tableColumnLinkPopup
                    header="#{MensajesComponentes_cns['consultaOperacionesBB.tabla.observaciones.title']}"
                    label="#{MensajesComponentes_cns['consultaOperacionesBB.tabla.observaciones.descripcion']}"
                    outcome="observaciones">
                    <f:setPropertyActionListener target="#{detailBB.detail}"
                        value="#{rowVar.observaciones}" />
                </sy:tableColumnLinkPopup>
                <sy:tableColumn attribute="situacionEncontrada" />
                <sy:tableColumn attribute="usuarioCreador" />
                <sy:tableColumn attribute="nombreUsuarioCreador" />

            </sy:dataTable>
            <br/>
            <sy:title
                value="#{MensajesComponentes_cns['consultaOperacionesBB.tabla.datosMedidor.title']}" />
            <sy:dataTable    
                listBean="#{consultaOperacionesBB.multiList.data['datosMedidor']}"
                metadata="#{datosMedidorMetadata}" resources="#{ClavesInducidas_cns}"
                tableId="detalleMedidorTable">
                <sy:tableColumn attribute="marcaMedidor" />
                <sy:tableColumn attribute="modeloMedidor" />
                <sy:tableColumnLinkPopup
                    header="#{MensajesComponentes_cns['consultaOperacionesBB.tabla.datosMedidor.numeroMedidor']}"
                    label="#{rowVar.id}" actionBean="#{sellosMedidorBB}"
                    action="buscarAction"
                    outcome="success">
                    <f:setPropertyActionListener
                        target="#{idComponenteQueryFilter.attributeValue}"
                        value="#{rowVar.id}" />
                </sy:tableColumnLinkPopup>
                <sy:tableColumn attribute="lecturaActivaFP" />
                <sy:tableColumn attribute="lecturaActivaHP" />
                <sy:tableColumn attribute="lecturaActivaXP" />
                <sy:tableColumn attribute="lecturaReactivaFP" />
                <sy:tableColumn attribute="lecturaReactivaHP" />
                <sy:tableColumn attribute="lecturaReactivaXP" />
                <sy:tableColumn attribute="tipoMedidor" />
                <sy:tableColumn attribute="fechaDescarga" />
            </sy:dataTable>
        </h:form>
    </sy:boxPage>
</f:view>
