<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:s="http://www.synapsis-it.com/jsf/service">

	<sy:boxPage title="">
		<h:form id="consultaExpedientesActasTransaccionForm">

			<s:service id="consultaExpedientesService"
				manager="#{serviceManager}" name="consultaExpedientesService"
				method="findByCriteria" fire="true">
				<f:param name="nroCuenta"
					value="#{numeroCuentaQueryFilter.attributeValue}" />
			</s:service>

			<sy:title
				value="#{MensajesComponentes_cns['consultaExpedientesActasTransaccion.title']}" />

			<s:dataTable source="consultaExpedientesService" var="exp">
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaExpedientesActasTransaccion.numeroExpediente']}">
					<h:outputText value="#{exp.nroExpediente}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaExpedientesActasTransaccion.nombreSusc']}">
					<h:outputText value="#{exp.nombreSusc}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaExpedientesActasTransaccion.calidad']}">
					<h:outputText value="#{exp.calidad}" />
				</sy:tableColumnCustom>
				<sy:tableColumnLinkPopup
					header="#{MensajesComponentes_cns['consultaExpedientesActasTransaccion.acta']}"
					label="#{MensajesComponentes_cns['consultaExpedientesActasTransaccion.detalle']}"
					outcome="acta">
					<f:setPropertyActionListener target="#{numeroExpediente}"
						value="#{exp.nroExpediente}" />
				</sy:tableColumnLinkPopup>

				<sy:tableColumnLinkPopup
					header="#{MensajesComponentes_cns['consultaExpedientesActasTransaccion.informacionAgenda']}"
					label="#{MensajesComponentes_cns['consultaExpedientesActasTransaccion.detalle']}"
					outcome="informacionAgenda">
					<f:setPropertyActionListener target="#{numeroExpediente}"
						value="#{exp.nroExpediente}" />
				</sy:tableColumnLinkPopup>
			</s:dataTable>
		</h:form>
	</sy:boxPage>
</f:view>
