<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour"
	xmlns:e="http://www.synapsis-it.com/jsf/core/ext"
	xmlns:c="http://www.synapsis-it.com/jsf/core">

	<sy:boxPage
		title="#{MensajesComponentes_cns['consultaCortesProgramados.titulo']}" 
		nroCuentaHeader="disable" useCaseMainPage="true">
		<h:form id="consultaCortesProgramadosForm">
			<c:errorHandler />
			<b:behaviour>
				<b:rule name="dateComparator">
					<f:param name="min" value="fechaInicioCorte" />
					<f:param name="max" value="fechaFinCorte" />
				</b:rule>
			</b:behaviour>
			<!-- Definicion de servicio para el la grilla de consultas de Cortes programados de SDA   -->
		 	<s:service manager="#{serviceManager}"
				name="consultaCortesProgramadosService" method="findByCriteria"
				id="findByCriteriaCortesProgramados" fire="false"
				binding="#{consultaCortesProgramadosBB.findCortesProgramadosSDAService}">
			 	<f:param name="tipoClienteEmpresarial"
					value="#{consultaCortesProgramadosBB.tipoServicioEmpresarial}" />
				<f:param name="comercializador"
					value="#{consultaCortesProgramadosBB.comercializador}" />
				<f:param name="cicloFacturacion"
					value="#{consultaCortesProgramadosBB.cicloFacturacion}" />					
				<f:param name="regional"
					value="#{consultaCortesProgramadosBB.regional}" />
				<f:param name="codTransformador"
					value="#{consultaCortesProgramadosBB.transformador}" />
				<f:param name="fechaInicioPrevistaTrunc"
					value="#{consultaCortesProgramadosBB.fechaInicioCorte}" />
				<f:param name="fechaFinPrevista"
					value="#{consultaCortesProgramadosBB.fechaFinCorte}" />
				<f:param name="codCircuito"
					value="#{consultaCortesProgramadosBB.codCircuito}" />  	  
			</s:service>  

			<sy:filters actionBean="#{consultaCortesProgramadosBB}"
				action="search">
				<h:outputLabel
					value="#{MensajesComponentes_cns['consultaCortesProgramados.filterLabels.serviciosEmpresariales']}" />
				<h:selectOneMenu
					value="#{consultaCortesProgramadosBB.tipoServicioEmpresarial}"
					styleClass="edit" id="tipoServicioByNroCuenta">
					<f:selectItem itemLabel="Seleccionar..." itemValue="" />
					<f:selectItem itemLabel="Potencial Empresarial" itemValue="Potencial Empresarial" />				
					<f:selectItem itemLabel="Empresarial" itemValue="Empresarial" />				
					<f:selectItem itemLabel="Gran Cliente" itemValue="Gran Cliente" />				
					<f:selectItem itemLabel="Infraestructura" itemValue="Infraestructura" />				
					<f:selectItem itemLabel="Constructores" itemValue="Constructores" />																								
					<f:selectItem itemLabel="Corporativos" itemValue="Corporativos" />																								
					<f:selectItem itemLabel="Oficiales" itemValue="Oficiales" />																													
					<f:selectItem itemLabel="Servicio Prioritario" itemValue="Servicio Prioritario" />																																												
				</h:selectOneMenu>

				<h:outputLabel
					value="#{MensajesComponentes_cns['consultaCortesProgramados.filterLabels.cicloFacturacion']}" />
				<h:inputText value="#{consultaCortesProgramadosBB.cicloFacturacion}" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consultaCortesProgramados.filterLabels.comercializador']}" />
				<h:inputText value="#{consultaCortesProgramadosBB.comercializador}" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consultaCortesProgramados.filterLabels.regSucursal']}" />
				<h:inputText value="#{consultaCortesProgramadosBB.regional}" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consultaCortesProgramados.filterLabels.transformador']}" />
				<h:inputText value="#{consultaCortesProgramadosBB.transformador}" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consultaCortesProgramados.filterLabels.fechaInicioCorte']}" />
				<sy:calendar selectedDate="#{consultaCortesProgramadosBB.fechaInicioCorte}" id="fechaInicioCorte" >
				</sy:calendar>
					
					
				<h:outputLabel
					value="#{MensajesComponentes_cns['consultaCortesProgramados.filterLabels.fechaFinCorte']}" />
					
				<sy:calendar selectedDate="#{consultaCortesProgramadosBB.fechaFinCorte}" id="fechaFinCorte" >
				</sy:calendar>
				<h:outputLabel
					value="#{MensajesComponentes_cns['consultaCortesProgramados.filterLabels.codCircuito']}" />
				<h:inputText value="#{consultaCortesProgramadosBB.codCircuito}" />	
					
					
			</sy:filters>

	
        <sy:panelTab idTab="tab1" label="#{MensajesComponentes_cns['consultaCortesProgramados.detalle.GrillaConsultaCortesSDA.titulo.tab']}">
			<s:dataTable source="findByCriteriaCortesProgramados" var="cortesProgramadosSDA"
				binding="#{consultaCortesProgramadosBB.dataTableCortesSDA}">
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaCortesProgramados.tabla.codCircuito']}">
					<h:outputText value="#{cortesProgramadosSDA.codCircuito}" />
				</sy:tableColumnCustom>

			  	<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaCortesProgramados.tabla.codTransformador']}">
					<h:outputText value="#{cortesProgramadosSDA.codTransformador}" />
				</sy:tableColumnCustom>		
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaCortesProgramados.tabla.nroMedidor']}">
					<h:outputText value="#{cortesProgramadosSDA.nroMedidor}" />
				</sy:tableColumnCustom>		
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaCortesProgramados.tabla.marcaMedidor']}">
					<h:outputText value="#{cortesProgramadosSDA.marcaMedidor}" />
				</sy:tableColumnCustom>		
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaCortesProgramados.tabla.regional']}">
					<h:outputText value="#{cortesProgramadosSDA.regional}" />
				</sy:tableColumnCustom>		
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaCortesProgramados.tabla.comercializador']}">
					<h:outputText value="#{cortesProgramadosSDA.comercializador}" />
				</sy:tableColumnCustom>		
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaCortesProgramados.tabla.ciclo.facturacion']}">
					<h:outputText value="#{cortesProgramadosSDA.cicloFacturacion}" />
				</sy:tableColumnCustom>																		
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaCortesProgramados.tabla.grupoRuta']}">
					<h:outputText value="#{cortesProgramadosSDA.grupoRuta}" />
				</sy:tableColumnCustom>		
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaCortesProgramados.tabla.manzana']}">
					<h:outputText value="#{cortesProgramadosSDA.manzana}" />
				</sy:tableColumnCustom>					
				
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaCortesProgramados.tabla.corrFacturacion']}">
					<h:outputText value="#{cortesProgramadosSDA.corrFacturacion}" />
				</sy:tableColumnCustom>					
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaCortesProgramados.tabla.nroCuenta']}">
					<h:outputText value="#{cortesProgramadosSDA.nroCuenta}" />
				</sy:tableColumnCustom>	
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaCortesProgramados.tabla.nroServicio']}">
					<h:outputText value="#{cortesProgramadosSDA.nroServicio}" />
				</sy:tableColumnCustom>									
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaCortesProgramados.tabla.gestorNegocio']}">
					<h:outputText value="#{cortesProgramadosSDA.gestorNegocio}" />
				</sy:tableColumnCustom>		
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaCortesProgramados.tabla.nroCuentaPadre']}">
					<h:outputText value="#{cortesProgramadosSDA.nroCuentaPadre}" />
				</sy:tableColumnCustom>		
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaCortesProgramados.tabla.direccion']}">
					<h:outputText value="#{cortesProgramadosSDA.direccion}" />
				</sy:tableColumnCustom>		
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaCortesProgramados.tabla.localizacion']}">
					<h:outputText value="#{cortesProgramadosSDA.localizacion}" />
				</sy:tableColumnCustom>	
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaCortesProgramados.tabla.municipio']}">
					<h:outputText value="#{cortesProgramadosSDA.municipio}" />
				</sy:tableColumnCustom>	
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaCortesProgramados.tabla.titularCuenta']}">
					<h:outputText value="#{cortesProgramadosSDA.titularCuenta}" />
				</sy:tableColumnCustom>													
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaCortesProgramados.tabla.dirRepartoEspecial']}">
					<h:outputText value="#{cortesProgramadosSDA.dirRepartoEspecial}" />
				</sy:tableColumnCustom>	
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaCortesProgramados.tabla.contacto']}">
					<h:outputText value="#{cortesProgramadosSDA.contacto}" />
				</sy:tableColumnCustom>					
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaCortesProgramados.tabla.telContacto']}">
					<h:outputText value="#{cortesProgramadosSDA.telContacto}" />
				</sy:tableColumnCustom>		
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaCortesProgramados.tabla.fechaInicioPrevista']}">
					<h:outputText value="#{cortesProgramadosSDA.fechaInicioPrevista}" >
						<f:converter converterId="com.synapsis.components.DateTimeConverterRaw" />
					</h:outputText>
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaCortesProgramados.tabla.fechaFinPrevista']}">
					<h:outputText value="#{cortesProgramadosSDA.fechaFinPrevista}" >
						<f:converter converterId="com.synapsis.components.DateTimeConverterRaw" />
					</h:outputText>
				</sy:tableColumnCustom>	
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaCortesProgramados.tabla.fechaProceso']}">
					<h:outputText value="#{cortesProgramadosSDA.fechaProceso}" />
				</sy:tableColumnCustom>	
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaCortesProgramados.tabla.tipoClienteEmpresarial']}">
					<h:outputText value="#{cortesProgramadosSDA.tipoClienteEmpresarial}" />
				</sy:tableColumnCustom>													
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaCortesProgramados.tabla.isVip']}">
					<h:outputText value="#{cortesProgramadosSDA.isVip}" />
				</sy:tableColumnCustom>		
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaCortesProgramados.filterLabels.codCircuito']}">
					<h:outputText value="#{cortesProgramadosSDA.codCircuito}" />
				</sy:tableColumnCustom>																
 			  </s:dataTable>
			</sy:panelTab> 
		
		</h:form>
	</sy:boxPage>
</f:view>
