<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service">

	<sy:boxPage title="">
		<h:form id="consultaExpedientesDetalleActaForm">
			<c:errorHandler />
			<!-- Service para realizar la busqueda en la TABLA posterior al seteo de los filtros -->
			<s:service id="consultaExpedienteDetalleActa"
				manager="#{serviceManager}"
				name="consultaExpedienteDetalleActaService" method="findByCriteria"
				fire="true">
				<f:param name="numeroExpediente"
					value="#{numeroExpediente}" />
			</s:service>
			<sy:group title="" columns="2">
				<h:outputLabel
					value="#{MensajesComponentes_cns['consultaExpedienteDetalleActa.numeroExpediente']}"
					for="nroExpediente" />
				<h:inputText value="#{numeroExpediente}" id="nroExpediente" disabled="true">
				</h:inputText>

			</sy:group>

			<sy:title
				value="#{MensajesComponentes_cns['consultaExpedienteDetalleActa.title']}" />
				
			<br />

			<s:dataTable source="consultaExpedienteDetalleActa" var="detalle">
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaExpedienteDetalleActa.numeroActa']}">
					<h:outputText value="#{detalle.numeroActa}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaExpedienteDetalleActa.fechaActa']}">
					<h:outputText value="#{detalle.fechaActa}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaExpedienteDetalleActa.valorInicialActa']}">
					<h:outputText value="#{detalle.valorInicialActa}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaExpedienteDetalleActa.valorFinalActa']}">
					<h:outputText value="#{detalle.valorFinalActa}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaExpedienteDetalleActa.tipoExpediente']}">
					<h:outputText value="#{detalle.tipoExpediente}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaExpedienteDetalleActa.indicadorConvenio']}">
					<h:outputText value="#{detalle.indicadorConvenio}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaExpedienteDetalleActa.numeroCuotas']}">
					<h:outputText value="#{detalle.numeroCuotas}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaExpedienteDetalleActa.valorCondonacion']}">
					<h:outputText value="#{detalle.valorCondonacion}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaExpedienteDetalleActa.estadoActa']}">
					<h:outputText value="#{detalle.estadoActa}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaExpedienteDetalleActa.nombreSuscribioActaEmpresa']}">
					<h:outputText value="#{detalle.nombreSuscribioActaEmpresa}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaExpedienteDetalleActa.tipoIdentificacionCliente']}">
					<h:outputText value="#{detalle.tipoIdentificacionCliente}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaExpedienteDetalleActa.numeroIdentificacionCliente']}">
					<h:outputText value="#{detalle.numeroIdentificacionCliente}" />
				</sy:tableColumnCustom>
			</s:dataTable>
		</h:form>
	</sy:boxPage>
</f:view>
