<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cn="http://www.synapsis-it.com/jsf/business/cns">

	<sy:boxPage
		title="#{MensajesComponentes_cns['consultaHistoricaVinculoClienteRed.titulo']}" nroCuentaHeader="disable">
			<h:messages />
			<br />
			<sy:panelTabbedPane>
				<sy:panelTab
					label="#{MensajesComponentes_cns['consultaHistoricaVinculoClienteRed.consultaDatosTransformadorByParams.titulo.tab']}">
					<ui:include src="consultaDatosTrasformadorByParams.xhtml" />
				</sy:panelTab>
				<sy:panelTab
					label="#{MensajesComponentes_cns['consultaHistoricaVinculoClienteRed.consultaDatosVinculoClienteRed.titulo.tab']}">
					<ui:include src="consultaDatosVinculoClienteRedByParams.xhtml" />
				</sy:panelTab>

			</sy:panelTabbedPane>
		
	</sy:boxPage>
</f:view>
