	    
    <sy:boxPage title="#{MensajesComponentes_cns['consultaHistVincRedBB.titulo']}"
    xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:v="http://www.synapsis-it.com/jsf/validator"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour"
	xmlns:ex="http://www.synapsis-it.com/jsf/core/ext">

        <s:service id="consultaServiceFinder" manager="#{serviceManager}"
				name="consultaClienteRedByTransformadorListService" method="findByCriteria"
				binding="#{consultaHistVincRedBB.consultaService}" fire="false">
		</s:service>

		<s:dataTable source="consultaServiceFinder" var="datosTransformador" binding="#{consultaHistVincRedBB.dataTable}"  >
			<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaHistVincRedBB.individual.nroTransformador']}"> 
			<h:outputText value="#{datosTransformador.nroTransformador}" />	
			</sy:tableColumnCustom>
			<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaHistVincRedBB.individual.nroCuenta']}"> 
			<h:outputText value="#{datosTransformador.nroCuenta}" />	
			</sy:tableColumnCustom>
			<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaHistVincRedBB.individual.nombreTitularCuenta']}"> 
			<h:outputText value="#{datosTransformador.nombreTitularCuenta}" />	
			</sy:tableColumnCustom>
			<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaHistVincRedBB.individual.tipoSrv']}"> 
			<h:outputText value="#{datosTransformador.tipoSrv}" />	
			</sy:tableColumnCustom>
			<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaHistVincRedBB.individual.mercado']}"> 
			<h:outputText value="#{datosTransformador.mercado}" />	
			</sy:tableColumnCustom>
			<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaHistVincRedBB.individual.estadoSrvElectrico']}"> 
			<h:outputText value="#{datosTransformador.estadoSrvElectrico}" />	
			</sy:tableColumnCustom>
			<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaHistVincRedBB.individual.rutaFact']}"> 
			<h:outputText value="#{datosTransformador.rutaFact}" />	
			</sy:tableColumnCustom>
			<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaHistVincRedBB.individual.dirSuministro']}"> 
			<h:outputText value="#{datosTransformador.dirSuministro}" />	
			</sy:tableColumnCustom>
			<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaHistVincRedBB.individual.municipio']}"> 
			<h:outputText value="#{datosTransformador.municipio}" />	
			</sy:tableColumnCustom>
			<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaHistVincRedBB.individual.tarifa']}"> 
			<h:outputText value="#{datosTransformador.tarifa}" />	
			</sy:tableColumnCustom>
			<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaHistVincRedBB.individual.fechaAsociacionTrans']}"> 
			<h:outputText value="#{datosTransformador.fechaAsociacionTrans}" />	
			</sy:tableColumnCustom>
			<sy:tableColumnLinkPopup
			header="#{MensajesComponentes_cns['consultaHistVincRedBB.link.acciones']}"
			label="#{rowVar.nroAjuste}" outcome="dispatchToAccion">
			<f:setPropertyActionListener
				target="#{consultaHistVincRedBB.businessObject1}"
				value="#{rowVar}" />
			</sy:tableColumnLinkPopup>
		</s:dataTable>

    </sy:boxPage>
