<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cn="http://www.synapsis-it.com/jsf/business/cns">
	<sy:boxPage title="#{MensajesComponentes_cns['consultaHistorialDeuda.tituloHistorialDeuda']}">
		<h:form>
			<sy:panelTabbedPane>
				<sy:panelTab
					label="#{MensajesComponentes_cns['consultaHistorialDeuda.detalle.facturaciones.titulo.tab']}">
					<ui:include src="consultaRefacturacionAjuste.xhtml" />
				</sy:panelTab>
	  			<sy:panelTab
					label="#{MensajesComponentes_cns['consultaHistorialDeuda.detalle.deuda.titulo.tab']}">
					<ui:include src="consultaRefacturacionAjuste.xhtml" />
				</sy:panelTab>
			</sy:panelTabbedPane>
		</h:form>
	</sy:boxPage>
</f:view>
<!--<f:view xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:sy="http://www.synapsis.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html">
    <sy:boxPage title="#{MensajesComponentes_cns['consultaHistorialDeuda.tituloHistorialDeuda']}">
        <h:form>
            <sy:dataTable listBean="#{consultaHistoriaDeudaBB}" metadata="#{consultaHistoriaDeudaMetaData}"
                resources="#{ClavesInducidas_cns}">
                <sy:tableColumn attribute="movimiento" />
                <sy:tableColumn attribute="fechaMovimiento" />
                <sy:tableColumn attribute="tipoMovimiento" />
                <sy:tableColumn attribute="nroDocumento" />
                <sy:tableColumn attribute="valorMovimiento" />
                <sy:tableColumn attribute="estadoCobranzaSrvElectrico" />
                <sy:tableColumn attribute="estadoCobranzaSrvCodensa" />
                <sy:tableColumn attribute="estadoCobranzaSrvConvenio" />
                <sy:tableColumnLinkPopup header="#{MensajesComponentes_cns['consultaHistorialDeuda.headerDetalle']}"
                    label="#{MensajesComponentes_cns['consultaHistorialDeuda.labelDetalle']}"
                    actionBean="#{consultaDetalleDeudaBB}" action="buscarAction">
                    <f:setPropertyActionListener
                        target="#{idMovimientoQueryFilter.attributeValue}"
                        value="#{rowVar.movimiento}" />
                </sy:tableColumnLinkPopup>
            </sy:dataTable>
        </h:form>
    </sy:boxPage>
</f:view>-->
