<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:v="http://www.synapsis-it.com/jsf/validator"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour"
	xmlns:e="http://www.synapsis-it.com/jsf/core/ext">
	<sy:boxPage
		title="#{MensajesComponentes_cns['consultaDebitosAutomaticos.tituloHistoricoHeader']}"
		close="true">
		<h:form id="formConsultaDebitosAutomaticos">
			<sy:group title="" columns="2">
				<h:outputLabel
					value="#{MensajesComponentes_cns['consultaDebitosAutomaticos.tieneDebitosAutomaticos']}"
					for="tieneDebitosAutomaticos" />
				<h:inputText
					value ="#{empty consultaDebitosAutomaticosBB.listResults ? 'NO' : 'SI'}"
					id="tieneDebitosAutomaticos" disabled="true"/>
			</sy:group>
			<br />
            <sy:dataTable listBean="#{consultaDebitosAutomaticosBB}" 
                resources="#{ClavesInducidas_cns}" id="tableDebitosAutomaticos">
                <sy:tableColumn attribute="fechaActivacion" />
                <sy:tableColumn attribute="fechaDesactivacion" />
                <sy:tableColumn attribute="fechaInscripcionCuentaBancaria" />
                <sy:tableColumn attribute="nombreEntidadRecaudadoraOrigen" />
            </sy:dataTable>
		</h:form>
	</sy:boxPage>
</f:view>