<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sv="http://shale.apache.org/validator"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour"
	xmlns:c="http://www.synapsis-it.com/jsf/core">
	<sy:boxPage
		title="#{MensajesComponentes_cns['consultaFacturacion.titulo']}">
		<h:form>
			
			<s:service id="detalleFactServicioFinancieroService"
				manager="#{serviceManager}" name="detalleFactServicioFinancieroService"
				method="findByCriteria" fire="true">
				<f:param name="nroCuenta"
					value="#{numeroCuentaQueryFilter.attributeValue}" />
			</s:service>

			<s:service id="detalleFactServicioConvenioService"
				manager="#{serviceManager}" name="detalleFactServicioConvenioService"
				method="findByCriteria" fire="true">
				<f:param name="nroCuenta"
					value="#{numeroCuentaQueryFilter.attributeValue}" />
			</s:service>

			<s:service id="detalleFactEncargoCobranzaService"
				manager="#{serviceManager}" name="detalleFactEncargoCobranzaService"
				method="findByCriteria" fire="true">
				<f:param name="nroCuenta"
					value="#{numeroCuentaQueryFilter.attributeValue}" />
			</s:service>

			<s:service id="consultaFacturacionInformacionGeneral"
				manager="#{serviceManager}" name="consultaFacturacionInformacionGeneralService"
				method="findByCriteria" fire="true">
				<f:param name="nroCuenta"
					value="#{numeroCuentaQueryFilter.attributeValue}" />
			</s:service>


			<sy:panelTabbedPane>
				<sy:panelTab
					label="#{MensajesComponentes_cns['consultaFacturacion.tab.informacionGeneral.titulo']}">
					<s:dataTable source="consultaFacturacionInformacionGeneral" var="infoGral">
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaFacturacion.tab.informacionGeneral.periodo']}">
							<h:outputText value="#{infoGral.periodo}" />
						</sy:tableColumnCustom>	
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaFacturacion.tab.informacionGeneral.fechaFacturacion']}">
							<h:outputText value="#{infoGral.fechaFacturacion}" />
						</sy:tableColumnCustom>	
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaFacturacion.tab.informacionGeneral.fechaLectura']}">
							<h:outputText value="#{infoGral.fechaLectura}" />
						</sy:tableColumnCustom>						
						<sy:tableColumnLinkPopup
							header="#{MensajesComponentes_cns['consultaFacturacion.tab1.totalFacturado']}"
							label="#{infoGral.totalFactura}" outcome="totalFacturado">
							<f:setPropertyActionListener
								target="#{consultaFacturacionBB.detalleValorTotal}"
								value="#{infoGral}" />
						</sy:tableColumnLinkPopup>
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaFacturacion.tab.informacionGeneral.numeroFactura']}">
							<h:outputText value="#{infoGral.numeroFactura}" />
						</sy:tableColumnCustom>							
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaFacturacion.tab.informacionGeneral.fechaVencimiento']}">
							<h:outputText value="#{infoGral.fechaVencimiento}" />
						</sy:tableColumnCustom>
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaFacturacion.tab.informacionGeneral.nroDocCli']}">
							<h:outputText value="#{infoGral.nroDocCli}" />
						</sy:tableColumnCustom>
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaFacturacion.tab.informacionGeneral.tipoLiquidacion']}">
							<h:outputText value="#{infoGral.tipoLiquidacion}" />
						</sy:tableColumnCustom>
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaFacturacion.tab.informacionGeneral.tipoEsquemaFacturacion']}">
							<h:outputText value="#{infoGral.tipoEsquemaFacturacion}" />
						</sy:tableColumnCustom>
												
				</s:dataTable>

				</sy:panelTab>
				<sy:panelTab
					label="#{MensajesComponentes_cns['consultaFacturacion.tab.detalleValoresConsumo.titulo']}">
					<sy:dataTable tableId="Tab2"
						listBean="#{consultaFacturacionBB.multiList.data['detalleValores']}"
						resources="#{ClavesInducidas_cns}"
						metadata="#{consultaFacturacionDetalleValoresMetaData}">
						<sy:tableColumn attribute="periodo" />
						<sy:tableColumn attribute="fechaFacturacion" />
						<sy:tableColumn attribute="fechaLectura" />
						<sy:tableColumn attribute="valorConsumoActiva" />
						<sy:tableColumn attribute="valorConsumoReactiva" />
						<sy:tableColumn attribute="valorSubsidio" />
						<sy:tableColumnCustom rowClasses="gridRow"
		                    header="#{ClavesInducidas_cns['com.synapsis.cns.codensa.model.impl.ConsultaFacturaDetalleValoresConsumoImpl.valorContribucion']}">
		                    <h:outputText value="#{rowVar.valorContribucion}" >
		                    		<f:convertNumber pattern="#,###.##" locale="en" />
		                    </h:outputText>
           				 </sy:tableColumnCustom>
           				 <sy:tableColumn attribute="caracteristica082" />
           				 <sy:tableColumn attribute="vigenciaTarifa" />
					</sy:dataTable>
				</sy:panelTab>
				<sy:panelTab
					label="#{MensajesComponentes_cns['consultaFacturacion.tab.detalleValoresAdicionales.titulo']}">
					<sy:dataTable tableId="Tab3"
						listBean="#{consultaFacturacionBB.multiList.data['valoresAdicionales']}"
						metadata="#{consultaFacturacionValoresAdicionalesMetaData}"
						resources="#{ClavesInducidas_cns}">
						<sy:tableColumn attribute="periodo" />
						<sy:tableColumn attribute="fechaFacturacion" />
						<sy:tableColumn attribute="codigoCargo" />
						<sy:tableColumn attribute="descripcionCargo" />
						<sy:tableColumn attribute="valor" />
					</sy:dataTable>
				</sy:panelTab>
				<sy:panelTab
					label="#{MensajesComponentes_cns['consultaFacturacion.tab.detalleValoresFinanciacion.titulo']}">
				<sy:title value="#{MensajesComponentes_cns['consultaFacturacion.tab4.title.serviciosFinancieros']}" />
				<s:dataTable source="detalleFactServicioFinancieroService" var="servicio">
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaFacturacion.tab4.periodoPrimeraFact']}">
						<h:outputText value="#{servicio.periodoPrimeraFact}" />
					</sy:tableColumnCustom>	
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaFacturacion.tab4.fechaCreacion']}">
						<h:outputText value="#{servicio.fechaCreacion}" />
					</sy:tableColumnCustom>	
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaFacturacion.tab4.nroServicio']}">
						<h:outputText value="#{servicio.nroServicio}" />
					</sy:tableColumnCustom>	
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaFacturacion.tab4.tipoProducto']}">
						<h:outputText value="#{servicio.tipoProducto}" />
					</sy:tableColumnCustom>	
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaFacturacion.tab4.plan']}">
						<h:outputText value="#{servicio.plan}" />
					</sy:tableColumnCustom>	
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaFacturacion.tab4.socioNegocio']}">
						<h:outputText value="#{servicio.socioNegocio}" />
					</sy:tableColumnCustom>	
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaFacturacion.tab4.tasaInteres']}">
						<h:outputText value="#{servicio.tasaInteres}" />
					</sy:tableColumnCustom>	
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaFacturacion.tab4.valorCuota']}">
						<h:outputText value="#{servicio.valorCuota}" />
					</sy:tableColumnCustom>	
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaFacturacion.tab4.cuotaInteres']}">
						<h:outputText value="#{servicio.cuotaInteres}" />
					</sy:tableColumnCustom>	
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaFacturacion.tab4.nroCuotas']}">
						<h:outputText value="#{servicio.nroCuotas}" />
					</sy:tableColumnCustom>
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaFacturacion.tab4.saldoCapital']}">
						<h:outputText value="#{servicio.saldoCapital}" />
					</sy:tableColumnCustom>	
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaFacturacion.tab4.cantVecesFac']}">
						<h:outputText value="#{servicio.cantVecesFac}" />
					</sy:tableColumnCustom>	
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaFacturacion.tab4.cuotasPendientes']}">
						<h:outputText value="#{servicio.cuotasPendientes}" />
					</sy:tableColumnCustom>	
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaFacturacion.tab4.nombreTitlServ']}">
						<h:outputText value="#{servicio.nombreTitlServ}" />
					</sy:tableColumnCustom>	
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaFacturacion.tab4.nroIdentificacion']}">
						<h:outputText value="#{servicio.nroIdentificacion}" />
					</sy:tableColumnCustom>
					<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaFacturacion.tab4.itemsFacturados']}">
						<c:popup>
							<h:commandLink action="detalleItemsFacturados" immediate="true"
								value="#{MensajesComponentes_cns['consultaFacturacion.tab4.detalle']}">
									<f:setPropertyActionListener
										target="#{consultaFacturacionItemsFacturadosBB.id}"
										value="#{servicio.id}" />
									<f:setPropertyActionListener
										target="#{consultaFacturacionItemsFacturadosBB.detailName}"
										value="SF"/>
							</h:commandLink>
						</c:popup>
					</sy:tableColumnCustom>
				</s:dataTable>
				<br/>
				<sy:title value="#{MensajesComponentes_cns['consultaFacturacion.tab4.title.encargadosCobranza']}" />
				<s:dataTable source="detalleFactEncargoCobranzaService" var="servicio">
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaFacturacion.tab4.periodoPrimeraFact']}">
						<h:outputText value="#{servicio.periodoPrimeraFact}" />
					</sy:tableColumnCustom>	
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaFacturacion.tab4.fechaCreacion']}">
						<h:outputText value="#{servicio.fechaCreacion}" />
					</sy:tableColumnCustom>	
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaFacturacion.tab4.nroServicio']}">
						<h:outputText value="#{servicio.nroServicio}" />
					</sy:tableColumnCustom>	
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaFacturacion.tab4.tipoProducto']}">
						<h:outputText value="#{servicio.tipoProducto}" />
					</sy:tableColumnCustom>	
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaFacturacion.tab4.plan']}">
						<h:outputText value="#{servicio.plan}" />
					</sy:tableColumnCustom>	
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaFacturacion.tab4.socioNegocio']}">
						<h:outputText value="#{servicio.socioNegocio}" />
					</sy:tableColumnCustom>	
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaFacturacion.tab4.tasaInteres']}">
						<h:outputText value="#{servicio.tasaInteres}" />
					</sy:tableColumnCustom>	
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaFacturacion.tab4.valorCuota']}">
						<h:outputText value="#{servicio.valorCuota}" />
					</sy:tableColumnCustom>	
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaFacturacion.tab4.cuotaInteres']}">
						<h:outputText value="#{servicio.cuotaInteres}" />
					</sy:tableColumnCustom>	
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaFacturacion.tab4.nroCuotas']}">
						<h:outputText value="#{servicio.nroCuotas}" />
					</sy:tableColumnCustom>	
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaFacturacion.tab4.saldoCapital']}">
						<h:outputText value="#{servicio.saldoCapital}" />
					</sy:tableColumnCustom>
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaFacturacion.tab4.cantVecesFac']}">
						<h:outputText value="#{servicio.cantVecesFac}" />
					</sy:tableColumnCustom>	
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaFacturacion.tab4.cuotasPendientes']}">
						<h:outputText value="#{servicio.cuotasPendientes}" />
					</sy:tableColumnCustom>	
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaFacturacion.tab4.nombreTitlServ']}">
						<h:outputText value="#{servicio.nombreTitlServ}" />
					</sy:tableColumnCustom>	
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaFacturacion.tab4.nroIdentificacion']}">
						<h:outputText value="#{servicio.nroIdentificacion}" />
					</sy:tableColumnCustom>	
					<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaFacturacion.tab4.itemsFacturados']}">
						<c:popup>
							<h:commandLink action="detalleItemsFacturados" immediate="true"
								value="#{MensajesComponentes_cns['consultaFacturacion.tab4.detalle']}">
									<f:setPropertyActionListener
										target="#{consultaFacturacionItemsFacturadosBB.id}"
										value="#{servicio.id}" />
									<f:setPropertyActionListener
										target="#{consultaFacturacionItemsFacturadosBB.detailName}"
										value="EC"/>
							</h:commandLink>
						</c:popup>
					</sy:tableColumnCustom>
				</s:dataTable>
				<br/>
				<sy:title value="#{MensajesComponentes_cns['consultaFacturacion.tab4.title.convenios']}" />
				<s:dataTable source="detalleFactServicioConvenioService" var="servicio">
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaFacturacion.tab4.periodoPrimeraFact']}">
						<h:outputText value="#{servicio.periodoPrimeraFact}" />
					</sy:tableColumnCustom>	
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaFacturacion.tab4.fechaCreacion']}">
						<h:outputText value="#{servicio.fechaCreacion}" />
					</sy:tableColumnCustom>	
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaFacturacion.tab4.nroServicio']}">
						<h:outputText value="#{servicio.nroServicio}" />
					</sy:tableColumnCustom>	
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaFacturacion.tab4.tipoConvenio']}">
						<h:outputText value="#{servicio.tipoConvenio}" />
					</sy:tableColumnCustom>	
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaFacturacion.tab4.opConvenio']}">
						<h:outputText value="#{servicio.opConvenio}" />
					</sy:tableColumnCustom>	
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaFacturacion.tab4.estado']}">
						<h:outputText value="#{servicio.estado}" />
					</sy:tableColumnCustom>	
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaFacturacion.tab4.tasaInteres']}">
						<h:outputText value="#{servicio.tasaInteres}" />
					</sy:tableColumnCustom>	
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaFacturacion.tab4.valorCuota']}">
						<h:outputText value="#{servicio.valorCuota}" />
					</sy:tableColumnCustom>	
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaFacturacion.tab4.cuotaInteres']}">
						<h:outputText value="#{servicio.cuotaInteres}" />
					</sy:tableColumnCustom>	
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaFacturacion.tab4.nroCuotas']}">
						<h:outputText value="#{servicio.nroCuotas}" />
					</sy:tableColumnCustom>
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaFacturacion.tab4.saldoCapital']}">
						<h:outputText value="#{servicio.saldoCapital}" />
					</sy:tableColumnCustom>	
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaFacturacion.tab4.cuotasPendientes']}">
						<h:outputText value="#{servicio.cuotasPendientes}" />
					</sy:tableColumnCustom>	
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaFacturacion.tab4.nombreTitlServ']}">
						<h:outputText value="#{servicio.nombreTitlServ}" />
					</sy:tableColumnCustom>	
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaFacturacion.tab4.nroIdentificacion']}">
						<h:outputText value="#{servicio.nroIdentificacion}" />
					</sy:tableColumnCustom>	
					<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaFacturacion.tab4.itemsFacturados']}">
						<c:popup>
							<h:commandLink action="detalleItemsFacturados" immediate="true"
								value="#{MensajesComponentes_cns['consultaFacturacion.tab4.detalle']}">
									<f:setPropertyActionListener
										target="#{consultaFacturacionItemsFacturadosBB.id}"
										value="#{servicio.id}" />
									<f:setPropertyActionListener
										target="#{consultaFacturacionItemsFacturadosBB.detailName}"
										value="SC"/>
							</h:commandLink>
						</c:popup>
					</sy:tableColumnCustom>
				</s:dataTable>

				</sy:panelTab>
			</sy:panelTabbedPane>
		</h:form>
	</sy:boxPage>
</f:view>