<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:t="http://myfaces.apache.org/tomahawk">

	<sy:boxPage
		title="#{MensajesComponentes_cns['consultaDetalleOtrosNegocios.titulo']}">
        <t:saveState value="#{consultaDetalleOtrosNegociosBB.nroServicio}" />
		<h:form id="consultaDetalleOtrosNegociosForm">

	      <!-- Definicion de servicio para el la GRILLA de consultas de servicios OCH   findServiciosFinancierosOCHByCriteriaService -->  
  			<s:service manager="#{serviceManager}"
				name="consultaDetalleOtrosNegociosService" method="findByCriteria"
				id="consultaCodensaHogar"  
				fire="false"
				binding="#{consultaDetalleOtrosNegociosBB.findServiciosFinancierosOCHByCriteriaService}">
				<f:param name="nroCuenta"
  			        value="#{numeroCuentaQueryFilter.attributeValue}" />
				<f:param name="nroServicio"
					value="#{consultaDetalleOtrosNegociosBB.nroServicio}" /> 
				<f:param name="nombreTitular"
					value="#{consultaDetalleOtrosNegociosBB.nombreTitular}" /> 				
			</s:service> 

			<!-- Definicion de servicio para el la GRILLA de consultas de servicios ECO   -->
			<s:service manager="#{serviceManager}"
				name="encargosCobranzaWithValidationService" method="findByCriteria"
				id="encargosCobranza" fire="false"
				binding="#{consultaDetalleOtrosNegociosBB.findServiciosECOByCriteriaService}">
				<f:param name="nroSrvFin"
					value="#{consultaDetalleOtrosNegociosBB.nroServicio}" />
				<f:param name="nombreTit"
					value="#{consultaDetalleOtrosNegociosBB.nombreTitular}" />
                <f:param name="nroCuenta"
  			        value="#{numeroCuentaQueryFilter.attributeValue}" />
			</s:service>
	
			<!-- Definicion de servicio para el la GRILLA de consultas de Cuota Manejo   -->
			<s:service manager="#{serviceManager}"
				name="cuotaMenejoService" method="findByCriteria"
				id="cuotaManejo" fire="false"
				binding="#{consultaDetalleOtrosNegociosBB.findServiciosCuotaManejoByCriteriaService}">
				<f:param name="nroSrvFin"
					value="#{consultaDetalleOtrosNegociosBB.nroServicio}" />
				<f:param name="nombreTit"
					value="#{consultaDetalleOtrosNegociosBB.nombreTitular}" />
                <f:param name="nroCuenta"
  			        value="#{numeroCuentaQueryFilter.attributeValue}" />
			</s:service>
			
			<sy:filters actionBean="#{consultaDetalleOtrosNegociosBB}"
				action="search">
			  <sy:panelGrid columns="2">	
				 <h:outputLabel
				 	value="#{MensajesComponentes_cns['consultaDetalleOtrosNegocios.filterLabels.nombreTitular']}" />
				 <h:inputText value="#{consultaDetalleOtrosNegociosBB.nombreTitular}" />
				 <h:outputLabel
				 	value="#{MensajesComponentes_cns['consultaDetalleOtrosNegocios.filterLabels.nroServicio']}" />
				 <h:inputText value="#{consultaDetalleOtrosNegociosBB.nroServicio}" />
              </sy:panelGrid>
			</sy:filters>

			<br />

			<!-- tabla donde se dibuja los resultados de la busqueda -->
 		<sy:panelTabbedPane>
				<sy:panelTab
					label="#{MensajesComponentes_cns['consulta.historico.otros.negocios.tab.codensa.hogar']}">
					<s:dataTable source="consultaCodensaHogar" var="hogar"
						binding="#{consultaDetalleOtrosNegociosBB.dataTableOCH}">
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.hogar.nroCuenta']}">
							<h:outputText value="#{hogar.nroCuenta}" />
						</sy:tableColumnCustom>
						<sy:tableColumnLinkPopup
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.hogar.nroServicio']}"
							label="#{hogar.nroServicio}" outcome="trasladoConvenio"> 
							<f:setPropertyActionListener 
								target="#{nroConvenioTrasladoQueryFilter.attributeValue}"
 								value="#{hogar.nroServicio}" />
						</sy:tableColumnLinkPopup>
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.hogar.lineaNegocio']}">
							<h:outputText value="#{hogar.lineaNegocio}" />
						</sy:tableColumnCustom>
						<sy:tableColumnLinkPopup
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.hogar.producto']}"
							label="#{hogar.producto}" outcome="detalleCCA"> 
						   <f:setPropertyActionListener 
								target="#{historicoOtrosNegociosBB.idServicio}"
 								value="#{hogar.id}" />	
						</sy:tableColumnLinkPopup>
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.hogar.plan']}">
							<h:outputText value="#{hogar.plan}" />
						</sy:tableColumnCustom>
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.hogar.tipoIdentificacionSolicitanteCredito']}">
							<h:outputText value="#{hogar.tipoIdentTitular}" />
						</sy:tableColumnCustom>
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.hogar.nroIdentificacionSolicitanteCredito']}">
							<h:outputText value="#{hogar.nroIdentTitular}" /> 
						</sy:tableColumnCustom>
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.hogar.nombreTitular']}">
							<h:outputText value="#{hogar.nombreTitular}" /> 
						</sy:tableColumnCustom>
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.hogar.fechaActivacionServicio']}">
							<h:outputText value="#{hogar.fechaActivProd}" />
						</sy:tableColumnCustom>
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.hogar.fechaFinalizacion']}">
							<h:outputText value="#{hogar.fechaDesactProd}" />
						</sy:tableColumnCustom>
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.hogar.motivoFinalizacion']}">
							<h:outputText value="#{hogar.motivoFinalizacion}" />
						</sy:tableColumnCustom>
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.hogar.valorOriginalServicio']}">
							<h:outputText value="#{hogar.valorOrigSrv}" />
						</sy:tableColumnCustom>
					</s:dataTable>  
				</sy:panelTab>
				
				
		 		<sy:panelTab
					label="#{MensajesComponentes_cns['consulta.historico.otros.negocios.tab.encargos.cobranza']}">
					<s:dataTable source="encargosCobranza" var="encargo"
						binding="#{consultaDetalleOtrosNegociosBB.dataTableECO}">

						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.encargo.nroCuenta']}">
							<h:outputText value="#{encargo.nroCuenta}" />
						</sy:tableColumnCustom>
						<sy:tableColumnLinkPopup
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.encargo.nroEncargoCobranza']}"
							label="#{encargo.nroEco}" outcome="trasladoConvenio"> 
							<f:setPropertyActionListener 
								target="#{nroConvenioTrasladoQueryFilter.attributeValue}"
 								value="#{encargo.nroEco}" />
						</sy:tableColumnLinkPopup>
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.encargo.lineaNegocio']}">
							<h:outputText value="#{encargo.lineaNegocio}" />
						</sy:tableColumnCustom>
						<sy:tableColumnLinkPopup
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.encargo.producto']}"
							label="#{encargo.producto}" outcome="detalleECO"> 
							 <f:setPropertyActionListener 
								target="#{historicoOtrosNegociosBB.idServicio}"
 								value="#{encargo.id}" />	
						</sy:tableColumnLinkPopup>
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.encargo.plan']}">
							<h:outputText value="#{encargo.plan}" />
						</sy:tableColumnCustom>
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.encargo.nroIdentificador']}">
							<h:outputText value="#{encargo.nroIdTitular}" />
						</sy:tableColumnCustom>
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.tipo.doc.titular']}">
							<h:outputText value="#{encargo.tipoDocTitular}" /> 
						</sy:tableColumnCustom>
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.numero.doc.titular']}">
							<h:outputText value="#{encargo.numDocTitular}" /> 
						</sy:tableColumnCustom>
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.encargo.fechaActivacion']}">
							<h:outputText value="#{encargo.fechaActivacion}" />
						</sy:tableColumnCustom>
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.encargo.valorCargado']}">
							<h:outputText value="#{encargo.valorCargado}" />
						</sy:tableColumnCustom>
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.encargo.saldoEncargo']}">
							<h:outputText value="#{encargo.saldoEco}" />
						</sy:tableColumnCustom>
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.encargo.indicador.saldo.anterior']}">
							<h:outputText value="#{encargo.indicadorSaldoAnterior}" />
						</sy:tableColumnCustom>
					</s:dataTable>
				</sy:panelTab> 
				
				<!-- PANEL DE CUOTA MANEJO -->
				
	 			<sy:panelTab
					label="#{MensajesComponentes_cns['consulta.historico.otros.negocios.tab.cuota.manejo']}">
					<s:dataTable source="cuotaManejo" var="manejo"
						binding="#{consultaDetalleOtrosNegociosBB.dataTableCuotaManejo}">

						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.cuota.manejo.nroCuenta']}">
							<h:outputText value="#{manejo.nroCuenta}" />
						</sy:tableColumnCustom>
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.cuota.manejo.nroServicio']}">
							<h:outputText value="#{manejo.nroServicio}"/>  
						</sy:tableColumnCustom>
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.cuota.manejo.tipoServicio']}">
							<h:outputText value="#{manejo.tipoSrv}" />
						</sy:tableColumnCustom>
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.cuota.manejo.titular']}"> 
							 <h:outputText value="#{manejo.nombreTit}" />	
						</sy:tableColumnCustom>
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.cuota.manejo.tipoDocumentoTit']}">
							<h:outputText value="#{manejo.tipoDocTitular}" />
						</sy:tableColumnCustom>
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.cuota.manejo.nroDocumentoTit']}">
							<h:outputText value="#{manejo.nroDocTitular}" />
						</sy:tableColumnCustom>
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.cuota.manejo.valorServicio']}">
							<h:outputText value="#{manejo.valorSrv}" /> 
						</sy:tableColumnCustom>
						<sy:tableColumnCustom
							header="#{MensajesComponentes_cns['consultaHistoricoOtrosNegocios.tab.cuota.manejo.valorFacturado']}">
							<h:outputText value="#{manejo.valorFacImpago}" /> 
						</sy:tableColumnCustom>
					</s:dataTable>
				</sy:panelTab> 
			</sy:panelTabbedPane>

		</h:form>
	</sy:boxPage>
</f:view>
