<sy:dataTable xmlns="http://www.w3.org/1999/xhtml"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	listBean="#{detalleConsultaRefacturacionesAjustesBB.multiList.data['detalleConsultaRefacturacionesAjustesMovimientos']}"
	metadata="#{detalleConsultaRefacturacionesAjustesMovimientosMetadata}" resources="#{ClavesInducidas_cns}">
	<sy:tableColumn attribute="movimientos" />	
	<sy:tableColumn attribute="valorAjustado" />	
</sy:dataTable>