<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:e="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service"	
	xmlns:f="http://java.sun.com/jsf/core">
				
	<sy:boxPage	title="#{MensajesComponentes_cns['consultaContratoInfraestructuraBB.title']}">					
		<h:form>
			<e:errorHandler />
			<e:exception />
			
			<s:service id="cuentasInfraestructura" manager="#{serviceManager}"
				name="cuentasInfraestructuraService" method="findByCriteria" fire="true">
				<f:param name="nroCuenta"
					value="#{numeroCuentaQueryFilter.attributeValue}" />
			</s:service>			

			<s:dataTable source="cuentasInfraestructura" var="cuenta">
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['cuentasInfraestructura.nroCuenta']}">
					<h:outputText value="#{cuenta.nroCuenta}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['cuentasInfraestructura.nroServicio']}">
					<h:outputText value="#{cuenta.nroServicio}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['cuentasInfraestructura.titularCuenta']}">
					<h:outputText value="#{cuenta.titularCuenta}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['cuentasInfraestructura.nroContrato']}">
					<h:outputText value="#{cuenta.nroContrato}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom align="center"
					header="#{MensajesComponentes_cns['cuentasInfraestructura.contratoVigente']}">
					<h:outputText value="#{cuenta.contratoVigente}" />
				</sy:tableColumnCustom>
				<sy:tableColumnLinkPopup					
					header="#{MensajesComponentes_cns['cuentasInfraestructura.detalle.columnHeader']}"
					label="#{MensajesComponentes_cns['cuentasInfraestructura.detalle']}"					
					outcome="detalleInventariosInfraestructura">
					<f:setPropertyActionListener						
						target="#{detalleInventariosInfraestructuraBB.detalleCuentaInfraestructuraBO}" value="#{cuenta}" />
				</sy:tableColumnLinkPopup>							
			</s:dataTable>
		
		</h:form>				
	</sy:boxPage>

</f:view>
