<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:core="http://java.sun.com/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:v="http://www.synapsis-it.com/jsf/validator"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour"
	xmlns:e="http://www.synapsis-it.com/jsf/core/ext">

	<sy:boxPage
		title="#{MensajesComponentes_cns['detalle.persona.titulo']}">
		<h:form>

			<!-- error handler para manejar los errores de las rules 
		TODO: [emiliano] subir ... -->
			<c:errorHandler />
			<!-- Service para obtener el detalle de la persona -->
			<s:service id="detalleServicioElectrico" manager="#{serviceManager}"
				name="detalleServicioElectricoService" method="findById">
				<f:param name="nroCuenta" value="#{numeroCuentaQueryFilter.attributeValue}" />
			</s:service>
			<!-- service response unmarshalled -->
			<s:unmarshall source="detalleServicioElectrico" var="servElec" />

			<!-- Service para obtener el detalle de la persona -->
			<s:service id="detallePersona" manager="#{serviceManager}"
				name="detallePersonaService" method="findById">
				<f:param name="id" value="#{numeroCuentaQueryFilter.attributeValue}" />
			</s:service>
			<!-- service response unmarshalled -->
			<s:unmarshall source="detallePersona" var="myVar" />
			<!-- Service para obtener los representates legales -->
			<s:service id="represLegales" manager="#{serviceManager}"
				name="represLegalesService" method="findByCriteria">
				<f:param name="nroCuenta"
					value="#{numeroCuentaQueryFilter.attributeValue}" />
			</s:service>

			<br />
			<sy:title
				value="#{MensajesComponentes_cns['detalle.datos.servicio.electrico']}" />
			<sy:dataGrid>
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['detalle.datos.servicio.electric.acreditacion']}"
					data="#{servElec.acreditacionBeneficiario}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['detalle.datos.servicio.electric.manzana']}"
					data="#{servElec.manzana}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['detalle.datos.servicio.electric.tipo.cliente']}"
					data="#{servElec.tipoCliente}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['detalle.datos.servicio.electric.chip']}"
					data="#{servElec.chip}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['detalle.datos.servicio.electriccontador.gradual']}"
					data="#{servElec.contadorGradual}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['detalle.datos.servicio.electric.estado.cobranza']}"
					data="#{servElec.estadoCobranza}" />
			</sy:dataGrid>
			<br />


			<sy:title
				value="#{MensajesComponentes_cns['detalle.persona.titulo']}" />
			<sy:dataGrid>
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['detalle.persona.nombre']}"
					data="#{myVar.nombre}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['detalle.persona.direComercial']}"
					data="#{myVar.direComercial}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['detalle.persona.fechaNacimiento']}"
					data="#{myVar.fechaNacimiento}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['detalle.persona.sexo']}"
					data="#{myVar.sexo}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['detalle.persona.descTipoPersona']}"
					data="#{myVar.descTipoPersona}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['detalle.persona.giro']}"
					data="#{myVar.giro}" />

			</sy:dataGrid>
			<br />
			<sy:title value="#{MensajesComponentes_cns['repres.legales.titulo']}" />
			<!-- tabla donde se dibuja los resultados de la busqueda -->

			<s:dataTable source="represLegales" var="leg">
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['repres.legales.representante']}">
					<h:outputText value="#{leg.representante}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['repres.legales.documento']}">
					<h:outputText value="#{leg.documento}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['repres.legales.telefono']}">
					<h:outputText value="#{leg.telefono}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['repres.legales.email']}">
					<h:outputText value="#{leg.email}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['repres.legales.direccion']}">
					<h:outputText value="#{leg.direccion}" />
				</sy:tableColumnCustom>

			</s:dataTable>
		</h:form>
	</sy:boxPage>
</f:view>
