<f:view xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:sy="http://www.synapsis.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html">
    <sy:boxPage title="#{MensajesComponentes_cns['consultaHistoricoPago.chequeTituloChequeDevuelto']}">
        <h:form>
            <sy:dataTable listBean="#{consultaChequeDevueltoBB}"
                metadata="#{chequeDevueltoMetaData}" resources="#{ClavesInducidas_cns}">
                <sy:tableColumn attribute="nroCheque" />
                <sy:tableColumn attribute="girador" />
                <sy:tableColumn attribute="valor" />
                <sy:tableColumn attribute="fechaDevolucion" />
                <sy:tableColumn attribute="causa" />
            </sy:dataTable>
        </h:form>
    </sy:boxPage>
</f:view>
