<f:view xmlns="http://www.w3.org/1999/xhtml"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:sy="http://www.synapsis.com/jsf/core"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:c="http://java.sun.com/jstl/core"
xmlns:s="http://www.synapsis-it.com/jsf/service"
xmlns:t="http://myfaces.apache.org/tomahawk"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:a4j="https://ajax4jsf.dev.java.net/ajax">

  <sy:boxPage title="#{MensajesComponentes_cns['consultaDetalleOtrosNegociosDatosServicio.titulo']}">
  <h:form id="consultaDetalleOtrosNegociosDatosServicioForm">
  <t:saveState value="#{consultaDetalleOtrosNegociosBB.nroServicio}" />
  
  			<s:service manager="#{serviceManager}"
				name="consultaDetalleOtrosNegociosDatosServicioService" method="findByCriteria"
				id="consultaDetalleOtrosNegociosDatosServicioService"  
  			    rows="1">		
			 <f:param name="nroServicio"
					value="#{consultaDetalleOtrosNegociosBB.nroServicio}" />	
  			 </s:service>  			    
			<s:unmarshall source="consultaDetalleOtrosNegociosDatosServicioService"
				var="datosServicio" />    
				
  
    	<sy:group title="">									
		<sy:panelGrid columns="2">
           <h:outputLabel value="#{MensajesComponentes_cns['consultaDetalleOtrosNegociosDatosServicio.outputs.nroServicio']}"/>   
           <h:inputText value="#{datosServicio.nroServicio}" />
	       <h:outputLabel value="#{MensajesComponentes_cns['consultaDetalleOtrosNegociosDatosServicio.outputs.valorOriginalServicio']}"/>   
	       <h:inputText value="#{datosServicio.valorOriginalServicio}" />    
	       <h:outputLabel value="#{MensajesComponentes_cns['consultaDetalleOtrosNegociosDatosServicio.outputs.nroCuotasOriginal']}"/>   
	       <h:inputText value="#{datosServicio.nroCuotasOriginal}" />    
	       <h:outputLabel value="#{MensajesComponentes_cns['consultaDetalleOtrosNegociosDatosServicio.outputs.tasaInteresOriginal']}"/>   
	       <h:inputText value="#{datosServicio.tasaInteresOriginal}" />    
	       <h:outputLabel value="#{MensajesComponentes_cns['consultaDetalleOtrosNegociosDatosServicio.outputs.valorCuotaMensual']}"/>   
	       <h:inputText value="#{datosServicio.valorCuotaMensual}" />    
	       <h:outputLabel value="#{MensajesComponentes_cns['consultaDetalleOtrosNegociosDatosServicio.outputs.nroCuotasFacturadas']}"/>   
	       <h:inputText value="#{datosServicio.nroCuotasFacturadas}" />    
	       <h:outputLabel value="#{MensajesComponentes_cns['consultaDetalleOtrosNegociosDatosServicio.outputs.nroCuotasFaltantes']}"/>   
	       <h:inputText value="#{datosServicio.nroCuotasFaltantes}" />    
	       <h:outputLabel value="#{MensajesComponentes_cns['consultaDetalleOtrosNegociosDatosServicio.outputs.tasaInteresActual']}"/>   
	       <h:inputText value="#{datosServicio.tasaInteresActual}" />    
	       <h:outputLabel value="#{MensajesComponentes_cns['consultaDetalleOtrosNegociosDatosServicio.outputs.saldoCapitalServicio']}"/>   
	       <h:inputText value="#{datosServicio.saldoCapitalServicio}" />    
    	   <h:outputLabel value="#{MensajesComponentes_cns['consultaDetalleOtrosNegociosDatosServicio.outputs.saldoInteresesCorrientes']}"/>   
	       <h:inputText value="#{datosServicio.saldoInteresesCorrientes}" />    
	       <h:outputLabel value="#{MensajesComponentes_cns['consultaDetalleOtrosNegociosDatosServicio.outputs.saldoInteresesMora']}"/>   
	       <h:inputText value="#{datosServicio.saldoInteresesMora}" />    
	       <h:outputLabel value="#{MensajesComponentes_cns['consultaDetalleOtrosNegociosDatosServicio.outputs.valorCapitalMora']}"/>   
	       <h:inputText value="#{datosServicio.valorCapitalMora}" />    
	       <h:outputLabel value="#{MensajesComponentes_cns['consultaDetalleOtrosNegociosDatosServicio.outputs.valorInteresCorrienteMora']}"/>   
	       <h:inputText value="#{datosServicio.valorInteresCorrienteMora}" />    
	       <h:outputLabel value="#{MensajesComponentes_cns['consultaDetalleOtrosNegociosDatosServicio.outputs.periodosAtrasados']}"/>   
	       <h:inputText value="#{datosServicio.periodosAtrasados}" />    
	       <h:outputLabel value="#{MensajesComponentes_cns['consultaDetalleOtrosNegociosDatosServicio.outputs.diasMora']}"/>   
	       <h:inputText value="#{datosServicio.diasMora}" />    
		</sy:panelGrid>
		</sy:group>	       

</h:form>
</sy:boxPage>
</f:view>
