<f:subview xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service">

	<sy:title value="#{MensajesComponentes_cns['consulta.convenio.titulo']}" />
	<c:errorHandler />
	<br />
	<s:service id="convenioService" manager="#{serviceManager}"
		name="convenioService" method="findByCriteria" fire="true">
		<f:param name="nroCuenta"
			value="#{numeroCuentaQueryFilter.attributeValue}" />
	</s:service>
	<s:dataTable source="convenioService" var="convenio">
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.convenio.nroConvenio']}">
			<h:outputText value="#{convenio.nroConvenio}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.convenio.estadoConvenio']}">
			<h:outputText value="#{convenio.estadoActual}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.convenio.fecCreacion']}">
			<h:outputText value="#{convenio.fechaCreacion}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.convenio.fecFinal']}">
			<h:outputText value="#{convenio.fechaFinalizacion}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.convenio.deudaInicial']}">
			<h:outputText value="#{convenio.deudaInicial}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.convenio.cantCuotas']}">
			<h:outputText value="#{convenio.cuotasOtorgadas}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.convenio.porcInteres']}">
			<h:outputText value="#{convenio.tasaInteresAplicada}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.convenio.cantCtasFact']}">
			<h:outputText value="#{convenio.cuotasFacturadas}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.convenio.cantCtasMora']}">
			<h:outputText value="#{convenio.cuotasPendientes}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.convenio.deudaActual']}">
			<h:outputText value="#{convenio.deudaActual}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.convenio.cuotaPactada']}">
			<h:outputText value="#{convenio.valorCuotaMensual}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.convenio.montoCondonado']}">
			<h:outputText value="#{convenio.montoCondonado}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.convenio.saldoConvenio']}">
			<h:outputText value="#{convenio.saldo}" />
		</sy:tableColumnCustom>
	</s:dataTable>

</f:subview>
