<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:core="http://java.sun.com/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:v="http://www.synapsis-it.com/jsf/validator"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour"
	xmlns:e="http://www.synapsis-it.com/jsf/core/ext">
	<sy:boxPage title="#{MensajesComponentes_cns['consulta.auditoria.titulo']}" useCaseMainPage="true">
		<h:form>
			<s:service id="consultaAuditoriaFacturacionServiceTable" manager="#{serviceManager}"
				name="consultaAuditoriaFacturacionService" method="findByCriteria" fire="false"
				binding="#{consultaAuditoriaBB.consultaAuditoriaFacturacionService}">
				<f:param name="nroCuenta"
					    value="#{consultaAuditoriaBB.nroCuenta}" />
				<f:param name="usuarioNombre"
						value="#{consultaAuditoriaBB.usuario}" />
				<f:param name="periodo"
						value="#{consultaAuditoriaBB.mesEmision}" />
			    <f:param name="nroServicio"
						value="#{consultaAuditoriaBB.nroServicio}" />
				<f:param name="nroFactura"
						value="#{consultaAuditoriaBB.nroFactura}" />
			</s:service>
			
			<s:unmarshall source="consultaAuditoriaFacturacionServiceTable"
			target="#{consultaAuditoriaBB.auditoria}" />
			
			<sy:group title="#{MensajesComponentes_cns['consulta.auditoria.tituloConsulta']}">
			  <sy:panelGrid columns="3">
				<h:outputLabel value="#{MensajesComponentes_cns['consulta.auditoria.nombre.usuario']}" />
				<h:inputText value="#{consultaAuditoriaBB.usuario}"/>
				<h:outputLabel value="#{MensajesComponentes_cns['consulta.auditoria.mesEmision']}" />
				<h:inputText value="#{consultaAuditoriaBB.mesEmision}"/>
			    <h:outputLabel value="#{MensajesComponentes_cns['consulta.auditoria.nroServicio']}" />
				<h:inputText value="#{consultaAuditoriaBB.nroServicio}"/>
			    <h:outputLabel value="#{MensajesComponentes_cns['consulta.auditoria.nroFactura']}" />
				<h:inputText value="#{consultaAuditoriaBB.nroFactura}"/>
			    <h:outputLabel value="#{MensajesComponentes_cns['consulta.auditoria.nroCuenta']}" />
				<h:inputText value="#{consultaAuditoriaBB.nroCuenta}"/>	
							
				<h:commandButton styleClass="botonConsulta" action="#{consultaAuditoriaBB.search}"
						label="Buscar" />
			  </sy:panelGrid>	
			</sy:group> 
			
			
			<c:dataTable value="#{consultaAuditoriaBB.auditoria}" var="aud"
				binding="#{consultaAuditoriaBB.dataTableAuditoria}">
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.auditoria.nroServicio']}">
					<h:outputText value="#{aud.nroServicio}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.auditoria.nroFactura']}">
					<h:outputText value="#{aud.nroFactura}" />
				</sy:tableColumnCustom>	
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.auditoria.cantCopias']}">
					<h:outputText value="#{aud.cantCopias}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.auditoria.nombre.usuario']}">
					<h:outputText value="#{aud.usuarioNombre}" />
				</sy:tableColumnCustom>				
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.auditoria.fecha']}">
					<h:outputText value="#{aud.fecha}"/>
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.auditoria.nroCuenta']}">
					<h:outputText value="#{aud.nroCuenta}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.auditoria.motivo']}">
					<h:outputText value="#{aud.motivo.descripcion}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.auditoria.observacion']}">
					<h:outputText value="#{aud.observacion}" />
				</sy:tableColumnCustom>
			</c:dataTable>
		</h:form>
	</sy:boxPage>
</f:view>
