<sy:dataTable xmlns="http://www.w3.org/1999/xhtml"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:f="http://java.sun.com/jsf/core"
	listBean="#{detalleConsultaRefacturacionesAjustesBB.multiList.data['detalleConsultaRefacturacionesAjustesUsuarios']}"
	metadata="#{detalleConsultaRefacturacionesAjustesUsuariosMetaData}" resources="#{ClavesInducidas_cns}">
	<sy:tableColumn attribute="usuarios" />
	<sy:tableColumn attribute="nombreUsuarios" />
	<sy:tableColumn attribute="fechaIntervencion" />
	<sy:tableColumn attribute="accionEjecutada" />
	<sy:tableColumn attribute="tiemposIntervUsuarios" />
</sy:dataTable>
