<f:subview xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service">

	<sy:title title="#{MensajesComponentes_cns['consulta.refact.titulo']}" />
	<br />

	<s:service id="servicioFinancieroCodensaHogarWithValidationService"
		manager="#{serviceManager}"
		name="servicioFinancieroCodensaHogarWithValidationService" method="findByCriteria"
		fire="true">
		<f:param name="nroCuenta"
			value="#{consultaHistoricaDeDeudaBB.numeroCuentaQueryFilter}" />				
	</s:service>
	<s:dataTable source="servicioFinancieroCodensaHogarWithValidationService" var="refa">
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.serv.financieros.docTitular']}">
			<h:outputText value="#{refa.docTitular}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.serv.financieros.nomTitular']}">
			<h:outputText value="#{refa.nomTitular}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.serv.financieros.nroServicio']}">
			<h:outputText value="#{refa.nroServicio}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.serv.financieros.lineaNegocio']}">
			<h:outputText value="#{refa.lineaNegocio}" />
		</sy:tableColumnCustom>		
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.serv.financieros.estado']}">
			<h:outputText value="#{refa.estado}" />
		</sy:tableColumnCustom>

		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.serv.financieros.fechaActivProd']}">
			<h:outputText value="#{refa.fechaActivProd}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.serv.financieros.fechaDesactProd']}">
			<h:outputText value="#{refa.fechaDesactProd}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.serv.financieros.valorOrigSrv']}">
			<h:outputText value="#{refa.valorOrigSrv}"/>			
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.serv.financieros.nroCuotasOri']}">
			<h:outputText value="#{refa.nroCuotasOri}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.serv.financieros.tasaInteres']}">
			<h:outputText value="#{refa.tasaInteres}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.serv.financieros.nroCuotasFac']}">
			<h:outputText value="#{refa.nroCuotasFac}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.serv.financieros.nroCuotasFaltantes']}">
			<h:outputText value="#{refa.nroCuotasFaltantes}" />
		</sy:tableColumnCustom>
<!-- pendiente definir  -->
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.serv.financieros.deuda.actual']}">
			<h:outputText value="#{refa.deudaActual}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.serv.financieros.deudaCapital']}">
			<h:outputText value="#{refa.deudaCapital}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.serv.financieros.deudaInteres']}">
			<h:outputText value="#{refa.deudaInteres}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.serv.financieros.valorCuota']}">
			<h:outputText value="#{refa.valorCuota}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.serv.financieros.saldoCapital']}">
			<h:outputText value="#{refa.saldoCapital}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.serv.financieros.saldoIntereses']}">
			<h:outputText value="#{refa.saldoIntereses}" />
		</sy:tableColumnCustom>

		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.serv.financieros.saldoIntMora']}">
			<h:outputText value="#{refa.saldoIntMora}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.serv.financieros.periodAtrasado']}">
			<h:outputText value="#{refa.periodAtrasado}" />
		</sy:tableColumnCustom>
	</s:dataTable>
</f:subview>
