<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
    xmlns:t="http://myfaces.apache.org/tomahawk"
    xmlns:c="http://www.synapsis-it.com/jsf/core">
    
    <sy:boxPage title="#{MensajesComponentes_cns['ordenes.title']}" bundle="#{MensajesComponentes_cns}">
        <h:form id="ordenesForm">
        	<t:saveState value="#{consultaOrdenesBB.items2}" />
        	<t:saveState value="#{consultaOrdenesBB.items3}" />
        	<!-- error handler para manejar los errores de las rules 
		TODO: [emiliano] subir ... -->
			<c:errorHandler />
        
            <sy:filters actionBean="#{consultaOrdenesBB}" action="ordenesQueryFilter"> 
                <h:outputLabel value="#{MensajesComponentes_cns['ordenes.tipo.orden']}"
                    styleClass="label" />   
                <h:selectOneMenu id="comboOrdenes"
                    value="#{consultaOrdenesQueryFilter3.attributeValue}"
                    styleClass="edit">
                    <f:selectItems value="#{consultaOrdenesBB.items2}" />
                    <a4j:support event="onchange" ajaxSingle="true"
	                    reRender="comboEstadoOrden" action="#{consultaOrdenesBB.fillEstadosOrdenes}">
	                    <f:setPropertyActionListener  
								target="#{consultaOrdenesQueryFilterToEstadoChild.attributeValue}"
								value="#{consultaOrdenesQueryFilter3.attributeValue}" />
					</a4j:support>
                </h:selectOneMenu>
                
              
                <h:outputLabel value="#{MensajesComponentes_cns['ordenes.numero.orden']}"
                    styleClass="label" />
                <h:inputText value="#{consultaOrdenesQueryFilter4.attributeValue}"
                    styleClass="edit" onkeypress="keyPressNumber(false, event);"/>
                
            </sy:filters>
            <sy:dataTable listBean="#{consultaOrdenesBB}" metadata="#{consultaOrdenesMetadata}"
                resources="#{ClavesInducidas_cns}" tableId="ordenesTable">
                <sy:tableColumn attribute="tipoOrden" />
                <sy:tableColumn attribute="numeroOrden" />
                <sy:tableColumn attribute="tipoServicio" />
                <sy:tableColumn attribute="numeroServicio" />
                <sy:tableColumn attribute="estadoOrden" />
                <sy:tableColumnCustom header="#{ClavesInducidas_cns['com.synapsis.cns.codensa.model.impl.ConsultaOrdenesImpl.fechaGeneracion']}">
                		<h:outputText value="#{rowVar.fechaGeneracion}">
                			<f:converter converterId="com.synapsis.components.DateTimeConverterRaw" />
                		</h:outputText>
                </sy:tableColumnCustom>
                <sy:tableColumnCustom header="#{ClavesInducidas_cns['com.synapsis.cns.codensa.model.impl.ConsultaOrdenesImpl.fechaFinalizacion']}">
                		<h:outputText value="#{rowVar.fechaFinalizacion}">
                			<f:converter converterId="com.synapsis.components.DateTimeConverterRaw" />
                		</h:outputText>
                </sy:tableColumnCustom>
                
                <sy:tableColumn attribute="diasHabilesDif" />
                <sy:tableColumn attribute="fechaVencimientoLegal" />
                <sy:tableColumn attribute="fechaVencimientoInterna" />
                <sy:tableColumnLinkPopup
                    header="#{MensajesComponentes_cns['ordenes.tabla.observaciones']}"
                    label="#{MensajesComponentes_cns['ordenes.tabla.observaciones.link']}"
                    outcome="observaciones">
                    <f:setPropertyActionListener target="#{detailBB.detail}"
                        value="#{rowVar.observaciones}" />
                </sy:tableColumnLinkPopup>
                <sy:tableColumn attribute="usuarioGenerador" />
                <sy:tableColumn attribute="nombreUsuarioGenerador" />
                <sy:tableColumn attribute="usuarioFinalizador" />
                <sy:tableColumn attribute="nombreUsuarioFinalizador" />
                <sy:tableColumn attribute="areaResponsable" />
            </sy:dataTable>


        </h:form>
    </sy:boxPage>
</f:view>
