<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:c="http://www.synapsis-it.com/jsf/core">

	<sy:boxPage
		title="#{MensajesComponentes_cns['consulta.historico.calidad.titulo']}" nroCuentaHeader="disable" 
		useCaseMainPage="true">
		<h:form id="consultaHistoricoCalidadForm">

			<s:service manager="#{serviceManager}"
				name="consultaHistoricoCalidadListService" method="findByCriteria"
				id="consultaHistoricoCalidadListService" rows="100"
				binding="#{consultaHistoricoCalidadBB.findHistoricoCalidadByCriteriaService}"
				fire="false">
				<f:param name="nroTransformador"
					value="#{consultaHistoricoCalidadBB.nroTransformador}" />
				<f:param name="fechaIncidencia"
					value="#{consultaHistoricoCalidadBB.fechaIncidenciaSinHora}" />
			</s:service>

			<c:errorHandler />
			
			<h:outputLabel
				value="#{MensajesComponentes_cns['consulta.historico.calidad.nroTransformador']}" />
			<h:inputText value="#{consultaHistoricoCalidadBB.nroTransformador}" />
			<br />
			<h:outputLabel
				value="#{MensajesComponentes_cns['consulta.historico.calidad.filtro.fechaIncidencia']}" />
				
			<sy:calendar id="fechaIncidencia"
				selectedDate="#{consultaHistoricoCalidadBB.fechaIncidencia}">
				<f:convertDateTime type="both" pattern="dd/MM/yyyy"/>
			</sy:calendar>
			
			<sy:filters actionBean="#{consultaHistoricoCalidadBB}"
				action="search">
			</sy:filters>

			<s:dataTable source="consultaHistoricoCalidadListService"
				var="historicoCalidad"
				binding="#{consultaHistoricoCalidadBB.dataTableHistoricoCalidad}">
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.historico.calidad.idCalidadIndiv']}">
					<h:outputText value="#{historicoCalidad.idCalidadIndiv}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.historico.calidad.nroTransformador']}">
					<h:outputText value="#{historicoCalidad.nroTransformador}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.historico.calidad.referencia']}">
					<h:outputText value="#{historicoCalidad.referencia}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.historico.calidad.fechaIncidencia']}">
					<h:outputText value="#{historicoCalidad.fechaIncidencia}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.historico.calidad.duracion']}">
					<h:outputText value="#{historicoCalidad.duracion}" />
				</sy:tableColumnCustom>
			</s:dataTable>
		</h:form>
	</sy:boxPage>
</f:view>
