<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core">
	<sy:boxPage title="#{MensajesComponentes_cns['consultaConvenioDetalleDeudaActualBB.tabla']}"
		bundle="#{MensajesComponentes_cns}">
		<h:form>
			<sy:dataTable listBean="#{consultaConvenioDetalleDeudaActualBB}"
				metadata="#{consultaConvenioDetalleMetadata}" resources="#{ClavesInducidas_cns}">
				<sy:tableColumn attribute="codCargo" />
				<sy:tableColumn attribute="descripcionCargo" />
				<sy:tableColumn attribute="periodoFacturacionCargo" />
				<sy:tableColumn attribute="antiguedadCargo" />
				
				<sy:tableColumn attribute="valorCargo" />
				<sy:tableColumn attribute="tipoDocumento" />
				<sy:tableColumn attribute="fechaDocumento" />
				<sy:tableColumn attribute="numDocumento" />
				<sy:tableColumn attribute="fechaFactura" />
				
			</sy:dataTable>
		</h:form>
	</sy:boxPage>
</f:view>
