<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:s="http://www.synapsis-it.com/jsf/service">
	<sy:boxPage title="">
		<h:form id="consultaExpedientesInspeccionForm">
			<s:service id="consultaExpedientesInspeccionService"
				manager="#{serviceManager}" name="consultaExpedientesInspeccionService"
				method="findByCriteria" fire="true">
				<f:param name="numeroExpediente"
					value="#{numeroExpediente}" />
			</s:service>
			<sy:title
				value="#{MensajesComponentes_cns['consultaExpedientesInspeccionBB.tabla.title']}" />
			<s:dataTable source="consultaExpedientesInspeccionService" var="inspeccion">
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaExpedientesInspeccionBB.tabla.inspecciones.numeroOrdenInspeccion']}">
					<h:outputText value="#{inspeccion.numeroOrdenInspeccion}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaExpedientesInspeccionBB.tabla.inspecciones.fechaDeteccion']}">
					<h:outputText value="#{inspeccion.fechaDeteccion}" />
				</sy:tableColumnCustom>
				<sy:tableColumnLinkPopup
					header="#{MensajesComponentes_cns['consultaExpedientesInspeccionBB.tabla.inspecciones.anomaliasEncontradas']}"
					label="#{MensajesComponentes_cns['consultaExpedientesInspeccionBB.tabla.inspecciones.anomaliasEncontradas.detalle']}"
					 outcome="anomaliasencontradas">
				<f:setPropertyActionListener target="#{numeroOrdenInspeccion}"
						value="#{inspecccion.numeroOrdenInspeccion}" />
				</sy:tableColumnLinkPopup>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaExpedientesInspeccionBB.tabla.inspecciones.nombreApellidoVisita']}">
					<h:outputText value="#{inspeccion.nombreApellidoVisita}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaExpedientesInspeccionBB.tabla.inspecciones.tipoDocumentoVisita']}">
					<h:outputText value="#{inspeccion.tipoDocumentoVisita}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaExpedientesInspeccionBB.tabla.inspecciones.numeroDocumentoVisita']}">
					<h:outputText value="#{inspeccion.numeroDocumentoVisita}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaExpedientesInspeccionBB.tabla.inspecciones.calidadVisita']}">
					<h:outputText value="#{inspeccion.calidadVisita}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaExpedientesInspeccionBB.tabla.inspecciones.observaciones']}">
					<h:outputText value="#{inspeccion.observaciones}" />
				</sy:tableColumnCustom>
			</s:dataTable>
		</h:form>
	</sy:boxPage>
</f:view>
