<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	
	<sy:boxPage title="#{MensajesComponentes_cns['consultaRefacturaciones.titulo']}">
		<h:form>
			<sy:panelTabbedPane>
				<sy:panelTab
					label="#{MensajesComponentes_cns['consultaRefacturaciones.detalle.refacturaciones.titulo.tab']}">
					<ui:include src="consultaRefacturacionAjuste.xhtml" />
				</sy:panelTab>
				<sy:panelTab
					label="#{MensajesComponentes_cns['consultaRefacturaciones.detalle.congelaciones.titulo.tab']}">
					<ui:include src="consultaRefacturacionCongelacion.xhtml" />
				</sy:panelTab>
			</sy:panelTabbedPane>
		</h:form>
	</sy:boxPage>
</f:view>









