<f:subview xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:f="http://java.sun.com/jsf/core">

	<h:outputLabel
		value="#{MensajesComponentes_cns['consultaLecturaConsumo.auditoria.sucursal']}"
		for="inputNombreSolicitante" />
	<h:inputText value="#{consultaLecturaConsumoBB.businessObject1.sucursal}" id="fechaHora" disabled="true">
	</h:inputText>

	<h:outputLabel
		value="#{MensajesComponentes_cns['consultaLecturaConsumo.auditoria.ciclo']}"
		for="inputNombreSolicitante" />
	<h:inputText value="#{consultaLecturaConsumoBB.businessObject1.ciclo}" id="fechaHora" disabled="true">
	</h:inputText>

	<h:outputLabel
		value="#{MensajesComponentes_cns['consultaLecturaConsumo.auditoria.sucursal.zona.o.grupo']}"
		for="inputNombreSolicitante" />
	<h:inputText value="#{consultaLecturaConsumoBB.businessObject1.zona}" id="fechaHora" disabled="true">
	</h:inputText>

	<sy:dataTable
		listBean="#{consultaLecturaConsumoBB.multiList.data['consultaLecturaConsumoAuditoria']}"
		metadata="#{consultaLecturaConsumoAuditoriaMetaData}" resources="#{ClavesInducidas_cns}" tableId="table3">
		<sy:tableColumn attribute="fechaLecturaAnterior" />
		<sy:tableColumn attribute="fechaLecturaActual" />
		<sy:tableColumn attribute="fechaHoraAnalisisLectura" />
		<sy:tableColumn attribute="usuarioRealizaLectura" />
		<sy:tableColumn attribute="tipoLecturaInicial" />
		<sy:tableColumn attribute="anomaliaLecturaInicial" />
		<sy:tableColumn attribute="lecturaActivaOriginalFP" />
		<sy:tableColumn attribute="lecturaActivaOriginalHP" />
		<sy:tableColumn attribute="lecturaActivaOriginalXP" />
		<sy:tableColumn attribute="lecturaReactivaOriginalFP" />
		<sy:tableColumn attribute="lecturaReactivaOriginalHP" />
		<sy:tableColumn attribute="lecturaReactivaOriginalXP" />
		<sy:tableColumn attribute="tipoLecturaFinal" />
		<sy:tableColumn attribute="anomaliaLecturaFinal" />
		<sy:tableColumn attribute="lecturaActivaModificadaFP" />
		<sy:tableColumn attribute="lecturaActivaModificadaHP" />
		<sy:tableColumn attribute="lecturaActivaModificadaXP" />
		<sy:tableColumn attribute="lecturaReactivaModificadaFP" />
		<sy:tableColumn attribute="lecturaReactivaModificadaHP" />
		<sy:tableColumn attribute="lecturaReactivaModificadaXP" />
		<sy:tableColumn attribute="numeroMedidor" />
		<sy:tableColumn attribute="marcaMedidor" />
		<sy:tableColumn attribute="direccionIP" />
		<sy:tableColumnLinkPopup
			header="#{MensajesComponentes_cns['consultaLecturaConsumo.auditoria.consumo.detalle']}"
			label="#{MensajesComponentes_cns['consultaLecturaConsumo.auditoria.detalle.consumo']}"
			outcome="detalleAuditoria">
			<f:setPropertyActionListener
				target="#{detalleLecturaConsumoAuditoriaQueryFilter.attributeValue}"
				value="#{rowVar.id}" />
		</sy:tableColumnLinkPopup>
		<sy:tableColumnLinkPopup
			header="#{MensajesComponentes_cns['consultaLecturaConsumo.auditoria.observaciones']}"
			label="#{MensajesComponentes_cns['consultaLecturaConsumo.auditoria.observaciones']}"
			outcome="observaciones">
			<f:setPropertyActionListener target="#{detailBB.detail}"
				value="#{rowVar.observaciones}" />
		</sy:tableColumnLinkPopup>

	</sy:dataTable>

</f:subview>
