<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core">
	<sy:boxPage title="Traslado de Convenio">
		<h:form>
			<sy:group title="" columns="2">
				<h:outputLabel
					value="#{MensajesComponentes_cns['consultaConvenioTrasladoBB.tabla.numero.convenio']}"
					for="inputConvenio" />
				<h:inputText value="#{trasladoConvenioBB.businessObject.nroConvenio}" id="inputConvenio" disabled="true">
				</h:inputText>
			</sy:group>

			<sy:group title="">
				<sy:panelGrid columns="2">
					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaConvenioTrasladoBB.tabla.tipo.convenio.anterior']}"
						for="idTipoConvenio" />
					<h:inputText
						value="#{trasladoConvenioBB.businessObject.tipoConvenioAnterior}"
						id="idTipoConvenio" disabled="true" />
					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaConvenioTrasladoBB.tabla.numero.cuenta.anterior']}"
						for="idCuentaAnterior" />
					<h:inputText
						value="#{trasladoConvenioBB.businessObject.nroCuentaAnterior}"
						id="idCuentaAnterior" disabled="true" />
					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaConvenioTrasladoBB.tabla.fecha.traslado']}"
						for="idFechaTraslado" />
					<h:inputText
						value="#{trasladoConvenioBB.businessObject.fechaTraslado}"
						id="idFechaTraslado" disabled="true" />
					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaConvenioTrasladoBB.tabla.saldo.trasladado']}"
						for="idSaldoTraslado" />
					<h:inputText
						value="#{trasladoConvenioBB.businessObject.saldoTraslado}"
						id="idSaldoTraslado" disabled="true" />

					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaConvenioTrasladoBB.tabla.usuario.ejecuto.traslado']}"
						for="idUsuarioEjecutoTras" />
					<h:inputText
						value="#{trasladoConvenioBB.businessObject.usuarioTraslado}"
						id="idUsuarioEjecutoTras" disabled="true" />
					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaConvenioTrasladoBB.tabla.nombre.usuario.ejecuto.traslado']}"
						for="idNombreUsuario" />
					<h:inputText
						value="#{trasladoConvenioBB.businessObject.nombreUsuarioTraslado}"
						id="idNombreUsuario" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consultaConvenioTrasladoBB.tabla.observaciones']}"
					for="idObservaciones" />
				<h:inputTextarea
					value="#{trasladoConvenioBB.businessObject.observaciones}"
					id="idObservaciones" disabled="true">
				</h:inputTextarea>

				</sy:panelGrid>
			</sy:group>
		</h:form>
	</sy:boxPage>
</f:view>
