<f:view xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:sy="http://www.synapsis.com/jsf/core"
    xmlns:t="http://myfaces.apache.org/tomahawk"
    xmlns:sv="http://shale.apache.org/validator">
    <sy:boxPage title="Estados del Servicio">
 		<sy:dataTable tableId="historiaEstadoTable" listBean="#{consultaHistoriaEstadosConvenioBB}" resources="#{ClavesInducidas_cns}">
		    	<sy:tableColumn attribute="nroIdentificacionSolicitantecredito" />
				<sy:tableColumn attribute="lineaNegocioPerteneciente" />
				<sy:tableColumn attribute="fechaActivacionServicio" />	
				<sy:tableColumn attribute="valorOriginalServicio" />
				<sy:tableColumn attribute="saldoServicio" />
            </sy:dataTable>   
    </sy:boxPage>
</f:view>