<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:v="http://www.synapsis-it.com/jsf/validator"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour"
	xmlns:ex="http://www.synapsis-it.com/jsf/core/ext"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
	xmlns:e="http://www.synapsis-it.com/jsf/core/ext">

	<sy:boxPage
		title="#{MensajesComponentes_cns['consulta.convenio.estado.titulo']}"
		close="true">
		<h:form>
			<t:saveState value="#{consultaConvenioEstadosHogarBB.nroServicio}"/>
			<s:service id="solicitanteService" manager="#{serviceManager}"
				name="solicitanteService" method="findByCriteriaUnique" fire="true">
				<f:param name="nroServicio"
					value="#{consultaConvenioEstadosHogarBB.nroServicio}" />
			</s:service>
			<s:unmarshall source="solicitanteService" var="det" />

			<s:service id="datosGeneralesService" manager="#{serviceManager}"
				name="datosGeneralesService" method="findByCriteriaUnique"
				fire="true">
				<f:param name="nroServicio"
					value="#{consultaConvenioEstadosHogarBB.nroServicio}" />
			</s:service>
			<s:unmarshall source="datosGeneralesService" var="gen" />

			<sy:title
				value="#{MensajesComponentes_cns['consulta.convenio.estado.datos.generales']}" />
			<br />
			<sy:panelGrid columns="2">
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.convenio.datos.solicitante.nroServicio']}" />
				<h:inputText value="#{det.nroServicio}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.convenio.datos.solicitante.nombreSolicitante']}" />
				<h:inputText value="#{det.nombreSolicitante}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.convenio.datos.solicitante.nroSolicitante']}" />
				<h:inputText value="#{det.nroSolicitante}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.convenio.datos.solicitante.montoAprobado']}" />
				<h:inputText value="#{det.montoAprobado}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.convenio.datos.solicitante.montoDisponible']}" />
				<h:inputText value="#{det.montoDisponible}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.convenio.datos.solicitante.causalNegacion']}" />
				<h:inputText value="#{det.causalNegacion}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.convenio.datos.solicitante.estrato']}" />
				<h:inputText value="#{det.estrato}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.convenio.datos.solicitante.cicloFacturacion']}" />
				<h:inputText value="#{det.cicloFacturacion}" disabled="true" />
			</sy:panelGrid>


			<br />
			<sy:title
				value="#{MensajesComponentes_cns['consulta.convenio.estado.datos.servicio.titulo']}" />
			<br />
			<sy:panelGrid columns="3">
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.convenio.datos.generales.lineaNegocio']}" />
				<h:inputText value="#{gen.lineaNegocio}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.convenio.datos.generales.tipoProducto']}" />
				<h:inputText value="#{gen.tipoProducto}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.convenio.datos.generales.marcaProducto']}" />
				<h:inputText value="#{gen.marcaProducto}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.convenio.datos.generales.fechaCompra']}" />
				<h:inputText value="#{gen.fechaCompra}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.convenio.datos.generales.valorServicio']}" />
				<h:inputText value="#{gen.valorServicio}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.convenio.datos.generales.socioNegocio']}" />
				<h:inputText value="#{gen.socioNegocio}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.convenio.datos.generales.sucursalSocio']}" />
				<h:inputText value="#{gen.sucursalSocio}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.convenio.datos.generales.nroCuotas']}" />
				<h:inputText value="#{gen.nroCuotas}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.convenio.datos.generales.cantCuotFact']}" />
				<h:inputText value="#{gen.cantCuotFact}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.convenio.datos.generales.cantCuotRestantes']}" />
				<h:inputText value="#{gen.cantCuotRestantes}" disabled="true" />				
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.convenio.datos.generales.tasaIntOrigen']}" />
				<h:inputText value="#{gen.tasaIntOrigen}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.convenio.datos.generales.tasaIntActual']}" />
				<h:inputText value="#{gen.tasaIntActual}" disabled="true" />				
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.convenio.datos.generales.saldoCapital']}" />
				<h:inputText value="#{gen.saldoCapital}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.convenio.datos.generales.saldoIntCorriente']}" />
				<h:inputText value="#{gen.saldoIntCorriente}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.convenio.datos.generales.saldoIntMora']}" />
				<h:inputText value="#{gen.saldoIntMora}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.convenio.datos.generales.periodosAtrasados']}" />
				<h:inputText value="#{gen.periodosAtrasados}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.convenio.datos.generales.diasEnMora']}" />
				<h:inputText value="#{gen.diasEnMora}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.convenio.datos.generales.valCapitalMora']}" />
				<h:inputText value="#{gen.valCapitalMora}" disabled="true" />
				<h:outputLabel
					value="#{MensajesComponentes_cns['consulta.convenio.datos.generales.valInteresMora']}" />
				<h:inputText value="#{gen.valInteresMora}" disabled="true" />
			</sy:panelGrid>
			<br />
			<sy:popup
				label="#{MensajesComponentes_cns['consulta.convenio.datos.generales.boton']}"
				outcome="botonEstados" button="true">
			</sy:popup>

		</h:form>
	</sy:boxPage>
</f:view>
