<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
	xmlns:core="http://www.synapsis-it.com/jsf/core">
	<sy:boxPage title="#{MensajesComponentes_cns['consulta.expedientes.titulo']}"
		close="true">
		<h:form>
			<s:service id="consultaExpedientesService"
				manager="#{serviceManager}" name="consultaExpedientesService"
				method="findByCriteria" fire="true">
                    <f:param name="nroCuenta"
						value="#{consultaExpedientesBB.numeroCuentaQueryFilter}" />				
			</s:service>
			<s:dataTable source="consultaExpedientesService" var="exp">
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.expedientes.nroExpediente']}">
					<h:outputText value="#{exp.nroExpediente}" />
				</sy:tableColumnCustom>

				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.expedientes.tipoExpediente']}">
					<h:outputText value="#{exp.tipoExpediente}" />
				</sy:tableColumnCustom>

				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.expedientes.estadoExpediente']}">
					<h:outputText value="#{exp.estadoExpediente}" />
				</sy:tableColumnCustom>

				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.expedientes.buzonExpediente']}">
					<h:outputText value="#{exp.buzonExpediente}" />
				</sy:tableColumnCustom>

                <sy:tableColumnLinkPopup
                    header="#{MensajesComponentes_cns['consulta.expedientes.datos.inspeccion']}"
                    label="#{MensajesComponentes_cns['consulta.expedientes.detalle']}" outcome="datosInspeccion">
                    <f:setPropertyActionListener target="#{numeroExpediente}"
						value="#{exp.nroExpediente}" />
                </sy:tableColumnLinkPopup>

				<sy:tableColumnCustom
                    header="#{MensajesComponentes_cns['consulta.expedientes.evaluacion.laboratorio']}">
					<core:popup>
						<h:commandLink action="evaluacionLaboratorio"
		                    value="#{MensajesComponentes_cns['consulta.expedientes.detalle']}">
							<f:setPropertyActionListener target="#{consultaExpedientesBB.nroExpediente}"
								value="#{exp.nroExpediente}" />
						</h:commandLink>	
					</core:popup>
				</sy:tableColumnCustom>                

               <sy:tableColumnLinkPopup
                    header="#{MensajesComponentes_cns['consulta.expedientes.informacion.radicaciones']}"
                    label="#{MensajesComponentes_cns['consulta.expedientes.informacion.radicaciones.link']}" outcome="informacionRadicaciones">
                </sy:tableColumnLinkPopup>

                <sy:tableColumnLinkPopup
                    header="#{MensajesComponentes_cns['consulta.expedientes.actas.transaccion']}"
                    label="#{MensajesComponentes_cns['consulta.expedientes.actas.transaccion.link']}" outcome="actasTransaccion">
                </sy:tableColumnLinkPopup>
             
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.expedientes.envio.radicaciones']}">
					<core:popup>
						<h:commandLink action="envioRadicacionSSPD"
							value="#{MensajesComponentes_cns['consulta.expedientes.envio.radicaciones.link']}" immediate="true">
							<f:setPropertyActionListener target="#{consultaExpedientesBB.nroExpediente}"
								value="#{exp.nroExpediente}" />
						</h:commandLink>	
					</core:popup>
				</sy:tableColumnCustom>                

				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.expedientes.metodoLiquidacion']}">
					<h:outputText value="#{exp.metodoLiquidacion}" />
				</sy:tableColumnCustom>
				
                <sy:tableColumnLinkPopup
                    header="#{MensajesComponentes_cns['consulta.expedientes.kilowatios']}"
                    label="#{MensajesComponentes_cns['consulta.expedientes.kilowatios.detalle']}" 
                    outcome="kilowatios">
					<f:setPropertyActionListener target="#{consultaExpedientesBB.nroExpediente}"
						value="#{exp.nroExpediente}" />
                </sy:tableColumnLinkPopup>
                
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.expedientes.diasPermanencia']}">
					<h:outputText value="#{exp.diasPermanencia}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.expedientes.infoSancion']}">
					<h:outputText value="#{exp.infoSancion}" />
				</sy:tableColumnCustom>

                <sy:tableColumnLinkPopup
                    header="#{MensajesComponentes_cns['consulta.expedientes.totalLiquidado']}"
                    label="#{MensajesComponentes_cns['consulta.expedientes.detalle']}" outcome="valorCobroLiquidacion">
<!-- 
	LA VISTA NO TRAE UN VALOR, POR LO QUE PONGO UN TEXTO CUALQUIERA PARA QUE APAREZCA EL ENLACE
                    label="#{exp.totalLiquidado}" outcome="valorCobroLiquidacion">
 -->
                </sy:tableColumnLinkPopup>

				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.expedientes.estadoLiquidacion']}">
					<h:outputText value="#{exp.estadoLiquidacion}" />
				</sy:tableColumnCustom>

                <sy:tableColumnLinkPopup
                    header="#{MensajesComponentes_cns['consulta.expedientes.obsLiquidacion']}"
                    label="#{MensajesComponentes_cns['consulta.expedientes.detalle']}" outcome="observacionesLiquidacion">
					<f:setPropertyActionListener target="#{obsLiquidacion}"
						value="#{exp.obsLiquidacion}" />
                </sy:tableColumnLinkPopup>
 			</s:dataTable>
		</h:form>
	</sy:boxPage>
</f:view>
