<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:v="http://www.synapsis-it.com/jsf/validator"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour"
	xmlns:ex="http://www.synapsis-it.com/jsf/core/ext"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax">
    <sy:boxPage title="#{MensajesComponentes_cns['tipo.medida.medidor']}">
		<h:form>
			<s:service id="detalleTipoMedidasMedidor" manager="#{serviceManager}"
				name="detalleTipoMedidasMedidorService" method="findByCriteria">
				<f:param name="idComponente"
					value="#{consultaMedidoresBB.nroComponente}" />
			</s:service>
			<s:dataTable source="detalleTipoMedidasMedidor" var="valor">
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['tipo.medida']}">
					<h:outputText value="#{valor.tipoMedida}" />
				</sy:tableColumnCustom>
	
			</s:dataTable>
		</h:form>
	</sy:boxPage>
</f:view>


