<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core">
	<sy:boxPage title="">
		<h:form>
			<sy:title
				value="#{MensajesComponentes_cns['consultaExpedientesObservacionesLiquidacionBB.tabla.title']}" />
				<h:inputTextarea value="#{obsLiquidacion}" disabled="true"
				         rows="2" cols="80">
				</h:inputTextarea>
		</h:form>
	</sy:boxPage>
</f:view>
