<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<sy:boxPage title="#{MensajesComponentes_cns['consultaRefacturaciones.titulo']}">
		<h:form>

	<sy:title
		value="#{MensajesComponentes_cns['consultaRefacturaciones.detalle.refacturaciones.items.detalle']}" />	

<sy:dataTable 
	listBean="#{detalleConsultaRefacturacionesAjustesBB.multiList.data['consultaItemsDisposicionLegalDetail']}"
	metadata="#{consultaItemsDisposicionLegalDetailMetaData}" resources="#{ClavesInducidas_cns}">	
	<sy:tableColumn attribute="codigoItem" />		
	<sy:tableColumn attribute="descItem" />	
	<sy:tableColumn attribute="cargoDispLegal" />
	<sy:tableColumn attribute="fecPeriodo"/>	
	<sy:tableColumn attribute="valorBeforeAjuste" />	
	<sy:tableColumn attribute="valorAfterAjuste" />	
	<sy:tableColumn attribute="valorAjuste" />	
	<sy:tableColumn attribute="consumoKW" />		
</sy:dataTable>

		</h:form>
	</sy:boxPage>
</f:view>
