<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:core="http://java.sun.com/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:v="http://www.synapsis-it.com/jsf/validator"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour"
	xmlns:e="http://www.synapsis-it.com/jsf/core/ext">

	<sy:boxPage
		title="#{MensajesComponentes_cns['consultaOrdenesCorteReposicionDesmantelamientoVerificacion.titulo']}">
		<h:form>

			<!-- error handler para manejar los errores de las rules 
		TODO: [emiliano] subir ... -->
			<c:errorHandler />
			<!-- Service para realizar la busqueda en la TABLA posterior al seteo de los filtros -->
			<s:service id="orden" manager="#{serviceManager}"
				name="ordenCorteService" method="findByCriteria" fire="true">
				<f:param name="nroCuenta"
					value="#{numeroCuentaQueryFilter.attributeValue}" />
			</s:service>
			<br />
			<sy:title
				value="#{MensajesComponentes_cns['consultaOrdenesCorteReposicionDesmantelamientoVerificacion.resultados']}" />
			<!-- tabla donde se dibuja los resultados de la busqueda -->

			<s:dataTable source="orden" var="ord">
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaOrdenesCorteReposicionDesmantelamientoVerificacion.nroOrden']}">
					<h:outputText value="#{ord.nroOrden}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaOrdenesCorteReposicionDesmantelamientoVerificacion.tipo']}">
					<h:outputText value="#{ord.tipo}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaOrdenesCorteReposicionDesmantelamientoVerificacion.subtipo']}">
					<h:outputText value="#{ord.subtipo}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaOrdenesCorteReposicionDesmantelamientoVerificacion.fechaVigencia']}">
					<h:outputText value="#{ord.fechaVigencia}" >
						<f:convertDateTime type="both" />
					</h:outputText>
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaOrdenesCorteReposicionDesmantelamientoVerificacion.fechaEmision']}">
					<h:outputText value="#{ord.fechaEmision}" >
						<f:convertDateTime type="both" />
					</h:outputText>
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaOrdenesCorteReposicionDesmantelamientoVerificacion.usuarioCreador']}">
					<h:outputText value="#{ord.usuarioCreador}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaOrdenesCorteReposicionDesmantelamientoVerificacion.sitEncontrada1']}">
					<h:outputText value="#{ord.sitEncontrada1}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaOrdenesCorteReposicionDesmantelamientoVerificacion.sitEncontrada2']}">
					<h:outputText value="#{ord.sitEncontrada2}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaOrdenesCorteReposicionDesmantelamientoVerificacion.accRealizada']}">
					<h:outputText value="#{ord.accRealizada}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaOrdenesCorteReposicionDesmantelamientoVerificacion.fechaEjecucion']}">
					<h:outputText value="#{ord.fechaEjecucion}" >
						<f:convertDateTime type="both" />
					</h:outputText>
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaOrdenesCorteReposicionDesmantelamientoVerificacion.fechaReal']}">
					<h:outputText value="#{ord.fechaReal}" >
						<f:convertDateTime type="both" />
					</h:outputText>
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaOrdenesCorteReposicionDesmantelamientoVerificacion.contratista']}">
					<h:outputText value="#{ord.contratista}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaOrdenesCorteReposicionDesmantelamientoVerificacion.ejecutor']}">
					<h:outputText value="#{ord.ejecutor}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaOrdenesCorteReposicionDesmantelamientoVerificacion.motivo']}">
					<h:outputText value="#{ord.motivo}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaOrdenesCorteReposicionDesmantelamientoVerificacion.cargo']}">
					<h:outputText value="#{ord.cargo}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaOrdenesCorteReposicionDesmantelamientoVerificacion.estadoCargo']}">
					<h:outputText value="#{ord.estadoCargo}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaOrdenesCorteReposicionDesmantelamientoVerificacion.valorCargo']}">
					<h:outputText value="#{ord.valorCargo}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaOrdenesCorteReposicionDesmantelamientoVerificacion.estado']}">
					<h:outputText value="#{ord.estado}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaOrdenesCorteReposicionDesmantelamientoVerificacion.esMasiva']}">
					<h:outputText value="#{ord.esMasiva}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaOrdenesCorteReposicionDesmantelamientoVerificacion.observacion']}">
					<h:outputText value="#{ord.observacion}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaOrdenesCorteReposicionDesmantelamientoVerificacion.lecturas']}">
					<h:outputText value="#{ord.lecturas}" />
				</sy:tableColumnCustom>
				<sy:tableColumnLinkPopup header=""
					label="#{MensajesComponentes_cns['consultaOrdenesCorteReposicionDesmantelamientoVerificacion.detalle']}"
					outcome="detalleOrdenCorte">
					<f:setPropertyActionListener
						target="#{consultaDetalleOrdenCorteBB.idOrden}" value="#{ord.id}" />
				</sy:tableColumnLinkPopup>

			</s:dataTable>
		</h:form>
	</sy:boxPage>
</f:view>
