<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:v="http://www.synapsis-it.com/jsf/validator"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour"
	xmlns:ex="http://www.synapsis-it.com/jsf/core/ext"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
	xmlns:e="http://www.synapsis-it.com/jsf/core/ext">

	<sy:boxPage title="#{MensajesComponentes_cns['consulta.estados.servicio.titulo']}"
		close="true">
		<h:form>
			<s:service id="estadosHistoricoService" manager="#{serviceManager}"
				name="estadosHistoricoService" method="findById">
				<f:param name="id"
					value="#{historicoOtrosNegociosBB.nroServicio}" />
			</s:service>
			<s:dataTable source="estadosHistoricoService" var="estados">
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.historia.estados.estado']}">
					<h:outputText value="#{estados.estado}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.historia.estados.usuario']}">
					<h:outputText value="#{estados.usuario}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.historia.estados.fechaModif']}">
					<h:outputText value="#{estados.fechaModif}" />
				</sy:tableColumnCustom>
			</s:dataTable>
		</h:form>
	</sy:boxPage>
</f:view>
