<sy:dataTable xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:f="http://java.sun.com/jsf/core"
	listBean="#{detalleCongelacionesBB.multiList.data['detalleCongelacionFecha']}"
	metadata="#{detalleCongelacionFechaMetadata}" resources="#{ClavesInducidas_cns}">
	<sy:tableColumn attribute="usuario" />
	<sy:tableColumn attribute="usuarioNombre" />
	<sy:tableColumn attribute="fechaIntervencion" />
	<sy:tableColumn attribute="horaIntervencion" />	
	<sy:tableColumn attribute="estado" />
	<sy:tableColumn attribute="tiempoIntervencionUsuario" />	
		<sy:tableColumnLinkPopup
			header="#{MensajesComponentes_cns['consultaCongelacion.detalle.tab2.observaciones']}"
			label="#{MensajesComponentes_cns['consultaCongelacion.detalle.tab2.observaciones']}"
			outcome="observaciones">
                <f:setPropertyActionListener target="#{detailBB.detail}"
                 value="#{rowVar.observacion}" />
	</sy:tableColumnLinkPopup>
	
</sy:dataTable>