<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:c="http://www.synapsis-it.com/jsf/core">
<body>
		<h:form>
			<!-- tabla donde se dibuja los resultados de la busqueda -->
			<c:dataTable var="cor" rows="0" value="#{consultaOrdenCorteBB.listResults}">
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.corte.tipo']}">
					<h:outputText value="#{cor.tipo}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.corte.fechaEmision']}">
					<h:outputText value="#{cor.fechaEmision}" >
						<f:convertDateTime type="both" />
					</h:outputText>
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.corte.motivo']}">
					<h:outputText value="#{cor.motivo}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.corte.accRealizada']}">
					<h:outputText value="#{cor.accRealizada}" />
				</sy:tableColumnCustom>
			</c:dataTable>
		</h:form>
</body>
</f:view>
