<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:s="http://www.synapsis-it.com/jsf/service">
	<sy:boxPage title="">
		<h:form id="consultaExpedientesDetalleAnomaliasForm">
			<s:service id="consultaExpedientesDetalleAnomaliasService"
				manager="#{serviceManager}" name="consultaExpedientesDetalleAnomaliasService"
				method="findByCriteria" fire="true">
				<f:param name="numeroOrdenInspeccion"
					value="#{numeroOrdenInspeccion}" />
			</s:service>
			<sy:title
				value="#{MensajesComponentes_cns['consultaExpedientesDetalleAnomaliasBB.tabla.title']}" />
			<s:dataTable source="consultaExpedientesDetalleAnomaliasService" var="anomalia">
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaExpedientesDetalleAnomaliasBB.tabla.anomalias.codigoAnomalia']}">
					<h:outputText value="#{anomalia.codigoAnomalia}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaExpedientesDetalleAnomaliasBB.tabla.anomalias.descripcionAnomalia']}">
					<h:outputText value="#{anomalia.descripcionAnomalia}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaExpedientesDetalleAnomaliasBB.tabla.anomalias.cantidadAnomalia']}">
					<h:outputText value="#{anomalia.cantidad}" />
				</sy:tableColumnCustom>
			</s:dataTable>
		</h:form>
	</sy:boxPage>
</f:view>
