<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:t="http://myfaces.apache.org/tomahawk">
	<sy:boxPage title="Detalle Encargo de Cobranza">
		<h:form>
		   <t:saveState value="#{historicoOtrosNegociosBB.idServicio}"/>
		    <!-- service para levantar los periodos que se muestran en el combo -->
			<s:service manager="#{serviceManager}"
				name="consultaDetalleECOService" method="findById"
				id="consultaDetalleECOService">
				<f:param name="id" value="#{historicoOtrosNegociosBB.idServicio}" />
			</s:service>
			<!-- unmarshall service para la lista recuperada por el service de periodos -->
			<s:unmarshall source="consultaDetalleECOService"
				var="detalle" />
		
			<sy:group title="#{MensajesComponentes_cns['consulta.detalle.eco.datos.generales.titular.eco.titulo']}">
			  <sy:panelGrid columns="2">
				<h:outputLabel value="#{MensajesComponentes_cns['consulta.detalle.eco.nombre.titular']}" />
				<h:inputText value="#{detalle.nombreTitular}" disabled="true"/>

				<h:outputLabel value="#{MensajesComponentes_cns['consulta.detalle.eco.ciclo']}" />
				<h:inputText value="#{detalle.ciclo}" disabled="true"/>
			  </sy:panelGrid>	
			</sy:group>

			<sy:group title="#{MensajesComponentes_cns['consulta.detalle.eco.datos.generales.eco']}">
				<sy:panelGrid columns="3">
					<h:outputLabel
						value="#{MensajesComponentes_cns['consulta.detalle.eco.valor.cuota']}"/>
					<h:inputText value="#{detalle.valorCuota}" disabled="true" />
					<h:outputLabel
						value="#{MensajesComponentes_cns['consulta.detalle.eco.socio']}"/>
					<h:inputText value="#{detalle.socio}" disabled="true" />
					<h:outputLabel
						value="#{MensajesComponentes_cns['consulta.detalle.eco.numero.cuota.facturadas']}"/>
					<h:inputText value="#{detalle.numeroCuotasFacturadas}" disabled="true" />
					<h:outputLabel
						value="#{MensajesComponentes_cns['consulta.detalle.eco.saldo.servicio']}"/>
					<h:inputText value="#{detalle.saldoSocio}" disabled="true" />
					<h:outputLabel
						value="#{MensajesComponentes_cns['consulta.detalle.eco.antiguedad.deuda']}"/>
					<h:inputText value="#{detalle.antiguedadDeuda}" disabled="true" />
					<h:outputLabel
						value="#{MensajesComponentes_cns['consulta.detalle.eco.numero.cuotas.facturar']}"/>
					<h:inputText value="#{detalle.numeroCuotasFacturar}" disabled="true" />

					<h:outputLabel
						value="#{MensajesComponentes_cns['consulta.detalle.eco.saldo.intereses.mora']}"/>
					<h:inputText value="#{detalle.saldoInteresesMora}" disabled="true" />
					<h:outputLabel
						value="#{MensajesComponentes_cns['consulta.detalle.eco.dia.mora']}"/>
					<h:inputText value="#{detalle.diaMora}" disabled="true" />
					<h:outputLabel
						value="#{MensajesComponentes_cns['consulta.detalle.eco.valor.cuota.mora']}"/>
					<h:inputText value="#{detalle.valorCuotaMora}" disabled="true" />
				</sy:panelGrid>
			</sy:group>
		</h:form>
	</sy:boxPage>
</f:view>
