<f:subview xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour"
	xmlns:ex="http://www.synapsis-it.com/jsf/core/ext"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax">
	
	<sy:title
		value="#{MensajesComponentes_cns['consultaRefacturaciones.detalle.congelaciones.operaciones']}" />
	<sy:dataTable
		listBean="#{consultaRefacturacionesBB.multiList.data['detalleCongelacionesOperaciones']}"
	    resources="#{ClavesInducidas_cns}">
		<sy:tableColumnLinkPopup
			header="#{MensajesComponentes_cns['consultaRefacturaciones.detalle.congelacion.nroOperacion']}"
			label="#{rowVar.nroOperacion}" outcome="detalleCongelacion">
			<f:setPropertyActionListener
				target="#{numeroSaldoQueryFilter.attributeValue}"
				value="#{rowVar.nroOperacion}" />
		</sy:tableColumnLinkPopup>
		<sy:tableColumn attribute="state" />
		<sy:tableColumn attribute="valorOperacion" />
	    <sy:tableColumnCustom
			header="#{ClavesInducidas_cns['com.synapsis.cns.codensa.model.impl.CongOperImpl.fechaRealizacionCongelacion']}">
  			<h:outputText value="#{rowVar.fechaRealizacionCongelacion}">
				<f:converter
					converterId="com.synapsis.components.DateTimeConverterRaw" />
			</h:outputText>
		</sy:tableColumnCustom>
	    <sy:tableColumnCustom
			header="#{ClavesInducidas_cns['com.synapsis.cns.codensa.model.impl.CongOperImpl.fechaAprobacionCongelacion']}">
  			<h:outputText value="#{rowVar.fechaAprobacionCongelacion}">
				<f:converter
					converterId="com.synapsis.components.DateTimeConverterRaw" />
			</h:outputText>
		</sy:tableColumnCustom>
	    <sy:tableColumnCustom
			header="#{ClavesInducidas_cns['com.synapsis.cns.codensa.model.impl.CongOperImpl.fechaRealizacionDescongelacion']}">
  			<h:outputText value="#{rowVar.fechaRealizacionDescongelacion}">
				<f:converter
					converterId="com.synapsis.components.DateTimeConverterRaw" />
			</h:outputText>
		</sy:tableColumnCustom>
	    <sy:tableColumnCustom
			header="#{ClavesInducidas_cns['com.synapsis.cns.codensa.model.impl.CongOperImpl.fechaAprobacionDescongelacion']}">
  			<h:outputText value="#{rowVar.fechaAprobacionDescongelacion}">
				<f:converter
					converterId="com.synapsis.components.DateTimeConverterRaw" />
			</h:outputText>
		</sy:tableColumnCustom>
	</sy:dataTable>
	<sy:title
		value="#{MensajesComponentes_cns['consultaRefacturaciones.detalle.congelaciones.eliminadas']}" />
	<sy:dataTable
		listBean="#{consultaRefacturacionesBB.multiList.data['detalleCongelacionesEliminadas']}"
	    resources="#{ClavesInducidas_cns}">
		<sy:tableColumn attribute="nroOperacion" />
    	<sy:tableColumn attribute="state" />
		<sy:tableColumn attribute="usrEliminadorCong" /> 
		<sy:tableColumn attribute="motivo" />
		<sy:tableColumn attribute="fechaEliminacion" />
	</sy:dataTable>

	<script type="text/javascript" src="../scripts/kendari.js"
				defered="true" /> 
	<a4j:commandButton 
		value="#{MensajesComponentes_cns['imprimirSaldosEnDisputa.label']}"
		actionListener="#{consultaRefacturacionesBB.execKndImprimeSaldosEnDisputaUseCase}"
		reRender="uriSED" oncomplete="gotoKendari('uriSED')" id="kActionURL">
		<h:inputHidden id="uriSED" value="#{consultaRefacturacionesBB.uriSaldos}" />
	</a4j:commandButton>
	
</f:subview>