<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service">

	<sy:boxPage
		title="#{MensajesComponentes_cns['ordenInspeccion.titulo']}">
		<h:form>

		<c:errorHandler />
		<s:service id="ordenInspeccion" manager="#{serviceManager}"
			name="ordenesInspeccionService" method="findByCriteria" fire="true">
            	<f:param name="nroCuenta"
					value="#{consultaOrdenesInspeccionBB.numeroCuentaQueryFilter}" />				
		</s:service>
		<br/>
		<sy:title
		value="#{MensajesComponentes_cns['ordenInspeccion.resultados']}" />
		<s:dataTable source="ordenInspeccion" var="orden">
			<sy:tableColumnCustom
		header="#{MensajesComponentes_cns['ordenInspeccion.nroServicio']}">
				<h:outputText value="#{orden.nroServicio}" />
			</sy:tableColumnCustom>
			<sy:tableColumnCustom
		header="#{MensajesComponentes_cns['ordenInspeccion.clase']}">
				<h:outputText value="#{orden.clase}" />
			</sy:tableColumnCustom>
			<sy:tableColumnCustom
		header="#{MensajesComponentes_cns['ordenInspeccion.subClase']}">
				<h:outputText value="#{orden.subClase}" />
			</sy:tableColumnCustom>
			<sy:tableColumnCustom
		header="#{MensajesComponentes_cns['ordenInspeccion.estrato']}">
				<h:outputText value="#{orden.estrato}" />
			</sy:tableColumnCustom>
			<sy:tableColumnCustom
		header="#{MensajesComponentes_cns['ordenInspeccion.nroOrden']}">
				<h:outputText value="#{orden.nroOrden}" />
			</sy:tableColumnCustom>
			<sy:tableColumnCustom
		header="#{MensajesComponentes_cns['ordenInspeccion.tipoInspeccion']}">
				<h:outputText value="#{orden.tipoInspeccion}" />
			</sy:tableColumnCustom>
			<sy:tableColumnCustom
		header="#{MensajesComponentes_cns['ordenInspeccion.estadoOrden']}">
				<h:outputText value="#{orden.estadoOrden}" />
			</sy:tableColumnCustom>
			<sy:tableColumnCustom
		header="#{MensajesComponentes_cns['ordenInspeccion.tipoResultado']}">
				<h:outputText value="#{orden.tipoResultado}" />
			</sy:tableColumnCustom>
			<sy:tableColumnCustom
		header="#{MensajesComponentes_cns['ordenInspeccion.fechaCreacion']}">
				<h:outputText value="#{orden.fechaCreacion}" />
			</sy:tableColumnCustom>
			<sy:tableColumnCustom
		header="#{MensajesComponentes_cns['ordenInspeccion.fechaInicioEjecucion']}">
				<h:outputText value="#{orden.fechaInicioEjecucion}" />
			</sy:tableColumnCustom>
			<sy:tableColumnCustom
		header="#{MensajesComponentes_cns['ordenInspeccion.fechaFinEjecucion']}">
				<h:outputText value="#{orden.fechaFinEjecucion}" />
			</sy:tableColumnCustom>
			<sy:tableColumnCustom
		header="#{MensajesComponentes_cns['ordenInspeccion.nroComponente']}">
				<h:outputText value="#{orden.nroComponente}" />
			</sy:tableColumnCustom>
			<sy:tableColumnCustom
		header="#{MensajesComponentes_cns['ordenInspeccion.lecturaActivaFP']}">
				<h:outputText value="#{orden.lecturaActivaFP}" />
			</sy:tableColumnCustom>
			<sy:tableColumnCustom
		header="#{MensajesComponentes_cns['ordenInspeccion.lecturaActivaHP']}">
				<h:outputText value="#{orden.lecturaActivaHP}" />
			</sy:tableColumnCustom>
			<sy:tableColumnCustom
		header="#{MensajesComponentes_cns['ordenInspeccion.lecturaReactivaFP']}">
				<h:outputText value="#{orden.lecturaReactivaFP}" />
			</sy:tableColumnCustom>
			<sy:tableColumnCustom
		header="#{MensajesComponentes_cns['ordenInspeccion.lecturaReactivaHP']}">
				<h:outputText value="#{orden.lecturaReactivaHP}" />
			</sy:tableColumnCustom>
			<sy:tableColumnCustom
		header="#{MensajesComponentes_cns['ordenInspeccion.observacionesInspeccion']}">
				<h:outputText value="#{orden.observacionesInspeccion}" />
			</sy:tableColumnCustom>
		</s:dataTable>
		</h:form>
	</sy:boxPage>
</f:view>