<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service">

<sy:boxPage
		title="#{MensajesComponentes_cns['consultaOtrosNegocios.xhtml.titulo']}">
		<h:form>

		<c:errorHandler />
		<s:service id="otrosNegocios" manager="#{serviceManager}"
			name="consultaOtrosNegociosService" method="findByCriteria"
			fire="true">
			<f:param name="nroCuenta"
			value="#{numeroCuentaQueryFilter.attributeValue}" />
		</s:service>
		<br/>
		
		<sy:title
		value="#{MensajesComponentes_cns['consultaOtrosNegocios.resultados']}" />
		<s:dataTable source="otrosNegocios" var="neg">
		                        
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['consultaOtrosNegocios.nroCuenta']}">
                        <h:outputText value="#{neg.nroCuenta}" />
                  </sy:tableColumnCustom>
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['consultaOtrosNegocios.codCargo']}">
                        <h:outputText value="#{neg.codCargo}" />
                  </sy:tableColumnCustom>
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['consultaOtrosNegocios.desCargo']}">
                        <h:outputText value="#{neg.desCargo}" />
                  </sy:tableColumnCustom>
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['consultaOtrosNegocios.valorCargo']}">
                        <h:outputText value="#{neg.valorCargo}" />
                  </sy:tableColumnCustom>
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['consultaOtrosNegocios.saldoCargo']}">
                        <h:outputText value="#{neg.saldoCargo}" />
                  </sy:tableColumnCustom>
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['consultaOtrosNegocios.correlativoFacturacion']}">
                        <h:outputText value="#{neg.correlativoFacturacion}" />
                  </sy:tableColumnCustom>
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['consultaOtrosNegocios.fecFactura']}">
                        <h:outputText value="#{neg.fecFactura}" />
                  </sy:tableColumnCustom>
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['consultaOtrosNegocios.periodoFacturacion']}">
                        <h:outputText value="#{neg.periodoFacturacion}" />
                  </sy:tableColumnCustom>
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['consultaOtrosNegocios.tipoDocumento']}">
                        <h:outputText value="#{neg.tipoDocumento}" />
                  </sy:tableColumnCustom>
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['consultaOtrosNegocios.nroDocumento']}">
                        <h:outputText value="#{neg.nroDocumento}" />
                  </sy:tableColumnCustom>
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['consultaOtrosNegocios.origenDeuda']}">
                        <h:outputText value="#{neg.origenDeuda}" />
                  </sy:tableColumnCustom>
         	</s:dataTable>
		</h:form>
	</sy:boxPage>
</f:view>
