<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:c="http://www.synapsis-it.com/jsf/core">
<body>
	<h:form>
		<!-- tabla donde se dibuja los resultados de la busqueda -->
		<c:dataTable value="#{consultaOrdenReconexionBB.listResults}" var="rep"
			rows="0">
			<sy:tableColumnCustom
				header="#{MensajesComponentes_cns['consulta.reposicion.fechaEmision']}">
				<h:outputText value="#{rep.fechaEmision}">
					<f:convertDateTime type="both" />
				</h:outputText>
			</sy:tableColumnCustom>
			<sy:tableColumnCustom
				header="#{MensajesComponentes_cns['consulta.reposicion.motivo']}">
				<h:outputText value="#{rep.motivo}" />
			</sy:tableColumnCustom>
			<sy:tableColumnCustom
				header="#{MensajesComponentes_cns['consulta.reposicion.accRealizada']}">
				<h:outputText value="#{rep.accRealizada}" />
			</sy:tableColumnCustom>
			<sy:tableColumnCustom
				header="#{MensajesComponentes_cns['consulta.reposicion.fechaReal']}">
				<h:outputText value="#{rep.fechaReal}">
					<f:convertDateTime type="both" />
				</h:outputText>
			</sy:tableColumnCustom>
		</c:dataTable>
	</h:form>
</body>
</f:view>
