<f:view xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:sy="http://www.synapsis.com/jsf/core">
    <sy:boxPage title="#{MensajesComponentes_cns['detalleAnomaliaBB.title']}" bundle="#{MensajesComponentes_cns}">
        <h:form>
            <sy:dataTable listBean="#{detalleAnomaliaBB}"
                resources="#{ClavesInducidas_cns}">
                <sy:tableColumn attribute="codigoAnomalia" />
                <sy:tableColumn attribute="descripcionAnomalia" />
            </sy:dataTable>
        </h:form>
    </sy:boxPage>
</f:view>
