<f:view xmlns="http://www.w3.org/1999/xhtml"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:sy="http://www.synapsis.com/jsf/core"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:c="http://java.sun.com/jstl/core"
xmlns:s="http://www.synapsis-it.com/jsf/service"
xmlns:t="http://myfaces.apache.org/tomahawk"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:a4j="https://ajax4jsf.dev.java.net/ajax">

  <sy:boxPage title="#{MensajesComponentes_cns['consultaAccionesModificacionesVinculoClienteRed.titulo']}">
  <h:form id="consultaAccionesModificacionesVinculoClienteRedForm">
 <t:saveState value="#{consultaDatosTransformadorBB.transformador}" />
  
  			<s:service manager="#{serviceManager}"
				name="consultaAccionesModificacionesVinculoClienteRedByTransformador" method="findByCriteria"
				id="consultaAccionesModificacionesVinculoClienteRed">		
			 <f:param name="transformador"
					value="#{consultaDatosTransformadorBB.transformador}" />	
  			 </s:service>  			    

      
			<s:dataTable id="datosAccionesModificacionesVinculo" source="consultaAccionesModificacionesVinculoClienteRed" var="datosAccionesModificaciones">
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaAccionesModificacionesVinculoClienteRed.tabla.tipoAccion']}">
					<h:outputText value="#{datosAccionesModificaciones.tipoAccion}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaAccionesModificacionesVinculoClienteRed.tabla.formaActual']}">
					<h:outputText value="#{datosAccionesModificaciones.formaActual}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaAccionesModificacionesVinculoClienteRed.tabla.usuarioSolic']}">
					<h:outputText value="#{datosAccionesModificaciones.usuarioSolic}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaAccionesModificacionesVinculoClienteRed.tabla.fecCambio']}">
					<h:outputText value="#{datosAccionesModificaciones.fecCambio}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaAccionesModificacionesVinculoClienteRed.tabla.ipCambio']}">
					<h:outputText value="#{datosAccionesModificaciones.ipCambio}" />
				</sy:tableColumnCustom>
				<sy:tableColumnLinkPopup
					header="#{MensajesComponentes_cns['consultaAccionesModificacionesVinculoClienteRed.tabla.transformador']}"
					label="#{datosAccionesModificaciones.transformador}" outcome="datosInformacionTransformador">
				</sy:tableColumnLinkPopup>
			</s:dataTable>
</h:form>
</sy:boxPage>
</f:view>
