<f:view xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:c="http://java.sun.com/jstl/core"
    xmlns:sy="http://www.synapsis.com/jsf/core">
    <sy:boxPage title="#{MensajesComponentes_cns['consultaContactos.titulo']}" bundle="#{MensajesComponentes_cns}">
        <h:form>
        	<sy:title value="#{MensajesComponentes_cns['contacto.aic.titulo.entrada']}" />
            <sy:dataTable
                listBean="#{consultaContactoAicBB.multiList.data['contactos_entrada']}"
                metadata="#{contactoAicMetadata}" resources="#{ClavesInducidas_cns}">
                <sy:tableColumn attribute="nroCuenta" />
                <sy:tableColumn attribute="numeroContacto" />
                <sy:tableColumn attribute="numeroAtencion" />
                <sy:tableColumn attribute="estadoAtencion" />
                <sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaContactos.fecha.creacion']}">
					<h:outputText value="#{rowVar.fechaHoraCreacion}" >
						<f:converter
							converterId="com.synapsis.components.DateTimeConverterRaw" />
					</h:outputText>
				</sy:tableColumnCustom>
                <sy:tableColumn attribute="canalComunicacionContacto" />
                <sy:tableColumn attribute="usuarioGeneradorContacto" />
                <sy:tableColumn attribute="nombreGeneradorContacto" />
                <sy:tableColumn attribute="grupoUsuarioGenerador" />
                <sy:tableColumnLinkPopup
                    header="#{MensajesComponentes_cns['contactoAIC.atencionAIC.observaciones']}"
                    label="#{MensajesComponentes_cns['contactoAIC.atencionAIC.verObservaciones']}"
                    actionBean="#{observacionesContactoAicBB}" action="buscarAction"
                    outcome="observacionesContactoEntradaSalida">
                    <f:setPropertyActionListener
                        target="#{contactoAicObsQueryFilter.attributeValue}"
                        value="#{rowVar.idContacto}" />
                </sy:tableColumnLinkPopup>
                <sy:tableColumn attribute="tipoRadicacion" />
                <sy:tableColumn attribute="numeroRadicacion" />
            </sy:dataTable>
            <br/>
            <sy:title value="#{MensajesComponentes_cns['contacto.aic.titulo.salida']}" />
            <sy:dataTable
                listBean="#{consultaContactoAicBB.multiList.data['contactos_salida']}"
                metadata="#{contactoAicMetadata}" resources="#{ClavesInducidas_cns}">
                <sy:tableColumn attribute="nroCuenta" />
                <sy:tableColumn attribute="numeroContacto" />
                <sy:tableColumn attribute="numeroAtencion" />
                <sy:tableColumn attribute="estadoAtencion" />                
                <sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaContactos.fecha.creacion']}">
					<h:outputText value="#{rowVar.fechaHoraCreacion}" >
						<f:converter
							converterId="com.synapsis.components.DateTimeConverterRaw" />
					</h:outputText>
				</sy:tableColumnCustom>
                <sy:tableColumn attribute="canalComunicacionContacto" />
                <sy:tableColumn attribute="usuarioGeneradorContacto" />
                <sy:tableColumn attribute="nombreGeneradorContacto" />
                <sy:tableColumn attribute="grupoUsuarioGenerador" />
                <sy:tableColumnLinkPopup
                    header="#{MensajesComponentes_cns['contactoAIC.atencionAIC.observaciones']}"
                    label="#{MensajesComponentes_cns['contactoAIC.atencionAIC.verObservaciones']}"
                    actionBean="#{observacionesContactoAicBB}" action="buscarAction"
                    outcome="observacionesContactoEntradaSalida">
                    <f:setPropertyActionListener
                        target="#{contactoAicObsQueryFilter.attributeValue}"
                        value="#{rowVar.idContacto}" />
                </sy:tableColumnLinkPopup>           
                <sy:tableColumn attribute="tipoRadicacion" />
                <sy:tableColumn attribute="numeroRadicacion" />
            </sy:dataTable>
            <br/>
            <sy:title value="#{MensajesComponentes_cns['contactoAIC.atencionAIC.titulo1']}" />
            <sy:dataTable
                listBean="#{consultaContactoAicBB.multiList.data['atencion_pendiente']}"
                metadata="#{atencionOrdenesMetadata}" resources="#{ClavesInducidas_cns}">
                <sy:tableColumn attribute="nroAtencion" />
                <sy:tableColumn attribute="tipoServicio" />
                <sy:tableColumn attribute="nroServicio" />
                <sy:tableColumn attribute="tipo" />
                <sy:tableColumn attribute="descripcionArea" />
                <sy:tableColumn attribute="motivoCliente" />
                <sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaContactos.fecha.creacion']}">
					<h:outputText value="#{rowVar.fechaCreacion}" >
						<f:converter
							converterId="com.synapsis.components.DateTimeConverterRaw" />
					</h:outputText>
				</sy:tableColumnCustom>
                <sy:tableColumn attribute="fechaVencimientoLegal" />
                <sy:tableColumn attribute="fechaVencimientoInterno" />
                <sy:tableColumn attribute="nroContacto" />
                <sy:tableColumn attribute="usuarioResponsable" />
                <sy:tableColumn attribute="nombreResponsable" />
                <sy:tableColumnLinkPopup
                    header="#{MensajesComponentes_cns['contactoAIC.atencionAIC.observaciones']}"
                    label="#{MensajesComponentes_cns['contactoAIC.atencionAIC.verObservaciones']}"
                    actionBean="#{observacionesAtencionAicBB}" action="buscarAction"
                    outcome="observacionesContacto">
                    <f:setPropertyActionListener
                        target="#{atencionAicObsQueryFilter.attributeValue}"
                        value="#{rowVar.idAtencion}" />
                </sy:tableColumnLinkPopup>
                <sy:tableColumnLinkPopup header="#{MensajesComponentes_cns['contactoAIC.atencionAIC.ordenes']}"
                    label="#{MensajesComponentes_cns['contactoAIC.atencionAIC.verOrdenes']}"
                    actionBean="#{ordenesAtencionAicBB}" action="buscarAction"
                    outcome="ordenes">
                    <f:setPropertyActionListener
                        target="#{atencionAicQueryFilter.attributeValue}"
                        value="#{rowVar.idAtencion}" />
                </sy:tableColumnLinkPopup>
            </sy:dataTable>
            <br/>            
            <sy:title value="#{MensajesComponentes_cns['contactoAIC.atencionAIC.titulo2']}" />
            <sy:dataTable
                listBean="#{consultaContactoAicBB.multiList.data['atencion_finalizado']}"
                metadata="#{atencionOrdenesMetadata}" resources="#{ClavesInducidas_cns}">
                <sy:tableColumn attribute="nroAtencion" />
                <sy:tableColumn attribute="tipoServicio" />
                <sy:tableColumn attribute="nroServicio" />
                <sy:tableColumn attribute="tipo" />
                <sy:tableColumn attribute="tipoAtencionAnterior" />
                <sy:tableColumn attribute="descripcionArea" />
                <sy:tableColumn attribute="areaInvolucradaAnterior" />
                <sy:tableColumn attribute="motivoCliente" />
                <sy:tableColumn attribute="motivoClienteAnterior" />                
                <sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaContactos.fecha.creacion']}">
					<h:outputText value="#{rowVar.fechaCreacion}" >
						<f:converter
							converterId="com.synapsis.components.DateTimeConverterRaw" />
					</h:outputText>
				</sy:tableColumnCustom>
                <sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consultaContactos.fecha.finalizacion']}">
					<h:outputText value="#{rowVar.fechaFinalizacion}" >
						<f:converter
							converterId="com.synapsis.components.DateTimeConverterRaw" />
					</h:outputText>
				</sy:tableColumnCustom>
                <sy:tableColumn attribute="fechaVencimientoLegal" />
                <sy:tableColumn attribute="fechaVencimientoInterno" />
                <sy:tableColumn attribute="nroContacto" />
                <sy:tableColumn attribute="usuarioResponsable" />
                <sy:tableColumn attribute="nombreResponsable" />
                <sy:tableColumn attribute="tipoRespuesta" />
                <sy:tableColumnLinkPopup
                    header="#{MensajesComponentes_cns['contactoAIC.atencionAIC.observaciones']}"
                    label="#{MensajesComponentes_cns['contactoAIC.atencionAIC.verObservaciones']}"
                    actionBean="#{observacionesAtencionAicBB}" action="buscarAction"
                    outcome="observacionesContacto">
                    <f:setPropertyActionListener
                        target="#{atencionAicObsQueryFilter.attributeValue}"
                        value="#{rowVar.idAtencion}" />
                </sy:tableColumnLinkPopup>
                <sy:tableColumnLinkPopup header="#{MensajesComponentes_cns['contactoAIC.atencionAIC.ordenes']}"
                    label="#{MensajesComponentes_cns['contactoAIC.atencionAIC.verOrdenes']}"
                    outcome="ordenes">
                    <f:setPropertyActionListener
                        target="#{atencionAicQueryFilter.attributeValue}"
                        value="#{rowVar.idAtencion}" />
                </sy:tableColumnLinkPopup>
            </sy:dataTable>
        </h:form>
    </sy:boxPage>
</f:view>