<div dojotype="synapsis:PortletContainer" id="portlet"
	style="border: 1px black solid; padding: 0px; margin: 0px;">

	<div dojotype="synapsis:PortletItem" width="50%"
	contentUri="datosCuentaBenefTitular.jsf" title="Datos de la Cuenta" 
    detailUri="detalleDatosCuenta.jsf"/>

	<div dojotype="synapsis:PortletItem"
	contentUri="datosEstadoDeuda.jsf" title="Estado de la Deuda "/>

	<div dojotype="synapsis:PortletItem" width="50%"
	contentUri="datosComerciales.jsf" title="Datos Comerciales"
	detailUri="consultaDetallePersona.jsf" />

	<div dojotype="synapsis:PortletItem"
	contentUri="datosTecnicos.jsf" title="#{MensajesComponentes_cns['datosTecnicos.title']}"/>

	<div dojotype="synapsis:PortletItem" width="50%"
	contentUri="datosUltimaFacturacion.jsf" title="#{MensajesComponentes_cns['ultima.facturacion.titulo']}"
	detailUri="detalleCuenta.jsf" />

	<div dojotype="synapsis:PortletItem"
	contentUri="datosUltimoPagoRealizado.jsf" title="Ultimo Pago Realizado"
	detailUri="consultaHistoricoPagos.jsf" />

	<div dojotype="synapsis:PortletItem" width="50%"
	contentUri="consultaComponenteMedidor.jsf" title="Componente"
	detailUri="consultaComponentesElectricos.jsf" />

	<div dojotype="synapsis:PortletItem"
	contentUri="datosUltimaRefacturacion.jsf" title="#{MensajesComponentes_cns['ultima.refacturacion.titulo']}"
	detailUri="consultaRefacturaciones.jsf" />
	
	<div dojotype="synapsis:PortletItem" width="50%"
	contentUri="consultaCorte.jsf" title="Orden de Corte" 
	detailUri="consultaOperaciones.jsf"/>

	<div dojotype="synapsis:PortletItem" 
	contentUri="consultaReposicion.jsf" title="#{MensajesComponentes_cns['orden.reconexion.titulo']}" />

	<div dojotype="synapsis:PortletItem" width="50%" 
	contentUri="consultaUltimasLect.jsf" title="Ultimas Lecturas"
	detailUri ="consultaConsumoYAnalisis.jsf"/>
	
</div>
