<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:c="http://java.sun.com/jstl/core">

	<h:form>
		<!-- service para levantar los datosTitular -->
		<s:service manager="#{serviceManager}"
			name="datosTitularServiceFinder" method="findByCriteriaUnique"
			id="datosTitularServiceFinder">
			<f:param name="nroCuenta"
				value="#{numeroCuentaQueryFilter.attributeValue}" />
		</s:service>
		<!-- unmarshall service datosTitular -->
		<s:unmarshall source="datosTitularServiceFinder"
			target="#{datosCuentaCodensaBB.bobTitular}" />

		<!-- service para levantar los datosBeneficiario -->
		<s:service manager="#{serviceManager}"
			name="datosBeneficiarioServiceFinder" method="findByCriteriaUnique"
			id="datosBeneficiarioServiceFinder">
			<f:param name="nroCuenta"
				value="#{numeroCuentaQueryFilter.attributeValue}" />
		</s:service>
		<!-- unmarshall service datosBeneficiario -->
		<s:unmarshall source="datosBeneficiarioServiceFinder"
			target="#{datosCuentaCodensaBB.bobBeneficiario}" />

		<sy:dataGrid>
			<sy:dataGridRow
				label="#{MensajesComponentes_cns['datosCuentaBB.beneficiario.titulo']}">
			</sy:dataGridRow>
		</sy:dataGrid>

		<sy:dataGrid includeDetail="true">
			<sy:dataGridRow
				label="#{MensajesComponentes_cns['datosCuentaBB.bobBeneficiario.nombreB']}"
				data="#{datosCuentaCodensaBB.bobBeneficiario.nombreB}" />
			<sy:dataGridRow
				label="#{MensajesComponentes_cns['datosCuentaBB.bobBeneficiario.documentoB']}"
				data="#{datosCuentaCodensaBB.bobBeneficiario.documentoB}" />
			<sy:dataGridRow
				label="#{MensajesComponentes_cns['datosCuentaBB.bobBeneficiario.telefonoB']}"
				data="#{datosCuentaCodensaBB.bobBeneficiario.telefonoB}"
				actionBean="#{datosCuentaCodensaBB}" detailAction="editTelefono"
				outcome="editTelefonoBeneficiario">
				<f:setPropertyActionListener target="#{idPersona}"
					value="#{datosCuentaCodensaBB.bobBeneficiario.idBeneficiario}" />
			</sy:dataGridRow>
			<sy:dataGridRow
				label="#{MensajesComponentes_cns['datosCuentaBB.bobBeneficiario.email']}"
				data="#{datosCuentaCodensaBB.bobBeneficiario.email}" />
			<sy:dataGridRow
				label="#{MensajesComponentes_cns['datosCuentaBB.bobBeneficiario.rutaLec']}"
				data="#{datosCuentaCodensaBB.bobBeneficiario.rutaLec}" />
			<c:choose>
			<c:when test="#{!datosCuentaCodensaBB.bobBeneficiario.tieneCorrelativoConjunto}">
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['datosCuentaBB.bobBeneficiario.correlativoConjunto']}"
					data="#{datosCuentaCodensaBB.bobBeneficiario.correlativoConjunto}"/>
			</c:when>
			</c:choose>
			<sy:dataGridRow
				label="#{MensajesComponentes_cns['datosCuentaBB.bobBeneficiario.dirPredio']}"
				data="#{datosCuentaCodensaBB.bobBeneficiario.dirPredio}" />
			<sy:dataGridRow
				label="#{MensajesComponentes_cns['datosCuentaBB.bobBeneficiario.distrito']}"
				data="#{datosCuentaCodensaBB.bobBeneficiario.municipio}" />
		</sy:dataGrid>
		
		<sy:dataGrid>
			<sy:dataGridRow
				label="#{MensajesComponentes_cns['datosCuentaBB.titular.titulo']}">
			</sy:dataGridRow>
		</sy:dataGrid>

		<sy:dataGrid includeDetail="true">
			<sy:dataGridRow
				label="#{MensajesComponentes_cns['datosCuentaBB.bobTitular.nombreB']}"
				data="#{datosCuentaCodensaBB.bobTitular.nombreB}" />
			<sy:dataGridRow
				label="#{MensajesComponentes_cns['datosCuentaBB.bobTitular.documentoB']}"
				data="#{datosCuentaCodensaBB.bobTitular.documentoB}" />
			<sy:dataGridRow
				label="#{MensajesComponentes_cns['datosCuentaBB.bobTitular.telefonoB']}"
				data="#{datosCuentaCodensaBB.bobTitular.telefonoB}"
				actionBean="#{datosCuentaCodensaBB}" detailAction="editTelefono"
				outcome="editTelefono">
				<f:setPropertyActionListener target="#{idPersona}"
					value="#{datosCuentaCodensaBB.bobTitular.idPersona}" />
			</sy:dataGridRow>
			<sy:dataGridRow
				label="#{MensajesComponentes_cns['datosCuentaBB.bobTitular.email']}"
				data="#{datosCuentaCodensaBB.bobTitular.email}" />
			<sy:dataGridRow
				label="#{MensajesComponentes_cns['datosCuentaBB.bobTitular.dirPredio']}"
				data="#{datosCuentaCodensaBB.bobTitular.dirPredio}" />
			<sy:dataGridRow
				label="#{MensajesComponentes_cns['datosCuentaBB.bobTitular.dirDomicilio']}"
				data="#{datosCuentaCodensaBB.bobTitular.dirDomicilio}" />
			<sy:dataGridRow
				label="#{MensajesComponentes_cns['datosCuentaBB.bobTitular.barrio.localizacion']}"
				data="#{datosCuentaCodensaBB.bobTitular.barrioLocalizacion}" />
		</sy:dataGrid>
	</h:form>
</f:view>