<f:view xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:sy="http://www.synapsis.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:c="http://java.sun.com/jstl/core"
    xmlns:sv="http://shale.apache.org/validator">
    <sy:boxPage title="#{MensajesComponentes_cns['datosAutolecturaBB.titulo']}">
        <h:form>
            <sy:dataTable listBean="#{datosAutolecturaBB}" metadata="#{datosAutolecturaMetadata}"
                resources="#{ClavesInducidas_cns}">
                <sy:tableColumn attribute="numeroMedidor" />
                <sy:tableColumn attribute="marcaMedidor" />                                
                <sy:tableColumn attribute="motivo" />
                <sy:tableColumn attribute="lecturaActivaFP" />
                <sy:tableColumn attribute="lecturaActivaHP" />
                <sy:tableColumn attribute="lecturaActivaXP" />
                <sy:tableColumn attribute="lecturaReactivaFP" />
                <sy:tableColumn attribute="lecturaReactivaHP" />
                <sy:tableColumn attribute="lecturaReactivaXP" />
                <sy:tableColumn attribute="nombreSuministrador" />
                <sy:tableColumn attribute="tipoDocumento" />
                <sy:tableColumn attribute="numeroDocumento" />
                <sy:tableColumn attribute="acreditacion" />
                <sy:tableColumn attribute="ultimaActualizacion" />
                <sy:tableColumn attribute="usuario" />
                <sy:tableColumn attribute="nombreUsuario" />
                <sy:tableColumnLinkPopup
                    header="#{MensajesComponentes_cns['datosAutolecturaBB.observaciones']}"
                    label="#{MensajesComponentes_cns['datosAutolecturaBB.observaciones']}"
                    outcome="observaciones">
                    <f:setPropertyActionListener
                        target="#{detailBB.detail}"
                        value="#{rowVar.observaciones}" />
                </sy:tableColumnLinkPopup>
            </sy:dataTable>
        </h:form>
    </sy:boxPage>
</f:view>
