<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service">
<body>
    <h:form>
		<c:dataTable value="#{datosUltimoPagoRealizadoBB.listResults}" var="rowVar" rows="0">
			<h:column>
				<f:facet name="header">#{MensajesComponentes_cns['consulta.ultimo.pago.realizado.fechaPago']}</f:facet>
				<h:outputText value="#{rowVar.fechaPago}">
					<f:convertDateTime type="both" />
				</h:outputText>
			</h:column>
			<h:column>
				<f:facet name="header">#{MensajesComponentes_cns['consulta.ultimo.pago.realizado.oficina']}</f:facet>
				<h:outputText value="#{rowVar.oficina}" />
			</h:column>
			<h:column>
				<f:facet name="header">#{MensajesComponentes_cns['consulta.ultimo.pago.realizado.codCajero']}</f:facet>
				<h:outputText value="#{rowVar.codCajero}" />
			</h:column>
			<h:column>
				<f:facet name="header">#{MensajesComponentes_cns['consulta.ultimo.pago.realizado.tipoCargo']}</f:facet>
				<h:outputText value="#{rowVar.tipoCargo}" />
			</h:column>
			<h:column>
				<f:facet name="header">#{MensajesComponentes_cns['consulta.ultimo.pago.realizado.montoTotal']}</f:facet>
				<h:outputText value="#{rowVar.montoTotal}" />
			</h:column>
		</c:dataTable>
    </h:form>
</body>
</f:view>
