<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:sy="http://www.synapsis.com/jsf/core">
	<sy:boxPage title="#{MensajesComponentes_cns['datosGeneralesConvenioBB.titulo']}">
		<h:form>
			<t:saveState value="#{datosGeneralesConvenioBB.businessObject}" />
			<sy:group title="" >
			<sy:panelGrid columns="6">
				<h:outputLabel
					value="#{MensajesComponentes_cns['datosGeneralesConvenioBB.nroConvenio']}"
					for="nroConvenio" />
				<h:inputText value="#{datosGeneralesConvenioBB.businessObject.nroConvenio}" id="nroConvenio"
					disabled="true">
				</h:inputText>
				
				<h:outputLabel
					value="#{MensajesComponentes_cns['datosGeneralesConvenioBB.tipoConvenio']}"
					for="tipoConvenio" />
				<h:inputText value="#{datosGeneralesConvenioBB.businessObject.tipoConvenio}" id="tipoConvenio"
					disabled="true" size="40">
				</h:inputText>

				<h:outputLabel
					value="#{MensajesComponentes_cns['datosGeneralesConvenioBB.nroServicio']}"
					for="nroServicio" />
				<h:inputText value="#{datosGeneralesConvenioBB.businessObject.nroServicio}" id="nroServicio"
					disabled="true">
				</h:inputText>
				</sy:panelGrid>	
			</sy:group>


			<sy:group title="">
       	        <sy:panelGrid columns="2">			
   				<h:outputLabel
					value="#{MensajesComponentes_cns['datosGeneralesConvenioBB.deudaActual']}"
					for="deudaActual" />
				<h:inputText value="#{datosGeneralesConvenioBB.businessObject.deudaActual}" id="deudaActual"
					disabled="true">
				</h:inputText>
   
   				<h:outputLabel
					value="#{MensajesComponentes_cns['datosGeneralesConvenioBB.cuotasOtorgadas']}"
					for="cuotasOtorgadas" />
				<h:inputText value="#{datosGeneralesConvenioBB.businessObject.cuotasOtorgadas}" id="cuotasOtorgadas"
					disabled="true">
				</h:inputText>     	        
				
   				<h:outputLabel
					value="#{MensajesComponentes_cns['datosGeneralesConvenioBB.estadoActual']}"
					for="estadoActual" />
				<h:inputText value="#{datosGeneralesConvenioBB.businessObject.estadoActual}" id="estadoActual"
					disabled="true">
				</h:inputText>
   
   				<h:outputLabel
					value="#{MensajesComponentes_cns['datosGeneralesConvenioBB.cuotasFacturadas']}"
					for="cuotasFacturadas" />
				<h:inputText value="#{datosGeneralesConvenioBB.businessObject.cuotasFacturadas}" id="cuotasFacturadas"
					disabled="true">
				</h:inputText>     	        

   				<h:outputLabel
					value="#{MensajesComponentes_cns['datosGeneralesConvenioBB.fechaCreacion']}"
					for="fechaCreacion" />
				<h:inputText value="#{datosGeneralesConvenioBB.businessObject.fechaCreacion}" id="fechaCreacion"
					disabled="true">
						<f:converter
							converterId="com.synapsis.components.DateTimeConverterRaw" />
				</h:inputText>
   
   				<h:outputLabel
					value="#{MensajesComponentes_cns['datosGeneralesConvenioBB.cuotasAtrasadas']}"
					for="cuotasAtrasadas" />
				<h:inputText value="#{datosGeneralesConvenioBB.businessObject.cuotasAtrasadas}" id="cuotasAtrasadas"
					disabled="true">
				</h:inputText>     	        
				
   				<h:outputLabel
					value="#{MensajesComponentes_cns['datosGeneralesConvenioBB.fechaFinalizacion']}"
					for="fechaFinalizacion" />
				<h:inputText value="#{datosGeneralesConvenioBB.businessObject.fechaFinalizacion}" id="fechaFinalizacion"
					disabled="true">
				</h:inputText>
   
   				<h:outputLabel
					value="#{MensajesComponentes_cns['datosGeneralesConvenioBB.saldo']}"
					for="saldo" />
				<h:inputText value="#{datosGeneralesConvenioBB.businessObject.saldo}" id="saldo"
					disabled="true">
					<f:convertNumber pattern="#,###" locale="en" />
				</h:inputText>     	        

   				<h:outputLabel
					value="#{MensajesComponentes_cns['datosGeneralesConvenioBB.opcion']}"
					for="opcion" />
				<h:inputText value="#{datosGeneralesConvenioBB.businessObject.opcion}" id="opcion"
					disabled="true">
				</h:inputText>
   
   				<h:outputLabel
					value="#{MensajesComponentes_cns['datosGeneralesConvenioBB.fechaSiniestro']}"
					for="fechaSiniestro" />
				<h:inputText value="#{datosGeneralesConvenioBB.businessObject.fechaSiniestro}" id="fechaSiniestro"
					disabled="true">
				</h:inputText>     	        

   				<h:outputLabel
					value="#{MensajesComponentes_cns['datosGeneralesConvenioBB.deudaInicial']}"
					for="deudaInicial" />
				<h:inputText value="#{datosGeneralesConvenioBB.businessObject.deudaInicial}" id="deudaInicial"
					disabled="true">
					<f:convertNumber pattern="#,###" locale="en" />
				</h:inputText>
   
   				<h:outputLabel
					value="#{MensajesComponentes_cns['datosGeneralesConvenioBB.periodoGracia']}"
					for="periodoGracia" />
				<h:inputText value="#{datosGeneralesConvenioBB.businessObject.periodoGracia}" id="periodoGracia"
					disabled="true">
				</h:inputText>     	        

   				<h:outputLabel
					value="#{MensajesComponentes_cns['datosGeneralesConvenioBB.valorCuotaInicial']}"
					for="valorCuotaInicial" />
				<h:inputText value="#{datosGeneralesConvenioBB.businessObject.valorCuotaInicial}" id="valorCuotaInicial"
					disabled="true">
				</h:inputText>
   
   				<h:outputLabel
					value="#{MensajesComponentes_cns['datosGeneralesConvenioBB.montoCondonado']}"
					for="montoCondonado" />
				<h:inputText value="#{datosGeneralesConvenioBB.businessObject.montoCondonado}" id="montoCondonado"
					disabled="true">
				</h:inputText>     	        
				
   				<h:outputLabel
					value="#{MensajesComponentes_cns['datosGeneralesConvenioBB.valorCuotaMensual']}"
					for="valorCuotaMensual" />
				<h:inputText value="#{datosGeneralesConvenioBB.businessObject.valorCuotaMensual}" id="valorCuotaMensual"
					disabled="true">
				</h:inputText>     	        

   				<h:outputLabel
					value="#{MensajesComponentes_cns['datosGeneralesConvenioBB.tasaInteresAplicada']}"
					for="tasaInteresAplicada" />
				<h:inputText value="#{datosGeneralesConvenioBB.businessObject.tasaInteresAplicada}" id="tasaInteresAplicada"
					disabled="true">
				</h:inputText>
   
   				<h:outputLabel
					value="#{MensajesComponentes_cns['datosGeneralesConvenioBB.motivo']}"
					for="motivo" />
				<h:inputText value="#{datosGeneralesConvenioBB.businessObject.motivo}" id="motivo"
					disabled="true">
				</h:inputText>     	        
				
   				<h:outputLabel
					value="#{MensajesComponentes_cns['datosGeneralesConvenioBB.tasaInteresActual']}"
					for="tasaInteresActual" />
				<h:inputText value="#{datosGeneralesConvenioBB.businessObject.tasaInteresActual}" id="tasaInteresActual"
					disabled="true">
				</h:inputText>     	        
				
       	        </sy:panelGrid>
			</sy:group>
			<br/>
			<sy:group title="">
       	        <sy:panelGrid columns="2">			

            <sy:popup actionBean="#{consultaPagosEnTransitoBB}" action="buscarAction"
                label="#{MensajesComponentes_cns['consultaPagosEnTransitoBB.buscarAction.datosCreacionConvenio']}"
                button="true"
                outcome="datosCreacionConvenio">
                    <f:setPropertyActionListener
                        target="#{nroConvenioQueryFilter.attributeValue}"
                        value="#{datosGeneralesConvenioBB.businessObject.nroConvenio}" />
		    </sy:popup>
            <sy:popup actionBean="#{consultaPagosEnTransitoBB}" action="buscarAction"
                label="#{MensajesComponentes_cns['consultaPagosEnTransitoBB.buscarAction.detalleCondonacion']}"
                button="true"
                    outcome="detalleCondonacion">
                    <f:setPropertyActionListener
                        target="#{nroConvenioQueryFilter.attributeValue}"
                        value="#{datosGeneralesConvenioBB.businessObject.nroConvenio}" />
            </sy:popup>
       	        </sy:panelGrid>
			</sy:group>
		</h:form>
	</sy:boxPage>
</f:view>
