<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:sy="http://www.synapsis.com/jsf/core">
	<sy:boxPage title="#{MensajesComponentes_cns['datosCreacionConvenioBB.titulo']}">
		<h:form>
		<t:saveState value="#{datosCreacionConvenioBB.businessObject}" />
		
			<sy:group title="" columns="2">
				<h:outputLabel
					value="#{MensajesComponentes_cns['datosCreacionConvenioBB.nroConvenio']}"
					for="col1" />
				<h:inputText value="#{datosCreacionConvenioBB.businessObject.nroConvenio}" id="col1"
					disabled="true">
				</h:inputText>
			</sy:group>


			<sy:group title="">
       	        <sy:panelGrid columns="2">			
   				<h:outputLabel
					value="#{MensajesComponentes_cns['datosCreacionConvenioBB.nombreSolicitante']}"
					for="nombreSolicitante" />
				<h:inputText value="#{datosCreacionConvenioBB.businessObject.nombreSolicitante}" id="nombreSolicitante"
					disabled="true" size="50">
				</h:inputText>
   
   				<h:outputLabel
					value="#{MensajesComponentes_cns['datosCreacionConvenioBB.calidadSolicitante']}"
					for="calidadSolicitante" />
				<h:inputText value="#{datosCreacionConvenioBB.businessObject.calidadSolicitante}" id="calidadSolicitante"
					disabled="true" size="50">
				</h:inputText>     	        
				
   				<h:outputLabel
					value="#{MensajesComponentes_cns['datosCreacionConvenioBB.tipoIdentificacionSolicitante']}"
					for="tipoIdentificacionSolicitante" />
				<h:inputText value="#{datosCreacionConvenioBB.businessObject.tipoIdentificacionSolicitante}" id="tipoIdentificacionSolicitante"
					disabled="true" size="50">
				</h:inputText>
    
   				<h:outputLabel
					value="#{MensajesComponentes_cns['datosCreacionConvenioBB.numeroIdentificacionSolicitante']}"
					for="numeroIdentificacionSolicitante" />
				<h:inputText value="#{datosCreacionConvenioBB.businessObject.numeroIdentificacionSolicitante}" id="numeroIdentificacionSolicitante"
					disabled="true" size="50">
				</h:inputText>     	        

   				<h:outputLabel
					value="#{MensajesComponentes_cns['datosCreacionConvenioBB.usuarioCreador']}"
					for="usuarioCreador" />
				<h:inputText value="#{datosCreacionConvenioBB.businessObject.usuarioCreador}" id="usuarioCreador"
					disabled="true" size="50">
				</h:inputText>
   
   				<h:outputLabel
					value="#{MensajesComponentes_cns['datosCreacionConvenioBB.nombreCreador']}"
					for="nombreCreador" />
				<h:inputText value="#{datosCreacionConvenioBB.businessObject.nombreCreador}" id="nombreCreador"
					disabled="true" size="50">
				</h:inputText>     	        
				
   				<h:outputLabel
					value="#{MensajesComponentes_cns['datosCreacionConvenioBB.usuarioAprobador']}"
					for="usuarioAprobador" />
				<h:inputText value="#{datosCreacionConvenioBB.businessObject.usuarioAprobador}" id="usuarioAprobador"
					disabled="true" size="50">
				</h:inputText>
   
   				<h:outputLabel
					value="#{MensajesComponentes_cns['datosCreacionConvenioBB.nombreAprobador']}"
					for="nombreAprobador" />
				<h:inputText value="#{datosCreacionConvenioBB.businessObject.nombreAprobador}" id="nombreAprobador"
					disabled="true" size="50">
				</h:inputText>     	        

   				<h:outputLabel
					value="#{MensajesComponentes_cns['datosCreacionConvenioBB.fechaAprobacion']}"
					for="fechaAprobacion" />
				<h:inputText value="#{datosCreacionConvenioBB.businessObject.fechaAprobacion}" id="fechaAprobacion"
					disabled="true" >
					<f:converter
							converterId="com.synapsis.components.DateTimeConverterRaw" />
					
				</h:inputText>
   
   				<h:outputLabel
					value="#{MensajesComponentes_cns['datosCreacionConvenioBB.numeroAprobacion']}"
					for="numeroAprobacion" />
				<h:inputText value="#{datosCreacionConvenioBB.businessObject.numeroAprobacion}" id="numeroAprobacion"
					disabled="true" size="50">
				</h:inputText>     	        

   				<h:outputLabel
					value="#{MensajesComponentes_cns['datosCreacionConvenioBB.usuarioCaduco']}"
					for="usuarioCaduco" />
				<h:inputText value="#{datosCreacionConvenioBB.businessObject.usuarioCaduco}" id="usuarioCaduco"
					disabled="true" size="50">
				</h:inputText>
   
   				<h:outputLabel
					value="#{MensajesComponentes_cns['datosCreacionConvenioBB.nombreCaduco']}"
					for="nombreCaduco" />
				<h:inputText value="#{datosCreacionConvenioBB.businessObject.nombreCaduco}" id="nombreCaduco"
					disabled="true" size="50">
				</h:inputText>     	        

   				<h:outputLabel
					value="#{MensajesComponentes_cns['datosCreacionConvenioBB.fechaCaducacion']}"
					for="fechaCaducacion" />
				<h:inputText value="#{datosCreacionConvenioBB.businessObject.fechaCaducacion}" id="fechaCaducacion"
					disabled="true" size="50">
				</h:inputText>
   
   				<h:outputLabel
					value="#{MensajesComponentes_cns['datosCreacionConvenioBB.motivoEstadoConvenio']}"
					for="motivoEstadoConvenio" />
				<h:inputText value="#{datosCreacionConvenioBB.businessObject.motivoEstadoConvenio}" id="motivoEstadoConvenio"
					disabled="true" size="50">
				</h:inputText>     	        
				
   				<h:outputLabel
					value="#{MensajesComponentes_cns['datosCreacionConvenioBB.valorCondonado']}"
					for="valorCondonado" />
				<h:inputText value="#{datosCreacionConvenioBB.businessObject.valorCondonado}" id="valorCondonado"
					disabled="true" size="50">
				</h:inputText>     	        
				
       	        </sy:panelGrid>
			</sy:group>
			<sy:group title="">
       	        <sy:panelGrid columns="2">			

            <sy:popup 
                label="Observaciones"
                button="true"
                outcome="observaciones">
                    <f:setPropertyActionListener
                        target="#{nroConvenioQueryFilter.attributeValue}"
                        value="#{datosCreacionConvenioBB.businessObject.nroConvenio}" />
            </sy:popup>
            <sy:popup 
                label="Documentos de Soporte"
                button="true"
                    outcome="documentosSoporte">
                    <f:setPropertyActionListener
                        target="#{nroConvenioQueryFilter.attributeValue}"
                        value="#{datosCreacionConvenioBB.businessObject.nroConvenio}" />
            </sy:popup>
       	        </sy:panelGrid>
			</sy:group>
			


		</h:form>
	</sy:boxPage>
</f:view>
