<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core">
	<h:form>
		<sy:dataGrid>
			<sy:dataGridRow
				label="#{MensajesComponentes_cns['datosTecnicosBB.nivelTension']}"
				data="#{datosTecnicosBB.datosTecnicos.nivelTension}" />
			<sy:dataGridRow
				label="#{MensajesComponentes_cns['datosTecnicosBB.conexion']}"
				data="#{datosTecnicosBB.datosTecnicos.conexion}" />
			<sy:dataGridRow
				label="#{MensajesComponentes_cns['datosTecnicosBB.fechaIncorporacion']}"
				data="#{datosTecnicosBB.datosTecnicos.fechaIncorporacion}" />
			<sy:dataGridRow
				label="#{MensajesComponentes_cns['datosTecnicosBB.fechaRetiro']}"
				data="#{datosTecnicosBB.atributos.fechaRetiro}" />
			<sy:dataGridRow
				label="#{MensajesComponentes_cns['datosTecnicosBB.sistemaMedida']}"
				data="#{datosTecnicosBB.datosTecnicos.sistemaMedida}" />

		</sy:dataGrid>
		<sy:dataGrid>
			<sy:dataGridRow label="ATRIBUTOS DEL SERVICIO ELECTRICO">
			</sy:dataGridRow>
		</sy:dataGrid>
		<sy:panelGrid columns="2">
			<sy:dataGrid>
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['datosTecnicosBB.tieneConvenio']}"
					data="#{sy:siNoValue(datosTecnicosBB.atributos.tieneConvenio)}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['datosTecnicosBB.reincorporado']}"
					data="#{sy:siNoValue(datosTecnicosBB.atributos.reincorporado)}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['datosTecnicosBB.centralRiesgo']}"
					data="#{sy:siNoValue(datosTecnicosBB.atributos.centralRiesgo)}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['datosTecnicosBB.reconexionAnulada']}"
					data="#{sy:siNoValue(datosTecnicosBB.atributos.reconexionAnulada)}" />
			</sy:dataGrid>
			<sy:dataGrid>
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['datosTecnicosBB.tieneSaldosDisputa']}"
					data="#{sy:siNoValue(datosTecnicosBB.atributos.tieneSaldosDisputa)}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['datosTecnicosBB.castigado']}"
					data="#{sy:siNoValue(datosTecnicosBB.atributos.castigado)}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['datosTecnicosBB.tieneCNR']}"
					data="#{sy:siNoValue(datosTecnicosBB.atributos.tieneCNR)}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['datosTecnicosBB.clienteVIP']}"
					data="#{sy:siNoValue(datosTecnicosBB.atributos.clienteVIP)}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['datosTecnicosBB.chequeDevuelto']}"
					data="#{sy:siNoValue(datosTecnicosBB.atributos.chequeDevuelto)}" />
			</sy:dataGrid>
	
			<h:panelGrid columns="1" columnClasses="gridColumnLabel,gridColumn,gridColumn"
        rowClasses="gridRow, gridRowColor"
        style="background-color: #bebebe;" 
        cellspacing="1" cellpadding="0" width="100%">
				<sy:popup outcome="leyArrendamiento"
					label="#{MensajesComponentes_cns['datosTecnicosBB.link.ley.arrendamiento']}"
					button="false" />
				<sy:popup outcome="servicioFinanciero"
					label="#{MensajesComponentes_cns['datosTecnicosBB.link.servicio.financiero']}"
					button="false" />
				<sy:popup outcome="encargoCobranza"
					label="#{MensajesComponentes_cns['datosTecnicosBB.link.encargo.cobranza']}"
					button="false" />
			</h:panelGrid>
		</sy:panelGrid>
	</h:form>
</f:view>
