<f:view xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:sy="http://www.synapsis.com/jsf/core">

        <sy:dataGrid>
            <sy:dataGridRow label="#{MensajesComponentes_cns['datosEstadoDeudaBB.bobResumenDeuda.deudaPagar']}"
                data="#{datosEstadoDeudaBB.bobResumenDeuda.deudaPagar}" 
                pattern="#{MensajesComponentes_cns['double.pattern.dos.decimales']}"
                locale="#{MensajesComponentes_cns['locale.decimal.separator']}"/>
            <sy:dataGridRow label="#{MensajesComponentes_cns['datosEstadoDeudaBB.bobResumenDeuda.deudaConvenida']}"
                data="#{datosEstadoDeudaBB.bobResumenDeuda.deudaConvenida}"
                pattern="#{MensajesComponentes_cns['double.pattern.dos.decimales']}"
                locale="#{MensajesComponentes_cns['locale.decimal.separator']}"/>
            <sy:dataGridRow label="#{MensajesComponentes_cns['datosEstadoDeudaBB.bobResumenDeuda.deudaTotal']}"
                data="#{datosEstadoDeudaBB.bobResumenDeuda.deudaTotal}" 
                pattern="#{MensajesComponentes_cns['double.pattern.dos.decimales']}"
                locale="#{MensajesComponentes_cns['locale.decimal.separator']}"/>
            <sy:dataGridRow label="#{MensajesComponentes_cns['datosEstadoDeudaBB.bobResumenDeuda.deudaEnergiaActual']}"
                data="#{datosEstadoDeudaBB.bobResumenDeuda.deudaEnergiaActual}" 
                pattern="#{MensajesComponentes_cns['double.pattern.dos.decimales']}"
                locale="#{MensajesComponentes_cns['locale.decimal.separator']}"/>
            <sy:dataGridRow label="#{MensajesComponentes_cns['datosEstadoDeudaBB.bobResumenDeuda.deudaServicioFinanciero']}"
                data="#{datosEstadoDeudaBB.bobResumenDeuda.deudaServicioFinanciero}" 
                pattern="#{MensajesComponentes_cns['double.pattern.dos.decimales']}"
                locale="#{MensajesComponentes_cns['locale.decimal.separator']}"/>
            <sy:dataGridRow label="#{MensajesComponentes_cns['datosEstadoDeudaBB.bobResumenDeuda.deudaEncargoCobranza']}"
                data="#{datosEstadoDeudaBB.bobResumenDeuda.deudaEncargoCobranza}"
                pattern="#{MensajesComponentes_cns['double.pattern.dos.decimales']}"
                locale="#{MensajesComponentes_cns['locale.decimal.separator']}"/>
            <sy:dataGridRow label="#{MensajesComponentes_cns['datosEstadoDeudaBB.bobResumenDeuda.deudaDisputa']}"
                data="#{datosEstadoDeudaBB.bobResumenDeuda.deudaDisputa}" 
                pattern="#{MensajesComponentes_cns['double.pattern.dos.decimales']}"
                locale="#{MensajesComponentes_cns['locale.decimal.separator']}"/>
            <sy:dataGridRow label="#{MensajesComponentes_cns['datosEstadoDeudaBB.bobResumenDeuda.antiguedadDeuda']}"
                data="#{datosEstadoDeudaBB.bobResumenDeuda.antiguedadDeuda}"/>
        </sy:dataGrid>

		<sy:dataGrid> <sy:dataGridRow label="ESTADO DEL SERVICIO"> </sy:dataGridRow>  </sy:dataGrid>
        <sy:dataGrid>
            <sy:dataGridRow label="#{MensajesComponentes_cns['datosEstadoDeudaBB.bobEstadoServicio.suministro']}"
                data="#{sy:siNoValue(datosEstadoDeudaBB.bobEstadoServicio.suministro)}" />
            <sy:dataGridRow label="#{MensajesComponentes_cns['datosEstadoDeudaBB.bobEstadoServicio.corteRestringido']}"
                data="#{sy:siNoValue(datosEstadoDeudaBB.bobEstadoServicio.corteRestringido)}"/>
            <sy:dataGridRow label="#{MensajesComponentes_cns['datosEstadoDeudaBB.bobEstadoServicio.convenioRestringido']}"
                data="#{sy:siNoValue(datosEstadoDeudaBB.bobEstadoServicio.convenioRestringido)} " />
            <sy:dataGridRow label="#{MensajesComponentes_cns['datosEstadoDeudaBB.bobEstadoServicio.cobranzaExterna']}"
                data="#{sy:siNoValue(datosEstadoDeudaBB.bobEstadoServicio.cobranzaExterna)}" />
            <sy:dataGridRow label="#{MensajesComponentes_cns['datosEstadoDeudaBB.bobEstadoServicio.accionLegal']}"
                data="#{sy:siNoValue(datosEstadoDeudaBB.bobEstadoServicio.accionLegal)}"/>
        </sy:dataGrid>
</f:view>
