<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:core="http://java.sun.com/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:v="http://www.synapsis-it.com/jsf/validator">

	<sy:boxPage title="#{MensajesComponentes_cns['datosCuentaCodensaBB.bobBeneficiario.edicion.telefono.titulo']}">
		<t:saveState value="#{idPersona}" />
		<h:form id="datosTelefono">
			<!-- service para levantar los datosTitular -->
			
			<s:service manager="#{serviceManager}" name="personaServiceCRUD"
				method="findById" id="personaServiceCRUD">
				<f:param name="id"
					value="#{idPersona}" />
			</s:service>
			<!-- unmarshall service datosTitular -->
			<s:unmarshall source="personaServiceCRUD"
				target="#{datosCuentaCodensaBB.persona}" />
			<c:exception />
			<c:errorHandler />
			<h:panelGrid columns="4" border="0" cellpadding="0" cellspacing="0"
				styleClass="synapsis-input-grid">
				<h:outputText value="Telefono" />
				<h:inputText value="#{datosCuentaCodensaBB.persona.telefono}" />
			</h:panelGrid>
			<br />
			<h:commandButton action="#{datosCuentaCodensaBB.saveOrUpdate}"
				value="Guardar"
				onclick="doOpenerSubmit('#{numeroCuentaQueryFilter.attributeValue}')"/>
		</h:form>
	</sy:boxPage>


</f:view>

