<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://www.synapsis-it.com/jsf/core">
<body>
    <h:form>

        <c:dataTable value="#{datosUltimaRefacturacionBB.listResults}" var="rowVar" rows="0">
			<h:column>
				<f:facet name="header">#{MensajesComponentes_cns['com.synapsis.cns.codensa.model.impl.DatosUltimaRefacturacionImpl.fechaRefactura']}</f:facet>
				<h:outputText value="#{rowVar.fechaRefactura}">
					<f:converter
							converterId="com.synapsis.components.DateTimeConverterRaw" />
				</h:outputText>
			</h:column>
			<h:column>
				<f:facet name="header">#{MensajesComponentes_cns['com.synapsis.cns.codensa.model.impl.DatosUltimaRefacturacionImpl.aprobado']}</f:facet>
				<h:outputText value="#{rowVar.aprobado}" />
			</h:column>
			<h:column>
				<f:facet name="header">#{MensajesComponentes_cns['com.synapsis.cns.codensa.model.impl.DatosUltimaRefacturacionImpl.totalDocumento']}</f:facet>
				<h:outputText value="#{rowVar.totalDocumento}" />
			</h:column>
		</c:dataTable>
    </h:form>
</body>
</f:view>
