<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service">
	<body> 
    <h:form>
    	<c:dataTable value="#{datosUltimaFacturacionBB.listResults}" var="rowVar" rows="0">
			<h:column>
				<f:facet name="header">#{MensajesComponentes_cns['com.synapsis.cns.codensa.model.impl.DatosUltimaFacturacionImpl.fechaFactura']}</f:facet>
				<h:outputText value="#{rowVar.fechaFactura}">
					<f:convertDateTime type="both" />
				</h:outputText>
			</h:column>
			<h:column>
				<f:facet name="header">#{MensajesComponentes_cns['com.synapsis.cns.codensa.model.impl.DatosUltimaFacturacionImpl.fechaVencimiento']}</f:facet>
				<h:outputText value="#{rowVar.fechaVencimiento}" />
			</h:column>
			<h:column>
				<f:facet name="header">#{MensajesComponentes_cns['com.synapsis.cns.codensa.model.impl.DatosUltimaFacturacionImpl.factura']}</f:facet>
				<h:outputText value="#{rowVar.factura}" />
			</h:column>
			<h:column>
				<f:facet name="header">#{MensajesComponentes_cns['com.synapsis.cns.codensa.model.impl.DatosUltimaFacturacionImpl.saldoAnterior']}</f:facet>
				<h:outputText value="#{rowVar.saldoAnterior}" />
			</h:column>
			<h:column>
				<f:facet name="header">#{MensajesComponentes_cns['com.synapsis.cns.codensa.model.impl.DatosUltimaFacturacionImpl.totalDocumento']}</f:facet>
				<h:outputText value="#{rowVar.totalDocumento}" />
			</h:column>
			<h:column>
				<f:facet name="header">#{MensajesComponentes_cns['com.synapsis.cns.codensa.model.impl.DatosUltimaFacturacionImpl.tipoLiquidacion']}</f:facet>
				<h:outputText value="#{rowVar.tipoLiquidacion}" />
			</h:column>
			<h:column>
				<f:facet name="header">#{MensajesComponentes_cns['com.synapsis.cns.codensa.model.impl.DatosUltimaFacturacionImpl.tipoEsquemaFacturacion']}</f:facet>
				<h:outputText value="#{rowVar.tipoEsquemaFacturacion}" />
			</h:column>
			
		</c:dataTable>       
    </h:form>
</body>
</f:view>
