<f:view xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:sy="http://www.synapsis.com/jsf/core">
    <sy:dataGrid>
    <sy:dataGridRow label="#{MensajesComponentes_cns['datosComercialesBB.nroTipoServ']}"
        data="#{datosComercialesBB.businessObject.nroTipoServ}" />
    <sy:dataGridRow label="#{MensajesComponentes_cns['datosComercialesBB.mercado']}"
        data="#{datosComercialesBB.businessObject.mercado}" />
    <sy:dataGridRow label="#{MensajesComponentes_cns['datosComercialesBB.sucursal']}"
        data="#{datosComercialesBB.businessObject.sucursal}" />
    <sy:dataGridRow label="#{MensajesComponentes_cns['datosComercialesBB.direccionReparto']}"
        data="#{datosComercialesBB.businessObject.direccionReparto}" />
    <sy:dataGridRow label="#{MensajesComponentes_cns['datosComercialesBB.rutaReparto']}"
        data="#{datosComercialesBB.businessObject.rutaReparto}" />
    <sy:dataGridRow label="#{MensajesComponentes_cns['datosComercialesBB.tarifa']}"
        data="#{datosComercialesBB.businessObject.tarifa}" />
    <sy:dataGridRow label="#{MensajesComponentes_cns['datosComercialesBB.estrato']}"
        data="#{datosComercialesBB.businessObject.estrato}" />
    <sy:dataGridRow label="#{MensajesComponentes_cns['datosComercialesBB.claseServicio']}"
        data="#{datosComercialesBB.businessObject.claseServicio}" />
    <sy:dataGridRow label="#{MensajesComponentes_cns['datosComercialesBB.subclaseServicio']}"
        data="#{datosComercialesBB.businessObject.subclaseServicio}" />
    <sy:dataGridRow label="#{MensajesComponentes_cns['datosComercialesBB.potenciaInstalada']}"
        data="#{datosComercialesBB.businessObject.potenciaInstalada}" />
    <sy:dataGridRow label="#{MensajesComponentes_cns['datosComercialesBB.potenciaFPHP']}"
        data="#{datosComercialesBB.businessObject.potenciaFPHP}" />
    <sy:dataGridRow label="#{MensajesComponentes_cns['datosComercialesBB.nombreEjecutivo']}"
        data="#{datosComercialesBB.businessObject.nombreEjecutivo}" />
    <sy:dataGridRow label="#{MensajesComponentes_cns['datosComercialesBB.giro']}"
        data="#{datosComercialesBB.businessObject.giro}" />
    <sy:dataGridRow label="#{MensajesComponentes_cns['datosComercialesBB.estado.servicio.conexion']}"
        data="#{datosComercialesBB.businessObject.estadoServConexion}" />
    <sy:dataGridRow label="#{MensajesComponentes_cns['datosComercialesBB.tipoLiquidacion']}"
        data="#{datosComercialesBB.businessObject.tipoLiquidacion}" />
    <sy:dataGridRow label="#{MensajesComponentes_cns['datosComercialesBB.tipoEsquemaFacturacion']}"
        data="#{datosComercialesBB.businessObject.tipoEsquemaFacturacion}" />
                
</sy:dataGrid>
</f:view>