<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service">

	<sy:boxPage
		title="#{MensajesComponentes_cns['consulta.historica.deuda.detalle.titulo']}">
		<br/>
		<h:form>
			<t:saveState value="#{detalleDeudaSaldoBB.detailName}" />
		
			<c:errorHandler />
			<br />
			<!-- service para levantar los tipos de documentos en el COMBO -->
			<s:service manager="#{serviceManager}"
				name="detalleDeudaService" method="findByCriteria" fire="true"
				id="detalleDeudaService">
				<f:param name="nroCuenta"
					value="#{numeroCuentaQueryFilter.attributeValue}" />
				<f:param name="detailName" value="#{detalleDeudaSaldoBB.detailName}" />
			</s:service>
			
			<s:dataTable source="detalleDeudaService"
				var="deuda">
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.historica.deuda.detalle.codigo.cargo']}">
					<h:outputText value="#{deuda.codCargo}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.historica.deuda.detalle.descripcion.cargo']}">
					<h:outputText value="#{deuda.descCargo}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.historica.deuda.detalle.valor.cargo']}">
					<h:outputText value="#{deuda.valorCargo}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.historica.deuda.detalle.origen.deuda']}">
					<h:outputText value="#{deuda.origenDeuda}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.historica.deuda.detalle.fecha.facturacion']}">
					<h:outputText value="#{deuda.fecFactura}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.historica.deuda.detalle.periodo.facturacion']}">
					<h:outputText value="#{deuda.periodoFacturacion}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.historica.deuda.detalle.tipo.documento.asociado']}">
					<h:outputText value="#{deuda.tipoDocumento}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.historica.deuda.detalle.numero.documento.asociado']}">
					<h:outputText value="#{deuda.nroDocumento}" />
				</sy:tableColumnCustom>
			</s:dataTable>
		</h:form>
	</sy:boxPage>
</f:view>
