<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:sy="http://www.synapsis.com/jsf/core">
	<sy:boxPage
		title="#{MensajesComponentes_cns['consultaLecturaConsumo.auditoria.detalle.consumo.titulo']}">
		<h:form>
			<sy:group title="">
				<sy:dataTable listBean="#{detalleLecturaConsumoReliquidacionBB}">
					<sy:tableColumnCustom
						header="#{MensajesComponentes_cns['consultaOtrosNegocios.nroCuenta']}">
						<h.outputText attribute ="businessObject.fechaInicialReliquidacion" />
					</sy:tableColumnCustom>
				</sy:dataTable> 
					
				<!-- <sy:panelGrid columns="3">
					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaLecturaConsumo.reliquidacion.detalle.fecha.inicial']}"
						for="fechaInicial" />
					<h:inputText value="#{detalleLecturaConsumoReliquidacionBB.businessObject.fechaInicialReliquidacion}" id="fechaInicial" disabled="true"
						style="margin-right: 7px;">
					</h:inputText>

					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaLecturaConsumo.reliquidacion.detalle.fecha.final']}"
						for="fechaFinal" />
					<h:inputText value="#{detalleLecturaConsumoReliquidacionBB.businessObject.fechaFinalReliquidacion}" id="fechaFinal" disabled="true"
						style="margin-right: 7px;">
					</h:inputText>

					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaLecturaConsumo.reliquidacion.detalle.correlacion.facturacion']}"
						for="correlacionFacturacion" />
					<h:inputText value="#{detalleLecturaConsumoReliquidacionBB.businessObject.correlativoFacturacion}" id="correlacionFacturacion"
						disabled="true" style="margin-right: 7px;">
					</h:inputText>
				</sy:panelGrid>
			</sy:group>

			<sy:group title="">
				<sy:panelGrid columns="3">
					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaLecturaConsumo.reliquidacion.detalle.consumo.facturado.activa.fp']}"
						for="activaFpOriginal" />
					<h:inputText value="#{detalleLecturaConsumoReliquidacionBB.businessObject.consumoFacturadoActivaFP}" id="activaFpOriginal"
						disabled="true">
					</h:inputText>

					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaLecturaConsumo.reliquidacion.detalle.consumo.reliquidado.activa.fp']}"
						for="activaFpModificado" />
					<h:inputText value="#{detalleLecturaConsumoReliquidacionBB.businessObject.consumoReliquiadoActivaFP}" id="activaFpModificado"
						disabled="true">
					</h:inputText>

					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaLecturaConsumo.reliquidacion.detalle.diferencia.consumo.activa.fp']}"
						for="activaHpOriginal" />
					<h:inputText value="#{detalleLecturaConsumoReliquidacionBB.businessObject.diferenciaConsumoActivaFP}" id="activaHpOriginal"
						disabled="true">
					</h:inputText>

					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaLecturaConsumo.reliquidacion.detalle.consumo.facturado.activa.hp']}"
						for="activaHpModificado" />
					<h:inputText value="#{detalleLecturaConsumoReliquidacionBB.businessObject.consumoFacturadoActivaHP}" id="activaHpModificado"
						disabled="true">
					</h:inputText>

					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaLecturaConsumo.reliquidacion.detalle.consumo.reliquidado.activa.hp']}"
						for="activaXpOriginal" />
					<h:inputText value="#{detalleLecturaConsumoReliquidacionBB.businessObject.consumoReliquiadoActivaHP}" id="activaXpOriginal"
						disabled="true">
					</h:inputText>

					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaLecturaConsumo.reliquidacion.detalle.diferencia.consumo.activa.hp']}"
						for="activaXpModificado" />
					<h:inputText value="#{detalleLecturaConsumoReliquidacionBB.businessObject.diferenciaConsumoActivaHP}" id="activaXpModificado"
						disabled="true">
					</h:inputText>

					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaLecturaConsumo.reliquidacion.detalle.consumo.facturado.activa.xp']}"
						for="reactivaFpOriginal" />
					<h:inputText value="#{detalleLecturaConsumoReliquidacionBB.businessObject.consumoFacturadoActivaXP}" id="reactivaFpOriginal"
						disabled="true">
					</h:inputText>

					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaLecturaConsumo.reliquidacion.detalle.consumo.reliquidado.activa.xp']}"
						for="reactivaFpModificado" />
					<h:inputText value="#{detalleLecturaConsumoReliquidacionBB.businessObject.consumoReliquiadoActivaXP}" id="reactivaFpModificado"
						disabled="true">
					</h:inputText>

					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaLecturaConsumo.reliquidacion.detalle.diferencia.consumo.activa.xp']}"
						for="reactivaHpOriginal" />
					<h:inputText value="#{detalleLecturaConsumoReliquidacionBB.businessObject.diferenciaConsumoActivaXP}" id="reactivaHpOriginal"
						disabled="true">
					</h:inputText>

					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaLecturaConsumo.reliquidacion.detalle.consumo.facturado.reactiva.fp']}"
						for="reactivaHpModificado" />
					<h:inputText value="#{detalleLecturaConsumoReliquidacionBB.businessObject.consumoFacturadoReactivaFP}" id="reactivaHpModificado"
						disabled="true">
					</h:inputText>

					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaLecturaConsumo.reliquidacion.detalle.consumo.reliquidado.reactiva.fp']}"
						for="reactivaXpOriginal" />
					<h:inputText value="#{detalleLecturaConsumoReliquidacionBB.businessObject.consumoReliquiadoReactivaFP}" id="reactivaXpOriginal"
						disabled="true">
					</h:inputText>

					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaLecturaConsumo.reliquidacion.detalle.dioferencia.consumo.reactiva.fp']}"
						for="reactivaXpOriginalrereqre" />
					<h:inputText value="#{detalleLecturaConsumoReliquidacionBB.businessObject.diferenciaConsumoReactivaFP}" id="reactivaXpOriginalrereqre"
						disabled="true">
					</h:inputText>

					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaLecturaConsumo.reliquidacion.detalle.consumo.facturado.reactiva.hp']}"
						for="reactivaXpOriginalg" />
					<h:inputText value="#{detalleLecturaConsumoReliquidacionBB.businessObject.consumoFacturadoReactivaHP}" id="reactivaXpOriginalg"
						disabled="true">
					</h:inputText>

					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaLecturaConsumo.reliquidacion.detalle.consumo.reliquidado.reactiva.hp']}"
						for="reactivaXpOriginalr" />
					<h:inputText value="#{detalleLecturaConsumoReliquidacionBB.businessObject.consumoReliquiadoReactivaHP}" id="reactivaXpOriginalr"
						disabled="true">
					</h:inputText>

					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaLecturaConsumo.reliquidacion.detalle.diferencia.consumo.reactiva.hp']}"
						for="reactivaXpOriginalt" />
					<h:inputText value="#{detalleLecturaConsumoReliquidacionBB.businessObject.diferenciaConsumoReactivaHP}" id="reactivaXpOriginalt"
						disabled="true">
					</h:inputText>

					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaLecturaConsumo.reliquidacion.detalle.consumo.facturado.reactiva.xp']}"
						for="reactivaXpOriginalgg" />
					<h:inputText value="#{detalleLecturaConsumoReliquidacionBB.businessObject.consumoFacturadoReactivaXP}" id="reactivaXpOriginalgg"
						disabled="true">
					</h:inputText>

					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaLecturaConsumo.reliquidacion.detalle.consumo.reliquidado.reactiva.xp']}"
						for="reactivaXpOriginalgj" />
					<h:inputText value="#{detalleLecturaConsumoReliquidacionBB.businessObject.consumoReliquiadoReactivaXP}" id="reactivaXpOriginalgj"
						disabled="true">
					</h:inputText>

					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaLecturaConsumo.reliquidacion.detalle.diferencia.consumo.rectiva.xp']}"
						for="reactivaXpOriginalgjf" />
					<h:inputText value="#{detalleLecturaConsumoReliquidacionBB.businessObject.diferenciaConsumoReactivaXP}" id="reactivaXpOriginalgjf"
						disabled="true">
					</h:inputText>
				</sy:panelGrid>-->
			</sy:group>
		</h:form>
	</sy:boxPage>
</f:view>
