<f:view xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:sy="http://www.synapsis.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:c="http://java.sun.com/jstl/core">
    <sy:boxPage title="#{MensajesComponentes_cns['estadoCobranzaBB.tabla.detalle.title']}">
	    <sy:dataGrid>
	        <sy:dataGridRow
	            label="#{MensajesComponentes_cns['estadoCobranza.honorarioPrejuridico']}"
	            data="#{detailBB.detail.honorarioPrejuridico}" />
	        <sy:dataGridRow
	            label="#{MensajesComponentes_cns['estadoCobranza.fechaHonorarioPrejuridico']}"
	            data="#{detailBB.detail.fechaHonorarioPrejuridico}" />
	        <sy:dataGridRow
	            label="#{MensajesComponentes_cns['estadoCobranza.honorarioJuridico']}"
	            data="#{detailBB.detail.honorarioJuridico}" />
	        <sy:dataGridRow
	            label="#{MensajesComponentes_cns['estadoCobranza.fechaHonorarioJuridico']}"
	            data="#{detailBB.detail.fechaHonorarioJuridico}" />
	    </sy:dataGrid>    
    </sy:boxPage>
</f:view>