<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:sy="http://www.synapsis.com/jsf/core">
	<sy:boxPage
		title="#{MensajesComponentes_cns['consultaLecturaConsumo.auditoria.detalle.consumo.titulo']}">
		<h:form>

			<sy:group title="" columns="2">
				<h:outputLabel
					value="#{MensajesComponentes_cns['consultaLecturaConsumo.auditoria.detalle.consumo.fecha.hora.analisis']}"
					for="fechaHora" />
				<h:inputText value="#{detalleLecturaConsumoAuditoriaBB.businessObject.fechaHoraAnalisis}" id="fechaHora" disabled="true">
				</h:inputText>
			</sy:group>


			<sy:group title="">
				<sy:panelGrid columns="4">
					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaLecturaConsumo.auditoria.detalle.consumo.activa.fp.original']}"
						for="activaFpOriginal" />
					<h:inputText value="#{detalleLecturaConsumoAuditoriaBB.businessObject.consumoActivaFPOriginal}" id="activaFpOriginal"
						disabled="true">
					</h:inputText>

					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaLecturaConsumo.auditoria.detalle.consumo.activa.fp.modificado']}"
						for="activaFpModificado" />
					<h:inputText value="#{detalleLecturaConsumoAuditoriaBB.businessObject.consumoActivaFPModificado}" id="activaFpModificado"
						disabled="true">
					</h:inputText>

					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaLecturaConsumo.auditoria.detalle.consumo.activa.hp.original']}"
						for="activaHpOriginal" />
					<h:inputText value="#{detalleLecturaConsumoAuditoriaBB.businessObject.consumoActivaHPOriginal}" id="activaHpOriginal"
						disabled="true">
					</h:inputText>

					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaLecturaConsumo.auditoria.detalle.consumo.activa.hp.modificado']}"
						for="activaHpModificado" />
					<h:inputText value="#{detalleLecturaConsumoAuditoriaBB.businessObject.consumoActivaHPModificado}" id="activaHpModificado"
						disabled="true">
					</h:inputText>

					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaLecturaConsumo.auditoria.detalle.consumo.activa.xp.original']}"
						for="activaXpOriginal" />
					<h:inputText value="#{detalleLecturaConsumoAuditoriaBB.businessObject.consumoActivaXPOriginal}" id="activaXpOriginal"
						disabled="true">
					</h:inputText>

					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaLecturaConsumo.auditoria.detalle.consumo.activa.xp.modificado']}"
						for="activaXpModificado" />
					<h:inputText value="#{detalleLecturaConsumoAuditoriaBB.businessObject.consumoActivaXPModificado}" id="activaXpModificado"
						disabled="true">
					</h:inputText>

					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaLecturaConsumo.auditoria.detalle.consumo.reactiva.fp.original']}"
						for="reactivaFpOriginal" />
					<h:inputText value="#{detalleLecturaConsumoAuditoriaBB.businessObject.consumoReactivaFPOriginal}" id="reactivaFpOriginal"
						disabled="true">
					</h:inputText>

					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaLecturaConsumo.auditoria.detalle.consumo.reactiva.fp.modificado']}"
						for="reactivaFpModificado" />
					<h:inputText value="#{detalleLecturaConsumoAuditoriaBB.businessObject.consumoReactivaFPModificado}" id="reactivaFpModificado"
						disabled="true">
					</h:inputText>

					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaLecturaConsumo.auditoria.detalle.consumo.reactiva.hp.original']}"
						for="reactivaHpOriginal" />
					<h:inputText value="#{detalleLecturaConsumoAuditoriaBB.businessObject.consumoReactivaHPOriginal}" id="reactivaHpOriginal"
						disabled="true">
					</h:inputText>

					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaLecturaConsumo.auditoria.detalle.consumo.reactiva.hp.modificado']}"
						for="reactivaHpModificado" />
					<h:inputText value="#{detalleLecturaConsumoAuditoriaBB.businessObject.consumoReactivaHPModificado}" id="reactivaHpModificado"
						disabled="true">
					</h:inputText>

					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaLecturaConsumo.auditoria.detalle.consumo.reactiva.xp.original']}"
						for="reactivaXpOriginal" />
					<h:inputText value="#{detalleLecturaConsumoAuditoriaBB.businessObject.consumoReactivaXPOriginal}" id="reactivaXpOriginal"
						disabled="true">
					</h:inputText>

					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaLecturaConsumo.auditoria.detalle.consumo.reactiva.xp.modificado']}"
						for="reactivaXpModificado" />
					<h:inputText value="#{detalleLecturaConsumoAuditoriaBB.businessObject.consumoReactivaXPModificado}" id="reactivaXpModificado"
						disabled="true">
					</h:inputText>
				</sy:panelGrid>

			</sy:group>

		</h:form>
	</sy:boxPage>
</f:view>
