<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service">

<sy:boxPage
		title="#{MensajesComponentes_cns['detalleLecturaConsumo.resultados']}">
		<h:form>

		<c:errorHandler />
		<s:service id="consumoLecturaService" manager="#{serviceManager}"
			name="consultaDetalleConsumoLecturaService" method="findByCriteria"
			fire="true">
			<f:param name="nroCuenta"
			value="#{numeroCuentaQueryFilter.attributeValue}" />
			<f:param name="idMedidor"
			value="#{detalleConsultaConsumoMedidorBB.idMedidor}" />
		</s:service>
		
		<s:service id="consumoOtraLecturaService" manager="#{serviceManager}"
			name="consultaDetalleConsumoOtraLecturaService" method="findByCriteria"
			fire="true">
			<f:param name="nroCuenta"
			value="#{numeroCuentaQueryFilter.attributeValue}" />
			<f:param name="idMedidor"
			value="#{detalleConsultaConsumoMedidorBB.idMedidor}" />
		</s:service>
		<br/>
		
		<sy:title
		value="" />
		<s:dataTable source="consumoLecturaService" var="cons">
		                        
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['detalleLecturaConsumo.fechaLecturaAnterior']}">
                        <h:outputText value="#{cons.fechaLecturaAnterior}" />
                  </sy:tableColumnCustom>
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['detalleLecturaConsumo.fechaLecturaActual']}">
                        <h:outputText value="#{cons.fechaLecturaActual}" />
                  </sy:tableColumnCustom>
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['detalleLecturaConsumo.periodoFacturacion']}">
                        <h:outputText value="#{cons.periodoFacturacion}" />
                  </sy:tableColumnCustom>
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['detalleLecturaConsumo.evento']}">
                        <h:outputText value="#{cons.evento}" />
                  </sy:tableColumnCustom>
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['detalleLecturaConsumo.tipoLectura']}">
                        <h:outputText value="#{cons.tipoLectura}" />
                  </sy:tableColumnCustom>
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['detalleLecturaConsumo.codigoAnomaliaLecturaTerreno']}">
                        <h:outputText value="#{cons.codigoAnomaliaLecturaTerreno}" />
                  </sy:tableColumnCustom>                  
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['detalleLecturaConsumo.codigoAnomaliaLecturaFacturacion']}">
                        <h:outputText value="#{cons.codigoAnomaliaLecturaFacturacion}" />
                  </sy:tableColumnCustom>
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['detalleLecturaConsumo.descripcionAnomaliaLecturaFacturacion']}">
                        <h:outputText value="#{cons.descripcionAnomaliaLecturaFacturacion}" />
                  </sy:tableColumnCustom>           
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['detalleLecturaConsumo.lecturaTerrenoActivaFP']}">
                        <h:outputText value="#{cons.lecturaTerrenoActivaFP}" />
                  </sy:tableColumnCustom>
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['detalleLecturaConsumo.lecturaFacturaActivaFP']}">
                        <h:outputText value="#{cons.lecturaFacturaActivaFP}" />
                  </sy:tableColumnCustom>
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['detalleLecturaConsumo.consumoFacturadoActivaFP']}">
                        <h:outputText value="#{cons.consumoFacturadoActivaFP}" />
                  </sy:tableColumnCustom>
                  
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['detalleLecturaConsumo.consumoFacturadoActivaHP']}">
                        <h:outputText value="#{cons.consumoFacturadoActivaHP}" />
                  </sy:tableColumnCustom>
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['detalleLecturaConsumo.lecturaTerrenoActivaHP']}">
                        <h:outputText value="#{cons.lecturaTerrenoActivaHP}" />
                  </sy:tableColumnCustom>
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['detalleLecturaConsumo.lecturaFacturaActivaHP']}">
                        <h:outputText value="#{cons.lecturaFacturaActivaHP}" />
                  </sy:tableColumnCustom>
                  
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['detalleLecturaConsumo.consumoFacturadoActivaXP']}">
                        <h:outputText value="#{cons.consumoFacturadoActivaXP}" />
                  </sy:tableColumnCustom>
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['detalleLecturaConsumo.lecturaTerrenoActivaXP']}">
                        <h:outputText value="#{cons.lecturaTerrenoActivaXP}" />
                  </sy:tableColumnCustom>
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['detalleLecturaConsumo.lecturaFacturaActivaXP']}">
                        <h:outputText value="#{cons.lecturaFacturaActivaXP}" />
                  </sy:tableColumnCustom>
                  
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['detalleLecturaConsumo.consumoActivaServicioDirecto']}">
                        <h:outputText value="#{cons.consumoActivaServicioDirecto}" />
                  </sy:tableColumnCustom>
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['detalleLecturaConsumo.ubicacionMedidor']}">
                        <h:outputText value="#{cons.ubicacionMedidor}" />
                  </sy:tableColumnCustom>
                  
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['detalleLecturaConsumo.consumoDemandaFP']}">
                        <h:outputText value="#{cons.consumoDemandaFP}" />
                  </sy:tableColumnCustom>
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['detalleLecturaConsumo.consumoDemandaHP']}">
                        <h:outputText value="#{cons.consumoDemandaHP}" />
                  </sy:tableColumnCustom>
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['detalleLecturaConsumo.consumoDemandaXP']}">
                        <h:outputText value="#{cons.consumoDemandaXP}" />
                  </sy:tableColumnCustom>
               </s:dataTable>
               
               
               	
		<s:dataTable source="consumoOtraLecturaService" var="otraLect">
		                        
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['detalleLecturaConsumo.fechaLecturaAnterior']}">
                        <h:outputText value="#{otraLect.fechaLecturaAnterior}" />
                  </sy:tableColumnCustom>
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['detalleLecturaConsumo.fechaLecturaActual']}">
                        <h:outputText value="#{otraLect.fechaLecturaActual}" />
                  </sy:tableColumnCustom>
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['detalleLecturaConsumo.periodoFacturacion']}">
                        <h:outputText value="#{otraLect.periodoFacturacion}" />
                  </sy:tableColumnCustom>
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['detalleLecturaConsumo.evento']}">
                        <h:outputText value="#{otraLect.evento}" />
                  </sy:tableColumnCustom>
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['detalleLecturaConsumo.tipoLectura']}">
                        <h:outputText value="#{otraLect.tipoLectura}" />
                  </sy:tableColumnCustom>
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['detalleLecturaConsumo.codigoAnomaliaLecturaTerreno']}">
                        <h:outputText value="#{otraLect.codigoAnomaliaLecturaTerreno}" />
                  </sy:tableColumnCustom>                  
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['detalleLecturaConsumo.codigoAnomaliaLecturaFacturacion']}">
                        <h:outputText value="#{otraLect.codigoAnomaliaLecturaFacturacion}" />
                  </sy:tableColumnCustom>
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['detalleLecturaConsumo.descripcionAnomaliaLecturaFacturacion']}">
                        <h:outputText value="#{otraLect.descripcionAnomaliaLecturaFacturacion}" />
                  </sy:tableColumnCustom>
                  
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['detalleLecturaConsumo.lecturaTerrenoReactivaFP']}">
                        <h:outputText value="#{otraLect.lecturaTerrenoReactivaFP}" />
                  </sy:tableColumnCustom>
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['detalleLecturaConsumo.lecturaFacturaReactivaFP']}">
                        <h:outputText value="#{otraLect.lecturaFacturaReactivaFP}" />
                  </sy:tableColumnCustom>
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['detalleLecturaConsumo.consumoFacturadoReactivaFP']}">
                        <h:outputText value="#{otraLect.consumoFacturadoReactivaFP}" />
                  </sy:tableColumnCustom>
                  
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['detalleLecturaConsumo.lecturaTerrenoReactivaHP']}">
                        <h:outputText value="#{otraLect.lecturaTerrenoReactivaHP}" />
                  </sy:tableColumnCustom>
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['detalleLecturaConsumo.lecturaFacturaReactivaHP']}">
                        <h:outputText value="#{otraLect.lecturaFacturaReactivaHP}" />
                  </sy:tableColumnCustom>
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['detalleLecturaConsumo.consumoFacturadoReactivaHP']}">
                        <h:outputText value="#{otraLect.consumoFacturadoReactivaHP}" />
                  </sy:tableColumnCustom>
                  
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['detalleLecturaConsumo.lecturaTerrenoReactivaXP']}">
                        <h:outputText value="#{otraLect.lecturaTerrenoReactivaXP}" />
                  </sy:tableColumnCustom>
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['detalleLecturaConsumo.lecturaFacturaReactivaXP']}">
                        <h:outputText value="#{otraLect.lecturaFacturaReactivaXP}" />
                  </sy:tableColumnCustom>
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['detalleLecturaConsumo.consumoFacturadoReactivaXP']}">
                        <h:outputText value="#{otraLect.consumoFacturadoReactivaXP}" />
                  </sy:tableColumnCustom>
                  
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['detalleLecturaConsumo.ubicacionMedidor']}">
                        <h:outputText value="#{otraLect.ubicacionMedidor}" />
                  </sy:tableColumnCustom>
                  
               </s:dataTable>
               
		</h:form>
	</sy:boxPage>
</f:view>
