<t:div xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:t="http://myfaces.apache.org/tomahawk">
	<sy:title value="Lecturas" />
	<sy:dataGrid includeDetail="true">
	    <h:outputText value="" />
	    <h:outputText value="Activa" styleClass="gridColumnLabel"/>
	    <h:outputText value="Reactiva" styleClass="gridColumnLabel" />
	    
		<h:outputText value="FP Anterior" />
		<h:outputText value="#{detalleCuentaBB.detalleLecturasConsumo.lecturaAnteriorEAFP}"/> 
		<h:outputText value="#{detalleCuentaBB.detalleLecturasConsumo.lecturaAnteriorERXP}"/>  
		
		<h:outputText value="FP Actual" />
		<h:outputText value="#{detalleCuentaBB.detalleLecturasConsumo.lecturaActualEAFP}"/> 
		<h:outputText value="#{detalleCuentaBB.detalleLecturasConsumo.lecturaActualERXP}"/>   
		
		<h:outputText value="HP Anterior" />
		<h:outputText value="#{detalleCuentaBB.detalleLecturasConsumo.lecturaAnteriorEAXP}"/> 
		<h:outputText value="#{detalleCuentaBB.detalleLecturasConsumo.lecAnteriorERHP}"/>  
			
		<h:outputText value="HP Actual" />
		<h:outputText value="#{detalleCuentaBB.detalleLecturasConsumo.lecturaActualEAXP}"/> 
		<h:outputText value="#{detalleCuentaBB.detalleLecturasConsumo.lecAcERHP}"/>  
		
		<h:outputText value="XP Anterior" />
		<h:outputText value="#{detalleCuentaBB.detalleLecturasConsumo.lecturaAnteriorERHP}"/>  
		<h:outputText value="#{detalleCuentaBB.detalleLecturasConsumo.lecAntERXP}"/>  
			
		<h:outputText value="XP Actual" />
		<h:outputText value="#{detalleCuentaBB.detalleLecturasConsumo.lecturaActualERHP}"/> 
		<h:outputText value="#{detalleCuentaBB.detalleLecturasConsumo.lecAcERXP}"/> 
	</sy:dataGrid>	 	
</t:div>