<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	 xmlns:t="http://myfaces.apache.org/tomahawk">	
	<sy:boxPage title="#{MensajesComponentes_cns['detalleCargos.titulo']}">
		<h:form>
		   	<t:saveState value="#{detalleCargosFactBB}" />
		   	
		<sy:dataTable listBean="#{detalleCargosFactBB}" resources="#{ClavesInducidas_cns}"
			metadata="#{detalleCargosFactMetadata}">
			<sy:tableColumn attribute="codigoCargo" />
			<sy:tableColumn attribute="descripcionCargo" />
			<sy:tableColumnCustom rowClasses="gridRow"
                    header="#{ClavesInducidas_cns['detalleOtrosCargos.valorCargo']}">
                    <h:outputText value="#{rowVar.valorCargo}" >
                    	<f:convertNumber pattern="#,##0" locale="en" />
                    </h:outputText>
            </sy:tableColumnCustom>
			<sy:tableColumn attribute="fechaFacturacion" />
			<sy:tableColumn attribute="periodoFacturacion" />
			<sy:tableColumn attribute="tipoDocumento" />
			<sy:tableColumn attribute="nroDocumentoAssoc" />
		</sy:dataTable>
	</h:form>
	</sy:boxPage>
</f:view>


