<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:t="http://myfaces.apache.org/tomahawk">
	<sy:boxPage
		title="#{MensajesComponentes_cns['consultaRefacturaciones.detalle.refacturaciones.ajustes.titulo']}">
		<h:form>
		<t:saveState value="#{detalleConsultaRefacturacionesAjustesBB.businessObject3}"/>
			<sy:group title="">
				<sy:panelGrid columns="3">
					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaRefacturaciones.detalle.refacturaciones.ajustes.nroAjuste']}"
						for="nroAjuste" />						
					<h:inputText
						value="#{detalleConsultaRefacturacionesAjustesBB.businessObject3.nroAjuste}"
						id="nroAjuste" disabled="true" style="margin-right: 7px;">
					</h:inputText>
					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaRefacturaciones.detalle.refacturaciones.ajustes.area.solicitante.ajuste']}"
						for="areaSolicitanteAjuste" />
					<h:inputText
						value="#{detalleConsultaRefacturacionesAjustesBB.businessObject3.areaSolicitanteAjuste}"
						id="areaSolicitanteAjuste" disabled="true" style="margin-right: 7px;">
					</h:inputText>
					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaRefacturaciones.detalle.refacturaciones.ajustes.area.responsable.ajuste']}"
						for="areaResponsableAjuste" />
					<h:inputText
						value="#{detalleConsultaRefacturacionesAjustesBB.businessObject3.areaResponsableAjuste}"
						id="areaResponsableAjuste" disabled="true" style="margin-right: 7px;">
					</h:inputText>
					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaRefacturaciones.detalle.refacturaciones.ajustes.clasificacion.ajuste']}"
						for="clasificacionAjuste" />
					<h:inputText
						value="#{detalleConsultaRefacturacionesAjustesBB.businessObject3.clasificacionAjuste}"
						id="clasificacionAjuste" disabled="true"
						style="margin-right: 7px;">
					</h:inputText>
					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaRefacturaciones.detalle.refacturaciones.ajustes.submotivo.ajuste']}"
						for="submotivoAjuste" />
					<h:inputText
						value="#{detalleConsultaRefacturacionesAjustesBB.businessObject3.submotivoAjuste}"
						id="submotivoAjuste" disabled="true" style="margin-right: 7px;">
					</h:inputText>
					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaRefacturaciones.detalle.refacturaciones.ajustes.tiempo.desde.creacion.ajuste']}"
						for="tiempoDesdeCreacionAjuste" />
					<h:inputText
						value="#{detalleConsultaRefacturacionesAjustesBB.businessObject3.tiempoDesdeCreacionAjuste}"
						id="tiempoDesdeCreacionAjuste" disabled="true"
						style="margin-right: 7px;">
					</h:inputText>
					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaRefacturaciones.detalle.refacturaciones.ajustes.fechaCreacionAjuste']}"
						for="fechaCreacionAjuste" />
					<h:inputText
						value="#{detalleConsultaRefacturacionesAjustesBB.businessObject3.fechaCreacionAjuste}"
						id="fechaCreacionAjuste" disabled="true"
						style="margin-right: 7px;">
					</h:inputText>
				</sy:panelGrid>
			</sy:group>

			<sy:panelTabbedPane>
				<sy:panelTab label="#{MensajesComponentes_cns['consultaRefacturacionAjuste.detalle.tab1.titulo']}">
					<ui:include src="consultaRefacturacionAjusteItems.xhtml" />
				</sy:panelTab>
				<sy:panelTab label="#{MensajesComponentes_cns['consultaRefacturacionAjuste.detalle.tab2.titulo']}">
					<ui:include src="consultaRefacturacionAjusteSaldos.xhtml" />
				</sy:panelTab>
				<sy:panelTab label="#{MensajesComponentes_cns['consultaRefacturacionAjuste.detalle.tab3.titulo']}">
					<ui:include src="consultaRefacturacionAjusteUsuarios.xhtml" />
				</sy:panelTab>
				<sy:panelTab label="#{MensajesComponentes_cns['consultaRefacturacionAjuste.detalle.tab4.titulo']}">
					<ui:include src="consultaRefacturacionAjusteMovimientos.xhtml" />
				</sy:panelTab>
				<sy:panelTab label="#{MensajesComponentes_cns['consultaRefacturacionAjuste.detalle.tab5.titulo']}">
					<ui:include src="consultaRefacturacionAjusteObservaciones.xhtml" />
				</sy:panelTab>
			</sy:panelTabbedPane>
		</h:form>
	</sy:boxPage>
</f:view>