<t:div xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<sy:title value="Datos b&#225;sicos" />
    <h:panelGrid columns="4"
        columnClasses="gridColumnLabel,gridColumn,gridColumnLabel,gridColumn"
        rowClasses="gridRow, gridRowColor"
        style="background-color: #bebebe;" 
        cellspacing="1" cellpadding="0" width="100%">

 		<h:outputText value="N&#250;mero Documento" />
	    <h:outputText value="#{detalleCuentaBB.detallesBasicos.nroDocumento}"/>
 		<h:outputText value="Perido de Lectura" />
	    <h:outputText value="#{detalleCuentaBB.detallesBasicos.periodoLectura}"/>
		
	    <h:outputText value="Fecha de Lectura" />
		<h:outputText value="#{detalleCuentaBB.detallesBasicos.fechaLectura}"/>
	    <h:outputText value="Tipo De Lectura" />
		<h:outputText value="#{detalleCuentaBB.detallesBasicos.tipoLectura}"/>
		
 		<h:outputText value="Anomal&#237;a De Lectura" />
	    <h:outputText value="#{detalleCuentaBB.detallesBasicos.codigoAnomalia}"/>
	    <h:outputText value="Estrato Socioecon&#243;mico" />
		<h:outputText value="#{detalleCuentaBB.detallesBasicos.estratoSocioeconomico}"/>
		
 		<h:outputText value="Tarifa De Facturaci&#243;n" />
	    <h:outputText value="#{detalleCuentaBB.detallesBasicos.tarifa}"/>
	    <h:outputText value="Consumo M&#237;nimo De Subsistencia" />
		<h:outputText value="#{detalleCuentaBB.detallesBasicos.consumoMinimoSubsistencia}"/>
		
 		<h:outputText value="Clase de Servicio" />
	    <h:outputText value="#{detalleCuentaBB.detallesBasicos.tipoCliente}"/>
	    <h:outputText value="Caracter&#237;stica 082" />
		<h:outputText value="#{detalleCuentaBB.detallesBasicos.indicadorConsumoKW}"/>
		
 		<h:outputText value="Nivel De Tensi&#243;n" />
	    <h:outputText value="#{detalleCuentaBB.detallesBasicos.nivelTension}"/>
 
  	    <h:outputText value="Direcci&#243;n reparto especial" />
		<h:outputText value="#{detalleCuentaBB.detallesBasicos.direccionRepartoEspecial}"/>										
		
 		<h:outputText value="Tipo Liquidaci&#243;n" />
	    <h:outputText value="#{detalleCuentaBB.detallesBasicos.tipoLiquidacion}"/>		
	    
 		<h:outputText value="Esquema Facturaci&#243;n" />
	    <h:outputText value="#{detalleCuentaBB.detallesBasicos.tipoEsquemaFacturacion}"/>			    
     </h:panelGrid>	
</t:div>