<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:sy="http://www.synapsis.com/jsf/core">
	<sy:boxPage
		title="#{MensajesComponentes_cns['consultaLecturaConsumo.auditoria.detalle.consumo.titulo']}">
		<h:form>
				<sy:panelGrid columns="1">
					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaLecturaConsumo.medidor.medidas.numeros.enteros']}"
						for="activaFpOriginal" />
					<h:inputText value="#{detalleLecturaConsumoMedidorMedidasBB.businessObject.numeroEnteroMedidor}" id="activaFpOriginal"
						disabled="true">
					</h:inputText>

					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaLecturaConsumo.medidor.medidas.numeros.decimales']}"
						for="activaFpModificado" />
					<h:inputText value="#{detalleLecturaConsumoMedidorMedidasBB.businessObject.numeroDecimalesMedidor}" id="activaFpModificado"
						disabled="true">
					</h:inputText>

					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaLecturaConsumo.medidor.medidas.carga.contratada']}"
						for="activaHpOriginal" />
					<h:inputText value="#{detalleLecturaConsumoMedidorMedidasBB.businessObject.cargaContratada}" id="activaHpOriginal"
						disabled="true">
					</h:inputText>

					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaLecturaConsumo.medidor.medidas.constante.energia']}"
						for="activaHpModificado" />
					<h:inputText value="#{detalleLecturaConsumoMedidorMedidasBB.businessObject.constanteEnergia}" id="activaHpModificado"
						disabled="true">
					</h:inputText>

					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaLecturaConsumo.medidor.medidas.constante.demanda']}"
						for="activaXpOriginal" />
					<h:inputText value="#{detalleLecturaConsumoMedidorMedidasBB.businessObject.constanteDemanda}" id="activaXpOriginal"
						disabled="true">
					</h:inputText>

					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaLecturaConsumo.medidor.medidas.constante.reactiva']}"
						for="activaXpModificado" />
					<h:inputText value="#{detalleLecturaConsumoMedidorMedidasBB.businessObject.constanteReactivaHoraPunta}" id="activaXpModificado"
						disabled="true">
					</h:inputText>

					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaLecturaConsumo.medidor.medidas.numero.enteros.demanda']}"
						for="reactivaFpOriginal" />
					<h:inputText value="#{detalleLecturaConsumoMedidorMedidasBB.businessObject.numeroEnterosDemanda}" id="reactivaFpOriginal"
						disabled="true">
					</h:inputText>

					
				</sy:panelGrid>

		</h:form>
	</sy:boxPage>
</f:view>
