<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service">

<sy:boxPage
		title="#{MensajesComponentes_cns['detalleConsumoReliquidacion.xhtml.titulo']}">
		<h:form>

		<c:errorHandler />
		<s:service id="reliquidacionService" manager="#{serviceManager}"
			name="consultaDetalleConsumoReliquidacionService" method="findByCriteria"
			fire="true">
			<f:param name="nroCuenta"
			value="#{numeroCuentaQueryFilter.attributeValue}" />
			<f:param name="numeroMedidor"
			value="#{detalleConsultaConsumoMedidorBB.numeroMedidor}" />
		</s:service>
		<br/>
		
		<sy:title
		value="#{MensajesComponentes_cns['detalleConsumoReliquidacion.resultados']}" />
		<s:dataTable source="reliquidacionService" var="reli">
		                        
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['detalleConsumoReliquidacion.fechaInicialReliquidacion']}">
                        <h:outputText value="#{reli.fechaInicialReliquidacion}" />
                  </sy:tableColumnCustom>
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['detalleConsumoReliquidacion.fechaFinalReliquidacion']}">
                        <h:outputText value="#{reli.fechaFinalReliquidacion}" />
                  </sy:tableColumnCustom>
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['detalleConsumoReliquidacion.periodosLiquidados']}">
                        <h:outputText value="#{reli.periodosLiquidados}" />
                  </sy:tableColumnCustom>
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['detalleConsumoReliquidacion.valorReliquidacionConsumo']}">
                        <h:outputText value="#{reli.valorReliquidacionConsumo}" />
                  </sy:tableColumnCustom>
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['detalleConsumoReliquidacion.valorReliquidacionSubsidios']}">
                        <h:outputText value="#{reli.valorReliquidacionSubsidios}" />
                  </sy:tableColumnCustom>
                  <sy:tableColumnCustom
                        header="#{MensajesComponentes_cns['detalleConsumoReliquidacion.valorReliquidacionContribucion']}">
                        <h:outputText value="#{reli.valorReliquidacionContribucion}" />
                  </sy:tableColumnCustom>
               </s:dataTable>
		</h:form>
	</sy:boxPage>
</f:view>
