<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax">
	<sy:boxPage title="Consulta Detalle Cuenta">
	
	 	<t:saveState value="#{buscaCuentaBB}" /> 
		
		<h:form id="formDetalleCuenta">
			<c:errorHandler />

			<!-- service para levantar los periodos que se muestran en el combo -->
			<s:service manager="#{serviceManager}"
				name="consultaCuentaDetallePeriodosService" method="findByCriteria"
				id="consultaCuentaDetallePeriodosService" rows="100">
				<f:param name="nroCuenta"
					value="#{numeroCuentaQueryFilter.attributeValue}" />
			</s:service>
			<!-- unmarshall service para la lista recuperada por el service de periodos -->
			<s:unmarshall source="consultaCuentaDetallePeriodosService"
				var="periodos" />

			<table width="100%" cellpadding="0" cellspacing="0">
				<tr>
					<td><h:panelGrid columns="5" cellspacing="0" cellpadding="2"
						width="1">

						<h:selectOneMenu value="#{detalleCuentaBB.fechaProceso}"
							styleClass="edit" binding="#{detalleCuentaBB.selectorPeriodos}">
							<f:selectItem itemLabel="Seleccionar ..." itemValue="" />
							<t:selectItems value="#{periodos}" var="periodo"
								itemLabel="#{periodo.periodoFacturacion}"
								itemValue="#{periodo.fechaProceso}" />
							<f:convertDateTime type="both" />
						</h:selectOneMenu>



						<h:commandButton value="Buscar" action="#{detalleCuentaBB.init}" />
<!-- 
						<sy:navigationBar actionBean="#{detalleCuentaBB}"
							action="navigateAction" />
 -->							
   					<h:commandButton value="&#60;&#60;" action="#{detalleCuentaBB.anteriorPeriodo}" />
   					<h:commandButton value="&#62;&#62;" action="#{detalleCuentaBB.siguientePeriodo}" />
					</h:panelGrid></td>
				</tr>
				<tr>
					<td>
					<table width="100%" cellpadding="0" cellspacing="0">
						<tr>
							<td valign="top" style="padding: 5px;"><ui:include
								src="detalleCuentaDatosBasicos.xhtml" /></td>
							<td valign="top" style="padding: 5px;"><ui:include
								src="detalleCuentaLecturas.xhtml" /></td>
						</tr>
					</table>
					</td>
				</tr>
				<tr>
					<td>
					<table width="100%" cellpadding="0" cellspacing="0">
						<tr>
							<td valign="top" style="padding: 5px;"><ui:include
								src="detalleCuentaConsumos.xhtml" /></td>
							<td valign="top" style="padding: 5px;"><ui:include
								src="detalleCuentaMedidores.xhtml" /></td>
						</tr>
					</table>
					</td>
				</tr>
				<tr>
					<td>
					<table width="100%" cellpadding="0" cellspacing="0">
						<tr>
							<td valign="top" style="padding: 5px;"><sy:title
								value="Detalle de Cargos" /> 
							<sy:dataTable
								tableId="detalleCargos"
								listBean="#{detalleCuentaBB.multiList.data['detalleCuentaDetalleCargos']}"
								resources="#{ClavesInducidas_cns}">
								<sy:tableColumn attribute="codigoCargo" />
								<sy:tableColumn attribute="cargo" />
								<sy:tableColumn attribute="unidadCobro" />
								<sy:tableColumn attribute="consumo" />
								<sy:tableColumn attribute="valorCargo" />
								<sy:tableColumn attribute="area" />
								<sy:tableColumn attribute="vigenciaTarifa" />
							</sy:dataTable> 
							<br />
							<sy:title value="Detalle de Terceros" /> 
							<sy:dataTable
								tableId="detalleCargosTerceros"
								listBean="#{detalleCuentaBB.multiList.data['detalleCuentaDetalleCargosTerceros']}"
								resources="#{ClavesInducidas_cns}">
								<sy:tableColumn attribute="codigoCargo" />
								<sy:tableColumn attribute="cargo" />
								<sy:tableColumn attribute="producto" />
								<sy:tableColumn attribute="valor" />
								<sy:tableColumn attribute="identificador" />
								<sy:tableColumn attribute="empresaDet" />
							</sy:dataTable>
							<br />
							</td>
						</tr>
					</table>
					</td>
				</tr>
				<tr>
					<td style="padding: 5px;">
					<table style="background-color: #bebebe;" cellspacing="1"
						cellpadding="0" width="100%">
						<tr class="gridRow">
							<td class="gridColumnLabel">Fecha de emisi&#243;n de la
							Factura</td>
							<td class="gridColumn">#{detalleCuentaBB.facDetalle.fechaEmicion}</td>
							<td class="gridColumnLabel">Primera fecha de vencimiento</td>
							<td class="gridColumn">#{detalleCuentaBB.facDetalle.fechaPrimerVto}</td>
							<td class="gridColumnLabel">Segunda fecha de vencimiento</td>
							<td class="gridColumn">#{detalleCuentaBB.facDetalle.fechaSegundoVto}</td>
							<td class="gridColumn"></td>
							<td class="gridColumnLabel">Total a Pagar</td>
							<td class="gridColumn">#{detalleCuentaBB.facDetalle.totalPagar}</td>
						</tr>
						<tr class="gridRowColor">
							<td class="gridColumnLabel">Motivo de c&#243;digo de Factura</td>
							<td class="gridColumn" colspan="2">#{detalleCuentaBB.facDetalle.codFactura}</td>
							<td class="gridColumnLabel">Mensajes de la Factura</td>
							<td class="gridColumn" colspan="5">#{detalleCuentaBB.facDetalle.messFactura}</td>
						</tr>
					</table>
					</td>
				</tr>
			</table>
			<sy:popup outcome="imprimirDuplicado"
				label="#{MensajesComponentes_cns['detalleCuenta.button.imprimirFactura']}"
				button="true" />
				
					<!-- BOTON ENCARGADO DE ABRIR EN UN POPUP EL WEBSERVICE DE DUPLICADO FACTURA VID -->
					<script type="text/javascript" src="../scripts/kendari.js" defered="true" />
					<a4j:commandButton
						value="#{MensajesComponentes_cns['detalleCuenta.button.imprimirFacturaVID']}"
						reRender="uriValue"
						oncomplete="gotoKendari('uriValue')"
						id="imprimirFacturaVIDAction"
						rendered="#{detalleCuentaBB.detallesBasicos!=null}">
						<h:inputHidden id="uriValue" 
						value="#{duplicadoWSEnviroment2.urlWebServices}?idfactura=#{detalleCuentaBB.detallesBasicos.nroDocumento}" />
					</a4j:commandButton>
					<!--  -->																					
            
            
		</h:form>
	</sy:boxPage>
</f:view>
