<t:div xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:t="http://myfaces.apache.org/tomahawk">
	<sy:title value="Consumos" />	
	
    <h:panelGrid columns="4"
        columnClasses="gridColumnLabel,gridColumn,gridColumnLabel,gridColumn"
        rowClasses="gridRow, gridRowColor"
        style="background-color: #bebebe;" 
        cellspacing="1" cellpadding="0" width="100%">
        
	    <h:outputText value="Consumos" />
	    <h:outputText value="#{MensajesComponentes_cns['consulta.detalle.cuenta.activa']}" styleClass="gridColumnLabel" />
	    <h:outputText value="#{MensajesComponentes_cns['consulta.detalle.cuenta.reactiva']}" styleClass="gridColumnLabel" />
	    <h:outputText value="#{MensajesComponentes_cns['consulta.detalle.cuenta.demanda']}" styleClass="gridColumnLabel" />	    
	    
	    	    
		<h:outputText value="FP (Kwh)" styleClass="gridColumnLabel" />
		<h:outputText value="#{detalleCuentaBB.detalleLecturasConsumo.consumoEAFP}"/>    
		<h:outputText value="#{detalleCuentaBB.detalleLecturasConsumo.consumoERFP}"/>   
		<h:outputText value="#{detalleCuentaBB.detalleLecturasConsumo.demandaFP}"/>   		
		
		<h:outputText value="HP (Kwh)" styleClass="gridColumnLabel" />
		<h:outputText value="#{detalleCuentaBB.detalleLecturasConsumo.consumoEAHP}"/>   
		<h:outputText value="#{detalleCuentaBB.detalleLecturasConsumo.consumoERHP}"/>   
		<h:outputText value="#{detalleCuentaBB.detalleLecturasConsumo.demandaHP}"/>   	
		
		<h:outputText value="XP (Kwh)" styleClass="gridColumnLabel" />
		<h:outputText value="#{detalleCuentaBB.detalleLecturasConsumo.consumoEAXP}"/> 
		<h:outputText value="#{detalleCuentaBB.detalleLecturasConsumo.consumoERXP}"/>   
		<h:outputText value="#{detalleCuentaBB.detalleLecturasConsumo.demandaXP}"/>   
		
		
	   </h:panelGrid>	
</t:div>