<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service">
	<sy:boxPage
		title="#{MensajesComponentes_cns['detalles.datos.cuenta.titulo']}">
		<h:form>
			<s:service manager="#{serviceManager}"
				name="detalleDatosCuentaService" method="findByCriteriaUnique"
				id="detalleDatosCuentaService">
				<f:param name="nroCuenta" value="#{numeroCuentaQueryFilter.attributeValue}" />
			</s:service>

			<s:unmarshall source="detalleDatosCuentaService"
				var="detalleDatosCuenta" />

			<sy:dataGrid>
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['detalles.datos.cuenta.corporativa']}"
					data="#{detalleDatosCuenta.cuentaCorporativa}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['detalles.datos.cuenta.codigo.entidad.comercial']}"
					data="#{detalleDatosCuenta.codigoEntidadComercial}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['detalles.datos.cuenta.descripcion.entidad.comercial']}"
					data="#{detalleDatosCuenta.descripcionEntidadComercial}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['detalles.datos.cuenta.numero.cuenta.padre']}"
					data="#{detalleDatosCuenta.numeroCuentaPadre}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['detalles.datos.cuenta.indicador.presenta.expediente']}"
					data="#{detalleDatosCuenta.indicadorPresentaExpediente}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['detalles.datos.cuenta.indicador.deuda.castigada']}"
					data="#{detalleDatosCuenta.indicadorDeudaCastigada}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['detalles.datos.cuenta.indicador.presenta.deuda.condonada.pendiente']}"
					data="#{detalleDatosCuenta.indicadorPresentaDeudaCondonadaPendiente}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['detalles.datos.cuenta.indicador.cliente.vip']}"
					data="#{detalleDatosCuenta.indicadorClienteVip}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['detalles.datos.cuenta.servicio.electrico.empresarial']}"
					data="#{detalleDatosCuenta.servicioElectricoEmpresarial}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['detalles.datos.cuenta.pertenece.otro.comercializador']}"
					data="#{detalleDatosCuenta.perteneceOtroComercializador}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['detalles.datos.cuenta.cuenta.oficial']}"
					data="#{detalleDatosCuenta.cuentaOficial}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['detalles.datos.cuenta.en.proceso.facturacion']}"
					data="#{detalleDatosCuenta.procesoFacturacion}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['detalles.datos.cuenta.codigo.retencion']}"
					data="#{detalleDatosCuenta.codigoRetencion}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['detalles.datos.cuenta.ruta.facturacion']}"
					data="#{detalleDatosCuenta.rutaFacturacion}" />
			</sy:dataGrid>
		</h:form>
	</sy:boxPage>
</f:view>
