<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core">
	<sy:boxPage title="#{MensajesComponentes_cns['detalleCastigoBB.title']}">
		<h:form>
			<sy:dataTable listBean="#{detalleCastigoBB}" metadata="#{detalleCastigoMetadata}"
	                resources="#{ClavesInducidas_cns}">
	                <sy:tableColumn attribute="correlativoFacturacion" />
	               	<sy:tableColumn attribute="codCargo" />
	               	<sy:tableColumn attribute="descCargo" />
	               	<sy:tableColumn attribute="valorCargo" />
	               	<sy:tableColumn attribute="nroDocumento" />
	               	<sy:tableColumn attribute="usuarioCreador" />
	               	<sy:tableColumn attribute="nombreUsuarioCreador" />
	               	<sy:tableColumn attribute="fechaCastigo" />
	               	<sy:tableColumn attribute="motivoCastigo" />
	               	<sy:tableColumn attribute="tipoCastigo" />
	               	<sy:tableColumn attribute="cargoOriginal" />
					<sy:tableColumnLinkPopup
	                    header="#{MensajesComponentes_cns['detalleCastigoBB.tabla.observaciones.title']}"
	                    label="#{MensajesComponentes_cns['detalleCastigoBB.tabla.observaciones']}"
	                    outcome="observaciones">
	                    <f:setPropertyActionListener target="#{detailBB.detail}"
	                        value="#{rowVar.observaciones}" />
	                </sy:tableColumnLinkPopup>
			</sy:dataTable>
		</h:form>
	</sy:boxPage>
</f:view>



