<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:s="http://www.synapsis-it.com/jsf/service">

    <sy:boxPage title="#{MensajesComponentes_cns['Aqui va el titulo']}"
		close="false">
		<h:form>
			<s:service id="refacturacionService" manager="#{serviceManager}"
				name="refacturacionService" method="findByCriteria" fire="true">
				<f:param name="nroOrden"
					value="#{detalleDeudaSaldoBB.bo.nroOrden}" />
			</s:service>
			<s:dataTable source="refacturacionService" var="refa">
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.refact.codigoItemAjuste']}">
					<h:outputText value="#{refa.codigoItemAjuste}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.refact.descItemAjuste']}">
					<h:outputText value="#{refa.descItemAjuste}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.refact.valorAjusteItem']}">
					<h:outputText value="#{refa.valorAjusteItem}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.refact.valorItemAntesAjuste']}">
					<h:outputText value="#{refa.valorItemAntesAjuste}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.refact.valorItemDespuesAjuste']}">
					<h:outputText value="#{refa.valorItemDespuesAjuste}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.refact.periodoDeFact']}">
					<h:outputText value="#{refa.periodoDeFact}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.refact.consumoKwhAjuste']}">
					<h:outputText value="#{refa.consumoKwhAjuste}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.refact.consumoKwhAntesAjuste']}">
					<h:outputText value="#{refa.consumoKwhAntesAjuste}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.refact.consumoKwhDespuesAjuste']}">
					<h:outputText value="#{refa.consumoKwhDespuesAjuste}" />
				</sy:tableColumnCustom>
			</s:dataTable>
		</h:form>
	</sy:boxPage>

</f:view>
