<f:subview xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:s="http://www.synapsis-it.com/jsf/service">			 


	<t:saveState value="#{detalleInventariosInfraestructuraBB}"/>

	<sy:boxPage	title="#{MensajesComponentes_cns['detalleInventariosInfraestructuraBB.title']}" nroCuentaHeader="disable">
	
	<h:form>
	<sy:title value="#{MensajesComponentes_cns['detalleInventariosInfraestructuraBB.detalleCuenta.title']}" />	    
    <h:panelGrid columns="6"
        columnClasses="gridColumnLabel,gridColumn,gridColumnLabel,gridColumn"
        rowClasses="gridRow, gridRowColor" style="background-color: #bebebe;"
        cellspacing="1" cellpadding="0" width="100%">

 		<h:outputText value="#{MensajesComponentes_cns['cuentasInfraestructura.nroCuenta']}" />
	    <h:outputText value="#{detalleInventariosInfraestructuraBB.detalleCuentaInfraestructuraBO.nroCuenta}"/>
 		<h:outputText value="#{MensajesComponentes_cns['cuentasInfraestructura.rutaReparto']}" />
	    <h:outputText value="#{detalleInventariosInfraestructuraBB.detalleCuentaInfraestructuraBO.rutaReparto}"/>
 		<h:outputText value="#{MensajesComponentes_cns['cuentasInfraestructura.aplicaDescuento']}" />
	    <h:outputText value="#{detalleInventariosInfraestructuraBB.detalleCuentaInfraestructuraBO.aplicaDescuento}"/>
	    
 		<h:outputText value="#{MensajesComponentes_cns['cuentasInfraestructura.nroServicio']}" />
	    <h:outputText value="#{detalleInventariosInfraestructuraBB.detalleCuentaInfraestructuraBO.nroServicio}"/>
 		<h:outputText value="#{MensajesComponentes_cns['cuentasInfraestructura.manzanaReparto']}" />
	    <h:outputText value="#{detalleInventariosInfraestructuraBB.detalleCuentaInfraestructuraBO.manzanaReparto}"/>
 		<h:outputText value="#{MensajesComponentes_cns['cuentasInfraestructura.aplicaPeriodoGracia']}" />
	    <h:outputText value="#{detalleInventariosInfraestructuraBB.detalleCuentaInfraestructuraBO.aplicaPeriodoGracia}"/>

 		<h:outputText value="#{MensajesComponentes_cns['cuentasInfraestructura.nroContrato']}" />
	    <h:outputText value="#{detalleInventariosInfraestructuraBB.detalleCuentaInfraestructuraBO.nroContrato}"/>
 		<h:outputText value="#{MensajesComponentes_cns['cuentasInfraestructura.idClienteTelem']}" />
	    <h:outputText value="#{detalleInventariosInfraestructuraBB.detalleCuentaInfraestructuraBO.idClienteTelem}"/>
 		<h:outputText value="#{MensajesComponentes_cns['cuentasInfraestructura.fechaInstalacion']}" />
	    <h:outputText value="#{detalleInventariosInfraestructuraBB.detalleCuentaInfraestructuraBO.fechaInstalacion}"/>

 		<h:outputText value="#{MensajesComponentes_cns['cuentasInfraestructura.titularCuenta']}" />
	    <h:outputText value="#{detalleInventariosInfraestructuraBB.detalleCuentaInfraestructuraBO.titularCuenta}"/>	    	    	    
 		<h:outputText value="#{MensajesComponentes_cns['cuentasInfraestructura.contratoVigente']}" />
	    <h:outputText value="#{detalleInventariosInfraestructuraBB.detalleCuentaInfraestructuraBO.contratoVigente}"/>
	    	    
     </h:panelGrid>

	<f:verbatim><br /><br /></f:verbatim>
		
	<s:service id="inventarioInicialInfraestructura" manager="#{serviceManager}" rows="10"
		name="inventariosInicialInfraestructuraService" method="findByCriteria"		
		binding="#{detalleInventariosInfraestructuraBB.inventariosInicialInfraestructuraService}" fire="true">		
		<f:param name="nroCuenta"
			value="#{detalleInventariosInfraestructuraBB.nroCuenta}" />
	</s:service>
	
	<sy:title value="#{MensajesComponentes_cns['detalleInventariosInfraestructuraBB.inventarioInicial.title']}" />
	<s:dataTable source="inventarioInicialInfraestructura" var="ii">
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['inventarioInicialInfraestructura.idClienteTelem']}">
			<h:outputText value="#{ii.idClienteTelem}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['inventarioInicialInfraestructura.periodo']}">
			<h:outputText value="#{ii.periodo}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['inventarioInicialInfraestructura.nroProyecto']}">
			<h:outputText value="#{ii.nroProyecto}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['inventarioInicialInfraestructura.zona']}">
			<h:outputText value="#{ii.zona}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['inventarioInicialInfraestructura.producto']}">
			<h:outputText value="#{ii.producto}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['inventarioInicialInfraestructura.subProducto']}">
			<h:outputText value="#{ii.subProducto}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['inventarioInicialInfraestructura.fechaViabilidad']}">
			<h:outputText value="#{ii.fechaViabilidad}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['inventarioInicialInfraestructura.cantidad']}">
			<h:outputText value="#{ii.cantidad}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['inventarioInicialInfraestructura.fechaFactura']}">
			<h:outputText value="#{ii.fechaFactura}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['inventarioInicialInfraestructura.fechaPeriodoGracia']}">
			<h:outputText value="#{ii.fechaPeriodoGracia}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['inventarioInicialInfraestructura.diasCobro']}">
			<h:outputText value="#{ii.diasCobro}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['inventarioInicialInfraestructura.costoPeriodo']}">
			<h:outputText value="#{ii.costoPeriodo}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['inventarioInicialInfraestructura.tarifaAplicada']}">
			<h:outputText value="#{ii.tarifaAplicada}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['inventarioInicialInfraestructura.estadoFacturacion']}">
			<h:outputText value="#{ii.estadoFacturacion}" />
		</sy:tableColumnCustom>	
	</s:dataTable>

	<f:verbatim><br /><br /></f:verbatim>
	<s:service id="inventarioAcumuladoInfraestructura" manager="#{serviceManager}" rows="10"
		name="inventariosAcumuladoInfraestructuraService" method="findByCriteria"		
		binding="#{detalleInventariosInfraestructuraBB.inventariosAcumuladoInfraestructuraService}" fire="true">		
		<f:param name="nroCuenta"
			value="#{detalleInventariosInfraestructuraBB.nroCuenta}" />
	</s:service>

	<sy:title value="#{MensajesComponentes_cns['detalleInventariosInfraestructuraBB.inventarioAcumulado.title']}" />	
	<s:dataTable source="inventarioAcumuladoInfraestructura" var="ia">
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['inventarioAcumuladoInfraestructura.idClienteTelem']}">
			<h:outputText value="#{ia.idClienteTelem}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['inventarioAcumuladoInfraestructura.periodo']}">
			<h:outputText value="#{ia.periodo}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['inventarioAcumuladoInfraestructura.zona']}">
			<h:outputText value="#{ia.zona}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['inventarioAcumuladoInfraestructura.producto']}">
			<h:outputText value="#{ia.producto}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['inventarioAcumuladoInfraestructura.subProducto']}">
			<h:outputText value="#{ia.subProducto}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['inventarioAcumuladoInfraestructura.grupo']}">
			<h:outputText value="#{ia.grupo}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['inventarioAcumuladoInfraestructura.cantidad']}">
			<h:outputText value="#{ia.cantidad}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['inventarioAcumuladoInfraestructura.acumuladoApoyos']}">
			<h:outputText value="#{ia.acumuladoApoyos}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['inventarioAcumuladoInfraestructura.acumuladoValores']}">
			<h:outputText value="#{ia.acumuladoValores}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['inventarioAcumuladoInfraestructura.descuentoEstructura']}">
			<h:outputText value="#{ia.descuentoEstructura}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['inventarioAcumuladoInfraestructura.valorDescEstructura']}">
			<h:outputText value="#{ia.valorDescEstructura}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['inventarioAcumuladoInfraestructura.acumuladoValoresDescuento']}">
			<h:outputText value="#{ia.acumuladoValoresDescuento}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['inventarioAcumuladoInfraestructura.tarifaAplicar']}">
			<h:outputText value="#{ia.tarifaAplicar}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['inventarioAcumuladoInfraestructura.estadoFacturacion']}">
			<h:outputText value="#{ia.estadoFacturacion}" />
		</sy:tableColumnCustom>	
	</s:dataTable>
	</h:form>
	
	</sy:boxPage>
</f:subview>