<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	 xmlns:t="http://myfaces.apache.org/tomahawk">	
	<sy:boxPage title="#{MensajesComponentes_cns['detalleCargos.titulo']}">
		<h:form>
		   	<t:saveState value="#{detalleCargosFactBB}" />
		   	
		<sy:dataTable listBean="#{detalleCargosFactBB}" resources="#{ClavesInducidas_cns}"
			metadata="#{detalleCargosFactMetadata}">
			<sy:tableColumnCustom rowClasses="gridRow" header="#{ClavesInducidas_cns['com.synapsis.cns.codensa.model.impl.DeudaImpl.codCago']}">
				<h:outputText value="#{rowVar.codCargo}" />
			</sy:tableColumnCustom>
			<sy:tableColumnCustom rowClasses="gridRow" header="#{ClavesInducidas_cns['com.synapsis.cns.codensa.model.impl.DeudaImpl.descCargo']}">
				<h:outputText value="#{rowVar.descCargo}" />
			</sy:tableColumnCustom>
			<sy:tableColumnCustom rowClasses="gridRow" header="#{ClavesInducidas_cns['com.synapsis.cns.codensa.model.impl.DeudaImpl.saldoCargo']}">
                    <h:outputText value="#{rowVar.saldoCargo}" >
                    	<f:convertNumber pattern="#,##0" locale="en" />
                    </h:outputText>
            </sy:tableColumnCustom>
			<sy:tableColumnCustom rowClasses="gridRow" header="#{ClavesInducidas_cns['com.synapsis.cns.codensa.model.impl.DeudaImpl.fecFactura']}">
				<h:outputText value="#{rowVar.fecFactura}" />
			</sy:tableColumnCustom>
			<sy:tableColumnCustom rowClasses="gridRow" header="#{ClavesInducidas_cns['com.synapsis.cns.codensa.model.impl.DeudaImpl.periodoFacturacion']}">
				<h:outputText value="#{rowVar.periodoFacturacion}" />
			</sy:tableColumnCustom>
			<sy:tableColumnCustom rowClasses="gridRow" header="#{ClavesInducidas_cns['com.synapsis.cns.codensa.model.impl.DeudaImpl.tipoDocumento']}">
				<h:outputText value="#{rowVar.tipoDocumento}" />
			</sy:tableColumnCustom>
			<sy:tableColumnCustom rowClasses="gridRow" header="#{ClavesInducidas_cns['com.synapsis.cns.codensa.model.impl.DeudaImpl.nroDocumento']}">
				<h:outputText value="#{rowVar.nroDocumento}" />
			</sy:tableColumnCustom>
			<sy:tableColumnCustom rowClasses="gridRow" header="#{ClavesInducidas_cns['com.synapsis.cns.codensa.model.impl.DeudaImpl.nroServicio']}">
				<h:outputText value="#{rowVar.nroServicio}" />
			</sy:tableColumnCustom>
		</sy:dataTable>
	</h:form>
	</sy:boxPage>
</f:view>


