<t:div xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:t="http://myfaces.apache.org/tomahawk">
	<sy:title value="Medidores" />
	<sy:dataTable listBean="#{detalleCuentaBB.multiList.data['detalleCuentaDatosMedidor']}"
		resources="#{ClavesInducidas_cns}" tableId="medidoresTable">
		<sy:tableColumn attribute="nroMedidor" />
		<sy:tableColumn attribute="marcaMedidor" />
		<sy:tableColumn attribute="tipoMedidor" />
		<sy:tableColumn attribute="factorLiquidacion" />
		<sy:tableColumn attribute="cargaContratada" />
		<sy:tableColumn attribute="cargaInstalada" />
		<sy:tableColumn attribute="factorPulso" />
	</sy:dataTable>
</t:div>