<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service">
	<sy:boxPage
		title="#{MensajesComponentes_cns['detalles.datos.estado.deuda.titulo']}">
		<h:form>
			<s:service manager="#{serviceManager}"
				name="detalleEstadoDeudaService" method="findByCriteriaUnique"
				id="detalleEstadoDeudaService">
				<f:param name="nroCuenta" value="#{numeroCuentaQueryFilter.attributeValue}" />
			</s:service>

			<s:unmarshall source="detalleEstadoDeudaService"
				var="detalleEstadoDeuda" />
		
			<sy:dataGrid>
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['detalles.datos.estado.deuda.acreditacion.beneficiario.serv.electrico']}"
					data="#{detalleEstadoDeuda.acreditacionBeneficiarioServElectrico}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['detalles.datos.estado.deuda.manzana.inmobiliaria']}"
					data="#{detalleEstadoDeuda.manzanaInmobiliaria}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['detalles.datos.estado.deuda.tipo.cliente']}"
					data="#{detalleEstadoDeuda.tipoCliente}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['detalles.datos.estado.deuda.chip']}"
					data="#{detalleEstadoDeuda.chip}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['detalles.datos.estado.deuda.contador.gradual.serv.electrico']}"
					data="#{detalleEstadoDeuda.contadorGradualServElectrico}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['detalles.datos.estado.deuda.estado.cobranza.ser.electrico']}"
					data="#{detalleEstadoDeuda.estadoCobranzaServElectrico}" />
			</sy:dataGrid>
		</h:form>
	</sy:boxPage>
</f:view>
