<f:view xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:sy="http://www.synapsis.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:c="http://java.sun.com/jstl/core">
    <sy:boxPage title="#{MensajesComponentes_cns['detailPage.title']}">
    	<h:outputText value="#{detailBB.detail}"/>
    </sy:boxPage>
</f:view>