<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"	
    xmlns:t="http://myfaces.apache.org/tomahawk">
	<sy:boxPage
		title="#{MensajesComponentes_cns['consultaRefacturaciones.detalle.congelacion.titulo']}">
		<h:form>
		<t:saveState value="#{numeroSaldoQueryFilter}"/>	
			
			<sy:group title="">
				<sy:panelGrid columns="2">
					
					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaRefacturaciones.detalle.congelacion.nroOperacion']}"
						for="nroOperacion" />
					<h:inputText value="#{detalleCongelacionesBB.businessObject2.nroOperacion}" id="nroOperacion" disabled="true"/>

					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaRefacturaciones.detalle.congelacion.nroOrden']}"
						for="nroOrden" />
					<h:inputText value="#{detalleCongelacionesBB.businessObject2.nroOrden}" id="nroOrden" disabled="true"/>

					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaRefacturaciones.detalle.congelacion.clasifCongelacion']}"
						for="clasifCongelacion" />
					<h:inputText value="#{detalleCongelacionesBB.businessObject2.clasifCongelacion}" id="clasifCongelacion" disabled="true"/>

					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaRefacturaciones.detalle.congelacion.clasifDescongelacion']}"
						for="clasifDescongelacion" />
					<h:inputText value="#{detalleCongelacionesBB.businessObject2.clasifDescongelacion}" id="clasifDescongelacion" disabled="true"/>

					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaRefacturaciones.detalle.congelacion.areaSolicitanteInformacion']}"
						for="areaSolicitanteInformacion" />
					<h:inputText value="#{detalleCongelacionesBB.businessObject2.areaSolicitanteInformacion}" id="areaSolicitanteInformacion" disabled="true"/>

					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaRefacturaciones.detalle.congelacion.valorDisputado']}"
						for="valorDisputado" />
					<h:inputText value="#{detalleCongelacionesBB.businessObject2.valorDisputado}" id="valorDisputado" disabled="true"/>

					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaRefacturaciones.detalle.congelacion.fechaPagoCongelacion']}"
						for="descripcionArea" />
					<h:inputText value="#{detalleCongelacionesBB.businessObject2.fechaPagoCongelacion}" id="fechaPagoCongelacion" disabled="true"/>

					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaRefacturaciones.detalle.congelacion.fechaPagoDescongelacion']}"
						for="fechaPagoDescongelacion" />
					<h:inputText value="#{detalleCongelacionesBB.businessObject2.fechaPagoDescongelacion}" id="fechaPagoDescongelacion" disabled="true"/>

					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaRefacturaciones.detalle.congelacion.tipoCongelacion']}"
						for="tipoCongelacion" />
					<h:inputText value="#{detalleCongelacionesBB.businessObject2.tipoCongelacion}" id="tipoCongelacion" disabled="true"/>

					<h:outputLabel
						value="#{MensajesComponentes_cns['consultaRefacturaciones.detalle.congelacion.tiempoCongelacion']}"
						for="tiempoCongelacion" />
					<h:inputText value="#{detalleCongelacionesBB.businessObject2.tiempoCongelacion}" id="tiempoCongelacion" disabled="true"/>			
				</sy:panelGrid>
			</sy:group>

			<sy:panelTabbedPane>
			
				<sy:panelTab 
					label="#{MensajesComponentes_cns['consultaCongelacion.detalle.tab1.titulo']}">
					<ui:include src="consultaCongelacionOperacion.xhtml" />
				</sy:panelTab>

				<sy:panelTab 
					label="#{MensajesComponentes_cns['consultaCongelacion.detalle.tab2.titulo']}">
					<ui:include src="consultaCongelacionSaldo.xhtml" />
				</sy:panelTab>

				<sy:panelTab
					label="#{MensajesComponentes_cns['consultaCongelacion.detalle.tab3.titulo']}">
					<ui:include src="consultaCongelacionFecha.xhtml" />
				</sy:panelTab>

			</sy:panelTabbedPane>


		</h:form>
	</sy:boxPage>
</f:view>
