<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service">

	<sy:boxPage
		title="#{MensajesComponentes_cns['consulta.historica.deuda.detalle.valor.pago.titulo']}">
		<h:form>
			<c:errorHandler />
			<br />

			<!-- service para levantar lso tipos de documentos en el COMBO -->
			<s:service manager="#{serviceManager}" name="detalleValorPagosService"
				method="findByCriteria" id="detalleValorPagos">
				<f:param name="nroDocumento" value="#{detallePagoBB.nroDocumento}" />
				<f:param name="tipoDocumento" value="#{detallePagoBB.tipoDocumento}" />

			</s:service>
			
			<h:outputText value="#{detallePagoBB.nroDocumento}" />
			<h:outputText value="#{detallePagoBB.tipoDocumento}" />
			
			<s:dataTable source="detalleValorPagos" var="detalleValorPago">
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.historica.deuda.detalle.valor.pago.fecha.pago']}">
					<h:outputText value="#{detalleValorPago.fechaPago}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.historica.deuda.detalle.valor.pago.codigo.cargo']}">
					<h:outputText value="#{detalleValorPago.codigoCargo}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.historica.deuda.detalle.valor.pago.descripcion.cargo']}">
					<h:outputText value="#{detalleValorPago.descripcionCargo}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.historica.deuda.detalle.valor.pago.valor.cargo']}">
					<h:outputText value="#{detalleValorPago.valorCargo}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.historica.deuda.detalle.valor.pago.tipo.servicio']}">
					<h:outputText value="#{detalleValorPago.tipoServicio}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.historica.deuda.detalle.valor.pago.numero.servicio']}">
					<h:outputText value="#{detalleValorPago.nroServicio}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.historica.deuda.detalle.valor.pago.fecha.factura.cargo']}">
					<h:outputText value="#{detalleValorPago.fechaFactura}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.historica.deuda.detalle.valor.pago.numero.documento']}">
					<h:outputText value="#{detalleValorPago.nroDocumento}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.historica.deuda.detalle.valor.pago.origen.cargo']}">
					<h:outputText value="#{detalleValorPago.origenCargo}" />
				</sy:tableColumnCustom>
			</s:dataTable>
		</h:form>
	</sy:boxPage>
</f:view>
