<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:s="http://www.synapsis-it.com/jsf/service">

	<sy:boxPage title="#{MensajesComponentes_cns['consulta.congelaciones.titulo']}"
		close="true">
		<h:form>
			<s:service id="congelacionesService" manager="#{serviceManager}"
				name="congelacionesService" method="findByCriteria" fire="true">
				<f:param name="numeroSaldo"
					value="#{detalleDeudaSaldoBB.bo.numeroSaldo}" />
			</s:service>
			<s:dataTable source="congelacionesService" var="congel">
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.congelaciones.perFacCong']}">
					<h:outputText value="#{congel.perFacCong}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.congelaciones.codItemsCongDes']}">
					<h:outputText value="#{congel.codItemsCongDes}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.congelaciones.descripItemCongDes']}">
					<h:outputText value="#{congel.descripItemCongDes}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.congelaciones.valorInicial']}">
					<h:outputText value="#{congel.valorInicial}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.congelaciones.valorItemsCongDes']}">
					<h:outputText value="#{congel.valorItemsCongDes}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.congelaciones.valorAclaracion']}">
					<h:outputText value="#{congel.valorAclaracion}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.congelaciones.valorDisputado']}">
					<h:outputText value="#{congel.valorDisputado}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.congelaciones.consumoInicial']}">
					<h:outputText value="#{congel.consumoInicial}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.congelaciones.consumoDisputado']}">
					<h:outputText value="#{congel.energiaConge}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.congelaciones.consumoFinal']}">
					<h:outputText value="#{congel.consumoFinal}" />
				</sy:tableColumnCustom>
<!--								<sy:tableColumnCustom-->
<!--					header="#{MensajesComponentes_cns['consulta.congelaciones.conusmoCongdesc']}">-->
<!--					<h:outputText value="#{congel.conusmoCongdesc}" />-->
<!--				</sy:tableColumnCustom>-->
<!--				<sy:tableColumnCustom-->
<!--					header="#{MensajesComponentes_cns['consulta.congelaciones.energiaAclaracion']}">-->
<!--					<h:outputText value="#{congel.energiaAclaracion}" />-->
<!--				</sy:tableColumnCustom>-->

<!--				<sy:tableColumnCustom-->
<!--					header="#{MensajesComponentes_cns['consulta.congelaciones.saldoAntes']}">-->
<!--					<h:outputText value="#{congel.saldoAntes}" />-->
<!--				</sy:tableColumnCustom>-->
<!---->
<!--				<sy:tableColumnCustom-->
<!--					header="#{MensajesComponentes_cns['consulta.congelaciones.saldoDespues']}">-->
<!--					<h:outputText value="#{congel.saldoDespues}" />-->
<!--				</sy:tableColumnCustom>-->
			</s:dataTable>
		</h:form>
	</sy:boxPage>

</f:view>
