<f:subview xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service">
	
		<sy:title 
			title="#{MensajesComponentes_cns['consulta.historica.deuda.detalle.pagos.titulo']}"/>
			<br />

			<!-- service para levantar lso tipos de documentos en el COMBO -->
			<s:service manager="#{serviceManager}" name="detallePagosService"
				method="findByCriteria" id="detallePagosService">
				<f:param name="nroCuenta"
					value="#{numeroCuentaQueryFilter.attributeValue}" />
				<f:param name="nroDocumento"
					value="#{detallePagoBB.nroDocumento}" />
					
			</s:service>

			<t:saveState value="#{detallePagoBB.tipoDocumento}" />
			<t:saveState value="#{detallePagoBB.nroDocumento}" />

			<s:dataTable source="detallePagosService" var="detallePagos">
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.historica.deuda.detalle.pagos.fecha.realizacion.pagos']}">
					<h:outputText value="#{detallePagos.fechaPagoEntidad}">
					</h:outputText>	
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.historica.deuda.detalle.pagos.fecha.ingreso.pago']}">
					<h:outputText value="#{detallePagos.fechaIngreso}">
					</h:outputText>
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.historica.deuda.detalle.pagos.tipo.documento']}">
					<h:outputText value="#{detallePagos.tipoDocumento}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.historica.deuda.detalle.pagos.numero.documento']}">
					<h:outputText value="#{detallePagos.nroDocumento}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.historica.deuda.detalle.pagos.valor.pago']}">
					<c:popup>
						<h:commandLink action="detalleValorPago" immediate="true"
							value="#{detallePagos.valorPago}">
							<f:setPropertyActionListener
								target="#{detallePagoBB.nroDocumento}"
								value="#{detallePagos.nroDocumento}" />
							<f:setPropertyActionListener
								target="#{detallePagoBB.tipoDocumento}"
								value="#{detallePagos.tipoDocumento}" />
						</h:commandLink>
					</c:popup>
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['consulta.historica.deuda.detalle.pagos.entidad.recaudadora']}">
					<h:outputText value="#{detallePagos.entidadRecaudadora}" />
				</sy:tableColumnCustom>
			</s:dataTable>
</f:subview>
