<f:subview xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service">

	<sy:title 
		value="#{MensajesComponentes_cns['detalle.deuda.titulo']}"/>
		<c:errorHandler />
		<br />

		<!-- service para levantar lso tipos de documentos en el COMBO -->
		<s:service manager="#{serviceManager}"
			name="detalleHistoricaDeudaService" method="findByCriteria"
			id="detalleHistoricaDeuda">
			<f:param name="nroCuenta"
				value="#{numeroCuentaQueryFilter.attributeValue}" />
		</s:service>

		<t:saveState value="#{detalleDeudaSaldoBB.detailName}" />

		<s:dataTable source="detalleHistoricaDeuda" var="detalleDeuda">
			<sy:tableColumnCustom
				header="#{MensajesComponentes_cns['detalle.deuda.total.actual']}">
				<c:popup>
					<h:commandLink action="detalleDeuda" immediate="true"
						value="#{detalleDeuda.deudaTotalActual}">
						<f:setPropertyActionListener
							target="#{detalleDeudaSaldoBB.detailName}" value="DTA" />
					</h:commandLink>
				</c:popup>
			</sy:tableColumnCustom>

			<sy:tableColumnCustom
				header="#{MensajesComponentes_cns['detalle.deuda.total.saldo.total.sujeto.intereses']}">
				<c:popup>
					<h:commandLink action="detalleDeuda" immediate="true"
						value="#{detalleDeuda.saldoTotalSujetoIntereses}">
						<f:setPropertyActionListener
							target="#{detalleDeudaSaldoBB.detailName}" value="STSI" />
					</h:commandLink>
				</c:popup>
			</sy:tableColumnCustom>

			<sy:tableColumnCustom
				header="#{MensajesComponentes_cns['detalle.deuda.total.saldo.total.no.sujeto.intereses']}">
				<c:popup>
					<h:commandLink action="detalleDeuda" immediate="true"
						value="#{detalleDeuda.saldoNoSujetoIntereses}">
						<f:setPropertyActionListener
							target="#{detalleDeudaSaldoBB.detailName}" value="STNSI" />
					</h:commandLink>
				</c:popup>
			</sy:tableColumnCustom>

			<sy:tableColumnCustom
				header="#{MensajesComponentes_cns['detalle.deuda.total.saldo.valor.total.intereses']}">
				<c:popup>
					<h:commandLink action="detalleDeuda" immediate="true"
						value="#{detalleDeuda.valorTotalIntereses}">
						<f:setPropertyActionListener
							target="#{detalleDeudaSaldoBB.detailName}" value="VTI" />
					</h:commandLink>
				</c:popup>
			</sy:tableColumnCustom>

			<sy:tableColumnCustom
				header="#{MensajesComponentes_cns['detalle.deuda.total.saldo.valor.total.sanciones']}">
				<c:popup>
					<h:commandLink action="detalleDeuda" immediate="true"
						value="#{detalleDeuda.valorTotalSanciones}">
						<f:setPropertyActionListener
							target="#{detalleDeudaSaldoBB.detailName}" value="VTS" />
					</h:commandLink>
				</c:popup>
			</sy:tableColumnCustom>

			<sy:tableColumnCustom
				header="#{MensajesComponentes_cns['detalle.deuda.total.saldo.valor.total.otros.negocios']}">
				<c:popup>
					<h:commandLink action="detalleDeuda" immediate="true"
						value="#{detalleDeuda.saldoEncargoCobranza}">
						<f:setPropertyActionListener
							target="#{detalleDeudaSaldoBB.detailName}" value="VTON" />
					</h:commandLink>
				</c:popup>
			</sy:tableColumnCustom>

			<sy:tableColumnCustom
				header="#{MensajesComponentes_cns['detalle.deuda.total.saldo.deuda.convenio']}">
				<c:popup>
					<h:commandLink action="detalleDeuda" immediate="true"
						value="#{detalleDeuda.saldoConvenios}">
						<f:setPropertyActionListener
							target="#{detalleDeudaSaldoBB.detailName}" value="DC" />
					</h:commandLink>
				</c:popup>
			</sy:tableColumnCustom>

			<sy:tableColumnCustom
				header="#{MensajesComponentes_cns['detalle.deuda.total.saldo.deuda.codensa.hogar']}">
				<c:popup>
					<h:commandLink action="detalleDeuda" immediate="true"
						value="#{detalleDeuda.saldoCodensaHogar}">
						<f:setPropertyActionListener
							target="#{detalleDeudaSaldoBB.detailName}" value="DCH" />
					</h:commandLink>
				</c:popup>
			</sy:tableColumnCustom>
		</s:dataTable>
</f:subview>
