<f:subview xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service">

	<sy:title
		title="#{MensajesComponentes_cns['consulta.historica.deuda.detalle.pagos.titulo']}" />
	<br />


	<s:service id="deudaServicioElectricoService"
		manager="#{serviceManager}" name="deudaServicioElectricoService"
		method="findByCriteria" fire="true">
		<f:param name="nroCuenta"
			value="#{numeroCuentaQueryFilter.attributeValue}" />
	</s:service>
	<s:dataTable source="deudaServicioElectricoService" var="deuda">
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.deuda.servicio.electrico.nroServicio']}">
			<h:outputText value="#{deuda.nroServicio}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.deuda.servicio.electrico.estado']}">
			<h:outputText value="#{deuda.estado}" />
		</sy:tableColumnCustom>
		<sy:tableColumnCustom
			header="#{MensajesComponentes_cns['consulta.deuda.servicio.electrico.saldoServicio']}">
			<h:outputText value="#{deuda.saldoServicio}" />
		</sy:tableColumnCustom>

	</s:dataTable>
	
</f:subview>
