<f:view xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:sy="http://www.synapsis.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html">
    <sy:boxPage title="#{MensajesComponentes_cns['deudaServicioBB.titulo']}">
        <h:form>
            <sy:dataTable listBean="#{deudaServicioBB}"
                resources="#{ClavesInducidas_cns}">
                <sy:tableColumn attribute="nroServicio" />
                <sy:tableColumn attribute="tipoServicio" />
                <sy:tableColumn attribute="saldoServicio" />
            </sy:dataTable>
        </h:form>
    </sy:boxPage>
</f:view>
