<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service">
	<sy:boxPage
		title="#{MensajesComponentes_cns['datosTecnicosBB.link.encargo.cobranza']}">
		<h:form>

			
			<s:service manager="#{serviceManager}"
				name="servFinanService" method="findByCriteria"
				id="servFinanService">
				<f:param name="nroCuenta" value="#{numeroCuentaQueryFilter.attributeValue}" />
			</s:service>

			<s:dataTable source="servFinanService" var="encargoCob">
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['encargo.cobranza.numero.servicio']}">
					<h:outputText value="#{encargoCob.nroServicio}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['encargo.cobranza.descripcion.tipo.servicio']}">
					<h:outputText value="#{encargoCob.descTipoServicio}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['encargo.cobranza.estado.cobranza.servicio']}">
					<h:outputText value="#{encargoCob.estadoCobranzaServicio}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['encargo.cobranza.titular.servicio']}">
					<h:outputText value="#{encargoCob.titularServicio}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['encargo.cobranza.tipo.y.numero.documento.solicitante.servicio']}">
					<h:outputText value="#{encargoCob.tipoNumeroDocSolicitante}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['encargo.cobranza.fecha.ingreso.servicio']}">
					<h:outputText value="#{encargoCob.fechaServicio}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['encargo.cobranza.fecha.vencimiento.servicio']}">
					<h:outputText value="#{encargoCob.fechaVencimientoServicio}" />
				</sy:tableColumnCustom>
			</s:dataTable>
		</h:form>
	</sy:boxPage>
</f:view>
