<f:view xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:sy="http://www.synapsis.com/jsf/core"
    xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
    xmlns:t="http://myfaces.apache.org/tomahawk">
    <sy:boxPage title="#{MensajesComponentes_cns['consultaMedidoresBB.title']}" bundle="#{MensajesComponentes_cns}">
        <h:form>
            <sy:title
                value="#{MensajesComponentes_cns['consultaMedidoresBB.tabla.eventosComponentes.title']}" />
            <sy:dataTable
                listBean="#{consultaMedidoresBB.multiList.data['eventosComponentes']}"
                metadata="#{eventosComponentesMetadata}" resources="#{ClavesInducidas_cns}"
                tableId="eventosComponentes">
                <sy:tableColumn attribute="tipoComponente" />
                <sy:tableColumn attribute="modeloComponente" />
                <sy:tableColumn attribute="numeroComponente" />
                <sy:tableColumn attribute="marcaComponente" />
                <sy:tableColumn attribute="claseComponente" />
                <sy:tableColumn attribute="relacionTransformacion" />
                <sy:tableColumn attribute="fechaInstalacion" />
                <sy:tableColumn attribute="fechaRetiro" />
            </sy:dataTable>
        </h:form>
    </sy:boxPage>
</f:view>
