<f:view xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:sy="http://www.synapsis.com/jsf/core">
    <sy:boxPage title="#{MensajesComponentes_cns['eventosTransformadorBB.title']}"
        bundle="#{MensajesComponentes_cns}">
        <h:form>
            <sy:dataTable listBean="#{eventosTransformadorBB}" metadata="#{eventosTransformadorMetadata}"
                resources="#{ClavesInducidas_cns}">
                <sy:tableColumn attribute="marcaTransformador" />
                <sy:tableColumn attribute="modeloTransformador" />
                <sy:tableColumn attribute="numeroTransformador" />
                <sy:tableColumn attribute="fechaModificacion" />
                <sy:tableColumn attribute="fechaInstalacion" />
                <sy:tableColumn attribute="fechaRetiro" />
                <sy:tableColumn attribute="numeroPCR" />
            </sy:dataTable>
        </h:form>
    </sy:boxPage>
</f:view>
