<f:view xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:sy="http://www.synapsis.com/jsf/core">
    <sy:boxPage title="#{MensajesComponentes_cns['eventosSelloBB.title']}" bundle="#{MensajesComponentes_cns}">
        <h:form>
            <sy:dataTable listBean="#{eventosSelloBB}" metadata="#{eventosSellosMetadata}"
                resources="#{ClavesInducidas_cns}">
                <sy:tableColumn attribute="marcaMedidor" />
                <sy:tableColumn attribute="modeloMedidor" />
                <sy:tableColumn attribute="numeroMedidor" />
                <sy:tableColumn attribute="colorSello" />
                <sy:tableColumn attribute="tipoSello" />
                <sy:tableColumn attribute="nroSello" />
                <sy:tableColumn attribute="estadoSello" />
                <sy:tableColumn attribute="fechaInstalacion" />
                <sy:tableColumn attribute="fechaRetiro" />
                <sy:tableColumn attribute="localizacionSello" />
                <sy:tableColumn attribute="nombreArea" />
                <sy:tableColumn attribute="usuario" />
                <sy:tableColumn attribute="nombreInstalador" />
                <sy:tableColumn attribute="nombreContratistaInstalador" />
                <sy:tableColumn attribute="nombreRetiro" />
                <sy:tableColumn attribute="nombreContratistaRetiro" />
            </sy:dataTable>
        </h:form>
    </sy:boxPage>
</f:view>
