<f:view xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:sy="http://www.synapsis.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:t="http://myfaces.apache.org/tomahawk"
    xmlns:c="http://www.synapsis-it.com/jsf/core"
    xmlns:s="http://www.synapsis-it.com/jsf/service">

    <sy:boxPage title="#{MensajesComponentes_cns['consulta.estados.convenios.titulo']}">
        <h:form>
        
            <t:saveState value="#{historicoOtrosNegociosBB.idServicio}"/>

        	<s:service manager="#{serviceManager}" name="consultaEstadoConveniosService"
				method="findByCriteria" id="consultaEstadoConveniosService">
				<f:param name="idServicio" value="#{historicoOtrosNegociosBB.idServicio}" />
			</s:service>
        
            <s:dataTable source="consultaEstadoConveniosService" var="estados" >
                <sy:tableColumnCustom header="#{MensajesComponentes_cns['consulta.estados.convenios.estado']}">
					<h:outputText value="#{estados.estado}" />
				</sy:tableColumnCustom>
                <sy:tableColumnCustom header="#{MensajesComponentes_cns['consulta.estados.convenios.usuario.realizo.operacion']}">
					<h:outputText value="#{estados.usuarioRealizoOperacion}" />
				</sy:tableColumnCustom>
                <sy:tableColumnCustom header="#{MensajesComponentes_cns['consulta.estados.convenios.fecha.cambio.estado']}">
					<h:outputText value="#{estados.fechaCambioEstado}" />
				</sy:tableColumnCustom>
            </s:dataTable>
        </h:form>
    </sy:boxPage>
</f:view>