<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour"
	xmlns:c="http://www.synapsis-it.com/jsf/core">
	
	<sy:boxPage
		title="#{MensajesComponentes_cns['impresionFacturaBB.title']}"
		useCaseMainPage="true" nroCuentaHeader="disable">
		
		<t:saveState value="#{impresionFacturaBB.periodosListResult}"/>
		<t:saveState value="#{impresionFacturaBB.motivos}"/>
		<t:saveState value="#{impresionFacturaBB.nroCuenta}"/>
		<t:saveState value="#{impresionFacturaBB.motivo}"/>
		<t:saveState value="#{impresionFacturaBB.copias}"/>
		<t:saveState value="#{impresionFacturaBB.observacion}"/>
		<t:saveState value="#{impresionFacturaBB.periodoFacturacion}"/>

<c:errorHandler />
<c:exception />
		<h:form>
			<s:service manager="#{serviceManager}"
				name="consultaCuentaPeriodosService" 
				method="findByCriteria"
				id="consultaCuentaDetallePeriodosServiceTable" fire="false"
				binding="#{impresionFacturaBB.findPeriodosService}">
				<f:param name="nroCuenta" value="#{impresionFacturaBB.nroCuenta}" />
				<f:param name="periodoFacturacion"
					value="#{impresionFacturaBB.periodoFacturacion}" />
			</s:service>
			
			<!-- unmarshall service para la lista recuperada por el service de periodos -->
			<s:unmarshall source="consultaCuentaDetallePeriodosServiceTable"
			target="#{impresionFacturaBB.periodosListResult}" />
			
			<!-- service para levantar los motivos que se muestran en el combo -->
			<s:service manager="#{serviceManager}"
				name="consultaCuentaDetallePeriodosMotivosService" method="findByCriteria"
				id="consultaCuentaDetallePeriodosMotivosService">
			</s:service>
			<!-- unmarshall service para la lista recuperada por el service de motivos -->
			<s:unmarshall source="consultaCuentaDetallePeriodosMotivosService"
				target="#{impresionFacturaBB.motivos}" />
			
            <sy:group>
			  <sy:panelGrid columns="1">
				<h:outputLabel value="#{MensajesComponentes_cns['impresionFacturaBB.numeroCuenta']}" />
				<h:inputText value="#{impresionFacturaBB.nroCuenta}" required="true"/>

				<h:outputLabel value="#{MensajesComponentes_cns['impresionFacturaBB.fechaProceso']}" />
				<h:inputText value="#{impresionFacturaBB.periodoFacturacion}"/>
				
				<h:outputLabel
					value="#{MensajesComponentes_cns['impresionFacturaBB.copias']}" />
				<t:inputText value="#{impresionFacturaBB.copias}" size="10" dir="rtl"
					maxlength="1">
					<b:behaviour>
						<b:rule name="onlyNumbers" />
						<b:rule name="requiredRule" />
					</b:behaviour>
				</t:inputText>

				<h:outputLabel
					value="#{MensajesComponentes_cns['impresionFacturaBB.observacion']}" />
				<h:inputTextarea value="#{impresionFacturaBB.observacion}" cols="50"
					rows="3">
					<b:behaviour>
						<b:rule name="requiredRule" />
					</b:behaviour>
				</h:inputTextarea>
				
				<h:outputLabel
					value="#{MensajesComponentes_cns['impresionFacturaBB.motivo']}" />
				<h:selectOneMenu
					value="#{impresionFacturaBB.motivo}" styleClass="edit">
					<f:selectItem itemLabel="Seleccionar ..." itemValue="" />
					<t:selectItems value="#{impresionFacturaBB.motivos}" var="motivo"
						itemLabel="#{motivo.descripcion}"
						itemValue="#{motivo.id}" />
				</h:selectOneMenu>
				
			    <h:commandButton styleClass="botonConsulta" action="#{impresionFacturaBB.search}"
						label="Buscar" />
			  </sy:panelGrid>	
			</sy:group> 

			<c:dataTable value="#{impresionFacturaBB.periodosListResult}" rows="6"
				binding="#{impresionFacturaBB.dataTablePeriodos}" 
				var="per"
				rendered="#{impresionFacturaBB.nroCuenta!=null}">

				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['impresionFacturaBB.fechaProceso']}">
					<h:outputText value="#{per.fechaProceso}">
						<f:converter
							converterId="com.synapsis.components.DateTimeConverterRaw" />
					</h:outputText>
				</sy:tableColumnCustom>

				<sy:tableColumnCustom rowClasses="gridRow"
					header="#{MensajesComponentes_cns['impresionFacturaBB.imprimir.titulo']}">
					<c:popup>
					<h:commandLink actionListener="#{impresionFacturaBB.imprimirReporteFactura}">
						<f:setPropertyActionListener
							target="#{impresionFacturaBB.fechaProceso}"
							value="#{per.fechaProceso}" />
						<f:setPropertyActionListener target="#{impresionFacturaBB.cli}"
							value="#{per.cli}" />
						<f:setPropertyActionListener target="#{impresionFacturaBB.periodoFacturacion}"
							value="#{per.periodoFacturacion}" />	
						<h:outputText
							value="#{MensajesComponentes_cns['impresionFacturaBB.imprimir']}" />
					</h:commandLink>
					</c:popup>            
				<br />			
					<c:popup>
					<h:commandLink actionListener="#{impresionFacturaBB.imprimirReporteAnexoFactura}">
						<f:setPropertyActionListener
							target="#{impresionFacturaBB.fechaProceso}"
							value="#{per.fechaProceso}" />
						<f:setPropertyActionListener target="#{impresionFacturaBB.cli}"
							value="#{per.cli}" />
						<h:outputText
							value="#{MensajesComponentes_cns['impresionFacturaBB.anexo']}" />
					</h:commandLink>
					</c:popup>
				</sy:tableColumnCustom>
			</c:dataTable>
												
		</h:form>
	</sy:boxPage>
</f:view>
