<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:core="http://java.sun.com/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:v="http://www.synapsis-it.com/jsf/validator">

	<sy:boxPage
		title="#{MensajesComponentes_cns['impresionFacturaBB.title']}"
		bundle="#{MensajesComponentes_cns}">
        
		<h:form>
			<!-- service para levantar los periodos que se muestran en el combo -->
			<s:service manager="#{serviceManager}"
				name="consultaCuentaDetallePeriodosService" method="findByCriteria"
				id="consultaCuentaDetallePeriodosService" rows="100">
				<f:param name="nroCuenta"
					value="#{numeroCuentaQueryFilter.attributeValue}" />
			</s:service>
			<!-- unmarshall service para la lista recuperada por el service de periodos -->
			<s:unmarshall source="consultaCuentaDetallePeriodosService"
				var="periodos" />

            <h:messages />
            
			<table width="100%" cellpadding="0" cellspacing="0">
				<tr>
					<td align="left" width="25%">
					<h:outputLabel
						value="#{MensajesComponentes_cns['impresionFacturaBB.fechaProceso']}" />
					</td>
					<td align="left" width="15%">
																									
					<h:selectOneMenu value="#{impresionFacturaBB.idDocumento}" styleClass="edit">
						<f:selectItem itemLabel="Seleccionar ..." itemValue="" />
						<t:selectItems value="#{periodos}" var="periodo"
							itemLabel="#{periodo.periodoFacturacion}" itemValue="#{periodo.idConfigFact}" />
					</h:selectOneMenu>
					
					</td>
					<td align="center" width="60%">
					<h:commandButton
						styleClass="botonConsulta"
						actionListener="#{impresionFacturaBB.imprimir}"
						label="#{MensajesComponentes_cns['impresionFacturaBB.imprimir']}"/>						
						
					<!--  -->
					<script type="text/javascript" src="../scripts/kendari.js" defered="true" />
					
					<a4j:commandButton
						value="#{MensajesComponentes_cns['generacionContacto.label']}"
						actionListener="#{impresionFacturaBB.execKndUseCase}"
						reRender="uriValue"
						oncomplete="gotoKendari('uriValue')"
						id="kActionURL">
						<h:inputHidden id="uriValue" value="#{impresionFacturaBB.uri}" />
					</a4j:commandButton>
					<!--  -->																					
					</td>					
				</tr>
			</table>
			
		</h:form>				
	</sy:boxPage>

</f:view>
