<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour"
	xmlns:c="http://www.synapsis-it.com/jsf/core">

	<sy:boxPage
		title="#{MensajesComponentes_cns['impresionFacturaBB.title']}"
		useCaseMainPage="true" nroCuentaHeader="disable">
<c:errorHandler />
<c:exception />
		<h:form>
					<h:commandLink
						actionListener="#{impresionFacturaBB.testDuplicadoLegal}">
						<h:outputText
							value="TEST" />
					</h:commandLink>
		</h:form>
	</sy:boxPage>
</f:view>
