<f:subview xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:v="http://www.synapsis-it.com/jsf/validator"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour"
	xmlns:ex="http://www.synapsis-it.com/jsf/core/ext"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax">


        <s:service id="consultaClienteRedByTransformadorListServiceFinder" manager="#{serviceManager}"
				name="consultaClienteRedByTransformadorListService" method="findByCriteria"
				binding="#{consultaHistVincRedBB.consultaService}" fire="false">
		</s:service>
		
		
		<s:dataTable source="consultaClienteRedByTransformadorListServiceFinder" var="infotransformador" binding="#{consultaHistVincRedBB.dataTable}" >
			<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaHistVincRedBB.informacionTransformador.numeroTransformador']}"> 
			<h:outputText value="#{infotransformador.nroTransformador}" />	
			</sy:tableColumnCustom>
			<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaHistVincRedBB.informacionTransformador.circuito']}"> 
			<h:outputText value="#{infotransformador.circuito}" />	
			</sy:tableColumnCustom>
			<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaHistVincRedBB.informacionTransformador.propiedad']}"> 
			<h:outputText value="#{infotransformador.propiedad}" />	
			</sy:tableColumnCustom>
			<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaHistVincRedBB.informacionTransformador.tipoConexion']}"> 
			<h:outputText value="#{infotransformador.conexion}" />	
			</sy:tableColumnCustom>
			<sy:tableColumnCustom header="#{MensajesComponentes_cns['consultaHistVincRedBB.informacionTransformador.nivelTension']}"> 
			<h:outputText value="#{infotransformador.nivelTension}" />	
			</sy:tableColumnCustom>
		</s:dataTable>

</f:subview>		