<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:sy="http://www.synapsis.com/jsf/core">
	<sy:boxPage
		title="#{MensajesComponentes_cns['leyArrendamiento.titulo']}">
		<h:form>
			<sy:dataGrid>
				<sy:booleanCheckboxRow disabled="true"
					data="#{MensajesComponentes_cns['leyArrendamiento.contratoVigente']}"
					value="#{datosLeyArrendamientoBB.businessObject.contratoVigente}" />
				<sy:booleanCheckboxRow
					data="#{MensajesComponentes_cns['leyArrendamiento.propiedadMedidorResidente']}"
					disabled="true"
					value="#{datosLeyArrendamientoBB.businessObject.propiedadMedidorResidente}" />
				<sy:booleanCheckboxRow
					data="#{MensajesComponentes_cns['leyArrendamiento.facturaConsumo']}"
					disabled="true"
					value="#{datosLeyArrendamientoBB.businessObject.facturaConsumo}" />
				<sy:booleanCheckboxRow
					data="#{MensajesComponentes_cns['leyArrendamiento.emiteFactura']}"
					disabled="true"
					value="#{datosLeyArrendamientoBB.businessObject.emiteFactura}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['leyArrendamiento.numeroCuentaArrendatario']}"
					data="#{datosLeyArrendamientoBB.businessObject.numeroCuentaArrendatario}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['leyArrendamiento.numeroCuentaPropietario']}"
					data="#{datosLeyArrendamientoBB.businessObject.numeroCuentaPropietario}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['leyArrendamiento.nombreInquilino']}"
					data="#{datosLeyArrendamientoBB.businessObject.nombreInquilino}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['leyArrendamiento.numeroContrato']}"
					data="#{datosLeyArrendamientoBB.businessObject.numeroContrato}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['leyArrendamiento.fechaVencimientoContrato']}"
					data="#{datosLeyArrendamientoBB.businessObject.fechaVencimientoContrato}" />
			</sy:dataGrid>
		</h:form>
	</sy:boxPage>
</f:view>
