<f:view xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:c="http://java.sun.com/jstl/core"
    xmlns:t="http://myfaces.apache.org/tomahawk"
    xmlns:sy="http://www.synapsis.com/jsf/core">
    
    <sy:boxPage title="#{MensajesComponentes_cns['observacionesContactoEntradaSalida.titulo']}">
        <t:saveState value="#{contactoAicObsQueryFilter.attributeValue}"/>
        <h:form>
            <sy:dataTable listBean="#{observacionesContactoAicBB}"
                metadata="#{observacionesContactoMetadata}" resources="#{MensajesComponentes_cns}">
                <sy:tableColumn attribute="observacion" />
                <sy:tableColumn attribute="fechaObservacion" />
            </sy:dataTable>
        </h:form>
    </sy:boxPage>
</f:view>
