<f:view xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:c="http://java.sun.com/jstl/core"
    xmlns:sy="http://www.synapsis.com/jsf/core">
    <sy:boxPage title="#{MensajesComponentes_cns['ordenesContacto.titulo']}">
        <h:form>
            <sy:dataTable listBean="#{ordenesAtencionAicBB}" metadata="#{ordenesAtencionMetadata}"
                resources="#{ClavesInducidas_cns}">
                <sy:tableColumn attribute="tipo" />
                <sy:tableColumn attribute="nroOrden" />
                <sy:tableColumn attribute="estado" />
                <sy:tableColumn attribute="fechaIngreso" />
            </sy:dataTable>
        </h:form>
    </sy:boxPage>
</f:view>
