<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:sy="http://www.synapsis.com/jsf/core">
<head></head>
<body>
<h:form>
    <sy:dataTable listBean="#{datosOtrosServiciosBB}"
        resources="#{ClavesInducidas_cns}" paginable="false">
        <sy:tableColumn attribute="numeroServicio" />
        <sy:tableColumn attribute="tipoServicio" />
        <sy:tableColumn attribute="estadoServicio" />
        <sy:tableColumn attribute="titular" />
        <sy:tableColumn attribute="documento" />
        <sy:tableColumn attribute="fechaIngreso" />
        <sy:tableColumn attribute="fechaVencimiento" />
    </sy:dataTable>
</h:form>
</body>
</html>