<f:view xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:sy="http://www.synapsis.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html">
    <sy:boxPage title="#{MensajesComponentes_cns['restriccionesSuspensionBB.titulo']}">
        <h:form>
            <sy:dataTable listBean="#{restriccionesSuspensionBB}"
                metadata="#{restriccionesSuspensionMetadata}" resources="#{ClavesInducidas_cns}">
                <sy:tableColumn attribute="usuarioGenerador" />
                <sy:tableColumn attribute="nombreUsuarioGenerador" />
                <sy:tableColumn attribute="nroServicio" />
                <sy:tableColumn attribute="motivo" />
                <sy:tableColumn attribute="fechaCreacion" />
                <sy:tableColumn attribute="diasSuspensionSolicitados" />
                <sy:tableColumn attribute="fechaVencimiento" />
                <sy:tableColumnLinkPopup
                    header="#{MensajesComponentes_cns['restriccionesSuspensionBB.tituloObservaciones']}"
                    label="#{MensajesComponentes_cns['restriccionesSuspensionBB.observaciones']}"
                    outcome="observaciones">
                    <f:setPropertyActionListener target="#{detailBB.detail}"
                        value="#{rowVar.observaciones}" />
                </sy:tableColumnLinkPopup>
            </sy:dataTable>
        </h:form>
    </sy:boxPage>
</f:view>
