<f:view xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:sy="http://www.synapsis.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:c="http://java.sun.com/jstl/core"
    xmlns:sv="http://shale.apache.org/validator">
    <sy:boxPage title="#{MensajesComponentes_cns['restriccionesBB.titulo']}">
		<sy:validationSummary/>
        <h:form onsubmit="return validateForm(this);" id="restriccionesForm">
            <sy:filters actionBean="#{restriccionesBB}" action="restriccionesQueryFilter">
                <h:outputLabel value="#{MensajesComponentes_cns['restriccionesBB.tipo.servicio']}"
                    styleClass="label" />
                <h:selectOneMenu value="#{restriccionesQueryFilter1.attributeValue}"
                    styleClass="edit">
                    <f:selectItems value="#{restriccionesBB.items}" />
                </h:selectOneMenu>
                <h:outputLabel label="boton.buscar"
                    value="#{MensajesComponentes_cns['restriccionesBB.numero.servicio']}"
                    styleClass="label" />
                <h:inputText value="#{restriccionesQueryFilter2.attributeValue}"
                    styleClass="edit">
		        	<sv:commonsValidator type="integer" arg="#{MensajesComponentes_cns['restriccionesBB.numero.servicio']}"
		        		client="true"/>
                    <f:converter converterId="javax.faces.Long" />
                </h:inputText>
            </sy:filters>
            <sy:dataTable listBean="#{restriccionesBB}" metadata="#{restriccionesMetadata}"
                tableId="restriccionesTable" resources="#{ClavesInducidas_cns}">
                <sy:tableColumn attribute="fechaCreacion" />
                <sy:tableColumn attribute="tipoOperacionRestringida" />
                <sy:tableColumn attribute="tipoServicioAfectado" />
                <sy:tableColumn attribute="nroServicio" />
                <sy:tableColumn attribute="fechaInicial" />
                <sy:tableColumn attribute="fechaFinal" />
                <sy:tableColumn attribute="usuarioGenerador" />
                <sy:tableColumn attribute="nombreUsuarioGenerador" />
                <sy:tableColumn attribute="motivo" />
<!--                <sy:tableColumn attribute="observacionesCreacion" />-->
                <sy:tableColumn attribute="observacionesIngreso" />
            </sy:dataTable>

			<sy:validatorScript functionName="validateForm"/>

        </h:form>
    </sy:boxPage>
</f:view>
