<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:sy="http://www.synapsis.com/jsf/core">
<head></head>
<body>
<h:form>
    <!-- 
		<sy:messages condition="#{datosResumenDeudaBB.businessObject != null}">   
		 -->
    <sy:dataGrid includeDetail="true">
        <sy:dataGridRow
            label="#{MensajesComponentes_cns['resumenDeuda.grilla.deudaTotalActual']}"
            data="#{datosResumenDeudaBB.businessObject.deudaTotalActual}" />
        <sy:dataGridRow
            label="#{MensajesComponentes_cns['resumenDeuda.grilla.deudaPagar']}"
            data="#{datosResumenDeudaBB.businessObject.deudaPagar}" />
        <sy:dataGridRow
            label="#{MensajesComponentes_cns['resumenDeuda.grilla.saldoTotalConvenioVigente']}"
            data="#{datosResumenDeudaBB.businessObject.saldoTotalConvenioVigente}" />
        <sy:dataGridRow
            label="#{MensajesComponentes_cns['resumenDeuda.grilla.saldoDeudaEnergiaActual']}"
            data="#{datosResumenDeudaBB.businessObject.saldoDeudaEnergiaActual}" />
        <sy:dataGridRow
            label="#{MensajesComponentes_cns['resumenDeuda.grilla.saldoDeudaServicioActual']}"
            data="#{datosResumenDeudaBB.businessObject.saldoDeudaServicioActual}"
            actionBean="#{deudaServicioBB}" detailAction="buscarAction"
            outcome="detail" />
        <sy:dataGridRow
            label="#{MensajesComponentes_cns['resumenDeuda.grilla.valorTotalUltimaFactura']}"
            data="#{datosResumenDeudaBB.businessObject.valorTotalUltimaFactura}" />
    </sy:dataGrid>
    <!--  </sy:messages> -->
</h:form>
</body>
</html>
