<f:view xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:sy="http://www.synapsis.com/jsf/core">
    <sy:boxPage title="#{MensajesComponentes_cns['consultaOperacionesBB.title']}"
        bundle="#{MensajesComponentes_cns}">
        <h:form>
            <sy:title
                value="#{MensajesComponentes_cns['consultaOperacionesBB.tabla.sellosMedidorBB.title']}" />
            <sy:dataTable listBean="#{sellosMedidorBB}" metadata="#{sellosMedidorMetadata}"
                resources="#{ClavesInducidas_cns}">
                <sy:tableColumn attribute="idComponente" />
                <sy:tableColumn attribute="nroSello" />
                <sy:tableColumn attribute="colorSello" />
                <sy:tableColumn attribute="materialSello" />
                <sy:tableColumn attribute="estadoSello" />
                <sy:tableColumn attribute="fechaDescarga" />                
            </sy:dataTable>
        </h:form>
    </sy:boxPage>
</f:view>
