<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service">
	<sy:boxPage
		title="#{MensajesComponentes_cns['servicio.financiero.titulo']}">
		<h:form>
			<s:service manager="#{serviceManager}"
				name="servFinanServiceCCA" method="findByCriteria"
				id="servFinanServiceCCA">
				<f:param name="nroCuenta" value="#{numeroCuentaQueryFilter.attributeValue}" />
			</s:service>

			<s:dataTable source="servFinanServiceCCA" var="servFinanciero">
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['servicio.financiero.numero.servicio']}">
					<h:outputText value="#{servFinanciero.nroServicio}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['servicio.financiero.descripcion.tipo.servicio']}">
					<h:outputText value="#{servFinanciero.descTipoServicio}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['servicio.financiero.estado.cobranza.servicio']}">
					<h:outputText value="#{servFinanciero.estadoCobranzaServicio}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['servicio.financiero.titular.servicio']}">
					<h:outputText value="#{servFinanciero.titularServicio}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['servicio.financiero.tipo.y.numero.documento.solicitante.servicio']}">
					<h:outputText value="#{servFinanciero.tipoNumeroDocSolicitante}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['servicio.financiero.fecha.ingreso.servicio']}">
					<h:outputText value="#{servFinanciero.fechaServicio}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_cns['servicio.financiero.fecha.vencimiento.servicio']}">
					<h:outputText value="#{servFinanciero.fechaVencimientoServicio}" />
				</sy:tableColumnCustom>
			</s:dataTable>
		</h:form>
	</sy:boxPage>
</f:view>
