<sy:dataGrid xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:sy="http://www.synapsis.com/jsf/core">
    <sy:attributeGridRow value="#{datosTitularCuentaBB.businessObject.nombre}"
        data="#{datosTitularCuentaBB.businessObject.nombre}" />
    <sy:attributeGridRow value="#{datosTitularCuentaBB.businessObject.nombre}"
        data="#{datosTitularCuentaBB.businessObject.nombre}" />
    <sy:attributeGridRow value="#{datosTitularCuentaBB.businessObject.nombre}"
        data="#{datosTitularCuentaBB.businessObject.nombre}" />
    <sy:attributeGridRow value="#{datosTitularCuentaBB.businessObject.nombre}"
        data="#{datosTitularCuentaBB.businessObject.nombre}" />
</sy:dataGrid>
