<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<head>
<script type="text/javascript">
            <!--
            
        		/**
        		 * displayConsultaCuenta.
        		 * 
        		 * @deprecated will be replaced by kendari menu.
        		 */
        		displayConsultaCuenta = function (form, target) {
        			features="width=950,height=600,status=no,resizable=yes,toolbar=no,menubar=no,location=no,scrollbars=no";			
        			window.open("","consultacuenta",features); // open an empty window
                    hform=document.forms[form]; // reference to the hidden form
        			//This is an emulation of the action link being clicked.
        			hform[form+':_link_hidden_'].value=form+':'+target;
        			// Submit the hidden form. The output will be sent to the just opened window.
        			hform.submit();
        		}            

            //-->
        </script>
<script language="javascript" type="text/javascript">
<!--
function popitup(url) {
	newwindow=window.open(url,'name','width=950,height=600,status=no,resizable=yes,toolbar=no,menubar=no,location=no,scrollbars=yes');
	if (window.focus) {newwindow.focus()}
	return false;
}

// -->
</script>

</head>
<body>
<f:view>
	<h:form id="fake">
		<h:commandButton value="Consulta de Cuenta" immediate="true"
			onmousedown="displayConsultaCuenta('hiddenDispatch','cns')"
			onclick="return false" />
		
		<h:commandButton value="CNS - Consulta Historico Calidad" immediate="true"
			onclick="return popitup('cns/consultaHistoricoCalidad.jsf')" />
		
		<h:commandButton value="Modulo DIMER" immediate="true"
			onclick="return popitup('dimer/')" />

		<h:commandButton value="Modulo ECO" immediate="true"
			onclick="return popitup('eco/')" />
			
		<h:commandButton value="Modulo MOR" immediate="true"
			onclick="return popitup('mor/')" />
			
	</h:form>
	<!-- hidden form used by windows open -->
	<h:form id="hiddenDispatch" target="consultacuenta">
		<h:commandLink id="cns" action="cns" value="">
			<f:verbatim></f:verbatim>
		</h:commandLink>
	</h:form>
</f:view>
</body>
</html>