<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service">
	<sy:boxPage
		title="#{MensajesComponentes_cns['valores.iniciales.titulo']}">
		<h:form>
			<s:service manager="#{serviceManager}"
				name="valorInicialService" method="findById"
				id="valorInicialService">
				<f:param name="nroCuenta" value="#{numeroCuentaQueryFilter.attributeValue}" />
			</s:service>

			<s:unmarshall source="valorInicialService"
				var="valorInicial" />

			<sy:dataGrid>
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['valores.iniciales.tiene.serv.electrico.empresarial']}"
					data="#{valorInicial.servElectEmpresarial}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['valores.iniciales.pertenece.otro.comercializador']}"
					data="#{valorInicial.otroComercializador}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['valores.iniciales.cuenta.es.corporativa']}"
					data="#{valorInicial.ctaCorporativa}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['valores.iniciales.cuenta.es.oficial']}"
					data="#{valorInicial.ctaOficial}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['valores.iniciales.presenta.denuncia.contrato.ley.arrendamiento']}"
					data="#{valorInicial.denunciaContratorLeyArrendamiento}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['valores.iniciales.cuenta.en.proceso.facturacion']}"
					data="#{valorInicial.ctaProcesoFacturacion}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['valores.iniciales.cuenta.presenta.codigo.retencion']}"
					data="#{valorInicial.ctaCodigoRetencion}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['valores.iniciales.cuenta.presenta.deuda.congelacion']}"
					data="#{valorInicial.ctadeudaCongelacion}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['valores.iniciales.cuenta.presenta.deuda.castigada']}"
					data="#{valorInicial.ctaDeudaCastigada}" />
				<sy:dataGridRow
					label="#{MensajesComponentes_cns['valores.iniciales.indicador.cliente.vip']}"
					data="#{valorInicial.indicatorClienteVip}" />
			</sy:dataGrid>
		</h:form>
	</sy:boxPage>
</f:view>
