/* FIXME: [afalduto] performs the data-grid styles */
.gridColumnLabel { 
    color: rgb(100, 100, 100);  
    font-weight: bold;  
}

.gridColumn {
    color: rgb(1, 1, 1);  
}

/* FIXME:[afalduto] same style of data-table-rows */
.gridRow { 
    height: 10px;
    padding: 0px 0px 0px 0px; 
    font-size: 10px;  
    color: rgb(1, 1, 1);  
    background-color: rgb(255, 255, 255);
}

/* FIXME:[afalduto] same style of data-table-rows */
.gridRowColor {
    height: 10px; 
    padding: 0px 0px 0px 0px; 
    font-size: 10px;  
    color: rgb(1, 1, 1);  
    background-color: rgb(226, 224, 223); 
}

