/* Main data table definition */
.synapsis-data-table {
	border-width: 1px 1px 1px 1px;
	border-spacing: 1px;
	border-style: solid solid solid solid;
	border-color: gray gray gray gray;
	border-collapse: collapse;
	background-color: white;
}

.synapsis-data-table th {
	border-width: 1px 1px 1px 1px;
	border-style: solid solid solid solid;
    border-color: rgb(192, 192, 192);	
    background-color: rgb(247, 247, 247);
    font-weight: bold;
    color: rgb(1, 1, 1);
    padding: 0px 0px 0px 0px;
    height: 10px;
}

.synapsis-data-table td {
	border-width: 1px 1px 1px 1px;
	border-style: solid solid solid solid;
    border-color: rgb(192, 192, 192);
    color: rgb(1, 1, 1);
    height: 10px;
    padding: 0px;
    font-size: 10px;    
}

/* Data table content tomahawk even row definition */
.synapsis-data-table .synapsis-data-table-row-even {
    background-color: rgb(226, 224, 223);
}

/* Data table content tomahawk even row definition */
.synapsis-data-table .synapsis-data-table-row-odd {
    background-color: rgb(255, 255, 255);
}

.synapsis-data-table .synapsis-data-table-column {
    padding-left: 2px;
    padding-right: 2px;
}

/* Data table scroller */
.synapsis-data-table-scroller {
    margin-top: 5px;
    margin-bottom: 5px;
}

.synapsis-data-table-scroller a:link,a:visited,a:hover,a:active {
    text-decoration: none;
    vertical-align: middle;
    /* common font style */
    color: rgb(100, 100, 100);
}

.synapsis-data-table-scroller-paginator a:link,a:visited,a:hover,a:active {
    text-decoration: none;
    vertical-align: middle;
    /* common font style */
    color: black;
}

/* Data table scroller active page */
.synapsis-data-table-scroller .synapsis-data-table-scroller-active {
    font-weight: bold;
}

.synapsis-data-table-scroller .synapsis-data-table-scroller-active a:link,a:visited,a:hover,a:active
    {
    text-decoration: none;
    vertical-align: middle;
    /* common font style */
    color: black;
}

/* Data table scroller next button*/
.synapsis-data-table-scroller .synapsis-data-table-scroller-excel {
    border-right: solid 1px rgb(192, 192, 192);
    border-left: solid 1px rgb(192, 192, 192);
    padding-right: 5px;
    padding-left: 5px;
    white-space: nowrap;
}

/* Data table scroller next button*/
.synapsis-data-table-scroller .synapsis-data-table-scroller-next {
    border-right: solid 1px rgb(192, 192, 192);
    border-left: solid 1px rgb(192, 192, 192);
    padding-right: 5px;
    padding-left: 5px;
    white-space: nowrap;
}

/* Data table scroller last button*/
.synapsis-data-table-scroller .synapsis-data-table-scroller-last {
    border-right: solid 1px rgb(192, 192, 192);
    padding-right: 5px;
    padding-left: 5px;
    white-space: nowrap;
}

/* Data table scroller fast forward button*/
.synapsis-data-table-scroller .synapsis-data-table-scroller-fast-forward {
    border-right: solid 1px rgb(192, 192, 192);
    padding-right: 5px;
    padding-left: 5px;
    white-space: nowrap;
}

/* Data table scroller fast rewind button*/
.synapsis-data-table-scroller .synapsis-data-table-scroller-fast-rewind {
    border-right: solid 1px rgb(192, 192, 192);
    padding-right: 5px;
    padding-left: 5px;
    white-space: nowrap;
}

/* Data table scroller first button*/
.synapsis-data-table-scroller .synapsis-data-table-scroller-first {
    border-right: solid 1px rgb(192, 192, 192);
    border-left: solid 1px rgb(192, 192, 192);    
    padding-right: 5px;
    padding-left: 5px;     
    white-space: nowrap;
}

/* Data table scroller previous button*/
.synapsis-data-table-scroller .synapsis-data-table-scroller-previous {
    border-right: solid 1px rgb(192, 192, 192);
    padding-right: 5px;
    padding-left: 5px;    
    white-space: nowrap;
}

.synapsis-data-table-scroller-footer {
    background-image: url("../images/page-slice-codensa.gif");
    background-repeat: repeat-x;
    height: 1px;
}

/* Data table content excel area definition (on IE) */
#synapsis-data-table-content-excel-area {
    text-align: right;
}

/* Data table content excel area definition */
.synapsis-data-table>#synapsis-data-table-content>#synapsis-data-table-content-excel-area
    {
    text-align: right;
}

/* Data table footer definition (on IE) */
#synapsis-data-table-footer {
    margin-bottom: 5px;
    border: 1px solid rgb(185, 185, 185);
    padding: 2px;
}

/* Data table footer definition */
#synapsis-data-table>#synapsis-data-table-footer {
    margin-bottom: 5px;
    border: 1px solid rgb(185, 185, 185);
    padding: 2px;
}