/* over-rides the menubar definition */
body .dojoMenuBar2 {
   	border-top: 1px solid rgb(155, 155, 155);
    border-bottom: 1px solid rgb(155, 155, 155);
    background: #fff ;
    height: 19px;
}