/* input-grid column (on IE) */
/* FIXME: [afalduto] performs the styles name in the panelGrid.xhtml.*/
.synapsis-input-grid tr td{
    padding-top: 3px;
    padding-right: 4px;    
}

/* input-grid component */
.synapsis-input-grid>tr>td {
    padding-top: 3px;
    padding-right: 4px;
}

.synapsis-detailField-header {
	font-weight: bold;
}