/* over-rides the toolbar container definition */
body .toolbarContainer {
    background-color: white;
    background-image: none;
}

/* over-rides the toolbar definition */
body .toolbar {
}

body .toolbarItem {
    padding: 4px 2px 0px 0px;
}

body .toolbarButton.hover {
    padding: 4px 2px 0px 0px;
	border: 0px solid #99c;
}

body .toolbarSeparator {
    padding-top: 0px;
}