<f:view xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:sy="http://www.synapsis.com/jsf/core"
    xmlns:c="http://www.synapsis-it.com/jsf/core">
    <sy:boxPage title="Error" close="false">
        <h:form>
            <div id="seguridadError"/>
            <p>Expiro la sesion, por favor intente ingresar nuevamente a 
            traves del menu de la pagina principal de la aplicacion.</p>
        </h:form>
    </sy:boxPage>
</f:view>