<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:subview id="error" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:t="http://myfaces.apache.org/tomahawk"
    xmlns:sy="http://www.synapsis.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html">
    <sy:boxPage title="Se ha producido un error inesperado">
        <h:form>
            <t:htmlTag value="br" />
            <h:inputTextarea style="width: 99%;" rows="10" readonly="true"
                value="#{ErrorDisplay.errorMessage}" />
        </h:form>
    </sy:boxPage>
</f:subview>