<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<head>
</head>
<body>
<f:view>
	<h:form id="fake">
		<a href="popupex.html"
			onclick="return popitup('administraCorrelativo/administraCorrelativoAutomatico.jsf?action=clean')">
			Link to administra Correlativo</a>
	</h:form>
</f:view>


<script language="javascript" type="text/javascript">
<!--
function popitup(url) {
	newwindow=window.open(url,'name','width=950,height=600,status=no,resizable=yes,toolbar=no,menubar=no,location=no,scrollbars=yes');
	if (window.focus) {newwindow.focus()}
	return false;
}

// -->
</script>




</body>
</html>