body, input, td, th, div {
	font-family: Verdana, Arial, sans-serif; 
	font-size: 9px;
}

.head { background-color: #347D84; font-weight: bold; color: White; font-size: 10px;}

.headMiscel { background-color: #345F63; padding: 4px 7px 4px 7px; }

.rowEdit { background-color: White; }

.rowGrid { background-color: #F8F8F8; padding: 10px; }

.buttonBar { background-color: #96B4B0; padding: 4px; }

.button { background-image: url(../images/button_background.jpg);  height: 18px;  font-weight: bold;    color: #345F63;  border-color: #53736F;  border-style: solid;  border-width: 1px; }

.label { color: #5B76A8;  font-weight: bold; }


.gridBackground { border-color: #8EBBB7; border-style: solid;  border-width: 1px;  background-color: White; }

.gridHead { height: 25px; background-color: #A3B4B6; font-weight: bold; color: White; padding: 2px 4px 2px 4px; }

.gridRow { padding: 2px 4px 2px 4px; font-size: 10px;  color: #333333;   }

.gridRowColor { padding: 2px 4px 2px 4px; font-size: 10px;  color: #333333;  background-color: #E3E6E3; }

.gridRowHighlight { padding: 2px 4px 2px 4px; font-size: 10px;  color: #333333;  background-color: #D6DCE9; }

.gridLink { font-size: 10px;  color: #333333; }

.gridLink:hover { font-size: 10px;  color: #4669AA; }

.buttonEdit { background-image: url(../images/button_edit_background.jpg);  height: 16px;  color: #374F7B; border-color: #6C7E9F;  border-style: solid;  border-width: 1px; }

.text { color: #333333; }

.gridRowLabel { padding: 2px 4px 2px 4px; color: White;  background-color: #A3B4B6;  font-weight: bold;  }

.gridBackgroundPaginacion {
border-color: #8EBBB7; border-style: solid;  border-width: 1px;  background-color: #F8F8F8;
}

.paginacion {
	background-color: #F8F8F8;
	color: #345F63;
	font-weight: normal;
	text-decoration: none;
}
.offsets { float: left; }
.paginas { float: right; }
.paginacion table { color: #5C5B50; display: inline; vertical-align: middle; }
.paginacion table tr { display: inline; }

.labelControlRequerido {
	color: #3A4D6D;  font-weight: bold; 
}

.errorMiscel {
	background-color: #9D0000;
	padding: 4px 7px 4px 7px;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}

.ErrorBorder {
background-color: #DD0000;
}
.error {
background-color: #DD0000; font-weight: bold; color: #FFFFFF; font-size: 10px; padding: 4px 6px 4px 6px;
}
.errorTxt {
	font-size: 11px;
	color: #000000;
	font-weight: normal;
	text-align: left;
}

/* BUSINESS EXCEPTIONS */

.errorBusiness {
	background-color: #347D84;
 	font-weight: bold;
 	color: #FFFFFF;
 	font-size: 10px;
 	padding: 4px 6px 4px 6px;
}

.errorMiscelBusiness {
	background-color: #345F63;
	padding: 4px 7px 4px 7px;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}

.ErrorBorderBusiness {
	background-color: #345F63;
}

/* TABS */


.tabText {
font-family: Tahoma, Verdana, Arial;    font-size: 11px;  color: #FFFFFF;  font-weight: bold;  text-decoration: none; margin-left: 17px;  margin-right: 17px;  margin-top: 0px;  margin-bottom: 0px;
}
.tabLink {
font-family: Tahoma, Verdana, Arial;    font-size: 11px;  color: #6F8E8E;  font-weight: bold;  text-decoration: none; margin-left: 17px;  margin-right: 17px;  margin-top: 0px;  margin-bottom: 0px;
}
.tabLink:hover {
font-family: Tahoma, Verdana, Arial;    font-size: 11px;  color: #D5FFCA;  font-weight: bold;  text-decoration: none;  margin-left: 17px;  margin-right: 17px;  margin-top: 0px;  margin-bottom: 0px;
}

.buttonGruposBar {
background-color: #CAD9D7; padding: 4px;
}

/* Grupos CONSULTA DE CUENTAS */
.headgrupos {
	background-color: #B46567;
	font-weight: bold;
	color: White;
	font-size: 11px;
	padding: 4px 6px 4px 6px;
}
.headMiscelgrupos {
background-color: #91484A; padding: 4px 7px 4px 7px;
}

/*
 *********************************************************************************
 **                         P  R  O  V  I  S  O  R  I  O                        **
 ** ESTILOS VIEJOS QUE TRAJE DEL SKIN ANTERIOR PORQUE NO HAY REEMPLAZO DEFINIDO **
 *********************************************************************************
*/

/* mensajes de validacion/error */
.help {	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: Red; }

/* paginacion */
.page {	COLOR: #5C5B50; }
.barPage {
	BORDER-RIGHT: 1px solid #838383;  BORDER-TOP: 1px solid #838383;    BORDER-LEFT: 1px solid #838383;   BORDER-BOTTOM: 1px solid #838383;  BACKGROUND-COLOR: #F4F4F4;
}
.fieldGo{
COLOR: Black; 
 background-color : #FFFFFF;
 border-style : solid solid solid solid;
 border-width : 1;
 border-color : #4D6180;
}
/* campo requerido */
.formRequired {
	PADDING-RIGHT: 10px; FONT-SIZE: 10px; COLOR: #325696;
	font-weight: bold;
}
/* campo readOnly */
.formReadOnly { background-color: #DCDCDC; border-color: #666666 #999999 #999999 #666666; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; FONT-SIZE: 10px;   COLOR: #325696;        }

/* Descripcion de la grilla */
.gridDescription { padding: 0px 2px 2px 0px;  font-size: 10px;  color: Black;  border-bottom: 1px solid #7B7B7B;      }

/*   ver de borrar */
/* grupos */
.fieldsetLegend { font-size: 10px;  color: Black; }
/* TABS */
.tabBody {	BORDER-RIGHT: #404040 1px solid; BORDER-LEFT: 1px solid White; BORDER-BOTTOM: #404040 1px solid; BACKGROUND-COLOR: #F4F4F4; }

.tabSelected {	BORDER-RIGHT: #404040 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 10px; VERTICAL-ALIGN: middle; BORDER-LEFT: #ffffff 1px solid; COLOR: #325696; BACKGROUND-COLOR: #F4F4F4;	font-weight: bold; }
.tabUnselected {  BORDER-RIGHT: #404040 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 10px; VERTICAL-ALIGN: middle; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: 1px solid #ffffff; BACKGROUND-COLOR: #DCDCDC; }
.tabEmpty {	BORDER-BOTTOM: 1px solid White; }
.tabLink {	FONT-SIZE: 10px; COLOR: #787878; font-weight: bold; text-decoration: none; }
.tabLink:hover {	FONT-SIZE: 10px; COLOR: Black; font-weight: bold; text-decoration: none; }


.exceptionText  {font-size:12; color: #000099; font-weight: bold;}
.exceptionDiv { background-color: #EEEEEE; border-left: #FF6600 solid 1px; border-top: #FF6600 solid 1px; border-bottom: #FF6600 solid 1px; border-right: #FF6600 solid 1px; }

/* Tree (Tigra) */

.treeNode, treeNode:link, treeNode:visited, treeNode:active {color: #0000aa; text-decoration: none; font-family: Tahoma, Verdana; font-size: 11px}
.treeNode:hover {color: #FF0000; text-decoration: none; font-family: Tahoma, Verdana; font-size: 11px}

.output { color: #000000; }
a:link{text-decoration: none; color: #0000FF;}
a:visited{text-decoration: none; color: #0000FF;}
a:hover{text-decoration: underline; color: #0000FF;}
a:active{text-decoration: none; color: #0000FF;}

a.disabledLink{
	text-decoration: none;
	color: #707674;
	cursor:default;
}

/*  fin ver de borrar */

.calendar_img {
    height:17px;
    width:17px;
    background-image: url(../images/button_date.gif);
    margin-left: 5px;
    margin-bottom:7px;
    margin-top:7px;    
    background-position:center;
}
.calendar_edit{ 
    color: #333333;  
    background-color: #FDFDF4;  
    border-width: 1px; 
    border-style: solid; 
    border-color: #404040 #D4D0C8 #D4D0C8 #404040; 
    width:83px;
    margin-bottom:7px;
    margin-top:7px;
}
.edit{
	font-family: Verdana, Arial, sans-serif;
    font-size: 9px; 
    color: #333333;  
    background-color: #FDFDF4;  
    border-width: 1px; 
    border-style: solid; 
    border-color: #404040 #D4D0C8 #D4D0C8 #404040;
    margin-right:20px;
    margin-left:5px;
}

/* ********* Estilos para los Tabs ******** */

.tabActivo {
	background-color: #718B8E;
 	border-top: 1px outset #8EBBB7;
	border-right: 1px outset #8EBBB7;
	border-bottom: 0px none;
	border-left: 1px outset #8EBBB7;
	text-align: center;   
}

.tabInactivo, .tabDisabled {
    border-top: 1px outset #8EBBB7;
	border-right: 1px outset #8EBBB7;
	border-bottom: 0px none;
	border-left: 1px outset #8EBBB7;
	text-align: center;
}

.tabActivo input {
	background-color: #718B8E;
	text-align: center;
    font-family: Tahoma, Verdana, Arial;    
    font-size: 11px;  
    color: #FFFFFF;  
    font-weight: bold;  
    text-decoration: none;
}

.tabInactivo input {
    background-image: url(../images/tab_fondo.gif);
    text-align: center;
    font-family: Tahoma, Verdana, Arial;
    font-size: 11px;  
    color: #6F8E8E;  
    font-weight: bold;  
    text-decoration: none; 
}

.tabInactiveSub {
    border-top:1px outset #8EBBB7;
}

.tabContentPanel {
    border-top: 0px none;
	border-right: 1px outset #8EBBB7;
	border-bottom: 1px outset #8EBBB7;
	border-left: 1px outset #8EBBB7;
	padding: 10px;
}

.tabActiveSub {
	border-top: 0px none;
}

.myFaces_panelTabbedPane_subHeaderCell_first{
	border-left: 1px outset #8EBBB7;
}

.myFaces_panelTabbedPane_subHeaderCell_last{
	border-top: 1px outset #8EBBB7;
	border-right: 1px outset #8EBBB7;
}
/* ********* Fin estilos para los Tabs ******** */



.dataTable {background-color: #F8F8F8;color: #345F63;}
.dataTable #data {clear: both;border: 1px solid #8EBBB7;padding: 10px;width: 100%;}
.dataTable #data table, .dataTable #header, .dataTable #footer { border: 1px solid #8EBBB7; width: 100%;}
.dataTable #data, .dataTable #header, .dataTable #footer { padding: 2px; margin-right:5px; margin-left:5px; }
.dataTable #header, .dataTable #data table { margin-bottom: 5px; margin-top:5px;}
.dataTable #footer { vertical-align: bottom; clear: left; margin-top: 5px; margin-bottom:5px;}

.border {border: 1px solid #8EBBB7;}

.botonConsulta {margin-left:5px;}