/* background lines */
body {
    background: url("images/page-background-codensa.gif");
    margin: 10px;
}

/* display config on IE forms */
form {
    display: inline;
}

/* translucent image (on IE)*/
#translucent-rectangle{
    background: url("images/page-inner-content-codensa.png");
    background-repeat: repeat-x;
    background-attachment: fixed;
    padding: 10px;
    /* common font style */    
    font-family: Myriad, Tahoma, Verdana, sans-serif;
}

/* translucent image */
body>#translucent-rectangle {
    background: url("images/page-inner-content-codensa.png");
    background-repeat: repeat-x;
    background-attachment: fixed;
    padding: 10px;
    /* common font style */    
    font-family: Myriad, Tahoma, Verdana, sans-serif;
}

/* contents area header (on IE)*/
#translucent-rectangle-header {
    padding-top: 10px;
    padding-bottom: 5px;
    /* common font style */
    font-size: 10pt;
    font-weight: bold;
    color: white;
}

/* contents area detail */
#translucent-rectangle>#translucent-rectangle-header {
    padding-top: 10px;
    padding-bottom: 5px;
    /* common font style */
    font-size: 10pt;
    font-weight: bold;    
    color: white; 
}

/* contents area detail (on IE)*/
#translucent-rectangle-content {
    /*border-top-right-image: url("images/page-inner-content-slice.png");*/
    background-color: white;
    padding: 10px;
    /* common font style */
    font-size: 8pt;        
    color: rgb(155, 155, 155);
}

/* contents area detail */
#translucent-rectangle>#translucent-rectangle-content {
    /*border-top-right-image: url("images/page-inner-content-slice.png");*/
    background-color: white;
    padding-top: 10px;
    /* common font style */
    font-size: 8pt;    
    color: rgb(155, 155, 155);
}

/* contents area footer (on IE)*/
#translucent-rectangle-footer {
    margin-top: 1px;
    padding-top: 5px;
    background: url("images/page-slice-footer-codensa.gif");
    background-repeat: repeat-x;
    background-attachment: fixed;
    text-align: right;    
}

/* contents area footer */
/* FIXME: [afalduto] the background no works in FF */
#translucent-rectangle>#translucent-rectangle-footer {
    margin-top: 1px;
    padding-top: 5px; 
    background: url("images/page-slice-footer-codensa.gif");
    background-repeat: repeat-x;
    background-attachment: fixed;
    text-align: right;        
}

/* input style in content area (on IE)*/
input, select {
    border: 1px solid;
    border-color: rgb(155, 155, 155);
    font-family: verdana, arial, sans-serif;
    font-size: 8pt;    
}

/* input style in content area */
#translucent-rectangle>#translucent-rectangle-content>input, #translucent-rectangle>#translucent-rectangle-content>select  {
    border: 1px solid;
    border-color: rgb(155, 155, 155);
    font-family: verdana, arial, sans-serif;
    font-size: 8pt;    
}

/* cns search area styles (on IE)*/
#cns-search-area {
    height: 10px;    
    padding: 15px;
}

/* cns search area styles */
#translucent-rectangle>#translucent-rectangle-content>#cns-search-area {
    height: 10px;    
    padding: 15px;
}

/* cns search area styles (on IE)*/
#cns-search-area-table {
    height: 100%;    
}

/* cns search area styles */
/* FIXME: [afalduto] the height no works in FF */
#translucent-rectangle>#translucent-rectangle-content>#cns-search-area>#cns-search-area-table {
    height: 100%; 
}

/* cns search slice header (on IE) */
#cns-search-slice-header{
    background: url("images/page-slice-codensa.gif");
    background-repeat: repeat-x;
    background-attachment: fixed;
    width: 100%;
}

/* cns search slice header */
#translucent-rectangle>#translucent-rectangle-content>#cns-search-slice-header {
    background: url("images/page-slice-codensa.gif");
    background-repeat: repeat-x;
    background-attachment: fixed;
    width: 100%;
}

/* cns search content area (on IE)*/
#cns-search-content {
    margin-top: 2px;
    margin-bottom: 3px;
}

/* cns search slice header */
#translucent-rectangle>#translucent-rectangle-content>#cns-search-content {
    margin-top: 2px;
    margin-bottom: 3px;
}

/* cns search slice footer (on IE) */
#cns-search-slice-footer{
    background: url("images/page-slice-codensa.gif");
    background-repeat: repeat-x;
    background-attachment: fixed;
    width: 100%;
}

/* cns search slice footer */
#translucent-rectangle>#translucent-rectangle-content>#cns-search-slice-footer {
    background: url("images/page-slice-codensa.gif");
    background-repeat: repeat-x;
    background-attachment: fixed;
    width: 100%;
}