<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:sy="http://www.synapsis.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://www.synapsis-it.com/jsf/core"
	xmlns:s="http://www.synapsis-it.com/jsf/service"
	xmlns:v="http://www.synapsis-it.com/jsf/validator"
	xmlns:b="http://www.synapsis-it.com/jsf/behaviour"
	xmlns:ex="http://www.synapsis-it.com/jsf/core/ext">
	 
	<sy:boxPage
		title="#{MensajesComponentes_fac['cobrosAdicionales.titulo']}"
		close="false">
		

		<h:form id="formCobros">
			<!-- validators de range 			-->
		
		<c:errorHandler />
		<b:behaviour>
			<b:rule name="dateComparator">
				<f:param name="min" value="fechaDesdeFact" />
				<f:param name="max" value="fechaHastaFact" />
			</b:rule>
		</b:behaviour>
		
		<b:behaviour>
			<b:rule name="dateComparator">
				<f:param name="min" value="fechaDesdeIngreso" />
				<f:param name="max" value="fechaHastaIngreso" />
			</b:rule>
		</b:behaviour>
		<b:behaviour>
			<b:rule name="numberComparator">
				<f:param name="desde" value="monto_desde" />
				<f:param name="hasta" value="monto_hasta" />
				<f:param name="type" value="double" />
				<f:param name="message" value="Verifique rango de monto" />
			</b:rule>		
		</b:behaviour>
		

		<!-- service para levantar los tipos de servicio en el COMBO -->
			<s:service manager="#{serviceManager}"
				name="tiposServicioService" method="tiposServicio"
				id="tiposServicioService">
			</s:service>
			<s:unmarshall source="tiposServicioService"
				var="tipoServicio" />

		<!-- service para levantar las categorias de servicio electrico en el COMBO -->
			<s:service manager="#{serviceManager}"
				name="categoriasServicioService" method="findByCriteria"
				id="categoriasServicioService">
			</s:service>
			<s:unmarshall source="categoriasServicioService"
				var="categoriasServicio" />

		<!-- service para levantar las subcategorias de servicio electrico en el COMBO -->
			<s:service manager="#{serviceManager}"
				name="subcategoriasServicioService" method="findByCriteria"
				id="subcategoriasServicioService">
			</s:service>
			<s:unmarshall source="subcategoriasServicioService"
				var="subcategoriasServicio" />

		<!-- service para levantar estratos socioeconomicos en el COMBO -->
			<s:service manager="#{serviceManager}"
				name="estratoSocioeconomicoService" method="findByCriteria"
				id="estratoSocioeconomicoService">
			</s:service>
			<s:unmarshall source="estratoSocioeconomicoService"
				var="estratoSocioeconomico" />
		<!-- service para realizar la busqueda en la TABLA posterior al seteo de los filtros -->
			<s:service id="consultaCobrosAdicionales" manager="#{serviceManager}"
				name="cobrosAdicionalesService" method="findByCriteria"
				binding="#{cobrosAdicionalesBB.findByCriteriaCobrosAdicionalesService}" fire="false">
				<f:param name="nroCuenta"
					value="#{cobrosAdicionalesBB.nroCuenta}" />
			</s:service>
			<!-- service para realizar la busqueda de Modificaciones de Cobros Adicionales-->

			<s:service id="consultaCobrosModificaciones" manager="#{serviceManager}"
				name="cobrosAdicionalesModificacionesService" method="findByCriteria"
				binding="#{cobrosAdicionalesBB.findByCriteriaCobrosAdicionalesModificacionesService}" fire="false">
				<f:param name="nroCuenta" value="#{cobrosAdicionalesBB.nroCuenta}" />
				<f:param name="codigoCargo"
					value="#{cobrosAdicionalesBB.codigoCargo}" />
			</s:service>

			<!-- seccion donde definimos los parametros a ingresar para realizar la busqueda-->
			<!-- filtro por Fecha de Facturacion-->
			<sy:group title="#{MensajesComponentes_fac['cobros.fecha.facturacion.titulo']}">
				<sy:panelGrid columns="2">
					<h:outputText
						value="#{MensajesComponentes_fac['cobros.fecha.facturacion.desde']}"/>
					<ex:dateCalendar id="fechaDesdeFact"
						selectedDate="#{cobrosAdicionalesBB.fechaFacturacionDesde}">
					</ex:dateCalendar>
					<h:outputText
						value="#{MensajesComponentes_fac['cobros.fecha.facturacion.hasta']}"/>
					<ex:dateCalendar id="fechaHastaFact"
						selectedDate="#{cobrosAdicionalesBB.fechaFacturacionHasta}">
					</ex:dateCalendar>
				</sy:panelGrid>
			</sy:group>
			<!-- filtro por Fecha de Ingreso-->			
			<sy:group title="#{MensajesComponentes_fac['cobros.fecha.ingreso.titulo']}">
				<sy:panelGrid columns="2">
					<h:outputText
						value="#{MensajesComponentes_fac['cobros.fecha.ingreso.desde']}"/>
					<ex:dateCalendar id="fechaDesdeIngreso"
						selectedDate="#{cobrosAdicionalesBB.fechaIngresoSistemaDesde}">
					</ex:dateCalendar>
					<h:outputText
						value="#{MensajesComponentes_fac['cobros.fecha.ingreso.hasta']}"/>
					<ex:dateCalendar id="fechaHastaIngreso"
						selectedDate="#{cobrosAdicionalesBB.fechaIngresoSistemaHasta}">
					</ex:dateCalendar>
				</sy:panelGrid>
			</sy:group>


			<!-- filtro por Rango de Monto-->			
			<sy:group title="#{MensajesComponentes_fac['cobros.monto.titulo']}">
				<sy:panelGrid columns="2">
					<h:outputText
						value="#{MensajesComponentes_fac['cobros.monto.desde']}" 
						styleClass="label" />
					<h:inputText id="monto_desde" value="#{cobrosAdicionalesBB.montoDesde}" />
					<h:outputText
						value="#{MensajesComponentes_fac['cobros.monto.hasta']}" 
						styleClass="label" />
					<h:inputText id="monto_hasta" value="#{cobrosAdicionalesBB.montoHasta}" />

				</sy:panelGrid>
			</sy:group>

			<!-- Resto de Filtros-->			
			<sy:group title="">

				<sy:panelGrid columns="3">
					<h:outputText
						value="#{MensajesComponentes_fac['cobros.codigoCargo.titulo']}" 
						styleClass="label" />
					<h:inputText value="#{cobrosAdicionalesBB.codigoCargo}" />
				<h:outputText
						value="#{MensajesComponentes_fac['cobros.tipoServicio.titulo']}" 
						styleClass="label" />
				<h:selectOneMenu
					value="#{cobrosAdicionalesBB.tipoServicio}"
					styleClass="edit" id="tipoServService">
					<f:selectItem itemLabel="Seleccionar ..." itemValue="" />
					<t:selectItems value="#{tipoServicio}"
						var="tipoServicio"
						itemLabel="#{tipoServicio.descripTipoServicio}"
						itemValue="#{tipoServicio.id}" />
				</h:selectOneMenu>
					
					
					<h:outputText
						value="#{MensajesComponentes_fac['cobros.areaGenera.titulo']}" 
						styleClass="label" />
					<h:inputText value="#{cobrosAdicionalesBB.areaGenera}" />
					<h:outputText
						value="#{MensajesComponentes_fac['cobros.rolIngreso.titulo']}" 
						styleClass="label" />
					<h:inputText value="#{cobrosAdicionalesBB.rolIngreso}" />
					<h:outputText
						value="#{MensajesComponentes_fac['cobros.municipio.ruta.facturacion']}" 
						styleClass="label" />
					<h:inputText value="#{cobrosAdicionalesBB.codMunicipioRutaFacturacion}" />
					<h:outputText
						value="#{MensajesComponentes_fac['cobros.sucursal.ruta.facturacion']}" 
						styleClass="label" />
					<h:inputText value="#{cobrosAdicionalesBB.codSucursalRutaFacturacion}" />
					<h:outputText
						value="#{MensajesComponentes_fac['cobros.ciclo.ruta.facturacion']}" 
						styleClass="label" />
					<h:inputText value="#{cobrosAdicionalesBB.cicloRutaFacturacion}" />


				<h:outputText
						value="#{MensajesComponentes_fac['cobros.ciclo.clase.servicio']}" 
						styleClass="label" />	
				<h:selectOneMenu
					value="#{cobrosAdicionalesBB.claseServicio}"
					styleClass="edit" id="categService">
					<f:selectItem itemLabel="Seleccionar ..." itemValue="" />
					<t:selectItems value="#{categoriasServicio}"
						var="claseServicio"
						itemLabel="#{claseServicio.descripCategoria}"
						itemValue="#{claseServicio.id}" />
				</h:selectOneMenu>
					
					<h:outputText
						value="#{MensajesComponentes_fac['cobros.ciclo.subclase.servicio']}" 
						styleClass="label" />
				<h:selectOneMenu
					value="#{cobrosAdicionalesBB.subclaseServicio}"
					styleClass="edit" id="subcategService">
					<f:selectItem itemLabel="Seleccionar ..." itemValue="" />
					<t:selectItems value="#{subcategoriasServicio}"
						var="subclaseServicio"
						itemLabel="#{subclaseServicio.descripSubcategoria}"
						itemValue="#{subclaseServicio.id}" />
				</h:selectOneMenu>


					<h:outputText
						value="#{MensajesComponentes_fac['cobros.estrato.socioeconomico']}" 
						styleClass="label" />
						
				<h:selectOneMenu
					value="#{cobrosAdicionalesBB.estratoSocioEconomico}"
					styleClass="edit" id="estratoService">
					<f:selectItem itemLabel="Seleccionar ..." itemValue="" />
					<t:selectItems value="#{estratoSocioeconomico}"
						var="estratoSocioeconomico"
						itemLabel="#{estratoSocioeconomico.descripcion}"
						itemValue="#{estratoSocioeconomico.id}" />
					</h:selectOneMenu>


				</sy:panelGrid>	
			</sy:group>
			<sy:filters actionBean="#{cobrosAdicionalesBB}" action="search">
			</sy:filters>
			<br/>
			<!-- tabla donde se dibuja los resultados de la busqueda de
			cobros adicionales-->
			<s:dataTable source="consultaCobrosAdicionales" var="cobros" 
				target="#{cobrosAdicionalesBB.cobrosAdicionales}"
				binding="#{cobrosAdicionalesBB.dataTableCobros}">
				
				<sy:tableColumnCustom
					header="#{MensajesComponentes_fac['cobros.table.numero.servicio']}">
					<h:outputText value="#{cobros.nroServicio}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_fac['cobros.table.tipo.servicio']}">
					<h:outputText value="#{cobros.tipoServicio}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_fac['cobros.table.ruta.lectura']}">
					<h:outputText value="#{cobros.rutaLectura}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_fac['cobros.table.numero.cuenta']}">
					<h:outputText value="#{cobros.nroCuenta}" />
				</sy:tableColumnCustom>

				<sy:tableColumnCustom
					header="#{MensajesComponentes_fac['cobros.table.ruta.facturacion']}">
					<h:outputText value="#{cobros.rutaFacturacion}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_fac['cobros.table.codigo.cargo']}">
					<h:outputText value="#{cobros.codigoCargo}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_fac['cobros.table.descripcion.cargo']}">
					<h:outputText value="#{cobros.descripcionCargo}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_fac['cobros.table.valor.cargo']}">
					<h:outputText value="#{cobros.valorCargo}" />
				</sy:tableColumnCustom>

				<sy:tableColumnCustom
					header="#{MensajesComponentes_fac['cobros.table.estado.cargo']}">
					<h:outputText value="#{cobros.estadoCargo}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_fac['cobros.table.fecha.ingreso']}">
					<h:outputText value="#{cobros.fechaIngresoSistema}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_fac['cobros.table.presenta.modificaciones']}">
					<h:outputText value="#{cobros.presentaModificaciones}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_fac['cobros.table.tipo.cargo']}">
					<h:outputText value="#{cobros.tipoCargo}" />
				</sy:tableColumnCustom>
				
				<sy:tableColumnCustom
					header="#{MensajesComponentes_fac['cobros.table.codigo.precio']}">
					<h:outputText value="#{cobros.codigoPrecio}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_fac['cobros.table.cantidad.unidades']}">
					<h:outputText value="#{cobros.cantidadUnidades}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_fac['cobros.table.cantidad.cobros']}">
					<h:outputText value="#{cobros.cantidadCobros}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_fac['cobros.table.rol.ingreso']}">
					<h:outputText value="#{cobros.rolIngreso}" />
				</sy:tableColumnCustom>

				<sy:tableColumnCustom
					header="#{MensajesComponentes_fac['cobros.table.area.genera']}">
					<h:outputText value="#{cobros.areaGenera}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_fac['cobros.table.soporte']}">
					<h:outputText value="#{cobros.soporte}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_fac['cobros.table.observaciones.ingreso']}">
					<h:outputText value="#{cobros.observacionesIngreso}" />
				</sy:tableColumnCustom>
			</s:dataTable>
			<br />
			<h:commandButton action="#{cobrosAdicionalesBB.searchModificaciones}" 
				value="#{MensajesComponentes_fac['cobros.boton.ver.modificaciones']}"
				rendered="#{cobrosAdicionalesBB.dataTableCobros.rowCount > 0}"/>
			<br/>
			<br/>
			<sy:title value="#{MensajesComponentes_fac['cobros.adicionales.modificaciones.title']}" 
			/>
			<br/>
			<!-- tabla donde se dibuja los resultados de la busqueda de
			modificaciones de cobros adicionales-->
			<s:dataTable source="consultaCobrosModificaciones" var="cobrosModificaciones" 
				binding="#{cobrosAdicionalesBB.dataTableCobrosModificaciones}">
				<sy:tableColumnCustom
					header="#{MensajesComponentes_fac['cobros.modificaciones.table.codigo.cargo']}">
					<h:outputText value="#{cobrosModificaciones.codigoCargo}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_fac['cobros.modificaciones.table.descripcion.cargo']}">
					<h:outputText value="#{cobrosModificaciones.descripcionCargo}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_fac['cobros.modificaciones.table.valor.cargo']}">
					<h:outputText value="#{cobrosModificaciones.valorCargo}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_fac['cobros.modificaciones.table.estado.cargo']}">
					<h:outputText value="#{cobrosModificaciones.estadoCargo}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_fac['cobros.modificaciones.table.rol.ingreso.cargo']}">
					<h:outputText value="#{cobrosModificaciones.rolIngresoCargo}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_fac['cobros.modificaciones.table.area.cargo']}">
					<h:outputText value="#{cobrosModificaciones.areaGeneroCargo}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_fac['cobros.modificaciones.table.soporte.cargo']}">
					<h:outputText value="#{cobrosModificaciones.soporte}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_fac['cobros.modificaciones.table.observaciones.cargo']}">
					<h:outputText value="#{cobrosModificaciones.observacionesIngreso}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_fac['cobros.modificaciones.table.tipo.documento.cargo']}">
					<h:outputText value="#{cobrosModificaciones.tipoDocumento}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_fac['cobros.modificaciones.table.numero.documento.cargo']}">
					<h:outputText value="#{cobrosModificaciones.numeroDocumento}" />
				</sy:tableColumnCustom>


				<sy:tableColumnCustom
					header="#{MensajesComponentes_fac['cobros.modificaciones.table.fecha.facturacion.cargo']}">
					<h:outputText value="#{cobrosModificaciones.fechaFacturacion}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_fac['cobros.modificaciones.table.tipo.modificacion.cargo']}">
					<h:outputText value="#{cobrosModificaciones.tipoModificacion}" />
				</sy:tableColumnCustom>

				<sy:tableColumnCustom
					header="#{MensajesComponentes_fac['cobros.modificaciones.table.fecha.modificacion.cargo']}">
					<h:outputText value="#{cobrosModificaciones.fechaModificacion}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_fac['cobros.modificaciones.table.dato.anterior.cargo']}">
					<h:outputText value="#{cobrosModificaciones.datoAnterior}" />
				</sy:tableColumnCustom>

				<sy:tableColumnCustom
					header="#{MensajesComponentes_fac['cobros.modificaciones.table.dato.nuevo.cargo']}">
					<h:outputText value="#{cobrosModificaciones.datoNuevo}" />
				</sy:tableColumnCustom>
				<sy:tableColumnCustom
					header="#{MensajesComponentes_fac['cobros.modificaciones.table.dato.rol.modifico.cargo']}">
					<h:outputText value="#{cobrosModificaciones.rolModifico}" />
				</sy:tableColumnCustom>

				<sy:tableColumnCustom
					header="#{MensajesComponentes_fac['cobros.modificaciones.table.observaciones.modificacion.cargo']}">
					<h:outputText value="#{cobrosModificaciones.observacionesModificacion}" />
				</sy:tableColumnCustom>

			</s:dataTable>

			
		</h:form>
	</sy:boxPage>
</f:view>
