@charset "UTF-8";

/* SpryAutoSuggest.css - version 0.1 - Spry Pre-Release 1.5 */

/* Copyright (c) 2006. Adobe Systems Incorporated. All rights reserved. */

.hideSuggestClass{
	border: 2px solid #999999;
	background-color: white;
	height: 75px;
	overflow:auto;
	display:none;
	width: 250px;
	margin: 0px;
	cursor: pointer;
}

.showSuggestClass .hideSuggestClass{
	display: block !important;
}

.showSuggestClass .hoverSuggestClass{
	background-color: #CCCCCC !important;
}
