/* over-ride the translucent image definition */
#translucent-rectangle{
    background: none;
    float: left;
    /* oups, must be relative to the context page */
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../stylesold/synapsis/codensa/images/page-inner-content-codensa.png', sizingMethod='scale'); 
}