body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: .70em;
	margin-left: 20px;
}
pre, .codeSample {
	font-family: "Courier New", Courier, monospace;
	background-color: #F0F7FE;
	padding: 10px;
	overflow: auto;
	font-size: 1.1em;
	border: 1px solid #CCCCCC;
}
dt {
	font-weight: bold;
	padding-top: 4px;
}
dd {
	position: relative;
	left: -20px;
}
dl {
	margin-left: 20px;
}

h1 {
	font-size: 1.6em;
}
h2 {
	font-size: 1.4em;
}
h3 {
	background-color: #F3F3F3;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	font-size: 100%;
	line-height: 150%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
h4 {
	color: #000099;
	font-variant: small-caps;
}

td, th{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}
th {
	background-color: #F3F3F3;
	vertical-align: top;
}
.hilite {
	background-color: #FFFFCC;
}
.caption {
	font-style: italic;
	margin-left: 15px;
}
