#debugdiv{
	border: 1px solid black; 
	position: absolute; 
	top: 10px; 
	left: 600px; 
	width: 600px; 
	z-index: 999; 
	background-color: white; 
	font-family: Lucida Grande, Tahoma, sans-serif;
	font-size: 12px;
}
#textdiv{
	width:100%; 
	height: 484px; 
	overflow: auto;
}
#headdiv{
	background-color:#000088; 
	width:100%; 
	height:17px; 
	cursor:move; 
	overflow:hidden;
}
#closediv, #maximdiv, #cleardiv, #invdiv{
	background-color: #D6D3CE;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
	padding-top: 2px; 
	padding-bottom: 3px;
	padding-left:4px;
	width: 10px; 
	height: 7px; 
	float:right;
	color: #000000;
	cursor:pointer; 
	font-family: Lucida Grande, Tahoma, sans-serif;
	font-size:11px;
	margin-left: 1px; 
	margin-top:1px; 
	line-height:4px; 
}
#closediv{
	margin-right:2px; 
	line-height:4px; 
}
#maximdiv{
	padding-left:0px;
}
#maximdiv div{
	border: 1px solid black; 
	border-top: 2px solid black;
	width: 4px; 
	height: 4px; 
	margin-left: 2px;
}
#cleardiv{
	width: 29px; 
	line-height: 4px; 
	text-align: center; 
}
#invdiv{
	line-height: 4px; 
}
#consolediv{
	border-top: 1px solid red; 
	margin:0px; 
	padding: 0px;
}
#debugForm{
	margin:0px; 
	padding:0px;
}
#debugtext{
	width: 99.4%; 
	margin: 0px; 
	padding: 0px;
}
#submitform{
	width: 1px; 
	height: 1px; 
	background-color:white; 
	visibility:hidden; 
	margin:0px; 
	padding:0px;
}
#debuggersuggestions{
	width: 99%; 
	border: 1px solid blue; 
	height: 100px; 
	overflow: auto; 
	display:none; 
	position: relative;
}

#highlighterTop, #highlighterRight, #highlighterBottom, #highlighterLeft{
	position:absolute; 
	height: 0px; 
	width: 0px; 
	margin: 0px; 
	padding: 0px; 
}
#highlighterTop{
	height: 1px; 
	border-top: 1px solid red;
}
#highlighterRight{
	width: 1px; 
	border-right: 1px solid red;
}
#highlighterBottom{
	height: 1px; 
	border-bottom: 1px solid red;
}
#highlighterLeft{
	width: 1px; 
	border-left: 1px solid red;
}
.debuggersuggest{
	width:95%;
}
.varlabel{
	background-color: #DDDDDD; 
	width: 20%;
	float: left;
}
.varvalue{
	width: 75%;
	overflow: visible;
	float: left;
	border-right: 0px;
}

.objectlabel{
	color: #555;
}
.dumptable{
	margin-right:2px; 
	margin-left:2px; 
	font-family: Lucida Grande, Tahoma, sans-serif;
	font-size:12px; 
	color: black;
	clear: left;
	border-bottom: 1px solid black;
}
.dumptable div{
	vertical-align: top;
	text-align: left;
	border: 1px solid black;
	border-bottom: 0px;
}
.hidedump{
	display: none;
}
.urldump{
	font-family: Lucida Grande, Tahoma, sans-serif;
	font-size: 12px; 
	color: black;
}
.specialvaluedump{
	background-color:#dddddd; 
	color: white; 
	background-color: black;
}
.contenturldump{
	border: 1px solid black; 
	display:none;
	font-family: Lucida Grande, Tahoma, sans-serif;
	font-size:12px; 
	color: black;
}
.commandExecResultsLabel{
	color: blue;
}
