<div class="module" style="width:100%; border:0px; display:block; left: 0px; top: 0px; visibility: visible;">
	<div class="moduleFrame" dojoAttachPoint="moduleFrame">
		<div class="moduleHeaderContainer">
			<div class="moduleHeader" dojoAttachEvent="onMouseOver:onHeaderOver; onMouseOut:onHeaderOut;" dojoAttachPoint="moduleHeader">
				<div class="detail" style="display:none;" dojoAttachPoint="headerDetail" dojoAttachEvent="onClick:onDetail;"><img width="15" height="15" src="${dojoRoot}../synapsis/widget/templates/images/s.gif" class="icon actions-window-detail" alt="Detail" title="Detail"/></div>
				<div class="refresh" style="display:none;" dojoAttachPoint="headerRefresh" dojoAttachEvent="onClick:onRefresh;"><img width="12" height="16" src="${dojoRoot}../synapsis/widget/templates/images/s.gif" class="icon actions-view-refresh" alt="Refresh" title="Refresh"/></div>
				<div class="title" dojoAttachPoint="headerTitle">${this.title}</div>						
			</div>
		</div>
	</div>
</div>