/* basic module style */
.module {
	border:1px solid #DCDFE2;
	background:#FFFFFF none repeat scroll 0%;
	margin:1px;
}			

/* moduleFrame styles*/
.moduleFrame {
	border:1px solid #848484;
	background:#FFFFFF none repeat scroll 0%;
	overflow:hidden;
}

/* moduleFrame styles*/
.moduleFrameHighlight {
	border:1px solid #4E8EE2;
}

/* moduleHeader styles*/
.moduleHeader {
	background:#848484 url(images/module-header.gif) repeat-x scroll left top;
	border-left:1px solid #EAEAEA;
	border-top:1px solid #EAEAEA;
	color:#FFFFFF;
	height:1.8em;
	min-height:20px;
	overflow:hidden;
}

.moduleHeaderHighlight {
	background:#4E8EE2 url(images/module-header-blue.gif) repeat-x scroll left top;
	border-left:1px solid #A7D0F6;
	border-top:1px solid #A7D0F6;
}

/* portlet title */
.moduleHeader .title {
	color:#FFFFFF;
	display:inline;
	font-weight:bold;
	line-height:1.8em;
	overflow:hidden;
	padding-left:4px;
}	

.moduleHeader .title a {
	border-bottom:1px solid #CCCCCC;
	color:#FFFFFF;
}

.moduleHeader .title a:hover{
	color: #333 !important;
	border: 0;
}			

/* contents style */
/* FIXME: [afalduto] ver altura de las cosas */
.moduleContent {
	border-top:1px solid #DDDDDD;
	background:#FFFFFF none repeat scroll 0%;
	clear:both;
	height: 100%;
}			

/* portlet import node (on IE)*/
#portlet-box-import-page {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: 100%;
}	

.moduleHeader .detail, .moduleHeader .refresh, .moduleHeader .publish {
	margin:0pt !important;
	padding:1px 2px !important;
}

.moduleHeader .detail {
	padding-right:3px !important;
	cursor:pointer;
	float:right;
}

.moduleHeader .icon {
	background-color:transparent;
	background-position:center;
	background-repeat:no-repeat;
	height:16px;
	width:17px;
}

.actions-window-detail {
	background-image:url(images/module-detail.gif);
}


.moduleHeader .refresh {
	cursor:pointer;
	float:right;
}		

.actions-view-refresh {
	background-image:url(images/module-refresh.gif);
}