.moduleContainer {
	color:#333333;
	font-family:Tahoma,Verdana,Arial,Helvetica,"Bitstream Vera Sans",sans-serif;
	font-size:10px;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.3em;
}

.moduleContainer * {
	margin:0pt;
	padding:0pt;
}

.moduleContainer img {
	border:medium none;
}

.moduleContainer a:link, .moduleContainer a:visited {
	text-decoration:none;
}