/* commandButton-next definition */
.synapsis-command-button-next {
    border: 0px;
	background-image: url(../images/commandButton-next.gif);
	background-repeat: no-repeat;
	background-color: white;
	cursor: pointer;
	margin-left: 3px;
    width: 26px;
    height: 16px;
}

/* commandButton-search definition */
.synapsis-command-button-search {
    border: 0px;
	background-image: url(../images/commandButton-search.gif);
	background-repeat: no-repeat;
	background-color: white;
	cursor: pointer;
	margin-left: 3px;
    width: 40px;
    height: 16px;
}

/* default commandButton definition */
#synapsis-button {
	background-image: url(../images/commandButton-generic-content.gif);
}

/* default commandButton begin definition (on IE)*/
#synapsis-button-begin {
	background-image: url(../images/commandButton-generic-begin.gif);
	background-repeat: no-repeat;
	background-color: white;
    width: 3px;
    height: 16px;    
}

/* default commandButton begin definition */
#synapsis-button>#synapsis-button-begin {
	background-image: url(../images/commandButton-generic-begin.gif);
	background-repeat: no-repeat;
	background-color: white;
    width: 3px;
    height: 16px;    
}

/* default commandButton content definition (on IE) */
#synapsis-button-content {
    padding: 0px 2px 0px 2px;
}

/* default commandButton content definition */
#synapsis-button>#synapsis-button-content {
    padding: 0px 2px 0px 2px;
}

/* default commandButton link content definition (on IE)*/
#synapsis-button-content a:link, 
#synapsis-button-content a:visited, 
#synapsis-button-content a:hover, 
#synapsis-button-content a:active {
    text-decoration: none;
    vertical-align: middle;
    /* common font style */
    color: white;
    font-size: 7pt;
}

/* default commandButton link content definition */
#synapsis-button>#synapsis-button-content a:link, 
#synapsis-button>#synapsis-button-content a:visited, 
#synapsis-button>#synapsis-button-content a:hover, 
#synapsis-button>#synapsis-button-content a:active {
    text-decoration: none;
    vertical-align: middle;
    /* common font style */
    color: white;
    font-size: 7pt;
}

/* default commandButton end definition (on IE)*/
#synapsis-button-end {
	background-image: url(../images/commandButton-generic-end.gif);
	background-repeat: no-repeat;
	background-color: white;
    width: 17px;
    height: 16px;    
}

/* default commandButton end definition */
#synapsis-button>#synapsis-button-end {
	background-image: url(../images/commandButton-generic-end.gif);
	background-repeat: no-repeat;
	background-color: white;
    width: 17px;
    height: 16px;    
}

/* commandButton-next definition */
.synapsis-command-button-excel {
    
}