/* FIXME: [afalduto] performs the data-grid styles */
.gridColumnLabel { 
    color: rgb(100, 100, 100);  
    font-weight: bold;  
}

.gridColumn {
    color: rgb(100, 100, 100);  
}

/* FIXME: [afalduto] same style of data-table-rows */
.gridRow { 
    height: 18px;
    padding: 2px 4px 2px 4px; 
    font-size: 10px;  
    color: rgb(100, 100, 100);  
    background-color: rgb(255, 255, 255);
}

/* FIXME: [afalduto] same style of data-table-rows */
.gridRowColor {
    height: 18px; 
    padding: 2px 4px 2px 4px; 
    font-size: 10px;  
    color: rgb(100, 100, 100);  
    background-color: rgb(226, 224, 223); 
}

