/* over-rides the dojo dialog container definition */
body .dojoDialog {
	background : #eee;
	border : 1px solid #999;
	-moz-border-radius : 5px;
	padding : 4px;
    /* common font style */    
    font-family: Myriad, Tahoma, Verdana, sans-serif;
    /* common font style */
    font-size: 10pt;        
}