/* synapsis-group definition */
#synapsis-group {
}

/* synapsis-group-legend definition (on IE)*/
#synapsis-group-legend {
}

/* synapsis-group-legend definition */
#synapsis-group>#synapsis-group-legend {
}