#errorMessages ul {
    list-style: none;
    color:white;
    font-family: Verdana, Arial, sans-serif; 
    font-size: 11px;
 }
 
 #errorMessagesBox ul {
    list-style: none;
 }

/* #errorMessages ul li {
background-image: url(../images/error.gif);
background-repeat: no-repeat;
background-position: 0 10%;
padding: 3px 0 3px 30px;
margin: .4em 0;
} */
