/* input-grid component */
.dataTable #table, .dataTable #header, .dataTable #footer { 
    border: 1px solid rgb(185, 185, 185);
    padding: 2px;
    margin-bottom:10px; 
    margin-top:10px; 
}

.dataTable #footer {
    margin-top:25px;
}

.gridHead {
    border:5px; 
    height: 25px; 
    background-color: rgb(247, 247, 247); 
    font-weight:lighter; 
    color: rgb(100, 100, 100); 
    padding: 2px 4px 2px 4px;   
}

.gridRow { 
    height: 18px;
    padding: 2px 4px 2px 4px; 
    font-size: 10px;  
    color: rgb(100, 100, 100);  
    background-color: rgb(255, 255, 255);
}

.gridRowColor {
    height: 18px; 
    padding: 2px 4px 2px 4px; 
    font-size: 10px;  
    color: rgb(100, 100, 100);  
    background-color: rgb(226, 224, 223); 
}